<% provide(:title, "Edit question") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">
      <div class="list-group">
        <%= link_to "<span class=\"glyphicon glyphicon-question-sign font12\"></span>
            #{t('views.navigation.faq_long')}".html_safe,
                    faq_path,
                    class: "list-group-item" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for(@question) do |f| %>
              <br/>
              <%= f.label :title %>
              <%= f.text_area :title, placeholder: "", :id => "markdown-title", class: 'form-control textarea' %>
              <br/>
              <%= f.label :content %>
              <%= f.text_area :content, placeholder: "", :id => "markdown-content", class: 'form-control textarea' %>

              <br/>
              <%= f.button "#{t('views.buttons.save_changes')} &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success pull-right',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.saving')} "} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $("#markdown-title").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
    $("#markdown-content").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
</script>
