<div class="row">
  <div class="col-md-4 col-lg-2">
    <table id="following-new-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-sm-11"> Tags </th>
        <th class="col-sm-1"> Supprimer </th>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@fo_new_timelines.any? %>
          <tr class="following-new-timeline">
            <td> Vous n'avez pas encore d'abonnements </td>
            <td>  </td>
          </tr>
      <% else %>
          <% @fo_new_timelines.each do |tag| %>
              <tr class="following-new-timeline">
                <td> <%= link_to( image_tag("icons/myicon-#{tag.name}.png",
                                            alt: tag.name,
                                           title: tags_hash[tag.name],
                                           height: "28px")+"&nbsp".html_safe,
                                            timelines_path(:tag => tag.name))+
                                            " "+tags_hash[tag.name] %>
                </td>
                <td> <%= link_to "<span class=\"glyphicon glyphicon-trash\">
                                                            </span>".html_safe,
                                 following_new_timeline_path( tag.id ), method: :delete,
                                 data: { confirm: " Vous êtes certains ?" } %>  </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" type="button"
              id="dropdownMenuTag" data-toggle="dropdown">
        Ajouter un tag
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" >
        <li>
          <%= link_to 'Tous ', following_new_timelines_path(redirect: true),
                      method: :post %>
        </li>
        <% tags_hash.each do |key, value| %>
            <li>
              <%= link_to image_tag("icons/myicon-#{key}.png", alt: value,
                                    height: "28px")+"&nbsp".html_safe+value,
                          following_new_timelines_path(tag: key, redirect: true),
                          method: :post %>
            </li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="col-md-8 col-lg-5">
    <table id="following-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-sm-7"> La timeline </th>
        <th class="col-sm-4"> Tags </th>
        <th class="col-sm-1"> Supprimer </th>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@fo_timelines.any? %>
          <tr class="following-timeline">
            <td> Vous n'avez pas encore d'abonnements </td>
            <td>  </td>
            <td>  </td>
          </tr>
      <% else %>
        <% @fo_timelines.each do |timeline| %>
          <tr class="following-timeline">
            <td> <%= link_to timeline.name, timeline_path(timeline.id) %> </td>
            <td>
              <% timeline.get_tag_list.each do |name| %>
                  <%= image_tag("icons/myicon-#{name}.png", alt: name,
                                title: tags_hash[name],  height: "24px")%>
              <% end %>
            </td>
            <td> <%= link_to "<span class=\"glyphicon glyphicon-trash\">
                                                        </span>".html_safe,
                       following_timeline_path( timeline.id ), method: :delete,
                       data: { confirm: " Vous êtes certains ?" } %>  </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 col-lg-5">
    <table id="following-references" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-sm-7"> La référence </th>
        <th class="col-sm-4"> Dans la controverse </th>
        <th class="col-sm-1"> Supprimer </th>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@fo_references.any? %>
          <tr class="following-reference">
            <td> Vous n'avez pas encore d'abonnements </td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
        <% @fo_references.each do |reference| %>
          <tr class="following-reference">
            <td> <%= link_to reference.title_fr, reference_path(reference.id) %>   </td>
            <td> <%= link_to reference.timeline_name, timeline_path(reference.timeline_id ) %>
            <td> <%= link_to "<span class=\"glyphicon glyphicon-trash\">
                                                            </span>".html_safe,
                             following_reference_path( reference.id ), method: :delete,
                             data: { confirm: " Vous êtes certains ?" } %>  </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>