<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= id %>">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#Collapse<%= id %>" aria-expanded="true" aria-controls="Collapse<%= id %>">
               <%= title %>
            </a>
        </h4>
    </div>
    <div id="Collapse<%= id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
           <%= content %>
        </div>
    </div>
</div>
