<div class="panel panel-default empty">
  <div class="panel-heading" role="tab" id="heading<%= empty_reference.id %>">
    <h4 class="panel-title clearfix" style="padding: 7px; font-size: 1.2em">
      <div data-toggle="collapse" data-target="#Collapse<%= empty_reference.id %>" class="my-collapse detail pull-right glyphicon glyphicon-chevron-down"></div>
      <%= link_to empty_reference.name.html_safe, timeline_path(empty_reference) %>
    </h4>
  </div>
  <div id="Collapse<%= empty_reference.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item center">
          <div class="sticky" data-placement="left"
               title="<%= t('views.pluralize.users', count: empty_reference.nb_contributors ) %>"
               data-toggle="tooltip">
            <span class="fatter icon-users"></span>
            <%= empty_reference.nb_contributors %>
          </div>
          <div class="sticky" data-placement="bottom"
               title="<%= t('views.pluralize.references', count: empty_reference.nb_references ) %>"
               data-toggle="tooltip">
            <span class="fatter icon-reference"></span>
            <%= empty_reference.nb_references %>
          </div>
          <div class="sticky" data-placement="right"
               title="<%= t('views.pluralize.comments', count: empty_reference.nb_edits ) %>"
               data-toggle="tooltip">
            <span class="fatter icon-comment"></span>
            <%= empty_reference.nb_edits %>
          </div>
        </div>
      </div>
      <% unless empty_reference.frame.blank? %>
          <div class="cadre text-justify">
            <b style="font-size: 1.4em"><%= t('views.frames.frame') %> :</b><br/>
            <%= empty_reference.frame.html_safe %>
          </div>
      <% end %>
    </div>
  </div>
</div>