<div class="panel panel-default empty">
  <div class="panel-heading" role="tab" id="heading<%= empty_summary.id %>">
    <h4 class="panel-title clearfix" style="padding: 7px; font-size: 1.2em">
      <div data-toggle="collapse" data-target="#Collapse<%= empty_summary.id %>" class="my-collapse detail pull-right glyphicon glyphicon-chevron-down"></div>
      <%= link_to empty_summary.name.html_safe, timeline_path(empty_summary) %>
    </h4>
  </div>
  <div id="Collapse<%= empty_summary.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="list-group">
        <div class="list-group-item center">
          <div class="sticky" data-placement="left"
               title="<%= t('views.pluralize.users', count: empty_summary.nb_contributors ) %>"
               data-toggle="tooltip">
            <span class="fatter icon-users"></span>
            <%= empty_summary.nb_contributors %>
          </div>
          <div class="sticky" data-placement="bottom"
               title="<%= t('views.pluralize.references', count: empty_summary.nb_references ) %>"
               data-toggle="tooltip">
            <span class="fatter icon-reference"></span>
            <%= empty_summary.nb_references %>
          </div>
          <div class="sticky" data-placement="right"
               title="<%= t('views.pluralize.comments', count: empty_summary.nb_edits ) %>"
               data-toggle="tooltip">
            <span class="fatter icon-comment"></span>
            <%= empty_summary.nb_edits %>
          </div>
        </div>
      </div>
      <% if empty_summary.frame != "" %>
          <div class="cadre text-justify">
            <b style="font-size: 1.4em"><%= t('views.frames.frame') %> :</b><br/>
            <%= empty_summary.frame.html_safe %>
          </div>
      <% end %>
      <div class="center">
        <br/>
        <b style="font-size: 2.2em"><%= empty_summary.binary.split('&&')[0].humanize -%></b>
        &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "82px") %>&nbsp
        <b style="font-size: 2.2em"><%= empty_summary.binary.split('&&')[1].humanize -%></b>
      </div>
    </div>
  </div>
</div>