<div class="col-xs-12">
  <div class="panel panel-danger">
    <div class="panel-heading">
      Le site est actuellement en test. <br/>
      Si vous souhaitez apporter votre feedback sur le site, utilisez le bug-tracker en haut à droite : "signaler un
      bug" <br/>
      Vous pouvez aussi nous contacter à thibault.latrille@ens-lyon.fr
    </div>
  </div>
</div>
<div class="col-xs-12 col-lg-4">

</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
          <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
              <%= image_tag("logo.svg", alt: "Logo", :class => "img-responsive") %>
            </div>
          </div>
          <h2>
            Et si on s'intéressait (enfin) aux résultats scientifiques ?
          </h2>
          <br/>
          <%= link_to "<strong>Les controverses</strong>".html_safe, timelines_path,
                      class: "btn btn-block btn-primary", style: "font-size: 1.3em;" %>
          <%= link_to "Qu’est-ce que ControverSciences ?", help_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Comment fonctionne ControverSciences ?", how_to_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Comment contribuer à ControverSciences ?", how_to_edit_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Foire aux questions (FAQ)", faq_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Proposer une amélioration pour le site", suggestions_path,
                      class: "btn btn-block btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
