<div id="my-container" class="container-fluid" style="background: transparent url(<%= image_url "rocket.svg" %>); background-size: 100%; background-position: center bottom; background-repeat:no-repeat;">
  <div class="heading">
    <%= image_tag "stars.png", class: "img-responsive" %>
  </div>
  <div id="home">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <br>

        <div class="framed">
          <div class="row">
            <div class="col-xs-12 col-md-4 center">
              <div class="navigation btn btn-default btn-block" data-body="contribuer">
                <span class="icon icon-users"></span> &nbsp
                Contribuer
              </div>
            </div>
            <div class="col-xs-12 col-md-4 center">
              <div class="navigation btn btn-default btn-block" data-body="decouvrir">
                <span class="icon icon-geography"></span> &nbsp
                Découvrir
              </div>
            </div>
            <div class="col-xs-12 col-md-4 center">
              <div class="navigation btn btn-default btn-block" data-body="decouvrir">
                <span class="icon icon-telescope"></span> &nbsp
                Explorer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="body-controversciences" class="leading activated">
    <div id="controverse" class="activated sub-leading">
      <div class="col-xs-12 col-md-offset-1 col-md-10 center">
        <br>
        <br>

        <div class="row">
          <div class="col-xs-12 col-md-offset-3 col-md-6 center">
            <% if @favorite %>
                <br><br>
                <div id="favorite">
                  <a id="favorite-timeline" class="bb-custom-wrapper hvr-grow" href="<%= timeline_path @favorite %>">
                    <h4>
                      <span class="glyphicon glyphicon-star-empty normal"></span>
                      Controverse à l'affiche
                      <span class="glyphicon glyphicon-star-empty normal"></span>
                    </h4>

                    <h3 class="shadowed">
                      <%= @favorite.name.html_safe %>
                    </h3>
                  </a>
                </div>
            <% end %>
          </div>
        </div>
        <br><br>
        <%= link_to "<b>Toutes les controverses</b>".html_safe, timelines_path, class: "btn btn-lg btn-primary", style: "font-size: 1.6em" %>
        <br><br><br>
        <div class="row">
          <div id="comics" class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="bb-custom-wrapper shadow-effect">
              <h1 style="font-size: 2.4em;">
                Quel contributeur êtes-vous ?
              </h1>
              <br>

              <div class="row">
                <nav>
                  <img class="img-responsive img-icons bb-current hvr-grow" src="<%= image_path "comics-icons/enthousiaste.png" %>" alt="L’enthousiaste"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/sphinx.png" %>" alt="Le sphinx"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/seigneur.png" %>" alt="Le Seigneur des titres"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/encyclopedique.png" %>" alt="L'encyclopédique"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/analyste.png" %>" alt="L’analyste"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/juge.png" %>" alt="Le juge"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/ecrivain.png" %>" alt="L’écrivain"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/evaluateur.png" %>" alt="L’évaluateur"/>
                  <img class="img-responsive img-icons hvr-grow" src="<%= image_path "comics-icons/bienveillant.png" %>" alt="Le bienveillant"/>
                </nav>
              </div>
              <br>
              <nav>
                <a id="bb-nav-prev" href="#" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span>
                  Profil précèdent</a>
                <a id="bb-zoom-in" href="#" class="btn btn-default"><span class="glyphicon glyphicon-zoom-in"></span></a>
                <a id="bb-nav-next" href="#" class="btn btn-default">Profil suivant
                  <span class="glyphicon glyphicon-menu-right"></span></a>
              </nav>
              <br>
              <br>

              <div id="bb-bookblock" class="bb-bookblock">
                <div id="bb-left-page">
                </div>
                <div id="bb-right-page">
                </div>
                <div id="opacity">
                  <img class="bb-image img-responsive clearfix" src=<%= image_path "comics/encyclopedique.png" %>>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/enthousiaste.png" %>" alt="L’enthousiaste"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/sphinx.png" %>" alt="Le sphinx"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/seigneur.png" %>" alt="Le Seigneur des titres"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/encyclopedique.png" %>" alt="L'encyclopédique"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/analyste.png" %>" alt="L’analyste"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/juge.png" %>" alt="Le juge"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/ecrivain.png" %>" alt="L’écrivain"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/evaluateur.png" %>" alt="L’évaluateur"/>
                </div>
                <div class="bb-item">
                  <img class="img-responsive" src="<%= image_path "comics/bienveillant.png" %>" alt="Le bienveillant"/>
                </div>
              </div>
            </div>
          </div>
          <script>
              var Page = (function () {

                  var config = {
                              $nav: $('.img-icons'),
                              $bookBlock: $('#bb-bookblock'),
                              $pageRight: $('#bb-right-page'),
                              $navNext: $('#bb-nav-next'),
                              $pageLeft: $('#bb-left-page'),
                              $navPrev: $('#bb-nav-prev')
                          },
                          init = function () {
                              config.$bookBlock.bookblock({
                                  speed: 800,
                                  shadowSides: 0.8,
                                  shadowFlip: 0.7,
                                  onEndFlip: function (old, page, isLimit) {
                                      config.$nav.removeClass('bb-current');
                                      config.$nav.eq(page).addClass('bb-current');
                                      return false;
                                  }
                              });

                              initEvents();
                          },
                          initEvents = function () {

                              var $slides = config.$bookBlock.children();

                              // add navigation events

                              config.$navPrev.on('click touchstart', function () {
                                  config.$bookBlock.bookblock('prev');
                                  return false;
                              });

                              config.$navPrev.on('mouseenter', function () {
                                  config.$bookBlock.bookblock('prevHover');
                                  return false;
                              }).on('mouseleave', function () {
                                  config.$bookBlock.bookblock('hideHover');
                                  return false;
                              });

                              config.$pageLeft.on('click touchstart', function () {
                                  config.$bookBlock.bookblock('prev');
                                  return false;
                              });

                              config.$pageLeft.on('mouseenter', function () {
                                  config.$bookBlock.bookblock('prevHover');
                                  return false;
                              }).on('mouseleave', function () {
                                  config.$bookBlock.bookblock('hideHover');
                                  return false;
                              });

                              config.$navNext.on('click touchstart', function () {
                                  config.$bookBlock.bookblock('next');
                                  return false;
                              });

                              config.$navNext.on('mouseenter', function () {
                                  config.$bookBlock.bookblock('nextHover');
                                  return false;
                              }).on('mouseleave', function () {
                                  config.$bookBlock.bookblock('hideHover');
                                  return false;
                              });

                              config.$pageRight.on('click touchstart', function () {
                                  config.$bookBlock.bookblock('next');
                                  return false;
                              });

                              config.$pageRight.on('mouseenter', function () {
                                  config.$bookBlock.bookblock('nextHover');
                                  return false;
                              }).on('mouseleave', function () {
                                  config.$bookBlock.bookblock('hideHover');
                                  return false;
                              });

                              // add navigation events
                              config.$nav.each(function (i) {
                                  $(this).on('click touchstart', function (event) {
                                      config.$bookBlock.bookblock('jump', i + 1);
                                      return false;
                                  });
                              });

                              // add swipe events
                              $slides.on({
                                  'swipeleft': function (event) {
                                      config.$bookBlock.bookblock('next');
                                      return false;
                                  },
                                  'swiperight': function (event) {
                                      config.$bookBlock.bookblock('prev');
                                      return false;
                                  }
                              });

                              // add keyboard events
                              $(document).keydown(function (e) {
                                  var keyCode = e.keyCode || e.which,
                                          arrow = {
                                              left: 37,
                                              up: 38,
                                              right: 39,
                                              down: 40
                                          };

                                  switch (keyCode) {
                                      case arrow.left:
                                          config.$bookBlock.bookblock('prev');
                                          break;
                                      case arrow.right:
                                          config.$bookBlock.bookblock('next');
                                          break;
                                  }
                              });
                          };

                  return {init: init};

              })();
              Page.init();
              $('#bb-zoom-in').on('click touchstart', function () {
                  $('#comics').toggleClass("col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8");
                  $('.glyphicon', this).toggleClass("glyphicon-zoom-in");
                  $('.glyphicon', this).toggleClass("glyphicon-zoom-out");
                  $('#bb-bookblock').delay(100).bookblock('resize');
                  return false;
              });
          </script>
        </div>
        <br><br>

        <div class="row">
          <% if logged_in? %>
              <%= link_to "<b><span class=\"icon-user bigger\" ></span> #{t('views.navigation.users')}</b>".html_safe,
                          user_path(current_user),
                          class: "btn btn-lg btn-primary center" %>
          <% else %>
              <%= link_to "<b><span class=\"icon-4 bigger\" ></span> #{t('views.sessions.new_user')}</b>".html_safe,
                          signup_path,
                          class: "btn btn-lg btn-primary" %>
              <%= link_to "<b><span class=\"icon-users bigger\" ></span> #{t('views.header.login')}</b>".html_safe,
                          login_path,
                          class: "btn btn-lg btn-primary center" %>
          <% end %>
        </div>
        <br><br>

        <div class="row">
          <div id="discover" class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="bb-custom-wrapper shadow-effect">
              <h1 style="font-size: 2.4em;">
                Comment est construite une controverse ?
              </h1>

              <div class="panel-body">
                <div id="myCarousel" class="col-xs-12 col-sm-offset-1 col-sm-10">
                  <ul id="navigation">
                    <li class="slider active hvr-grow">
                      <span class="icon icon-staging"></span></li>
                    <li class="slider hvr-grow">
                      <span class="icon icon-reference"></span></li>
                    <li class="slider hvr-grow">
                      <span class="icon icon-comment"></span></li>
                    <li class="slider hvr-grow">
                      <span class="icon icon-summary"></span></li>
                    <li class="slider hvr-grow">
                      <span class="icon icon-flow-fork"></span></li>
                    <li class="slider hvr-grow">
                      <span class="icon icon-frog-laurel"></span></li>
                    <li class="slider hvr-grow">
                      <span class="icon icon-ribbon"></span></li>
                    <li class="slider hvr-grow">
                      <span class="icon icon-built"></span></li>
                  </ul>
                  <div class="row">
                    <div class="go-left btn btn-default"><span class="glyphicon glyphicon-menu-left"></span>
                      Revenir en arrière
                    </div>
                    <a id="dc-zoom-in" href="#" class="btn btn-default"><span class="glyphicon glyphicon-zoom-in"></span></a>

                    <div class="go-right btn btn-default">Suite du destin
                      <span class="glyphicon glyphicon-menu-right"></span></div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                      <div id="items">
                        <div id="slide-0" class="item opaque">
                          <div class="title">
                            <%= t('views.how_to.controverse_head') %>
                          </div>
                          <img class="img-responsive" src=<%= path_to_image 'organisation-0.png' %>>

                          <div class="caption clearfix">
                            <%= t('views.how_to.controverse_body') %>
                          </div>
                          <br>
                        </div>
                        <div id="slide-1" class="item">
                          <div class="title">
                            <%= t('views.how_to.reference_head') %>
                          </div>
                          <img class="img-responsive" src=<%= path_to_image 'organisation-1.png' %>>

                          <div class="caption">
                            <%= t('views.how_to.reference_body') %>
                          </div>
                        </div>
                        <div id="slide-2" class="item">
                          <div class="title">
                            <%= t('views.how_to.analyse_head') %>
                          </div>
                          <img class="img-responsive" src=<%= path_to_image 'organisation-2.png' %>>

                          <div class="caption">
                            <%= t('views.how_to.analyse_body') %>
                          </div>
                        </div>
                        <div id="slide-3" class="item">
                          <div class="title">
                            <%= t('views.how_to.synthese_head') %>
                          </div>
                          <img class="img-responsive" src=<%= path_to_image 'organisation-3.png' %>>

                          <div class="caption">
                            <%= t('views.how_to.synthese_body') %>
                          </div>
                        </div>
                        <div id="slide-4" class="item">
                          <div class="title">
                            <%= t('views.how_to.ameliorer_head') %>
                          </div>
                          <img class="img-responsive" src=<%= path_to_image 'organisation-4.png' %>>

                          <div class="caption">
                            <%= t('views.how_to.ameliorer_body') %>
                          </div>
                        </div>
                        <div id="slide-5" class="item">
                          <div class="title">
                            <%= t('views.how_to.voter_head') %>
                          </div>
                          <img class="img-responsive" src=<%= path_to_image 'organisation-5.png' %>>

                          <div class="caption">
                            <%= t('views.how_to.voter_body') %>
                          </div>
                        </div>
                        <div id="slide-6" class="item">
                          <div class="title">
                            <%= t('views.how_to.selectionner_head') %>
                          </div>
                          <img class="img-responsive" src=<%= path_to_image 'organisation-6.png' %>>

                          <div class="caption">
                            <%= t('views.how_to.selectionner_body') %>
                          </div>
                        </div>
                        <div id="slide-7" class="item">
                          <div class="title">
                            <%= t('views.how_to.eclosion_head') %>
                          </div>
                          <div id="eclosion">
                            <%= t('views.how_to.eclosion_body') %>
                            <br><br>
                            <span class="icon icon-staging"></span> <span class="arrow">&nbsp &#10137; &nbsp</span>
                            <span class="icon icon-built"></span>
                          </div>
                        </div>
                        <div id="is-transparent">
                          <div class="title">
                            <%= t('views.how_to.reference_head') %>
                          </div>
                          <img class="img-responsive clearfix" src=<%= path_to_image 'organisation-0.png' %>>

                          <div class="caption clearfix">
                            <%= t('views.how_to.reference_body') %>
                          </div>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dc-zoom-in').on('click touchstart', function () {
                    $('#discover').toggleClass("col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8");
                    $('.glyphicon', this).toggleClass("glyphicon-zoom-in");
                    $('.glyphicon', this).toggleClass("glyphicon-zoom-out");
                    return false;
                });
                $('.slider').on('click', function () {
                    $("#items .item").removeClass("opaque");

                    var newImage = $(this).index();

                    $("#items .item").eq(newImage).addClass("opaque");

                    $(".slider").removeClass("active");
                    $(this).addClass("active");
                });
                $('.go-right').on("click", function () {
                    var index = ($(".active", "#navigation").index() + 1) % $(".slider").size();
                    $("#items .item").removeClass("opaque");
                    $("#items .item").eq(index).addClass("opaque");
                    $(".slider").removeClass("active");
                    $("#navigation .slider").eq(index).addClass("active");
                });
                $('.go-left').on("click", function () {
                    var index = ($(".active", "#navigation").index() - 1) % $(".slider").size();
                    $("#items .item").removeClass("opaque");
                    $("#items .item").eq(index).addClass("opaque");
                    $(".slider").removeClass("active");
                    $("#navigation .slider").eq(index).addClass("active");
                });
            });
        </script>
        <br><br>

        <h1 style="font-size: 2.4em;">
          Explorer les diffèrents recoin de ControverSciences
        </h1>
        <br>
        <%= link_to "<b><span class=\"icon-users bigger\" ></span> Qui sont les contributeurs ?</b>".html_safe,
                    users_path,
                    class: "btn btn-lg btn-primary" %> <br> <br>
        <%= link_to "<b><span class=\"icon-graph-int bigger\" ></span> ControverSciences est-il actif ?</b>".html_safe,
                    contributions_path,
                    class: "btn btn-lg btn-primary" %> <br> <br>
        <%= link_to "<b><span class=\"icon-network bigger\" ></span> Les controverses ont-elles des liens entre elles ?</b>".html_safe,
                    timelines_graph_path,
                    class: "btn btn-lg btn-primary" %> <br> <br>
        <%= link_to "<b><span class=\"icon-circo bigger\" ></span> Controversciences est-il inter-disciplinaire ?</b>".html_safe,
                    tag_pairs_graph_path,
                    class: "btn btn-lg btn-primary" %>
        <br>
        <br><br>
        <br>

        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="framed">
              <h1 style="font-size: 2.4em">
                Une passerelle entre la société et les scientifiques <br>
                autour de questions controversées.
              </h1>

              <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-4 vcenter">
                  <object class="img-responsive" data=<%= path_to_image 'help-mission.svg' %>>
                  </object>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-6 vcenter">
                  <h4 class="text-justify">
                    <br>
                    Qui n’a jamais été à court d'<b>arguments</b> dans un <b>débat</b> ?
                    <br/>
                    <br/>
                    Quelques notions <b>scientifiques</b> vous auraient sauvé d’une situation embarrassante !
                    <br/>
                    <br/>
                    Les publications scientifiques sont souvent <b>opaques et compliquées</b>. Leur accès est souvent
                    payant et on ne sais pas où chercher !
                    <br/>
                    <br/>
                    <b>ControverSciences</b> a pour <b>mission</b> d’être une plateforme de <b>vulgarisation</b> ! C’est
                    un
                    lieu de
                    <b>partage</b> de la science <b>accessible à tous</b> !
                    <br/>
                    <br/>
                    Sur ControverSciences, il n’y a pas de discrimination intellectuelle ! Tout un chacun a accès au
                    <b>savoir</b>.
                    <br/>
                    <br/>
                    Des <b>scientifiques partagent</b> avec vous les résumés de travaux en les expliquant.
                    <br/>
                    <br/>
                  </h4>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>

        <div class="carousel-container">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="framed">
              <div class="carousel-inner home-carrousel" role="listbox">
                <div class="item active center">
                  <br/>
                  <b><%= t('views.home.sentence_result') %> </b>
                </div>
                <% welcome_sentences_keys.each do |key| %>
                    <div class="item center">
                      <br/>
                      <b><%= t(key) %></b>
                    </div>
                <% end %>
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <br/>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
