<section id="welcome">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-3 vcenter">
      <%= image_tag("logo.png", alt: "Logo", :class => "img-responsive") %>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0  col-md-3 vcenter">
      <%= link_to "<b>Les controverses</b>".html_safe, timelines_path,
                  class: "btn btn-block btn-primary", style: "font-size: 1.4em;" %>
      <%= link_to "<b>Découvrir</b>".html_safe, how_to_path,
                  class: "btn btn-block btn-primary" %>
      <%= link_to "<b>Contribuer</b>".html_safe, how_to_edit_path,
                  class: "btn btn-block btn-primary" %>
      <%= link_to "<b>Discuter</b>".html_safe, suggestions_path,
                  class: "btn btn-block btn-primary" %>
      <%= link_to "<b>Foire aux questions (FAQ)</b>".html_safe, faq_path,
                  class: "btn btn-block btn-primary" %>
    </div>
    <div class="col-xs-12 col-md-offset-1 col-md-10 center">
      <div class="carousel-container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner home-carrousel" role="listbox">
            <div class="item active center">
              <br/>
              Et si on s'intéressait aux résultats scientifiques ?
            </div>
            <div class="item center">
              <br/>
              Fournisseur officiel d'arguments dans vos débats !
            </div>
            <div class="item center">
              <br/>
              Un portail pour partager et comprendre ce que font les scientifiques.
            </div>
            <div class="item center">
              <br/>
              ControverSciences combat le déni depuis 2015.
            </div>
            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="mission">
  <h1 style="font-size: 2.8em; text-shadow: 3px 3px #1C75BC;">
    Une passerelle entre la société et les scientifiques autour de sujets controversés.
  </h1>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-offset-2 col-lg-4 vcenter">
      <object class="img-responsive" data=<%= path_to_image 'help-mission.svg' %> >
      </object>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-5 col-lg-offset-0 col-lg-4 vcenter">
      <h4 class="text-justify">
        Qui n’a jamais été dans un débat où les arguments tiennent plus de la foi que des faits ?
        <br/>
        <br/>
        Quelques connaissances des résultats scientifiques auraient pourtant sauvé de cette situation inextricable.
        <br/>
        <br/>
        Malheureusement, ces connaissances sont cachées dans des publications scientifiques : des documents techniques et souvent payants !
        <br/>
        <br/>
        ControverSciences permet d'accéder à ces connaissances scientifiques, c’est une plateforme de partage et de vulgarisation de la science !
        <br/>
        <br/>
        Sur ControverSciences, il n’y a pas de discrimination intellectuelle ! Tout un chacun a accès au savoir.
        <br/>
        <br/>
        Les scientifiques partagent leur passion en résumant et expliquant les résultats d’expériences, sur des sujets qui font – ou ont fait – débat.
        <br/>
        <br/>
         <b>Enfin des débats où les arguments sont des preuves, et des preuves scientifiques !</b>
      </h4>
    </div>
  </div>
</section>
<section id="newsletter">
  <%= form_for( :newsletter, url: newsletters_path, remote: true,
                html: {role: :form, 'data-model' => 'newsletter'}) do |f| %>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-5">
          <h4>
            Recevez une fois par mois les informations essentielles de ControverSciences
          </h4>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-5">
          <div class="form-group">
            <%= f.text_field :email, class: 'form-control', placeholder: "Votre adresse email" %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3">
          <div id="invit" class="actions">
            <%= f.button "S\'inscrire &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                         class: 'btn btn-block btn-success', data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp Inscription "}%>
          </div>
        </div>
      </div>
  <% end %>
</section>

<section id="featured">
  <h1 style="font-size: 3em">
    Controverses à l'affiche
  </h1>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <%= render @timelines %>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Votre intérêt pour cette controverse a déjà été pris en compte. </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="success" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Un grand merci de votre interêt à ControverSciences, nous vous tiendrons au courant des avancées du projet avec plaisir ;-) </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fail" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Vous êtes déjà inscrit à ce bulletion d'information, ou votre adresse est invalide. </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('.timeline-name').responsiveEqualHeightGrid();
    $('.timeline-body').responsiveEqualHeightGrid();
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $('.collapse').on('shown.bs.collapse', function () {
        $(".timeline-body").responsiveEqualHeightGrid();
    });
    $(function () {
        $('[data-validate]').click(function () {
            var self = $(this);
            self.hide();
            self.after('<svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"> <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
            $.get(self.data('validate'), {
                id: self.val()
            }).success(function () {
                $('.loader-like').remove();
                self.show();
                var like = $('.glyphicon', self);
                like.text(' ' + (parseInt(like.text()) + 1));
            }).error(function () {
                $('.loader-like').remove();
                self.show();
                $('#iptaken').modal('show');
            });
        });
    });
</script>