<section id="welcome">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-3 vcenter">
      <%= image_tag("logo.png", alt: "Bienvenue", :class => "img-responsive") %>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0  col-md-3 vcenter">
      <%= form_tag(:timelines, method: "get", class: "search-box") do %>
          <br/>
          <div class="input-group">
                  <span class="input-group-btn">
                    <%= button_tag(:class => "btn btn-primary submit-search") do %>
                    <span class="icon icon-search bigger"></span>
                <% end %>
              </span>
            <%= text_field_tag(:filter, "", placeholder: "Rechercher")%>
          </div>
          <br/>
      <% end %>
      <%= link_to "<b>Les controverses</b>".html_safe, timelines_path,
                  class: "btn btn-block btn-primary", style: "font-size: 1.4em;" %>
      <%= link_to "<b>Découvrir</b>".html_safe, how_to_path,
                  class: "btn btn-block btn-primary" %>
      <%= link_to "<b>Contribuer</b>".html_safe, how_to_edit_path,
                  class: "btn btn-block btn-primary" %>
      <%= link_to "<b>Foire aux questions (FAQ)</b>".html_safe, faq_path,
                  class: "btn btn-block btn-primary" %>
    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <br/>
      <br/>
    </div>
    <div class="col-xs-12 col-md-offset-1 col-md-10 center">
      <div class="carousel-container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner home-carrousel" role="listbox">
            <div class="item active center">
              <br/>
              <b>Et si on s'intéressait aux résultats scientifiques ?</b>
            </div>
            <div class="item center">
              <br/>
              <b>Fournisseur officiel d'arguments dans vos débats !</b>
            </div>
            <div class="item center">
              <br/>
              <b>Une plateforme pour partager et comprendre ce que font les scientifiques.</b>
            </div>
            <div class="item center">
              <br/>
              <b>ControverSciences combat le déni depuis 2015.</b>
            </div>
            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="mission">
  <h1 style="font-size: 2.8em; text-shadow: 3px 3px #1C75BC;">
    Une passerelle entre la société et les scientifiques autour de questions controversées.
  </h1>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-offset-2 col-lg-4 vcenter">
      <object class="img-responsive" data=<%= path_to_image 'help-mission.svg' %>>
      </object>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-5 col-lg-offset-0 col-lg-4 vcenter">
      <h4 class="text-justify">
        Qui n’a jamais été à court d'<b>arguments</b> dans un <b>débat</b> ?
        <br/>
        <br/>
        Quelques notions <b>scientifiques</b> vous auraient sauvé d’une situation embarrassante !
        <br/>
        <br/>
        Les publications scientifiques sont souvent <b>opaques et compliquées</b>. Leur accès est souvent payant et
        incompréhensible !
        <br/>
        <br/>
        <b>ControverSciences</b> a pour <b>mission</b> d’être une plateforme de <b>vulgarisation</b> ! C’est un lieu de
        <b>partage</b> de la science <b>accessible à tous</b> !
        <br/>
        <br/>
        Sur ControverSciences, il n’y a pas de discriminations intellectuelles ! Tout un chacun a accès au <b>savoir</b>.
        <br/>
        <br/>
        Des <b>scientifiques partagent</b> avec vous les résumés de travaux en les expliquant.
        <br/>
        <br/>
      </h4>

      <div class="panel panel-default">
        <div class="panel-body">
          <h1 style="font-size: 2em; color: #07212B; font-weight: bold; margin-bottom: 20px; padding-bottom: 0">
            ControverSciences, halte aux croyances !</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="featured">
  <h1 style="font-size: 2.8em">
    Les 3 piliers de ControverSciences
  </h1>

  <div class="row">
    <div class="col-xs-12 col-lg-offset-3 col-lg-6">
      <div class="row text-center">
        <div class="col-xs-12 col-md-4">
          <h1 style="font-size: 2.6em; padding-bottom: 0">
            Prouver
          </h1>

          <div class="center-block">
            <div class="row">
              <div class="col-xs-offset-3 col-xs-6">
                <div class="center">
                  <%= image_tag("pillar-blue.svg", alt: "Prouver", :class => "img-responsive") %>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h4><br/>Si j'ai des arguments à apporter, une référence
              scientifique est nécessaire pour les justifier !</h4>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h1 style="font-size: 2.6em; padding-bottom: 0">
            Améliorer
          </h1>

          <div class="center-block">
            <div class="row">
              <div class="col-xs-offset-3 col-xs-6">
                <div class="center">
                  <%= image_tag("pillar-yellow.svg", alt: "Ameliorer", :class => "img-responsive") %>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h4><br/>Si je ne suis pas d’accord avec une contribution, je propose la mienne !
              Les contributeurs voteront pour décider laquelle est la plus pertinente.</h4>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h1 style="font-size: 2.6em; padding-bottom: 0">
            Sélectionner
          </h1>

          <div class="center-block">
            <div class="row">
              <div class="col-xs-offset-3 col-xs-6">
                <div class="center">
                  <%= image_tag("pillar-red.svg", alt: "Selectionner", :class => "img-responsive") %>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h4><br/>Les contenus de bonne qualité survivront, ceux de moindre qualité seront supprimés par un
              algorithme.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="newsletter">
  <%= form_for(:newsletter, url: newsletters_path, remote: true,
               html: {role: :form, 'data-model' => 'newsletter'}) do |f| %>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-5">
          <h4>
            Recevez une fois par mois les informations essentielles de ControverSciences
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-5">
          <div class="form-group">
            <%= f.text_field :email, class: 'form-control', placeholder: "Mon adresse email" %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3">
          <div id="invit" class="actions">
            <%= f.button "S'inscrire &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                         class: 'btn btn-block btn-success', data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp Inscription "} %>
          </div>
        </div>
      </div>
  <% end %>
</section>

<section id="featured">
  <h1 style="font-size: 3em">
    Controverses à l'affiche
  </h1>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <% if logged_in?  %>
            <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => { :my_likes => @my_likes, full_width: false} %>
        <% else  %>
            <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => { :my_likes => nil, full_width: false } %>
        <% end  %>
      </div>
    </div>
  </div>
</section>

<section id="mission">
  <h1 style="font-size: 2.8em; text-shadow: 3px 3px #1C75BC;">
    Par où commencer ?
  </h1>

  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
      <div class="row">
        <a href="<%= empty_references_path %>" style="color: white">
          <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 hvr-grow">
            <h1 style="font-size: 2.8em; text-shadow: 3px 3px #1C75BC;">
              Enrichir
            </h1>

            <div class="center-block">
              <%= image_tag("3rules-1.png", alt: "Enrichir", :class => "img-responsive") %>
            </div>
            <div class="text-center vcenter">
              <h4>Ces controverses ont besoin de références scientifiques, venez les enrichir !</h4>
            </div>
          </div>
        </a>
        <a href="<%= empty_comments_path %>" style="color: white">
          <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 hvr-grow">
            <h1 style="font-size: 2.8em; text-shadow: 3px 3px #1C75BC;">
              Analyser
            </h1>

            <div class="center-block">
              <%= image_tag("3rules-3.png", alt: "Analyser", :class => "img-responsive") %>
            </div>
            <div class="text-center vcenter">
              <h4>Ces références n'ont pas encore d'analyse, soyez le premier à les décortiquer !</h4>
            </div>
          </div>
        </a>
        <a href="<%= empty_summaries_path %>" style="color: white">
          <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 hvr-grow">
            <h1 style="font-size: 2.8em; text-shadow: 3px 3px #1C75BC;">
              Synthétiser
            </h1>

            <div class="center-block">
              <%= image_tag("3rules-2.png", alt: "Synthétiser", :class => "img-responsive") %>
            </div>
            <div class="text-center vcenter">
              <h4>Ces controverses ont des références mais n'ont pas de synthèse,
                résumez la situation et apportez une vue d'ensemble au débat !</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if logged_in? %>
            <br/>
            <h2 class="modal-title" id="myModalLabel"> Le serveur ne répond pas </h2>
        <% else %>
            <br/>
            <h2 class="modal-title" id="myModalLabel"> M'identifier afin d'effectuer cette action</h2>
            <br/>
            <%= link_to "M'identifier", login_path, class: "btn btn-lg btn-primary" %>
            <div class="pull-right">
              <%= link_to "Créer un compte", signup_path, class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="success" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Je suis dès à prèsent inscrit au bulletion d'information, et l'équipe
          me tiendra au courant des avancées du projet avec plaisir ;-) </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fail" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Je suis déjà inscrit à ce bulletion d'information, ou mon adresse
          est invalide. </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('.timeline-name').responsiveEqualHeightGrid();
    $('.timeline-body').responsiveEqualHeightGrid();
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $('.collapse').on('shown.bs.collapse', function () {
        $(".timeline-body").responsiveEqualHeightGrid();
    });
    $(function () {
        $('[data-validate]').click(function () {
            var self = $(this);
            self.hide();
            self.after('<svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"> <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
            $.ajax(self.data('validate'), {
                url: self.data('validate'),
                data: {id: self.val()},
                method: 'POST',
                statusCode: {
                    201: function (response){
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.glyphicon', self);
                        self.addClass('btn-success');
                        self.removeClass('btn-default');
                        self.removeClass('green');
                        self.attr('data-original-title', "Moi et " + self.attr('data-original-title'));
                        like.text(' ' + (parseInt(like.text()) + 1));
                    },
                    204: function (response){
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.glyphicon', self);
                        self.removeClass('btn-success');
                        self.addClass('btn-default');
                        self.addClass('green');
                        self.attr('data-original-title', self.attr('data-original-title').replace('Moi et ', ''));
                        like.text(' ' + (parseInt(like.text()) - 1));
                    },
                    401: function (response){
                        $('.loader-like').remove();
                        self.show();
                        $('#iptaken').modal('show');
                    }
                }
            })
        });
    });
</script>