<div class="heading">
  <%= image_tag "stars.png", class: "img-responsive" %>
</div>
<div class="rocket">
  <%= image_tag "rocket.svg", class: "img-responsive" %>
</div>
<div id="my-container" class="container-fluid">
  <div id="body-controversciences" class="leading activated">
    <div id="controverse" class="activated sub-leading">
      <div class="col-xs-12 col-md-offset-1 col-md-10 center">
        <div class="row">
          <div class="col-xs-12 col-md-offset-3 col-md-6 center">
            <% if @favorite %>
                <br><br>

                <div id="favorite">
                  <a id="favorite-timeline" class="bb-custom-wrapper hvr-grow" href="<%= timeline_path @favorite %>">
                    <h4>
                      <span class="glyphicon glyphicon-star-empty normal"></span>
                      Controverse à l'affiche
                      <span class="glyphicon glyphicon-star-empty normal"></span>
                    </h4>

                    <h3 class="shadowed center">
                      <%= @favorite.name.html_safe %>
                    </h3>
                  </a>
                </div>
            <% end %>
          </div>
        </div>
        <div id="myCanvasContainer">
          <canvas id="tagCanvas" class="img-responsive" width="1920" height="480">
          </canvas>
        </div>
        <div id="tags">
          <br>
          <% @choices.each do |choice| %>
              <%= link_to word_wrap(choice.name, line_width: 180).html_safe,
                          timeline_choices_path(timeline_id: choice.id,
                                                friendly_id: choice.slug,
                                                choices: @choices.map { |t| t.id }),
                          method: :post %> <br>
              <br>
          <% end %>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                if (!$('#tagCanvas').tagcanvas({
                            textColour: '#3686BE',
                            outlineMethod: "colour",
                            outlineColour: "#24597E",
                            textFont: "Ubuntu, sans-serif",
                            hideTags: false,
                            splitWidth: 800,
                            textHeight: "25",
                            maxSpeed: 0.03,
                            depth: 0.75
                        }, 'tags')) {
                    $('#myCanvasContainer').hide();
                }
            });
        </script>
        <br>
        <%= link_to "<b>Toutes les controverses</b>".html_safe, timelines_path, class: "btn btn-lg btn-primary", style: "font-size: 1.8em; padding: 0.5em 1.5em;" %>
        <br><br><br>
        <%= render 'static_pages/comics' %>
        <br><br>
        <%= render 'static_pages/discover' %>
        <br><br>
        <%= render 'static_pages/links' %>
        <br><br>

        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="bb-custom-wrapper shadow-effect">
              <h1 style="font-size: 2.4em">
                Une passerelle entre la société et les scientifiques <br>
                autour de questions controversées.
              </h1>

              <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-4 vcenter">
                  <object class="img-responsive" data=<%= path_to_image 'help-mission.svg' %>>
                  </object>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-6 vcenter">
                  <h4 class="text-justify">
                    <br>
                    Qui n’a jamais été à court d'<b>arguments</b> dans un <b>débat</b> ?
                    <br/>
                    <br/>
                    Quelques notions <b>scientifiques</b> vous auraient sauvé d’une situation embarrassante !
                    <br/>
                    <br/>
                    Les publications scientifiques sont souvent <b>opaques et compliquées</b>. Leur accès est souvent
                    payant et on ne sait pas où chercher !
                    <br/>
                    <br/>
                    <b>ControverSciences</b> a pour <b>mission</b> d’être une plateforme de
                    <b>médiation scientifique</b>: c’est
                    un lieu de <b>partage</b> de la science <b>accessible à tous</b>.
                    <br/>
                    <br/>
                    Sur ControverSciences, il n’y a pas de discrimination intellectuelle ! Tout un chacun a accès au
                    <b>savoir</b>.
                    <br/>
                    <br/>
                    Des <b>scientifiques partagent</b> avec vous les résumés de travaux en les expliquant.
                    <br/>
                    <br/>
                  </h4>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>

        <div class="carousel-container">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="bb-custom-wrapper shadow-effect">
              <div class="carousel-inner home-carrousel" role="listbox">
                <div class="item active center">
                  <br/>
                  <b><%= t('views.home.sentence_result') %> </b>
                </div>
                <% welcome_sentences_keys.each do |key| %>
                    <div class="item center">
                      <br/>
                      <b><%= t(key) %></b>
                    </div>
                <% end %>
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <br/>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'home' %>