<div class="col-xs-12">
  <div class="panel panel-danger">
    <div class="panel-heading">
      Le site est fonctionnel mais va continuer à être améliorer avant le lancement officiel. <br/>
      Vous pouvez donc créer un compte, des controverses, ajouter des références, des analyses de références et des synthèses ! <br/>
      Si vous avez des remarques sur le site, faites le nous savoir en utilisant le bug-tracker en haut à droite : "signaler un
      bug" <br/>
      Pour toute question, n'hésitez pas à spammer thibault.latrille@controversciences.org !
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      Les dernières mises à jour importantes : <br/>
      - Les titres des références ne sont plus traduis littéralement en francais par celui qui ajoute la référence. <br/>
       &nbsp &nbsp La traduction en francais a donc été remplacé par un titre accrocheur, associé aux analyses de cette référence. <br/>
      &nbsp &nbsp Ainsi chacun peut proposer un titre à la référence et plus uniquement celui qui a ajouté la référence. <br/>
      - La possbilité d'uploader des figures (bitmap ou vectorielles) pour les synthèses et les analyses, et d'ajouter un légende <br/>
      - Des compteurs qui donnent le nombre de caractères restants (ou en trop) dans chaque champs lors de l'écriture d'analyses ou de synthèses <br/>
      - Pour les questions fermées, un code couleur permet de situer chaque référence par rapport à la question posée. <br/>
    </div>
  </div>
</div>
<div class="col-xs-12 col-lg-4">

</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
          <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
              <%= image_tag("logo.svg", alt: "Logo", :class => "img-responsive") %>
            </div>
          </div>
          <h2>
            Et si on s'intéressait aux résultats scientifiques ?
          </h2>
          <br/>
          <%= link_to "<strong>Les controverses</strong>".html_safe, timelines_path,
                      class: "btn btn-block btn-primary", style: "font-size: 1.3em;" %>
          <%= link_to "Qu’est-ce que ControverSciences ?", help_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Fonctionnement", how_to_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Contribuer", how_to_edit_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Foire aux questions (FAQ)", faq_path,
                      class: "btn btn-block btn-primary" %>
          <%= link_to "Améliorer", suggestions_path,
                      class: "btn btn-block btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
