<% provide(:title, "A propos") %>
<div class="heading">
  <%= image_tag "stars.png", class: "img-responsive", style: "opacity: 0.4;" %>
</div>
<div class="rocket">
  <%= image_tag "rocket.svg", class: "img-responsive" %>
</div>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">
      <div class="list-group">
        <div class="list-group-item list-group-item-default cursor-not-allowed">
          <%= t('views.footer.about') %>
        </div>
        <%= link_to "La charte du site", magna_charta_path,
                    class: "list-group-item" %>
        <%= link_to "#{t('views.navigation.faq_long')}".html_safe, faq_path,
                    class: "list-group-item" %>


      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> Qui sommes-nous ?</h1>
        </div>
        <div class="panel-body clearfix">

          <div style="margin: 20px">
            <h2>
              ControverSciences est conçu pour être accessible à tous et pour tous.
            </h2>
            <h2>
              Prendre la responsabilité de saisir au vol des débats de notre époque <br/>
              et les replacer dans un cadre scientifique rigoureux est un défi de taille... <br/>
              Soyons ambitieux !
            </h2>
          </div>
          <br/>
          <h5> Mentions légales </h5>

          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-12">
              Le site controversciences.org est édité pas l'assocation
              <a href="http://www.net1901.org/association/CONTROVERSCIENCES-ET-AL,1456796.html">ControverSciences
                <i>et al</i></a>. <br>
              Il est intégralement et exclusivement financé par les dons des membres et les prestations réalisées par
              l'association.<br>
              Il n'accepte aucune forme de publicité ni ne reçoit de fonds publicitaire. <br><br>

              Adresse : <br>
              ControverSciences <i>et al.</i> <br>
              11 rue d'aguesseau
              69007 Lyon <br>
              Email : <a href="mailto:assocation@controversciences.org">assocation@controversciences.org</a> <br>
              Tél. : +33 (6) 6 77 95 11 63 <br> <br>

              Hébergement : <br>
              Salesforce \ Heroku <br>
              The Landmark @ 1 Market St.
              Suite 300
              San Francisco, CA
              94105 <br><br>

              <%= link_to t('views.users.terms'), terms_path, class: "btn btn-primary", target: "_blank" %>
            </div>
          </div>

          <br/>
          <h5> Nos partenaires </h5>
          <br/>

          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-12">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a href="<%= user_path("universite-de-montpellier") %>" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("umontpellier.png", alt: "Université de Montpellier", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Université de Montpellier</h3>

                      <span style="color: #000000">ControverSciences est utilisé comme outil d'enseignement à l'université
                        de
                        Montpellier depuis Septembre 2015.
                      </span>
                    </div>
                  </a>
                </div>

                <div class="col-xs-12 col-md-6">
                  <a href="http://www.lirmm.fr/aren/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("Investissements-avenir.jpg", alt: "Investissements d'avenir", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Projet AREN</h3>

                      <span style="color: #000000">ControverSciences participe au projet AREN (ARgumentation Et Numérique),
                        projet financé par le programme d'investissement d'avenir et
                        piloté par la Caisse des Dépots et Consignations
                      </span>
                    </div>
                  </a>
                </div>
              </div>
              <br>
              <div class="font12">
                Si vous aussi vous êtes interessé pour utiliser ControverSciences dans vos cours, nous serons ravis de
                consolider la passerelle avec vous.
                <br>Contactez nous à
                <a href="mailto:enseignement@controversciences.org">enseignement@controversciences.org</a>
              </div>
            </div>
          </div>
          <br/>
          <h5> Nos ressources et apparitions dans les médias</h5>
          <i> Vous souhaitez parler de ControverSciences dans un article, une vidéo, un blog, etc ?
            N'hésitez pas à nous contacter si vous voulez plus d'informations
            (<a href="mailto:contact@controversciences.org">contact@controversciences.org</a>).
            Nous vous serons aussi reconnaissants de nous faire parvenir les articles, vidéos, etc.
            pour les valoriser dans notre communication. </i>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h4><span class="glyphicon glyphicon-facetime-video"></span> Vidéos : </h4>
              <a href="https://www.youtube.com/watch?v=Mn-H8KZBtss">Dans la tronche de ControverSciences - La tronche en
                biais</a> <br>
              <a href="https://www.youtube.com/watch?v=U3eA0JuTabY">Mais qui vulgarise les controverses scientifiques ?
                @LyonScience2016 - Space Opera </a> <br>
              <a href="https://www.youtube.com/watch?v=k62077OzHnw">Présentation de ControverSciences.org - Christophe
                Batier</a> <br>
              <a href="https://youtu.be/vqcBaFeAE64?t=24m20s">Student Demo Cup - Open Source Summit </a> <br><br>
              <h4><span class="glyphicon glyphicon-volume-up"></span> Audio :</h4>
              <a href="https://blogs.radiocanut.org/lacauserie/2016/02/19/la-causerie-n141-du-21-fevrier-2016-avec-controversciences/">La
                causerie - Radio Canut </a> <br>
              <br>
              <h4><span class="glyphicon glyphicon-list-alt"></span> Média :</h4>
              <a href="http://www.la-croix.com/Economie/Social/Des-etudiants-eclairent-controverses-scientifiques-2016-01-11-1200728859">La
                croix</a> <br>
              <a href="http://presse.inserm.fr/jeudi-7-janvier-2016/21957/">Presse Inserm</a> <br>
              <a href="http://www.tribunedelyon.fr/?actualite/societe/45412-web-un-site-inedit-pour-comprendre-les-controverses-scientifiques">La
                tribune de Lyon</a> <br>
            </div>
          </div>
          <br>
          <h5>Notre collectif</h5>

            Ils ont construit le ControverSciences d'aujourd'hui.
            <b>Vos idées construiront celui de demain !</b>
          <br><br>
          <a href="mailto:thibault.latrille@controversciences.org">Thibault Latrille</a> (Créateur omnichiant),
          <a href="mailto:florent.giry@controversciences.org">Florent Giry</a> (Une idée de perdue, 10 de retrouvées),
          <a href="mailto:paul.guille-escuret@controversciences.org">Paul Guille-Escuret</a> (Flic epistémologique),
          <a href="mailto:irene.courtin@controversciences.org">Irène Courtin</a> (Zet éthique),
          <a href="mailto:nicolas.clairis@controversciences.org">Nicolas Clairis</a> (Neuro transmetteur),
          <a href="mailto:adrien.boniface@controversciences.org">Adrien Boniface</a> (Agrégé controversé),
          <a href="mailto:nais.rivel@controversciences.org">Nais Rivel</a> (The social network),
          <a href="mailto:alain.danet@controversciences.org">Alain Danet</a> (Notre autoroute du soleil)
          <br><br>... Et tant d'autres qui ont apporté leur pierre à l'édifice.
          <br><br>


          <h5> Et derrière le décor ?</h5>
          <br/>

          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-12">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a href="https://controversciences.slack.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("slack.png", alt: "Slack", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Slack</h3>

                      <span style="color: #000000">Slack est une plate-forme de communication collaborative ainsi qu'un
                        logiciel
                        de gestion de projets.
                        C'est un peu le forum ou se retrouve l'équipe de ControverSciences !</span>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="https://github.com/ThibaultLatrille/ControverSciences" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("github.png", alt: "Javascript", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>GitHub</h3>

                      <span style="color: #000000">GitHub est un service web d'hébergement et de gestion de développement
                        de logiciels,
                        utilisant le logiciel de gestion de versions Git.
                      </span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a href="http://rubyonrails.org/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("ruby-on-Rails.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Ruby on Rails</h3>

                      <span style="color: #000000">Ruby on Rails, est un framework web libre écrit en Ruby.
                        En tant que framework, il propose une structure au programmeur qui lui permet de développer plus
                        vite et
                        plus
                        intuitivement.
                        C'est le framework de développement de ControverSciences.
                      </span>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="https://jquery.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("jquery.png", alt: "Javascript", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Jquery</h3>

                      <span style="color: #000000">jQuery est une bibliothèque JavaScript libre et multi-plateforme
                        créée pour faciliter l'écriture de scripts côté client dans le code HTML des pages web.
                        Les pages sur ControverSciences sont intéractives grâce à jQuery.</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a href="http://getbootstrap.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("bootstrap.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Bootstrap</h3>

                      <span style="color: #000000">Twitter Bootstrap est une collection d'outils utiles à la création de
                        sites et
                        d'applications web.
                        On peut le dire, sans Bootstrap ControverSciences serait beaucoup plus moche.
                      </span>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="https://thenounproject.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("the-noun-project.png", alt: "Javascript", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>The Noun Project</h3>

                      <span style="color: #000000">The Noun Project est une bibliothèque d'images à la disposition des
                        personnes
                        cherchant des symboles
                        graphiques.
                      </span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a href="http://www.postgresql.org/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("postgres.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>PostgreSQL</h3>

                      <span style="color: #000000">PostgreSQL est un système de gestion de base de données relationnelle et
                        objet
                        (SGBDRO).
                        La base de données de ControverSciences utilise PostgreSQL. </span>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="https://www.heroku.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("heroku.png", alt: "Javascript", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Heroku</h3>

                      <span style="color: #000000">Heroku est un service de cloud computing de type plate-forme en tant que
                        service.
                        Il permet le déploiement de ControverSciences sur des serveurs. </span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a href="https://mailgun.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("mailgun.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>MailGun</h3>

                      <span style="color: #000000">Mailgun est le service de Rackspace permettant de recevoir, d'envoyer et
                        de suivre
                        les messages
                        électroniques.
                        Il gére les emails (envoyés et reçus) avec le nom de domaine @controversciences.org.
                      </span>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="http://aws.amazon.com/fr/s3/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("aws.png", alt: "Javascript", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Amazon S3</h3>

                      <span style="color: #000000">Amazon S3 (Amazon Simple Storage Service) est un site d'hébergement de
                        fichiers
                        offert par Amazon Web
                        Services.
                        Il stocke les images de ControverSciences.</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a href="https://www.cloudflare.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("cloudflare.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>CloudFlare</h3>

                      <span style="color: #000000">CloudFlare est un CDN (service de diffusion de contenus) et un service
                        de serveurs
                        de noms de domaines
                        distribués.
                        Il améliore les performances, la sécurité et la rapidité de ControverSciences.</span>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="http://www.pexels.com/" target="_blank" class="hvr-grow">
                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
                      <%= image_tag("pexels.png", alt: "Pexels", :class => "img-responsive img-rounded", style: "width:100%;") %>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-7">
                      <h3>Pexels</h3>

                      <span style="color: #000000">Images et vidéos libres de droit.</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
