<% provide(:title, "A propos") %>

<div id="my-container" class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="panel panel-default">
<div class="panel-heading">
  <h1> A propos de ControverSciences</h1>
</div>
<div class="panel-body clearfix">
<h4>Comment tout a commencé...</h4>
<br/>
<h5> Genèse</h5>

<p>
  Tout commença en juillet 2014 ; Thibault, activiste de la démocratisation scientifique, était perplexe... Pourquoi la
  montagne de
  <b>connaissance</b> scientifique était-elle terrée dans l’ombre ?
  Enormément de débats, de controverses, de discussions et finalement de désaccords pourraient prendre
  fin si seulement ces informations sortaient à la lumière du jour !
  Naquit alors une idée. Une plateforme de vulgarisation scientifique <b>adaptée aux controverses</b>, pour que les
  scientifiques puissent communiquer leur
  immense savoir avec le monde. Une idée qui portera, plus tard le nom de <b>ControverSciences</b>.
  En tant que scientifiques du XXI siècle il est de notre devoir de partager leur savoir et d’apporter des réponses
  <b>aux débats</b> !
</p>
<br/>
<h5> Développement</h5>

<p>
  Aprés un état des lieux des sites d’informations scientifiques,
  il réalisa qu’aucun d’entre eux ne mettait en lumière les <b>recherches scientifiques</b> en
  les organisant autour des controverses. Finalement, aucun des sites de <b>vulgarisation</b> scientifique
  n’avait réussi à organiser des <b>débats</b> sur ces sujets délicats.
  Face à ce vide, qu'il est du devoir des scientifiques de combler, ControverSciences se donne pour mission d’informer
  et de partager.
</p>
<br/>

<h2>
  Controversciences est conçu pour être accessible à tous et pour tous.
</h2>
<br/>
<br/>
<h5> Les cerveaux de l’opération</h5>

<p>
  ControverSciences est collaboratif ! Ainsi
  Thibault, s’entoure de nombreux <b>cerveaux</b> qui ont pu apporter leurs contributions, leurs idées et leur savoir
  faire dans l’aventure.
  La collaboration a permis de construire le ControverSciences d'aujourd'hui.
  <b>Vos idées construiront celui de demain !</b>
</p>
<br/>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
    <%= image_tag("thibault-latrille.jpg", alt: "Thibault Latrille", :class => "img-responsive img-rounded") %>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-7">
    <h3>Thibault Latrille
      <a href="mailto:thibault.latrille@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a>
    </h3>
    <i>
      "Partager mes connaissances a toujours été une passion, mais dans certains débats celles-ci étaient bien trop
      souvent limitées.
      Alors plutot que de me plaindre de ne pas trouver aisément de ressources sur la toile,
      chercher et trouver une solution me parut bien plus intéressant.
      Depuis, bâtir ControverSciences est une aventure dans laquelle je suis investi jours et – parfois – nuits.
      Heureusement, je n'étais pas seul, des personnes remarquables m’ont rejoint,
      avec elles aussi ont le sentiment que le partage du savoir scientifique doit aller plus loin.
      Sans elles, ControverSciences serait resté un têtard qui barbote dans sa marre,
      mais maintenant sa métamorphose a commencé et la suite est à écrire !
      <br/>
      <br/>
      ControverSciences une utopie ? Sûrement mais <b>Les utopies d'aujourd'hui sont les réalités de demain</b>, n'est
      ce pas M. Hugo ?"
    </i>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-offset-1 col-lg-7">
    <h3>Nais Rivel
      <a href="mailto:nais.rivel@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>
    <i>"Il y a plusieurs mois Thibault est venu me voir avec un gros projet entre les mains.
      Je suis la seule personne en Ecole de Commerce au milieu de scientifiques ; mais ce jour-là, mon savoir en
      communication a eu son avantage.
      Il m’a montré son site, son bébé grenouille, et ses propos passionés m’ont embarquée avec lui !
      Travailler avec Thibault n’est que du bonheur, on se complète. On apprend chacun de l’autre dans une continuelle
      quête curieuse."
    </i>

  </div>
  <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-3">
    <%= image_tag("nais-rivel.jpg", alt: "Nais Rivel", :class => "img-responsive img-rounded") %>
  </div>
</div>
<br/>

<p style="text-align: center"> "Seuls ceux sont qui sont assez fous pour croire qu’ils peuvent changer le monde sont
  ceux qui le font !" </p>
<br/>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
    <%= image_tag("thibault-lorin.jpg", alt: "Thibault Lorin", :class => "img-responsive img-rounded") %>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-7">
    <h3>Thibault Lorin
      <a href="mailto:thibault.lorin@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>
    <i>"Encore tout jeune chercheur en biologie, et avec un cursus plus général orienté Sciences de la Vie et de la
      Terre,
      le projet de Thibault est un projet auquel j'ai de suite adhéré.
      Je suis fermement convaincu que notre rôle en tant que scientifique est de participer à la diffusion du savoir.
      Repousser les idées reçues et les non-sens scientifiques est plus qu'un devoir,
      c'est une mission qui me tient à coeur !"</i>

    <p></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-offset-1 col-lg-7">
    <h3>Nicolas Clairis
      <a href="mailto:nicolas.clairis@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>
    <i>"J'ai obtenu mon master en Biologie à l'ENS en 2014, plutôt orienté vers les neurosciences. Je trouve que l'idée
      du projet Controversciences est très intéressante afin de partager et de démocratiser le savoir des scientifiques.
      Il ne faut pas que ce savoir reste confiné aux 4 murs de nos laboratoires mais que tout le monde puisse y avoir
      accès aussi facilement que possible." </i>
  </div>
  <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-3">
    <%= image_tag("nicolas-clairis.png", alt: "Nicolas Clairis", :class => "img-responsive img-rounded") %>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
    <%= image_tag("paul-guille-escuret.jpg", alt: "Paul Guille Escuret", :class => "img-responsive img-rounded") %>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-7">
    <h3>Paul Guille-Escuret
      <a href="mailto:paul.guilleescuret@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a>
    </h3>
    <i>"Eternel étudiant en biologie, plus spécifiquement en entomologie médicale. Participation : chercher la petite
      bête en parcourant le site dans tous les sens - chercher la grosse bête en discutant certains aspects du site avec
      son omnipotent créateur. Motivation : voir jusqu'où peut aller cette démarche."</i>
  </div>
</div>
<br/>
<br/>
Nos sincères remerciements à :
<ul>
  <li>Alain Danet</li>
  <li>Marion Melix</li>
  <li>Florian Lamouche</li>
  <li>Hélène Ortial, pour l'idée du nom et du logo</li>
  <li>Valentin Thouzeau, pour avoir fait germer l'idée à la pause café</li>

  <div id="show-sort" class="btn btn-default">
    Mais aussi... (liste non exhaustive)
  </div>
      <span id="sort" style="display: none">
        <li>Yoan Anciaux</li>
        <li>Vincent Bonhomme</li>
        <li>Iago Bonnicci</li>
        <li>Cecile Bouvet</li>
        <li>Helene Boyer</li>
        <li>Lilian Chambragne</li>
        <li>Guilhem Doulcier</li>
        <li>Romain Feron</li>
        <li>Florent Figon</li>
        <li>Matthias Grenié</li>
        <li>Auguste Herbert</li>
        <li>Solène Knipping</li>
        <li>Iris, Myriam, Eric, Anne et Samuel Latrille</li>
        <li>Iris Le Roncé</li>
        <li>Sylvain Longet</li>
        <li>Pascal Milanesi</li>
        <li>Vincent Platforet</li>
        <li>Thomas Poinsot</li>
        <li>Martin Privat</li>
        <li>Gaëtan Richard</li>
        <li>Paul Saunders</li>
        <li>Emmanuel Trouche</li>
        <li>Victor Virlogueux</li>
      </span>
</ul>
<br/>
<h5> Nos partenaires </h5>
<br/>
<div class="row">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="<%= user_path("universite-de-montpellier") %>" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("umontpellier.png", alt: "Université de Montpellier", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>Université de Montpellier</h3>

        <p style="color: #000000">ControverSciences est utilisé comme outils d'enseignement à l'université de Montpellier depuis Septembre 2015.
        </p>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="http://www.ens-lyon.eu/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("ens-lyon.png", alt: "ENS Lyon", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7 text-right">
        <h3>ENS Lyon</h3>

        <p style="color: #000000">L'Ecole Normale Supérieure de Lyon et ControverSciences commence leur collaboration en Septembre 2015. </p>
      </div>
      </a>
    </div>
  </div>
</div>
<br/>
<h5> Et derrière le décor ?</h5>
<br/>
<div class="center">
  <% if logged_in? %>
      <a href="<%= slack_users_path %>" class="cadre hvr-grow1 center">
        <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
        <b style="font-size: 1.4em"><%= t('views.users.join_slack') %></b>
      </a>
  <% else %>
      <a href="<%= new_user_path %>" class="cadre hvr-grow1 center">
        <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
        <b style="font-size: 1.4em"><%= t('views.sessions.new_user_slack') %></b>
      </a>
  <% end %>
</div>
<br/>
<div class="row">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="https://controversciences.slack.com/" target="_blank" class="hvr-grow">
        <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
          <%= image_tag("slack.png", alt: "Slack", :class => "img-responsive img-rounded") %>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-7">
          <h3>Slack</h3>

          <p style="color: #000000">Slack est une plate-forme de communication collaborative ainsi qu'un logiciel
            de gestion de projets.
            C'est un peu le forum ou se retrouve l'équipe de ControverSciences, venez nous rejoindre !</p>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="https://github.com/ThibaultLatrille/ControverSciences" target="_blank" class="hvr-grow">
        <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
          <%= image_tag("github.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-7 text-right">
          <h3>GitHub</h3>

          <p style="color: #000000">GitHub est un service web d'hébergement et de gestion de développement de logiciels,
            utilisant le logiciel de gestion de versions Git.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="http://rubyonrails.org/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("ruby-on-Rails.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>Ruby on Rails</h3>

        <p style="color: #000000">Ruby on Rails, est un framework web libre écrit en Ruby.
          En tant que framework, il propose une structure au programmeur qui lui permet de développer plus vite et plus
          intuitivement.
          C'est le framework de développement de ControverSciences.
        </p>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="https://jquery.com/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("jquery.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7 text-right">
        <h3>Jquery</h3>

        <p style="color: #000000">jQuery est une bibliothèque JavaScript libre et multi-plateforme
          créée pour faciliter l'écriture de scripts côté client dans le code HTML des pages web.
          Les pages sur ControverSciences sont intéractives grâce à jQuery.</p>
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="http://getbootstrap.com/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("bootstrap.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>Bootstrap</h3>

        <p style="color: #000000">Twitter Bootstrap est une collection d'outils utiles à la création de sites et d'applications web.
          On peut le dire, sans Bootstrap ControverSciences serait beaucoup plus moche.
        </p>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="https://thenounproject.com/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("the-noun-project.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>The Noun Project</h3>

        <p style="color: #000000">The Noun Project est une bibliothèque d'images à la disposition des personnes cherchant des symboles
          graphiques.
        </p>
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="http://www.postgresql.org/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("postgres.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>PostgreSQL</h3>

        <p style="color: #000000">PostgreSQL est un système de gestion de base de données relationnelle et objet (SGBDRO).
          La base de données de ControverSciences utilise PostgreSQL. </p>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="https://www.heroku.com/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("heroku.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>Heroku</h3>

        <p style="color: #000000">Heroku est un service de cloud computing de type plate-forme en tant que service.
          Il permet le déploiement de ControverSciences sur des serveurs. </p>
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="https://mailgun.com/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("mailgun.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>MailGun</h3>

        <p style="color: #000000">Mailgun est le service de Rackspace permettant de recevoir, d'envoyer et de suivre les messages
          électroniques.
          Il gére les emails (envoyés et reçus) avec le nom de domaine @controversciences.org.
        </p>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="http://aws.amazon.com/fr/s3/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("aws.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>Amazon S3</h3>

        <p style="color: #000000">Amazon S3 (Amazon Simple Storage Service) est un site d'hébergement de fichiers offert par Amazon Web
          Services.
          Il stocke les images de ControverSciences.</p>
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a href="https://www.cloudflare.com/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("cloudflare.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>CloudFlare</h3>

        <p style="color: #000000">CloudFlare est un CDN (service de diffusion de contenus) et un service de serveurs de noms de domaines
          distribués.
          Il améliore les performances, la sécurité et la rapidité de ControverSciences.</p>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="http://www.pexels.com/" target="_blank" class="hvr-grow">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("pexels.png", alt: "Pexels", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3>Pexels</h3>

        <p style="color: #000000">Images et vidéos libres de droit.</p>
      </div>
      </a>
    </div>
  </div>
</div>
<p>
  Si vous souhaitez nous aider à développer ControverSciences, n’hésitez pas
  <a href="mailto:thibault.latrille@controversciences.org">à contacter le webmaster</a> à ce propos !
</p>
<br/>
<h5> Politique de confidentialité</h5>
<%= link_to t('views.users.terms'), terms_path, class: "btn btn-primary", target: "_blank" %>
<br/>

</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="success" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Un grand merci de votre interêt à ControverSciences, nous vous
          tiendrons au courant des avancées du projet avec plaisir ;-) </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fail" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Vous êtes déjà inscrit à ce bulletin d'information, ou votre adresse
          est invalide. </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#show-sort').click(function () {
            $(this).hide(500);
            $('#sort').show(500)
        });
    });
</script>
