<% provide(:title, "A propos") %>

<div id="my-container" class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="panel panel-default">
<div class="panel-heading">
  <h1> A propos de ControverSciences</h1>
</div>
<div class="panel-body clearfix">
<h4>Comment tout a commencé...</h4>
<br/>
<h5> Genèse</h5>

<p>
  Tout commenca en juillet 2014, Thibault, activiste de la démocratisation scientifique, était perplexe...
  Pourquoi la montagne de <b>connaissance</b> scientifique étais-elle terrée dans l’ombre ?
  Enormément de débats, de controverses, de discussions et finalement de désaccords pourraient prendre fin si seulement
  ces informations sortaient à la lumière du jour !
  Nait alors une idée. Une plateforme de vulgarisation scientifique <b>adaptée aux controverses</b>, pour que les
  scientifiques puissent communiquer leur immense savoir avec le monde.
  Une idée qui portera, plus tard le nom de <b>ControverSciences</b>.
  En tant que scientifiques du XXI siècle il est de leur devoir de partager leur savoir et d’apporter des réponses
  <b>aux débats</b> !
</p>
<br/>
<h5> Développement</h5>

<p>
  Aprés un état des lieux des sites d’informations scientifiques, il réalisa qu’aucun d’entre eux ne mettait en lumière
  les <b>recherches scientifiques</b> et ne les organisaient autour des controverses.
  Finalement, aucun des sites de <b>vulgarisation</b> scientifique n’avait réussi à organiser des <b>débats</b> sur ces
  sujets délicats. Face à ce vide, qu'il est du devoir des scientifiques de combler,
  ControverSciences se donne pour mission d’informer et de partager.
</p>
<br/>
<h2>Controversciences est conçu pour être accessible à tous et pour tous.</h2>
<br/>
<br/>
<h5> Les cerveaux de l’opération</h5>

<p>
  ControverSciences est collaboratif ! Ainsi lors de sa <b>mission</b>, Thibault, s’entoure de nombreux <b>cerveaux</b>
  qui ont pu apporter leurs contributions, leurs idées et leur savoir faire dans l’aventure.
  La collaboration a permis de construire le ControverSciences d'aujourd'hui.
  <b>Vos idées construiront celui de demain !</b>
</p>
<br/>

<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
    <%= image_tag("thibault-latrille.jpg", alt: "Thibault Latrille", :class => "img-responsive img-rounded") %>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-7">
    <h3>Thibault Latrille
      <a href="mailto:thibault.latrille@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a>
    </h3>
    <i>"
      Partager mes connaissances a toujours été une passion, mais dans certains débats celles ci étaient bien trop souvent limitées.
      Alors plutot que de me pleindre de ne pas trouver aisement de ressources sur la toile, chercher et trouver une solution me paru bien plus intèressant.
      Depuis, bâtir controversciences est une aventure dans laquelle je suis lancé jours et parfois nuits.
      Heureusement, pas seul, car des personnes remarquables m’ont rejoints,
      elles aussi ont le sentiments que le partage du savoir scientifique doit aller plus loin.
      Sans elles, ControverSciences serait resté un tetard qui barbote dans sa marre, mais maintenant sa métamorpohse a commencé, la suite est à écrire !"
      <br/>
      <br/>
      ControverSciences une utopie ? Surement mais <b>Les utopies d'aujourd'hui sont les réalités de demain</b>, n'est ce pas Mr Hugo ?"
    </i>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-offset-1 col-lg-7">
    <h3>Nais Rivel
      <a href="mailto:nais.rivel@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>
    <i>"Il y a plusieurs mois Thibault est venu me voir avec un gros projet entre les mains.
      Je suis la seule personne en Ecole de Commerce au milieu de scientifiques; mais ce jour la, mon savoir en
      communication a eu son avantage.
      Il m’a montré son site, son bébé grenouille, et ses propos passionés m’ont embarqué avec lui !
      Travaillé avec thibault c’est que du bonheur, on se complète. On s’apprend l’un a l’autre dans une continuelle
      quête curieuse."
    </i>

  </div>
  <div class="col-xs-12 col-md-4 col-lg-3">
    <%= image_tag("nais-rivel.jpg", alt: "Nais Rivel", :class => "img-responsive img-rounded") %>
  </div>
</div>
<br/>
<p style="text-align: center"> "Seul ceux sont qui sont assez fou pour croire qu’il peuvent changer le monde sont ceux qui le font !" </p>
<br/>
<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
    <%= image_tag("thibault-lorin.jpg", alt: "Thibault Lorin", :class => "img-responsive img-rounded") %>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-7">
    <h3>Thibault Lorin
      <a href="mailto:thibault.lorin@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>
    <i>"Encore tout jeune chercheur en biologie, et avec un cursus plus général orienté Sciences de la Vie et de la
      Terre,
      le projet de Thibault est un projet auquel j'ai de suite adhéré.
      Je suis fermement convaincu que notre rôle en tant que scientifique est de participer à la diffusion du savoir.
      Repousser les idées reçues et les non-sens scientifiques est plus qu'un devoir,
      c'est une mission qui me tient à coeur !"</i>

    <p></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-offset-1 col-lg-7">
    <h3>Nicolas Clairis
      <a href="mailto:nicolas.clairis@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>
    <i>"J'ai obtenu mon master en Biologie à l'ENS en 2014, plutôt orienté vers les neurosciences.
      Je trouve que l'idée du projet Controversciences est très intéressante afin de partager et de démocratiser le
      savoir des scientifiques.
      Il ne faut pas que ce savoir reste confiné aux 4 murs de nos laboratoires mais que tout le monde puisse y avoir
      accès le plus facilement que possible."</i>
  </div>
  <div class="col-xs-12 col-md-4 col-lg-3">
    <%= image_tag("nicolas-clairis.png", alt: "Nicolas Clairis", :class => "img-responsive img-rounded") %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
    <%= image_tag("paul-guille-escuret.jpg", alt: "Paul Guille Escuret", :class => "img-responsive img-rounded") %>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-7">
    <h3>Paul Guille-Escuret
      <a href="mailto:paul.guilleescuret@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a>
    </h3>
    <i>"Eternel étudiant en biologie, plus spécifiquement en entomologie médicale.
      Participation : chercher la petite bête en parcourant le site dans tous les sens - chercher la grosse bête en
      discutant certains aspects du site avec son omnipotent créateur.
      Motivation : voir jusqu'où peut aller cette démarche."</i>
  </div>
</div>
<br/>
<br/>
Nos sincéres remerciements à :
<ul>
  <li>Alain Danet</li>
  <li>Marion Melix</li>
  <li>Florian Lamouche</li>
  <li>Hélène Hortial, pour l'idée du nom et du logo</li>
  <li>Valentin Thouzeau, pour avoir fait germer l'idée à la pause café</li>

  <div id="show-sort" class="btn btn-info">
    Mais aussi... (Par ordre alphabètique)
  </div>
      <span id="sort" style="display: none">
        <li>Yoan Anciaux</li>
        <li>Vincent Bonhomme</li>
        <li>Iago Bonnicci</li>
        <li>Cecile Bouvet</li>
        <li>Helene Boyer</li>
        <li>Lilian Chambragne</li>
        <li>Guilhem Doulcier</li>
        <li>Romain Feron</li>
        <li>Florent Figon</li>
        <li>Matthias Grenié</li>
        <li>Auguste Herbert</li>
        <li>Solène Knipping</li>
        <li>Iris, Myriam, Eric, Anne et Samuel Latrille</li>
        <li>Iris Le Roncé</li>
        <li>Sylvain Longet</li>
        <li>Pascal Milanesi</li>
        <li>Vincent Platforet</li>
        <li>Thomas Poinsot</li>
        <li>Martin Privat</li>
        <li>Gaëtan Richard</li>
        <li>Paul Saunders</li>
        <li>Emmanuel Trouche</li>
        <li>Victor Virlogueux</li>
        <li>et tous ceux qui viennent conrtibuer</li>
      </span>
</ul>
<br/>
<h5> Fonctionnement</h5>
ControverSciences a été bati autour de <b>3 piliers</b> qui favorisent une approche constructive. <br/>

<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-10">
    <h1 style="font-size: 2.8em">
      Les 3 piliers de ControverSciences
    </h1>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h1 style="font-size: 2.6em; padding-bottom: 0">
          Prouver
        </h1>

        <div class="center-block">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="center-block">
                <%= image_tag("pillar-blue.png", alt: "Logo", :class => "img-responsive") %>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center vcenter">
          <h4><br/>Si vous avez des arguments à apporter, une référence
            scientifique est nécessaire pour les justifier !</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <h1 style="font-size: 2.6em; padding-bottom: 0">
          Améliorer
        </h1>

        <div class="center-block">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="center-block">
                <%= image_tag("pillar-yellow.png", alt: "Logo", :class => "img-responsive") %>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center vcenter">
          <h4><br/>Si vous n’êtes pas d’accord avec une contribution,
            proposez la votre ! Les contributeurs voteront pour décider laquelle est la plus pertinente.</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <h1 style="font-size: 2.6em; padding-bottom: 0">
          Sélectionner
        </h1>

        <div class="center-block">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="center-block">
                <%= image_tag("pillar-red.png", alt: "Logo", :class => "img-responsive") %>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center vcenter">
          <h4><br/>Les contenus de bonne qualité survivront, ceux de moindre qualité seront supprimés par un algorithme.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<p>
  <b>ControverSciences </b>est conçu de façon à ce qu’aucun des contributeurs ne puisse déroger à ces 3 régles.
  Ces régles permettent de produire du contenu de qualité à court et long terme, et empêchent les débats de s’enliser.
  <br/>
  <br/>
  <b>Et enfin...</b>
  Après 10 mois de développement, des idées plus ou moins bonne brassées, des litres de café ingurgités,
  des dizaines de milliers de lignes de code... notre grenouille voit le jour.
  En passant par la blastula et la morula, notre embryon d’idée s’est métamorphosé en une grenouille tournée vers
  l’avenir.
  Mais ce n’est que le début de l’aventure !
  <b>Seule la contribution de tous pourra permettre au ControverSciences de demain de voir le jour !</b>
  N’oublions pas que c’est un site participatif ! On attend vos <%= link_to "suggestions", suggestions_path %> !
</p>
<br/>
<h5> Et derrière le décor ?</h5>

<p>
  Une petite surprise pour vous, appuyez donc sur la touche F12 de votre navigateur, vous verrez sous vos yeux ébahis
  (sauf si vous êtes un geek, auquel cas F12 vous est déjà familier) une fraction infime du code qui compose
  ControverSciences.
  Afin que vous puissiez lire ces lignes, ce code a dû être écrit,
  <b>(parvenir à vous) relu, corrigé, amélioré et exécuté par votre navigateur</b> ! Ce n’est pas de la magie, mais le
  fruit de passionés qui ont développé de nombreuses technologies et des services permettant cet exploit.
</p>

<div class="row">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("ruby-on-Rails.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="http://rubyonrails.org/">Ruby on Rails</a></h3>

        <p>Ruby on Rails, est un framework web libre écrit en Ruby.
          En tant que framework, il propose une structure au programmeur qui lui permet de développer plus vite et plus
          intuitivement.
          C'est le framework de développement de ControverSciences.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("jquery.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7 text-right">
        <h3><a href="https://jquery.com/">Jquery</a></h3>

        <p>jQuery est une bibliothèque JavaScript libre et multi-plateforme
          créée pour faciliter l'écriture de scripts côté client dans le code HTML des pages web.
          Les pages sur ControverSciences sont intéractive grâce à jQuery.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("bootstrap.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="http://getbootstrap.com/">Bootstrap</a></h3>

        <p>Twitter Bootstrap est une collection d'outils utile à la création de sites et d'applications web.
          On peut le dire, sans Bootstrap ControverSciences serait beaucoup plus moche.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("the-noun-project.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="https://thenounproject.com/">The Noun Project</a></h3>

        <p>The Noun Project est une bibliothèque d'images à la disposition des personnes cherchant des symboles
          graphiques.
          De nombreuses images utilisées ControverSciences proviennent de TheNounProject.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("postgres.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="http://www.postgresql.org/">PostgreSQL</a></h3>

        <p>PostgreSQL est un système de gestion de base de données relationnelle et objet (SGBDRO).
          La base de données de ControverSciences utilise PostgreSQL </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("heroku.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="https://www.heroku.com/">Heroku</a></h3>

        <p>Heroku est un service de cloud computing de type plate-forme en tant que service.
          Il permet le déploiment de ControverSciences sur des serveurs. </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("mailgun.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="https://mailgun.com/">MailGun</a></h3>

        <p>Mailgun est le service de Rackspace permettant de recevoir, d'envoyer et de suivre les messages
          électroniques.
          Il gére les emails (envoyés et reçus) avec le nom de domaine @controversciences.org
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("aws.png", alt: "Javascript", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="http://aws.amazon.com/fr/s3/">Amazon S3</a></h3>

        <p>Amazon S3 (Amazon Simple Storage Service) est un site d'hébergement de fichiers offert par Amazon Web
          Services.
          Il stocke les images de ControverSciences.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
        <%= image_tag("cloudflare.png", alt: "Ruby on Rails", :class => "img-responsive img-rounded") %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-7">
        <h3><a href="https://www.cloudflare.com/">CloudFlare</a></h3>

        <p>CloudFlare est un CDN (service de diffusion de contenus) et un service de serveurs de noms de domaines
          distribués.
          Il améliore les performances, la sécurité et la rapidité de ControverSciences.</p>
      </div>
    </div>
  </div>
</div>
<p>
  Si vous souhaitez développer pour ControverSciences, n’hésitez
  <a href="mailto:thibault.latrille@controversciences.org">à contacter le webmaster</a> à ce propos !
</p>
<br/>
<h5> Politique de confidentialité</h5>
<%= link_to "Voir les conditions d'utilisation", terms_path, class: "btn btn-primary" %>
<br/>
<section id="newsletter">
  <%= form_for(:newsletter, url: newsletters_path, remote: true,
               html: {role: :form, 'data-model' => 'newsletter'}) do |f| %>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-5">
          <h4>
            Recevez une fois par mois les informations essentielles de ControverSciences
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-5">
          <div class="form-group">
            <%= f.text_field :email, class: 'form-control', placeholder: "Votre adresse email" %>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3">
          <div id="invit" class="actions">
            <%= f.button "S\'inscrire &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                         class: 'btn btn-block btn-success', data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp Inscription "} %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="center">
    <%= link_to "<span class=\"glyphicon glyphicon-envelope\"></span> Voir les anciennes newsletter".html_safe, newsletter_path, class: "btn btn-primary btn-lg pull-right" %>
  </div>
</section>

</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="success" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Un grand merci de votre interêt à ControverSciences, nous vous
          tiendrons au courant des avancées du projet avec plaisir ;-) </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fail" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Vous êtes déjà inscrit à ce bulletin d'information, ou votre adresse
          est invalide. </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#show-sort').click(function () {
            $(this).hide(500);
            $('#sort').show(500)
        });
    });
</script>
