<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">
      <div class="list-group">
        <%= link_to "<span class=\"icon-reference bigger\"></span>
                                    #{t('views.empty.references')}
                                    <span class=\"badge\">#{Timeline.where(nb_references: 0..3).count}</span>".html_safe,
                    empty_references_path,
                    class: "list-group-item clearfix" %>
        <% if logged_in? %>
            <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up bigger\"></span>
                        #{t('views.empty.my_references')}
                        <span class=\"badge\">#{Timeline.where(id: @like_ids).where(nb_references: 0..3).count}</span>".html_safe,
                        empty_references_path(filter: "interest"),
                        class: "list-group-item clearfix" %>
            <%= link_to "<span class=\"icon-user bigger\"></span>
                                #{t('views.header.empty_ref')}
                                <span class=\"badge\">#{Timeline.where(user_id: current_user.id).where(nb_references: 0..3).count}</span>".html_safe,
                        empty_references_path(filter: "mine"),
                        class: "list-group-item clearfix" %>
        <% end %>
      </div>
      <div class="list-group">
        <%= link_to "<span class=\"icon-comment bigger\"></span>
                                    #{t('views.empty.comments')}
                                    <span class=\"badge\">#{Reference.where(title_fr: "").count}</span>".html_safe,
                    empty_comments_path,
                    class: "list-group-item clearfix" %>
        <% if logged_in? %>
            <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up bigger\"></span>
                        #{t('views.empty.my_comments')}
                        <span class=\"badge\">#{Reference.where(timeline_id: @like_ids).where(title_fr: "").count}</span>".html_safe,
                        empty_comments_path(filter: "interest"),
                        class: "list-group-item clearfix" %>
            <%= link_to "<span class=\"icon-user bigger\"></span>
                                #{t('views.header.empty_comments')}
                                <span class=\"badge\">#{Reference.where(user_id: current_user.id).where(title_fr: "").count}</span>".html_safe,
                        empty_comments_path(filter: "mine"),
                        class: "list-group-item clearfix" %>
        <% end %>
      </div>
      <div class="list-group">
        <%= link_to "<span class=\"icon-summary bigger\"></span>
                                    #{t('views.empty.summaries')}
                                    <span class=\"badge\">#{Timeline.where(nb_summaries: 0).where.not(nb_references: 0..3).where.not(nb_comments: 0..3).count}</span>".html_safe,
                    empty_summaries_path,
                    class: "list-group-item clearfix #{ ((!logged_in?)||(params[:filter].blank?)) ? "list-group-item-default cursor-not-allowed" : ""}" %>
        <% if logged_in? %>
            <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up bigger\"></span>
                        #{t('views.empty.my_summaries')}
                        <span class=\"badge\">#{Timeline.where(id: @like_ids).where(nb_summaries: 0).where.not(nb_references: 0..3).where.not(nb_comments: 0..3).count}</span>".html_safe,
                        empty_summaries_path(filter: "interest"),
                        class: "list-group-item clearfix #{ (params[:filter] == "interest") ? "list-group-item-default cursor-not-allowed" : ""}" %>
            <%= link_to "<span class=\"icon-user bigger\"></span>
                                #{t('views.header.empty_summaries')}
                                <span class=\"badge\">#{Timeline.where(user_id: current_user.id).where(nb_summaries: 0).where.not(nb_references: 0..3).where.not(nb_comments: 0..3).count}</span>".html_safe,
                        empty_summaries_path(filter: "mine"),
                        class: "list-group-item clearfix #{ (params[:filter] == "mine") ? "list-group-item-default cursor-not-allowed" : ""}" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-6">
      <br/>
      <br/>

      <div class="panel panel-default">
        <% if @empty_summaries.any? %>
            <div class="panel-heading">
              <h3>
                <%= t('views.empty.these_timelines') %>
                <% if logged_in? %>
                    <% if params[:filter] == "mine" %>
                        <%= t('views.empty.you_added') %>
                    <% elsif params[:filter] == "interest" %>
                        <%= t('views.empty.you_like') %>
                    <% end %>
                <% end %>
                <%= t('views.empty.need_summaries') %>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div id="empties">
                    <div class="page">
                      <%= render :partial => 'static_pages/empty_summary', :collection => @empty_summaries %>
                      <%= paginate @empty_summaries %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% else %>
            <div class="panel-heading">
              <h3>
                <%= t('views.empty.all_timelines') %>
                <% if logged_in? %>
                    <% if params[:filter] == "mine" %>
                        <%= t('views.empty.you_added') %>
                    <% elsif params[:filter] == "interest" %>
                        <%= t('views.empty.you_like') %>
                    <% end %>
                <% end %>
                <%= t('views.empty.have_summaries') %>
              </h3>
              <%= link_to "<span class=\"icon-frog fat\"></span> #{t('views.timelines.new')}".html_safe, new_timeline_path, class: "btn btn-primary btn-lg pull-right" %>
            </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
          <div class="center-block">
            <%= image_tag("3rules-2.png", alt: "Enrichir", :class => "img-responsive") %>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>

