<% provide(:title, "FAQ") %>

<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<strong>#{t('views.model.timelines')}</strong>".html_safe, timelines_path,
                    class: "list-group-item", style: "font-size: 1.3em;" %>
        <%= link_to t('views.navigation.how_to'), how_to_path,
                    class: "list-group-item" %>
        <%= link_to t('views.navigation.how_to_edit'), how_to_edit_path,
                    class: "list-group-item" %>
        <div class="list-group-item list-group-item-default cursor-not-allowed">
          <%= t('views.navigation.faq_long') %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3> <%= t('views.navigation.faq_long') %> </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div id="empties">
                <div class="page">
                  <% @questions.each do |question| %>
                      <div class="panel panel-default empty">
                        <div class="panel-heading" role="tab" id="heading<%= question.id %>">
                          <h4 class="panel-title clearfix" style="padding: 7px; font-size: 1.2em">
                            <a data-toggle="collapse" href="#Collapse<%= question.id %>" class="pull-right glyphicon glyphicon-chevron-down"></a>
                            <a data-toggle="collapse" href="#Collapse<%= question.id %>" aria-expanded="true" aria-controls="Collapse<%= question.id %>">
                              <%= question.title_markdown.html_safe %>
                            </a>
                          </h4>
                        </div>
                        <div id="Collapse<%= question.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <% if logged_in? && current_user.admin %>
                                <div class="pull-right">
                                  <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                                              edit_question_path(id: question.id),
                                              class: "btn btn-primary" %>
                                  <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                                              question_path(id: question.id),
                                              method: :delete,
                                              data:   {confirm: t('views.default.confirm')},
                                              class:  "btn btn-danger",
                                              :style  => "margin-right: 8px" %>
                                </div>
                            <% end %>
                            <p>
                              <%= question.content_markdown.html_safe %>
                            </p>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <div class="actions pull-right" style="margin-right: 15px">
            <%= link_to "<span class=\"glyphicon glyphicon-question-sign\">
    </span> #{t('views.faq.ask')}".html_safe, '#newquestion',
                        'data-toggle' => 'modal', class: "btn btn-default" %>
            <br/>
            <br/>
          </div>
          <br/>
          <br/>
        </div>
      </div>
      <% if logged_in? && current_user.admin %>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3><%= t('views.faq.new') %></h3><br/>
                  <span class="glyphicon glyphicon-warning-sign"></span>
                  <%= t('views.faq.for_admin') %>
                </div>
                <div class="panel-body">
                  <%= form_for(:question, url: questions_path, method: :post) do |f| %>
                      <br/>
                      <%= f.label :title %>
                      <%= f.text_area :title, placeholder: "", :id => "markdown-title", class: 'form-control textarea' %>
                      <br/>
                      <%= f.label :content %>
                      <%= f.text_area :content, placeholder: "", :id => "markdown-content", class: 'form-control textarea' %>

                      <br/>
                      <%= f.button "#{t('views.buttons.save')} &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                                   class: 'btn btn-success pull-right',
                                   data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.saving')} "} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="newquestion" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Poser une question </h4>
      </div>
      <div class="modal-body clearfix">
        <%= form_for(:issue, url: issues_path, remote: true,
                     html:        {role: :form, 'data-model' => 'issue'}) do |f| %>
            <div class="form-group">
              <%= f.label :title, t('views.faq.ask'), class: 'control-label' %>
              <br>
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= f.label :body, t('views.footer.issue_body'), class: 'control-label' %>
              <br>
              <%= f.text_area :body, class: 'form-control textarea' %>
              <span class="help-block"></span>
            </div>
            <%= f.hidden_field :url, value: request.original_url %>
            <%= f.hidden_field :labels, value: ["FAQ"] %>
            </br>
            <div class="form-group">
              <%= f.label :author, t('views.footer.issue_author'), class: 'control-label' %>
              <br>
              <% if logged_in? %>
                  <%= f.text_field :author, value: current_user.name, class: 'form-control' %>
              <% else %>
                  <%= f.text_field :author, class: 'form-control' %>
              <% end %>
              <span class="help-block"></span>
            </div>
            <div class="actions pull-right">
              <%= f.button "#{t('views.buttons.send')} &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.sending')} "} %>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#markdown-title").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
    $("#markdown-content").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>
