<% provide(:title, "FAQ") %>

<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<strong>#{t('views.model.timelines')}</strong>".html_safe, timelines_path,
                    class: "list-group-item", style: "font-size: 1.3em;" %>
        <%= link_to t('views.navigation.how_to'), how_to_path,
                    class: "list-group-item" %>
        <%= link_to t('views.navigation.how_to_edit'), how_to_edit_path,
                    class: "list-group-item" %>
        <div class="list-group-item list-group-item-default cursor-not-allowed">
          <%= t('views.navigation.faq_long') %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3> <%= t('views.navigation.faq_long') %> </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div id="empties">
                <div class="page">
                  <%= render 'collapse', id: 34, title: t('views.faq.dif_sum_com_q'),
                             content:        t('views.faq.dif_sum_com_a') %>
                  <%= render 'collapse', id: 23, title: t('views.faq.not_agree_q'),
                             content:        t('views.faq.not_agree_a_html') %>
                  <%= render 'collapse', id: 4, title: t('views.faq.bad_content_q'),
                             content:        t('views.faq.bad_content_a') %>
                  <%= render 'collapse', id: 1, title: t('views.faq.trolls_q'),
                             content:        t('views.faq.trolls_a_html') %>
                  <%= render 'collapse', id: 7, title: t('views.faq.license_q'),
                             content:        t('views.faq.license_a_html') %>
                  <%= render 'collapse', id: 54, title: t('views.faq.money_q'),
                             content:        t('views.faq.money_a_html') %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <div class="actions pull-right" style="margin-right: 15px">
            <%= link_to "<span class=\"glyphicon glyphicon-question-sign\">
    </span> #{t('views.faq.ask')}".html_safe, '#newquestion',
                        'data-toggle' => 'modal', class: "btn btn-default" %>
            <br/>
            <br/>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newquestion" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Poser une question </h4>
      </div>
      <div class="modal-body clearfix">
        <%= form_for(:issue, url: issues_path, remote: true,
                     html:        {role: :form, 'data-model' => 'issue'}) do |f| %>
            <div class="form-group">
              <%= f.label :title, t('views.faq.ask'), class: 'control-label' %>
              <br>
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= f.label :body, t('views.footer.issue_body'), class: 'control-label' %>
              <br>
              <%= f.text_area :body, class: 'form-control textarea' %>
              <span class="help-block"></span>
            </div>
            <%= f.hidden_field :url, value: request.original_url %>
            <%= f.hidden_field :labels, value: ["FAQ"] %>
            </br>
            <div class="form-group">
              <%= f.label :author, t('views.footer.issue_author'), class: 'control-label' %>
              <br>
              <% if logged_in? %>
                  <%= f.text_field :author, value: current_user.name, class: 'form-control' %>
              <% else %>
                  <%= f.text_field :author, class: 'form-control' %>
              <% end %>
              <span class="help-block"></span>
            </div>
            <div class="actions pull-right">
              <%= f.button "#{t('views.buttons.send')} &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.sending')} "} %>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>
