<% provide(:title, "FAQ") %>

<div class="col-md-12 col-lg-6 col-lg-offset-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4> Foire aux questions (FAQ) </h4>
  </div>
  <div class="panel-body">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <%= render 'collapse', id: 34, title: "Quelle est la différence entre une analyse est une synthèse ?",
                 content: "Une analyse est version vulgarisée en français d'une publication scientifique. Une synthèse est un bilan
                 de l'ensemble des analyses, pour une controverse donnée." %>
      <%= render 'collapse', id: 23, title: "Je ne suis pas d'accord avec un contributeur, comment puis-je lui répondre ?",
                 content: "Vous ne pouvez tout simplement pas, et pas parce que les codeurs du site n'ont pas fini le travail !
                 Ceci est absolument intentionnel, désolé pour la frustration.
                 Nous souhaitons favoriser les approches constructives et ne voulons absolument pas
                 que se déverse un torrent d'insultes (Youtube a de toute façon le quasi monopole dans ce domaine).
                 Sur ControverScience, on répond à une analyse (ou synthèse) par une autre analyse (ou synthèse).
                 Les autres contributeurs s'occuperont alors de déterminer laquelle des ces analyses (ou synthèses) est la meilleure. <br/>
                 <strong> Si vous trouvez qu'une analyse ou une synthèse est mauvaise, faites mieux ;-) </strong>".html_safe %>
      <%= render 'collapse', id: 42, title: "Comment distribuer mes crédits ?",
                 content: "De la façon qu'il vous convient, mais ils sont limités. Les critères qui doivent rentrer en ligne de compte pour
                  déterminer la qualité d'une analyse ou d'une synthèse sont : <br/>
                 • Objectivité <br/>
                 • Clarté <br/>".html_safe %>
      <%= render 'collapse', id: 2, title: "A quoi servent les scores des contributeurs ?",
                 content: "Ils servent à calculer les scores des analyses et synthèses afin de déterminer les meilleures.
                 Plus un contributeur a un score élevé plus les crédits qu'il a distribué ont du poids." %>
      <%= render 'collapse', id: 3, title: "Comment sont calculés les scores des contributeurs ?",
                 content: "Par un algorithme secret qui ne sera jamais révélé afin que les administrateur puissent favoriser
                  en toute discrétion leurs contributeurs préférés ;-) En réalité ces scores sont re-calculés toutes les nuits par nos serveurs.
                  Il s'agit d'une moyenne harmonique de différents indices.
                  Ces indices prennent en compte la qualité des analyses et synthèses, ainsi que la qualité des références ajoutées par le contributeur.
                  Le score est nombre réel compris entre 1 et 4." %>
      <%= render 'collapse', id: 4, title: "Qu'advient-il des contenus de mauvaises qualités ?",
                 content: "Un algorithme s'occupe de nettoyer de temps en temps les contenus désués qui ne sont pas accrédités." %>
      <%= render 'collapse', id: 1, title: "Comment sont évités les trolls ?",
                 content: "Deux homo erectus sont poursuivis par un lion dans la savane, l'un d'eux déclame au second : <br/>
                 \"Mais ça ne sert à rien de courir car de toute façon il finira par nous rattraper.\" <br/>
                 Ce à quoi le second répond :<br/> \"Mais je ne cherche pas à courir plus vite que le lion, mais plus vite que toi.\" <br/>
                 Pour ControverSciences, c'est un peu la même chose, les contraintes permettent de dissuader une grosse majorité des trolls
                 qui vont préférer troller d'autres sites moins contraignant ou les gens s'énervent rapidement.
                 Pour les trolls de compétitions, on supprime ce qui est nécessaire à la main.
                 Pour finir de les dissuader, ça prend beaucoup moins de temps à nous de les supprimer qu'à eux d'écrire ;-)
                 ".html_safe %>
      <%= render 'collapse', id: 5, title: "Quand je suis connecté, les analyses ou synthèse semble arriver dans
                    un ordre aléatoire, quand ce bug sera-t-il corrigé ?",
                 content: "Ce comportement est tout à fait normal, il est même entièrement voulu. Les analyses et synthèses sont rangées dans
                 un ordre pseudo-aléatoire afin de n'en favoriser aucune. La distribution uniforme donne toute ces chances à toutes les
                 analyses/synthèses. Egalité et pas de traitement de faveur." %>
      <%= render 'collapse', id: 6, title: "Quand je suis connecté je n'arrive pas à voir les crédits donnés
                    aux analyses et synthèse, où est cette information ?",
                 content: "Cette information est volontairment invisible au contributeur afin qu'il ne soit pas biaisé
                 dans l'attribution des crédits.
                 Sinon une analyse/synthèse qui aurait beaucoup crédits en recevrait encore plus par effet de consensus.
                 Egalité et pas de traitement de faveur encore une fois." %>

      <%= render 'collapse', id: 7, title: "Qu'advient-il de mes contributions ?",
                 content: "Les contributions que vous déposez sur controversciences n'ont en premier lieu aucun copyright.
                   Elles sont ensuite mit aux enchères et revendues à l'entreprise/entité la plus offrantes qui
               en disposera. Il se peut donc que celle-ci décide de mettre un copyright dessus afin que le texte ne puisse plus
                être diffusé sans leur accord préalable. C'est sur ce business model novateur et très lucratif qu'est financé controversciences.
                <br/>
                Non bien Evidement les contibutions sont dans le domaine publique. Plus précisement les contributions sont sous la license CC-BY-SA".html_safe %>
      <%= render 'collapse', id: 54, title: "Comment est financé ControverSciences ?",
                 content: "Pour l'instant le site ControverSciences est codé et maintenu par des bénévoles qui
                 donc ne sont pas payés mais sont convaincus de la raison d'être de ce site. Les frais d'hébergements
                 du site sont actuellement maigres (~30E/mois) mais vont
                 évidement changer dans le même sens que l'affluence du site. \n
                <strong> Ce site ne sera jamais financé par de la pub. </strong> \n
                Si vous trouvez l'initative intéressante et que vous n'avez pas donné toute votre argent pour préserver
                les lamantins du golfe de guinée vous pouvez nous aider (les dons seront bientôt possibles).
                Si vous avez l'âme d'un mécène on sera ravi bien évidement !".html_safe %>
    </div>
    <div class="actions pull-right">
      <%= link_to "<span class=\"glyphicon glyphicon-question-sign\">
    </span> Poser une question".html_safe, '#newquestion',
                  'data-toggle' => 'modal', class: "btn btn-primary" %>
    </div>
    <%= link_to "La mission de ControverSciences", help_path,
                class: "btn btn-block btn-primary" %>
    <%= link_to "Comment fonctionne ControverSciences ?", how_to_path,
                class: "btn btn-block btn-primary" %>
    <%= link_to "Comment contribuer à ControverSciences ?", how_to_edit_path,
                class: "btn btn-block btn-primary" %>
    <%= link_to "Suggèrer une amélioration pour le site", suggestions_path,
                class: "btn btn-block btn-primary" %>
    </div>
  </div>
</div>

<div class="modal fade" id="newquestion" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Poser une question </h4>
      </div>
      <div class="modal-body clearfix">
        <%= form_for( :issue, url: issues_path, remote: true,
                      html: {role: :form, 'data-model' => 'issue'}) do |f| %>
            <div class="form-group">
              <%= f.label :title, "La question ?", class: 'control-label' %><br>
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= f.label :body, "Remarques", class: 'control-label' %><br>
              <%= f.text_area :body, class: 'form-control textarea' %>
              <span class="help-block"></span>
            </div>
            <%= f.hidden_field :url, value: request.original_url %>
            <%= f.hidden_field :labels, value: ["FAQ"] %>
            <%= f.label :importance, "Importance" %> </br>
            <div class="btn-group-justified" data-toggle="buttons">
              <% {"***** critic" => "Critique", "**** urgent" => "Urgent", "*** important" => "Important", "** to do" => "A faire", "* negligible" => "Un détail"}.each do |key, value| %>
                  <label class="btn btn-default"
                         title="<%= value %>" data-toggle="tooltip">
                    <%= f.radio_button :importance, checked_value = key,
                                       {id: key, autocomplete: "off"} %>
                    <%= value %>
                  </label>
              <% end %>
            </div></br>
            <div class="form-group">
              <%= f.label :author, "Auteur (facultatif)", class: 'control-label' %><br>
              <% if logged_in? %>
                  <%= f.text_field :author, value: current_user.name, class: 'form-control' %>
              <% else %>
                  <%= f.text_field :author, class: 'form-control' %>
              <% end %>
              <span class="help-block"></span>
            </div>
            <div class="actions pull-right">
              <%= f.submit 'Envoyer'.html_safe, class: 'btn btn-primary'%>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>