<% provide(:title, "Aide") %>

<div class="col-xs-12 col-lg-6 col-lg-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
      ControverSciences est une passerelle entre la société, les scientifiques et leurs résultats, encourageant le dialogue autour des controverses.
      </h4>
    </div>
    <div class="panel-body">
        <%= image_tag("help-mission.png", alt: "Logo", :class => "img-responsive") %>
        <br/>
        <%= link_to "Comment fonctionne ControverSciences ?", how_to_path,
                    class: "btn btn-block btn-primary" %>
        <%= link_to "Comment contribuer à ControverSciences ?", how_to_edit_path,
                    class: "btn btn-block btn-primary" %>
        <%= link_to "Foire aux questions (FAQ)", faq_path,
                  class: "btn btn-block btn-primary" %>
        <%= link_to "Proposer une amélioration pour le site", suggestions_path,
                    class: "btn btn-block btn-primary" %>
    </div>
  </div>
</div>