<% provide(:title, "Aide") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<strong>#{t('views.model.timelines')}</strong>".html_safe, timelines_path,
                    class: "list-group-item", style: "font-size: 1.3em;" %>
        <div class="list-group-item list-group-item-default cursor-not-allowed">
          <%= t('views.navigation.how_to') %>
        </div>
        <%= link_to t('views.navigation.how_to_edit'), how_to_edit_path,
                    class: "list-group-item" %>
        <%= link_to t('views.navigation.faq_long'), faq_path,
                    class: "list-group-item" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            <%= t('views.how_to.title') %>
          </h3>
        </div>
        <div class="panel-body">
          <div id="myCarousel" class="col-xs-offset-1 col-xs-10">
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <div class="row">
                  <div class="col-xs-12">
                    <br>
                    <br>
                    <ul id="navigation" class="nav nav-pills nav-justified">
                      <li class="slider active clearfix">
                        <a href="#"><b><%= t('views.how_to.controverse_head') %></b></a></li>
                      <li class="slider clearfix">
                        <a href="#"><b><%= t('views.how_to.reference_head') %></b></a></li>
                      <li class="slider clearfix">
                        <a href="#"><b><%= t('views.how_to.analyse_head') %></b></a></li>
                      <li class="slider clearfix">
                        <a href="#"><b><%= t('views.how_to.synthese_head') %></b></a></li>
                      <li class="slider clearfix">
                        <a href="#"><b><%= t('views.how_to.ameliorer_head') %></b></a></li>
                      <li class="slider clearfix">
                        <a href="#"><b><%= t('views.how_to.voter_head') %></b></a></li>
                      <li class="slider clearfix">
                        <a href="#"><b><%= t('views.how_to.selectionner_head') %></b></a></li>
                      <li class="slider clearfix">
                        <a href="#"><b><%= t('views.how_to.eclosion_head') %></b></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-9">
                <div id="items">
                  <div id="slide-0" class="item opaque">
                    <img class="img-responsive" src=<%= path_to_image 'organisation-0.png' %>>
                    <div class="caption clearfix">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.controverse_body') %>
                    </div>
                    <br>
                  </div>
                  <div id="slide-1" class="item">
                    <img class="img-responsive" src=<%= path_to_image 'organisation-1.png' %>>

                    <div class="caption">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.reference_body') %>
                    </div>
                  </div>
                  <div id="slide-2" class="item">
                    <img class="img-responsive" src=<%= path_to_image 'organisation-2.png' %>>

                    <div class="caption">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.analyse_body') %>
                    </div>
                  </div>
                  <div id="slide-3" class="item">
                    <img class="img-responsive" src=<%= path_to_image 'organisation-3.png' %>>

                    <div class="caption">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.synthese_body') %>
                    </div>
                  </div>
                  <div id="slide-4" class="item">
                    <img class="img-responsive" src=<%= path_to_image 'organisation-4.png' %>>

                    <div class="caption">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.ameliorer_body') %>
                    </div>
                  </div>
                  <div id="slide-5" class="item">
                    <img class="img-responsive" src=<%= path_to_image 'organisation-5.png' %>>

                    <div class="caption">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.voter_body') %>
                    </div>
                  </div>
                  <div id="slide-6" class="item">
                    <img class="img-responsive" src=<%= path_to_image 'organisation-6.png' %>>

                    <div class="caption">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.selectionner_body') %>
                    </div>
                  </div>
                  <div id="slide-7" class="item">
                    <div id="eclosion">
                      <%= t('views.how_to.eclosion_body') %>
                      <br><br>
                      <span class="icon icon-staging"></span> <span class="arrow">&nbsp &#10137; &nbsp</span> <span class="icon icon-built"></span>
                    </div>
                  </div>
                  <div id="is-transparent">
                    <img class="img-responsive clearfix" src=<%= path_to_image 'organisation-0.png' %>>

                    <div class="caption clearfix">
                      <div class="pull-right go-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </div>
                      <div class="pull-left go-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </div>
                      <%= t('views.how_to.reference_body') %>
                    </div>
                    <br>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').on('mouseover', function () {
            $("#items .item").removeClass("opaque");

            var newImage = $(this).index();

            $("#items .item").eq(newImage).addClass("opaque");

            $(".slider").removeClass("active");
            $(this).addClass("active");
        });
        $('.go-right').on( "click", function () {
            console.log("bim")
            var index = ($(".active").index() + 1) % $(".slider").size();
            $("#items .item").removeClass("opaque");
            $("#items .item").eq(index).addClass("opaque");
            $(".slider").removeClass("active");
            $("#navigation .slider").eq(index).addClass("active");
        });
        $('.go-left').on( "click", function () {
            var index = ($(".active").index() - 1) % $(".slider").size();
            $("#items .item").removeClass("opaque");
            $("#items .item").eq(index).addClass("opaque");
            $(".slider").removeClass("active");
            $("#navigation .slider").eq(index).addClass("active");
        });
    });
</script>
