<% provide(:title, "Aide") %>

<div class="col-xs-12 col-lg-8 col-lg-offset-2">
<div class="panel panel-default">
<div class="panel-heading">
  <h3>
    Comment fonctionne ControverSciences?
  </h3>
</div>
<div class="panel-body">
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse1" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse1" aria-expanded="true" aria-controls="Collapse1">
              Création d'une controverse.
            </a>
          </h4>
        </div>
        <div id="Collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Les contributeurs de ControverSciences ajoutent une nouvelle controverse.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse2" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse2" aria-expanded="true" aria-controls="Collapse2">
              Les contibuteurs ajoutent des références scientifiques.
            </a>
          </h4>
        </div>
        <div id="Collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Les références doivent provenir de journaux scientifiques reconnus publiquement.
              Ces références ont été relues et examinées par des pairs scientifiques avant d'être publiées.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse23" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse23" aria-expanded="true" aria-controls="Collapse23">
              Les références composent la frise chronologique.
            </a>
          </h4>
        </div>
        <div id="Collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Les références sont organisées selon leur date de parution sous la forme d'une frise
              chronologique.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="heading3">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse3" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse3" aria-expanded="true" aria-controls="Collapse3">
              Les références sont analysées.
            </a>
          </h4>
        </div>
        <div id="Collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Le contributeur qui a ajouté la référence ou d'autres contributeurs peuvent proposer une analyse (en
              français) de cette étude.
              Une analyse décrit l'éxperience réalisée dans l'étude, les résultats obtenus et les limites de cette étude.
              Les contributeurs expliquent aussi ce que cette étude apporte de nouveau dans la controverse et des remarques
              éventuelles peuvent être adjointes.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse4" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse4" aria-expanded="true" aria-controls="Collapse4">
              Les contributeurs accréditent les analyses qu'ils considèrent commme les meilleures
            </a>
          </h4>
        </div>
        <div id="Collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Chaque contributeur dispose d'un nombre limité de crédits par référence qu'il peut choisir de répartir entre
              les analyses qu'il considère comme les plus objectives.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse5" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse5" aria-expanded="true" aria-controls="Collapse5">
              La meilleure analyse est sélectionnée.
            </a>
          </h4>
        </div>
        <div id="Collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Pour chaque référence, en se basant sur les crédits accordés aux analyses, la meilleure analyse
              est sélectionnée. Elle est affichée par défault dans la frise chronologique de la controverse.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-danger">
        <div class="panel-heading" role="tab" id="heading3">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse6" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse6" aria-expanded="true" aria-controls="Collapse6">
              Des synthèses de la controverse sont proposées.
            </a>
          </h4>
        </div>
        <div id="Collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Chaque contributeur peut écrire une synthèse de la controverse en se basant sur les références déjà analysées.
              Une synthèse est un résumé général de la situation qui sert d'introduction à l'exploration de la frise chronologique.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse7" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse7" aria-expanded="true" aria-controls="Collapse7">
              Les contributeurs accréditent les synhtèses qu'ils considèrent commme les meilleures.
            </a>
          </h4>
        </div>
        <div id="Collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Chaque contributeur dispose d'un nombre limité de crédits pour cette controverse qu'il peut choisir de répartir entre
              les synthèses qu'il considère comme les plus objectives.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse8" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse8" aria-expanded="true" aria-controls="Collapse8">
              La meilleur synthèse est sélectionnée.
            </a>
          </h4>
        </div>
        <div id="Collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              En se basant sur les crédits accordés aux synthèses, la meilleure synthèse
              est sélectionnée. Elle est affichée par défault en en-tête de la frise chronologique de la controverse.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse9" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse9" aria-expanded="true" aria-controls="Collapse9">
              La controverse continue à être alimentée.
            </a>
          </h4>
        </div>
        <div id="Collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              De nouvelles références, analyses et synthèses sont ajoutées par les contributeurs pour enrichir le débat.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <svg height="14" width="14">
        <circle cx="7" cy="7" r="6" fill="black" />
      </svg> <br/>
      <svg height="14" width="14">
        <circle cx="7" cy="7" r="6" fill="black" />
      </svg> <br/>
      <svg height="14" width="14">
        <circle cx="7" cy="7" r="6" fill="black" />
      </svg> <br/>
    </div>
  </div>
</div>
<br/>

<%= link_to "<strong>Les controverses</strong>".html_safe, timelines_path,
            class: "btn btn-block btn-primary", style: "font-size: 1.3em;" %>
<%= link_to "Qu’est-ce que ControverSciences ?", help_path,
            class: "btn btn-block btn-primary" %>
<%= link_to "Comment fonctionne ControverSciences ?", how_to_path,
            class: "btn btn-block btn-info" %>
<%= link_to "Comment contribuer à ControverSciences ?", how_to_edit_path,
            class: "btn btn-block btn-primary" %>
<%= link_to "Foire aux questions (FAQ)", faq_path,
            class: "btn btn-block btn-primary" %>
<%= link_to "Proposer une amélioration pour le site", suggestions_path,
            class: "btn btn-block btn-primary" %>
</div>
</div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>