<% provide(:title, "Aide") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<strong>Les controverses</strong>".html_safe, timelines_path,
                    class: "list-group-item", style: "font-size: 1.3em;" %>
        <%= link_to "Découvrir ControverSciences", how_to_path,
                    class: "list-group-item" %>
        <div class="list-group-item list-group-item-default cursor-not-allowed">
          Contribuer à ControverSciences
        </div>
        <%= link_to "Foire aux questions (FAQ)", faq_path,
                    class: "list-group-item" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            Contribuer à ControverSciences
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-success">
                  <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#Collapse1" class="pull-right glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#Collapse1" aria-expanded="true" aria-controls="Collapse1">
                        Tout d'abord il me faut créer un compte.
                      </a>
                    </h4>
                  </div>
                  <div id="Collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <p>
                        Il est recommandé de disposer d'une adresse électronique universitaire
                        ou d'un organisme scientifique reconnu pour s'inscrire. Si tel n'est pas le cas mais que je
                        souhaite
                        tout de même contribuer, tout n'est pas perdu !
                        Il me faut préciser mes motivations lors de l'inscription.
                      </p>

                      <div class="pull-right">
                        <%= link_to "Prêt à rentrer dans l'arène !", new_user_path, class: "btn btn-primary" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <h3>
                Voici les possibilités qui s'offrent ensuite à moi :
              </h3>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#Collapse2" class="pull-right glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#Collapse2" aria-expanded="true" aria-controls="Collapse2">
                        Je peux être tenu au courant des nouvelles contributions.
                      </a>
                    </h4>
                  </div>
                  <div id="Collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p>
                        Un système de <%= link_to "notifications", notifications_index_path %> centré
                        <%= link_to "sur vos intérêts", likes_path %> me permet de suivre les dernières
                        contributions sur les sujets qui m'intèressent.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#Collapse3" class="pull-right glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#Collapse3" aria-expanded="true" aria-controls="Collapse3">
                        Je peux voter pour les meilleures contributions.
                      </a>
                    </h4>
                  </div>
                  <div id="Collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p>
                        Quand plusieurs contributions ont été écrites par des contributeurs diffèrents je peux sélectionner ma favorite.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#Collapse4" class="pull-right glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#Collapse4" aria-expanded="true" aria-controls="Collapse4">
                        Aucun texte ne me satisfait pleinement, je peux faire mieux !
                      </a>
                    </h4>
                  </div>
                  <div id="Collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p>
                       Je peux proposer de nouvelles analyses et synthèses (dans la langue de Molière).
                        Et ensuite les contributeurs voteront pour leur favorite qui sera affiché par défaut.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#Collapse5" class="pull-right glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#Collapse5" aria-expanded="true" aria-controls="Collapse5">
                        Je peux ajouter une référence qui me semble pertinente.
                      </a>
                    </h4>
                  </div>
                  <div id="Collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p>
                        Dans un soucis d'uniformité des références, celle-ci doivent répondrent à certain nombre de
                        contraintes
                        avant d'être ajoutées. Il me faudra préciser les champs suivants : <br/>
                        • <a href="http://fr.wikipedia.org/wiki/Digital_Object_Identifier"
                             target="_blank"> Le DOI (Digital Object Identifier) est optionnel </a> <br/>
                        • Le titre original <br/>
                        • Le journal dans lequel la référence a été publiée <br/>
                        • Le(s) auteur(s) de l'étude <br/>
                        • La date de Publication <br/>
                        • Un lien vers la référence <br/>
                        <i>Nota Bene : </i>L'autocomplétion de ces données est possible en
                        renseignant uniquement le titre de l'étude.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#Collapse6" class="pull-right glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#Collapse6" aria-expanded="true" aria-controls="Collapse6">
                        Et si le coeur m'en dit, je peux ajouter une controverse.
                      </a>
                    </h4>
                  </div>
                  <div id="Collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <p>

                      <div class="pull-right">
                        <%= link_to "Ajouter une controverse", new_timeline_path, class: "btn btn-primary" %>
                      </div>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#Collapse7" class="pull-right glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#Collapse7" aria-expanded="true" aria-controls="Collapse7">
                        J'ai en tête une amélioration pour le site ?
                      </a>
                    </h4>
                  </div>
                  <div id="Collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                                  '#newissue',
                                  'data-toggle' => 'modal',
                                  class:        "pull-right btn btn-default",
                                  style:        "font-size: 2.2em" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>