<% provide(:title, "Aide") %>

<div class="col-xs-12 col-lg-8 col-lg-offset-2">
<div class="panel panel-default">
<div class="panel-heading">
  <h3>
    Comment contribuer à ControverSciences ? <br/>
    Voici l'éventail des possibilités qui s'offrent à vous en tant que contributeur.
  </h3>
</div>
<div class="panel-body">
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-danger">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse1" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse1" aria-expanded="true" aria-controls="Collapse1">
              Tout d'abord il vous faut créer un compte.
            </a>
          </h4>
        </div>
        <div id="Collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body clearfix">
            <p>
              Il est nécessaire de disposer d'une adresse éléctronique universitaire
              ou d'un organisme scientifique reconnu pour s'inscrire. Si tel n'est pas le cas mais que vous souhaitez
              tout de même contribuer, tout n'est pas perdu !
              Il vous faut préciser vos motivations lors de l'inscription.
            </p>
            <div class="pull-right">
              <%= link_to  "Prêt à rentrer dans l'arène !", new_user_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse2" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse2" aria-expanded="true" aria-controls="Collapse2">
              Vous pouvez etre tenu au courant des contributions.
            </a>
          </h4>
        </div>
        <div id="Collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Un système de <%= link_to  "notifications", notifications_index_path %> et
              <%= link_to  "d'abonnements", followings_index_path %> vous permet de suivre les dernières contributions
              sur les sujets qui vous intèressent. On ne spam pas votre boîte mail ! Aucun courrier éléctronique n'est envoyé,
              ces notifications sont gérées sur ControverSciences.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse3" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse3" aria-expanded="true" aria-controls="Collapse3">
              Vous disposez de 12 crédits par références à distribuer entre diffèrentes analyses.
            </a>
          </h4>
        </div>
        <div id="Collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Ces crédits peuvent être redistribués à tout moment, en particulier lors de la publication
              d'une nouvelle analyse.
                De la même manière vous disposez de 12 crédits à répartir entre les différentes synthèses.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse4" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse4" aria-expanded="true" aria-controls="Collapse4">
              Aucun texte ne vous satisfait pleinement, à vous de faire mieux !
            </a>
          </h4>
        </div>
        <div id="Collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
            Vous pouvez proposer de nouvelles analyses et synthèses (dans la langue de Molière).
              Pour cela vous pouvez en écrire une <i>ex nihilo</i>, ou bien repartir d'une préexistante et
              l'améliorer (<%= image_tag "icons/myicon-fork.svg", alt: "fork", height: "20px" %>).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse5" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse5" aria-expanded="true" aria-controls="Collapse5">
              Vous pouvez ajouter une référence qui vous semble pertinente.
            </a>
          </h4>
        </div>
        <div id="Collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              Dans un soucis d'uniformité des références, celle-ci doivent répondrent à certain nombre de contraintes
              avant d'être ajoutées. Il vous faudra préciser les champs suivants : <br/>
              • <a href="http://fr.wikipedia.org/wiki/Digital_Object_Identifier"
                   target="_blank"> Le DOI (Digital Object Identifier) </a>  <br/>
              • Le titre (original et en français) <br/>
              • Le journal dans lequel la référence a été publiée <br/>
              • Le(s) auteur(s) de l'étude <br/>
              • La date de Publication <br/>
              • Un lien vers la référence <br/>
              <i>Nota Bene : </i>L'autocomplétion de ces données est possible en
              renseignant uniquement le titre ou le DOI de l'étude.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse6" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse6" aria-expanded="true" aria-controls="Collapse6">
              Et si le coeur vous en dit, vous pouvez ajouter une controverse.
            </a>
          </h4>
        </div>
        <div id="Collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body clearfix">
            <p>
                <div class="pull-right">
                  <%= link_to  "Ajouter une controverse", new_timeline_path, class: "btn btn-primary" %>
                </div>
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#Collapse7" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#Collapse7" aria-expanded="true" aria-controls="Collapse7">
              Vous avez en tête une amélioration pour le site ? Exprimez-la !
            </a>
          </h4>
        </div>
        <div id="Collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body clearfix">
            <p>
              Une salle de discussion pour les améliorations a été ouverte.
                <div class="pull-right">
                  <%= link_to  "Entrer dans la salle de discussion", new_user_path, class: "btn btn-primary" %>
                </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "La mission de ControverSciences", help_path,
            class: "btn btn-block btn-primary" %>
<%= link_to "Comment fonctionne ControverSciences ?", how_to_path,
            class: "btn btn-block btn-primary" %>
  <%= link_to "Foire aux questions (FAQ)", faq_path,
              class: "btn btn-block btn-primary" %>
<%= link_to "Proposer une amélioration pour le site", suggestions_path,
            class: "btn btn-block btn-primary" %>
</div>
</div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>