<% provide(:title, "Markdown") %>
<div id="my-container" class="container-fluid">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-offset-1">

          <div id="magna-charta" class="panel-body">
            <h2>Markdown, un petit tuto</h2>

            <div id="not-timeline">
              <h3 id="introduction"><strong>C'est quoi le markdown ?</strong></h3>

              <p>
                Markdown est un langage de balisage léger créé en 2004.
                Son but est d'offrir une syntaxe facile à lire et à écrire.
                En terme moins technique, cela permet faire du texte assez joli sans encombrer
              </p>

              <h3 id="bold-section"><strong>Gras et italique</strong></h3>
              <%= text_area_tag :bold, "Les balises * et _ peuvent toutes les deux servir à faire  du gras ou de l'italique.
Un texte entouré par __deux balises__ est **en gras**.
Alors qu'un texte entouré par _une seule balise_ est *en italique*.", class: 'form-control textarea', id: "bold", rows: 4 %>

              <h3 id="sup-section"><strong>Indice et Exposant</strong></h3>
              <%= text_area_tag :script, "Le 1^(er) ingrédient, du glucose (C^(_6)H^(_12)O^(_6))", class: 'form-control textarea', id: "script", rows: 3 %>

              <h3 id="liste-section"><strong>Liste à puce et ordonnée</strong></h3>
              <%= text_area_tag :list, "Liste à puce :
- 6 œufs
- 200g de farine

Liste ordonnée :
1. Mettre les œufs dans la farine
2. Mélanger le tout", class: 'form-control textarea', id: "list", rows: 8 %>

              <h3 id="href-section"><strong>Lien externes</strong></h3>
              <%= text_area_tag :href, "Les liens sont composés de deux parties : le nom du lien entre crochets `[]`, suivi de l'adresse du lien entre parenthèses `()`.

Par exemple notre GitHub est [ici](https://github.com/ThibaultLatrille/ControverSciences) et notre Slack à l'adresse [https://controversciences.slack.com](https://controversciences.slack.com)", class: 'form-control textarea', id: "href", rows: 3 %>

              <h3 id="link-section"><strong>Lien vers des références</strong></h3>
              <%= text_area_tag :link_tim, "Les liens vers des références sont des cas spéciaux de liens Markdown, utilisant le balisage conventionnel crochets suivi de parenthèses `[nom](adresse)` dont l'adresse est remplacé par l'identifiant de la référence.

*e.g.* D'après l'étude de #{@list.sample(1).map{ |name, address, author| "[#{truncate(author, length: 32)}](#{address})" }.join}

En remplaçant le nom du lien par le symbole `*`, la référence est numérotée automatiquement et ce numéro est mit en exposant.

*e.g.* Plusieurs références viennent appuyer cette hypothèse#{@list.sample(4).map{ |name, address, author| "[*](#{address})" }.join} ou l'infirmer#{@list.sample(3).map{ |name, address, author| "[*](#{address})" }.join}
", class: 'form-control textarea', id: "link-tim", rows: 8 %>

              <h3 id="link-tim-section"><strong>Lien vers des controverses</strong></h3>
              <%= text_area_tag :link, "Les liens vers des controverses sont aussi des cas spéciaux de liens Markdown, utilisant le balisage conventionnel crochets suivi de parenthèses `[nom](adresse)` dont l'adresse est remplacé par l'identifiant de la controverses précédé du texte `/controverses/`.

*e.g.* Comme précisé dans cette controverse #{@tim_list.sample(1).map{ |name, address| "[#{name}](/controverses/#{address})" }.join }".html_safe,
                                class: 'form-control textarea',
                                id: "link", rows: 5 %>
              <h3 id="sandbox-section"><strong>Bac à sable</strong></h3>
              <%= text_area_tag :sandbox, "Pour vous entrainer", class: 'form-control textarea', id: "sandbox", rows: 3 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'modals/timelines_list', timelines_list: @tim_list, timeline_id: @timeline.id %>

<%= render 'modals/reference_list', references_list: @list %>

<%= render 'modals/href' %>

<script type="text/javascript">
    $("#bold").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkCVS', 'cmdList', 'cmdListO', 'cmdSuperScript', 'cmdSubScript']
    });
    $("#script").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkCVS', 'cmdList', 'cmdListO', 'cmdBold', 'cmdItalic']
    });
    $("#list").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkCVS', 'cmdBold', 'cmdItalic', 'cmdSuperScript', 'cmdSubScript']
    });
    $("#href").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdLinkCVS', 'cmdList', 'cmdListO', 'cmdBold', 'cmdItalic', 'cmdSuperScript', 'cmdSubScript']
    });
    $("#link").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdList', 'cmdListO', 'cmdBold', 'cmdItalic', 'cmdSuperScript', 'cmdSubScript']
    });
    $("#link-tim").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkCVS', 'cmdUrl', 'cmdList', 'cmdListO', 'cmdBold', 'cmdItalic', 'cmdSuperScript', 'cmdSubScript']
    });
    $("#sandbox").markdown({
        autofocus: false,
        savable: false
    });
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>