<div class="panel <%= logged_in? && @my_credit && @my_credit.summary_id == summary.id ? "panel-success" : "panel-default" %>">
  <div class="panel-body">
  <span class="content">
    <div class="clearfix">
      <% if summary.picture? %>
          <div class="pull-right">
            <div class="thumbnail">
              <a class="fancybox" rel="gallery" href="<%= summary.picture_url %>">
              <%= image_tag summary.picture_url, class: "img-rounded img-responsive" %>
                <div class="glyphicon glyphicon-zoom-in"></div>
              </a>
              <div class="caption">
                <%= summary.caption_markdown.html_safe %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="text-justify content<%= summary.id %>">
        <%= summary.markdown.html_safe %>
            <div class="pull-right">
              <%= "#{t('views.default.published')} #{time_ago_in_words(summary.created_at)} #{t('views.default.by')}" %>
              <%= render 'users/link_contributors', model: summary %>
            </div>
        <% if summary.summary_links.count > 0 %>
            <hr style="width: 250px"/>
            <%= t('views.pluralize.edges', count: summary.summary_links.count) %>
            <ul class="list-links">
              <% summary.summary_links.includes(:reference).each do |link| %>
                  <li>
                    <span>
                  <% if link.count %>
                      [<%= link.count %>]
                  <% else %>
                      •
                  <% end %>
                    </span>
                    <%= link_to link.reference.title_display, reference_path(link.reference), target: "_blank" %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
  </span>
  </div>
  <% if logged_in? %>
      <div class="panel-heading">
        <div class="clearfix">
          <% if current_user.id != summary.user_id && !@only_one_summary %>
              <% if @my_credit && @my_credit.summary_id == summary.id %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              credit_path(@my_credit.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           t('views.summaries.downvote'),
                              method:          :delete,
                              class:           "btn btn-success",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% else %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              credits_path(timeline_id: summary.timeline_id, summary_id: summary.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           t('views.summaries.upvote'),
                              method:          :post,
                              class:           "btn btn-default green",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% end %>
          <% end %>
          <%= render 'patches/link_summary', summary_id: summary.id %>
        </div>
      </div>
  <% end %>
</div>
