<div class="panel panel-default comment">
  <div class="panel-body">
  <span class="content">
    <div class="clearfix">
         <% if summary.picture? %>
          <div class="pull-right">
            <div class="thumbnail">
              <%= image_tag summary.picture.url, class: "img-rounded img-responsive" %>
              <div class="caption">
                <%= summary.caption_markdown.html_safe %>
              </div>
            </div>
          </div>
        <% end %>
    <div class="text-justify">
        <%= summary.markdown.html_safe %>
    </div>
    </div>
    <% unless credit %>
        <div class="pull-right">
          Publiée il y a <%= time_ago_in_words(summary.created_at) %> par <%= link_to summary.user_name, user_path(summary.user_id) %>
        </div>
    <% end %>
  </span>
  </div>
  <div class="panel-footer">
    <div class="clearfix">
      <% if credit %>
          <%= form_for(:credit, url: credits_path, method: :post, class: "input-group-sm") do |f| %>
              <div class="row">
                <%= f.hidden_field :summary_id, value: summary.id %>
                <%= f.hidden_field :timeline_id, value: summary.timeline_id %>
                <div class="col-md-9">
                  <div class="input-group input-small">
                    <span class="input-group-btn">
                      <button class="btn btn-default cursor-default">
                        <span class="icon-ribbon normal">
                        </span>
                      </button>
                    </span>
                    <%= f.select :value, (0..(12 + summary.my_credit( current_user.id ) -
                            (@my_credits ? @my_credits : Credit.where( user_id: current_user.id, timeline_id: summary.timeline_id ).sum( :value ) ) )),
                                 {selected: summary.my_credit( current_user.id )}, { class: "form-control selectwidthauto" } %>
                    <div>
                      <% if summary.my_credit( current_user.id ) == 0 %>
                          <%= f.button "<span class=\"icon-ribbon normal\"></span> Accréditer cette synthèse".html_safe,
                                       class: "btn btn-success selectwidthauto",
                                       data: {disable_with: "<span class=\"icon-ribbon normal\"></span> En cours"}%>
                      <% else %>
                          <%= f.button "<span class=\"icon-ribbon normal\"></span> Changer mes crédits (#{summary.my_credit( current_user.id)} actuellement)".html_safe,
                                       class: "btn btn-success selectwidthauto",
                                       data: {disable_with: "<span class=\"icon-ribbon normal\"></span> En cours"}%>
                          <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                                      credit_path(id: "none", summary_id: summary.id ), method: :delete, class: "btn btn-danger selectwidthauto" %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <% if improve %>
                <div class="pull-right">
                  <%= link_to "<span class=\"icon-fork fat\"></span>".html_safe,
                              new_summary_path(parent_id: summary.id, timeline_id: summary.timeline_id), :class => "btn btn-primary", "data-toggle" => "tooltip",
                              title: "Améliorer cette analyse", :style => "padding: 6px; margin-right: 10px"%>
                </div>
                <% end %>
              </div>
          <% end %>
      <% else %>
          <% if improve %>
              <div class="pull-right">
                <%= link_to "<span class=\"icon-fork fat\"></span>".html_safe,
                            new_summary_path(parent_id: summary.id, timeline_id: summary.timeline_id), :class => "pull-right btn btn-primary", "data-toggle" => "tooltip",
                            title: "Améliorer cette analyse", :style => "padding: 6px; margin-right: 10px"%>
                <br/>
              </div>
          <% end %>
          <div class="btn btn-default">
            <span class="icon-ribbon"></span>
            <%= summary.balance %> crédits ont été donné à cette synthèse.
          </div>
          <% if delete %>
              <br/>
              <br/>
              <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe + "Supprimer ma synthèse",
                          summary_path( summary.id ), method: :delete,
                          data: { confirm: "Etes vous certain ?" }, class: "btn btn-danger" %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
