<div class="panel <%= logged_in? && @my_credit && @my_credit.summary_id == summary.id ? "panel-success" : "panel-default" %>">
  <div class="panel-body">
  <span class="content">
    <div class="clearfix">
      <% if summary.picture? %>
          <div class="pull-right">
            <div class="thumbnail">
              <%= image_tag summary.picture_url, class: "img-rounded img-responsive" %>
              <div class="caption">
                <%= summary.caption_markdown.html_safe %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="text-justify content<%= summary.id %>">
        <%= summary.markdown.html_safe %>
      </div>
    </div>
    <% unless logged_in? %>
        <div class="pull-right">
          Publiée il y a <%= time_ago_in_words(summary.created_at) %>
          par <%= link_to summary.user_name, user_path(summary.user_id) %>
        </div>
    <% end %>
  </span>
  </div>
  <% if logged_in? %>
      <div class="panel-heading">
        <div class="clearfix">
          <% if current_user.id != summary.user_id %>
              <% if @my_credit && @my_credit.summary_id == summary.id %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              credit_path(@my_credit.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           "Vous avez selectionné cette synthèse comme votre favorite",
                              method:          :delete,
                              class:           "btn btn-success",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% else %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              credits_path(timeline_id: summary.timeline_id, summary_id: summary.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           "Selectionner cette synthèse comme votre favorite",
                              method:          :post,
                              class:           "btn btn-default green",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% end %>
          <% end %>
          <div class="pull-right">
            <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                        new_typo_path(summary_id: summary.id),
                        remote:       true,
                        :class        => "btn btn-default",
                        "data-toggle" => "tooltip",
                        title:        "Corriger une faute de français",
                        :style        => "padding: 8px; margin-right: 8px" %>
            <% if current_user.admin %>
                <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                            edit_summary_path(id: summary.id),
                            class: "btn btn-primary" %>
                <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                            summary_path(id: summary.id),
                            method: :delete,
                            data:   {confirm: "Êtes-vous certain ?"},
                            class:  "btn btn-danger",
                            :style  => "margin-right: 8px" %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
