<div class="panel <%= logged_in? && @my_credit && @my_credit.summary_id == summary.id ? "panel-success" : "panel-default" %>">
  <div class="panel-body">
  <span class="content">
    <div class="clearfix">
      <% if summary.picture? %>
          <div class="pull-right">
            <div class="thumbnail">
              <%= image_tag summary.picture_url, class: "img-rounded img-responsive" %>
              <div class="caption">
                <%= summary.caption_markdown.html_safe %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="text-justify content<%= summary.id %>">
        <%= summary.markdown.html_safe %>
        <% unless logged_in? %>
            <div class="pull-right">
              <%= "#{t('views.default.published')} #{time_ago_in_words(summary.created_at)} #{t('views.default.by')}" %>
              <%= link_to summary.user_name, user_path(summary.user_id) %>
            </div>
        <% end %>
        <% if summary.summary_links.count > 0 %>
            <hr style="width: 250px"/>
            Cette synthèse se base sur <%= summary.summary_links.count.to_s + " référence" + (summary.summary_links.count > 1 ? "s" : "") %> :
            <div style="margin-left: 20px">
              <% summary.summary_links.includes(:reference).each do |link| %>
                  <% if link.count %>
                      <sup>[<%= link.count %>]</sup>
                  <% else %>
                      &nbsp  •
                  <% end %>
                  <%= link_to link.reference.title_display, reference_path(link.reference), target: "_blank" %>
                  <br/>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </span>
  </div>
  <% if logged_in? %>
      <div class="panel-heading">
        <div class="clearfix">
          <% if current_user.id != summary.user_id && !@only_one_summary %>
              <% if @my_credit && @my_credit.summary_id == summary.id %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              credit_path(@my_credit.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           t('views.summaries.downvote'),
                              method:          :delete,
                              class:           "btn btn-success",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% else %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              credits_path(timeline_id: summary.timeline_id, summary_id: summary.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           t('views.summaries.upvote'),
                              method:          :post,
                              class:           "btn btn-default green",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% end %>
          <% end %>
          <div class="pull-right">
            <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                        new_typo_path(summary_id: summary.id),
                        remote:       true,
                        :class        => "btn btn-default",
                        "data-toggle" => "tooltip",
                        title:        t('views.default.fix_typo'),
                        :style        => "padding: 8px; margin-right: 8px" %>
            <% if current_user.admin %>
                <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                            edit_summary_path(id: summary.id),
                            class: "btn btn-primary" %>
                <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                            summary_path(id: summary.id),
                            method: :delete,
                            data:   {confirm: t('views.default.confirm')},
                            class:  "btn btn-danger",
                            :style  => "margin-right: 8px" %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
