<% provide(:title, "Nouvelle synthèse") %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= link_to "Revenir à la controverse",
                timeline_path( @summary.timeline_id ), class: "btn btn-block btn-primary" %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2> Modifier ma synthèse </h2>
            De la controverse :
            <%= link_to Timeline.where(id: @summary.timeline_id ).pluck(:name)[0],
                        timeline_url( @summary.timeline_id ) %>
          </div>
          <div class="panel-body">
            <%= form_for(@summary, html: { multipart: true }) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <%= f.label "Synthèse" %> <div id="characterLeft"></div>

                <%= f.text_area :content, {rows: 5, :placeholder => "synthèse",
                                           :class => "form-control textarea",
                                           id: "description",
                                           "data-provide" => "markdown" }%>
                <br/>

                <% if @parent %>
                    <%= f.hidden_field :parent_id, value: @parent.id %>
                <% end %>
                <span class="btn btn-default btn-file">
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                     &nbsp <span id="ajouter">Changer de figure</span> <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/svg' %>
                </span>
                <span id="delete" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                    Supprimer la figure
                </span>
                <div id="caption">
                  <br/>
                 <strong> Légende de la figure </strong> <strong id="caption-name"></strong>
                  <br/>
                  <br/>
                    <%= f.text_area :caption, {rows: 5, :placeholder => "Légende de la figure",
                                               :class => "form-control textarea", id: "description6",
                                               "data-provide" => "markdown" }%>
                </div>
                <br/>
                <br/>
                <p hidden id="best_summary"><%= @summary.best %></p>
                <p hidden id="has_picture"><%= @summary.picture %></p>
                <p hidden id="balance_summary"><%= @summary.balance %></p>
                <%= f.hidden_field :delete_picture, value: false %>
                <%= f.hidden_field :timeline_id, value: @summary.timeline_id %>
                <div class="switcher pull-left">
                  <p class="fieldset">
                    <%= f.radio_button :public, true %>
                    <label for="summary_public_true">Public</label>
                    <%= f.radio_button :public, false %>
                    <label for="summary_public_false">Privée</label>
                    <span class="switch"></span>
                  </p>
                </div>
                <%= f.submit "Modifier ma synthèse", class: "pull-right btn btn-lg btn-success"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5">
        <strong style="font-size: 1.4em;"> &nbsp
          Ma synthèse : <br/>
        </strong>

        <%= render @my_summary, credit: false %>

        <% if @parent %>
            <strong style="font-size: 1.4em;"> &nbsp
              La synthèse utilisée pour améliorer la mienne : <br/>
            </strong>
            <%= render @parent, credit: true %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mylist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Créer un lien vers une référence </h4>
      </div>
      <div class="modal-body">
        <%= select("reference", "reference_id", @list , {}, {id: "list-ref", class: 'form-control'}) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn"> Ajouter </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myref" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Ajouter un lien externe </h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">http://</span>
          <input id="http-text" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn-http"> Ajouter </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warning" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content panel-warning">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> Attention </h4>
      </div>
      <div class="modal-body">
        Rendre une contribution privé vous fera perdre tous les crédits qui lui ont été attribués.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).on('change', '.btn-file :file', function() {
        var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });
    $('#delete').click(function(){
        $('#caption').fadeOut(500);
        $('#delete').fadeOut(500);
        $('#ajouter').text("Ajouter une figure à cette synthèse");
        $('#summary_delete_picture').val('true');
    });
    if ($('#has_picture').text() === '') {
        $('#caption').hide();
        $('#delete').hide();
        $('#ajouter').text("Ajouter une figure à cette synthèse");
    }
    $('input[type=radio]', '.switcher').change(function () {
        if ($('input[type=radio]:checked', '.switcher').val() === 'false' ) {
            if ($('#best_summary').text() === 'true') {
                $('#warning').modal('show');
            } else if (!($('#balance_summary').text() === '0')) {
                $('#warning').modal('show');
            }
        }
    });
    var mysavebtn = document.getElementById('save-btn');
    $('#save-btn').on('click', function (event) {
        mysavebtn.setAttribute("data-toggled", 'yes');
    });

    var myref = document.getElementById('save-btn-http');
    $('#save-btn-http').on('click', function (event) {
        myref.setAttribute("data-toggled", 'yes');
    });
    $('#micropost_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Taille de la figure supérieure à 5 Mo, veuillez réduire la taille de celle-ci.');
        }
    });
    $(document).ready(function() {
        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
            $('#caption').fadeIn(500);
            $('#delete').fadeIn(500);
            $('#ajouter').text("Changer de figure");
            $('#caption-name').text(label);
            $('#summary_delete_picture').val('false');
        });
        var max = 12500;
        var len = $('#description').val().length;
        if (len >= max) {
            var ch = len - max;
            $('#characterLeft').css({"color": "#a94442"});
            $('#characterLeft').text(ch + ' caractères en trop !');
        } else {
            var ch = max - len;
            $('#characterLeft').css({"color": "#5cb85c"});
            $('#characterLeft').text(ch + ' caractères restants.');
        }
    });
    $('#description').keyup(function () {
        var max = 12500;
        var len = $(this).val().length;
        if (len >= max) {
            var ch = len - max;
            $('#characterLeft').css({"color": "#a94442"});
            $('#characterLeft').text(ch + ' caractères en trop !');
        } else {
            var ch = max - len;
            $('#characterLeft').css({"color": "#5cb85c"});
            $('#characterLeft').text(ch + ' caractères restants.');
        }
    });
</script>