<div class="row">
<% if logged_in? %>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
      <%= render 'layouts/panel' %>
    </div>
<% else %>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
      <%= link_to "Revenir à la controverse",
                  timeline_path( params[:timeline_id]), class: "btn btn-primary", style: "white-space: normal" %>
    </div>
<% end %>
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-lg-6 col-lg-offset-1">
<div class="clearfix">
  <% if logged_in? %>
      <div class="btn-group">
        <%= link_to " <span class=\"glyphicon glyphicon-search\" >
            </span>Toute les analyses (sauf les miennes)".html_safe,
                    summaries_path( timeline_id: params[:timeline_id] ),
                    class: "btn btn-default #{ params[:filter] == nil ? "active" : nil }"  %>
      </div>
      <div class="btn-group">
        <%= link_to " <span class=\"glyphicon glyphicon-search\" >
            </span> Les analyses que j'ai crédité".html_safe,
                    summaries_path( timeline_id: params[:timeline_id], :filter => 'my-vote'),
                    class: "btn btn-default #{ params[:filter] == "my-vote" ? "active" : nil }"  %>
      </div>
      <div class="btn-group">
        <%= link_to "<span class=\"glyphicon glyphicon-search\" >
            </span> Mes analyses".html_safe,
                    summaries_path( timeline_id: params[:timeline_id], :filter => 'mine'),
                    class: "btn btn-default #{ params[:filter] == "mine" ? "active" : nil }" %>
      </div>
      <div class="pull-right">
        <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
        </span> Ecrire un résumé".html_safe,
                    new_summary_path( timeline_id:params[:timeline_id]  ), class: "btn btn-primary" %>
      </div>
  <% else %>
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button"
                id="dropdownMenuTri" data-toggle="dropdown">
          Trier par
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" >
          <li <%= params[:sort]=='score' || params[:sort].nil? ? "class=selected" : nil %> >
            <%= link_to "Les meilleurs compétiteurs (par défault)", summaries_path( timeline_id: params[:timeline_id],
                                                                                    :sort=> 'score',
                                                                                    :order => params[:order]) %> </li>
          <li <%= params[:sort]=='created_at' ? "class=selected" : nil %> >
            <%= link_to "Date de création", summaries_path( timeline_id: params[:timeline_id],
                                                            :sort=> 'created_at',
                                                            :order => params[:order]) %> </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button"
                id="dropdownMenuOrder" data-toggle="dropdown">
          Ordre
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" >
          <li <%= params[:order]=='desc' || params[:order].nil? ? "class=selected" : nil %> >
            <%= link_to "Décroissant (par défault)", summaries_path( timeline_id: params[:timeline_id],
                                                                     :sort=> params[:sort], :order => 'desc') %> </li>
          <li <%= params[:order]=='asc' ? "class=selected" : nil %> >
            <%= link_to "Croissant", summaries_path( timeline_id: params[:timeline_id],
                                                     :sort => params[:sort], :order => 'asc') %> </li>
        </ul>
      </div>
  <% end %>
</div>
<div>
  </br>
</div>
<div id="comments" class="panel panel-default">
  <div class="panel-body page">
    <% if @summaries.any? %>
        <%= render @summaries, credit: logged_in? && params[:filter] != 'mine' ? true : false %>
        <%= paginate @summaries, :params => {:seed => @seed } %>
    <% elsif params[:filter] == "my-vote" %>
        Vous n'avez pas donné de crédits
    <% elsif params[:filter] == "mine" %>
        <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
        </span> Vous n'avez pas encore écrit d'analyse ".html_safe,
                    new_summary_path %>
    <% else %>
        <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
        </span> Il n'y a pas d'analyse, soyez le premier ! ".html_safe,
                    new_summary_path %>
    <% end %>
  </div>
</div>
</div>
</div>
