<% provide(:title, "Nouvelle synthèse") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"></span> #{t('views.navigation.back_timeline')}".html_safe,
                    timeline_path(@summary.timeline_id),
                    class: "list-group-item" %>
        <% if @my_timeline.nb_summaries > 1 %>
            <%= link_to "<span class=\"badge pull-left\">#{@my_timeline.nb_summaries}</span>
                  &nbsp #{t('views.summaries.index')}".html_safe,
                        summaries_path(timeline_id: @summary.timeline_id),
                        class: "list-group-item" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2> <%= t('views.summaries.new') %>
          </h2>
          <br/>
          <%= t('views.model.of_timeline') %> :
          <%= link_to @my_timeline.name.html_safe,
                      timeline_url(@summary.timeline_id) %>
        </div>
        <div class="panel-body">
          <%= form_for(@summary, html: {multipart: true}) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <div class="switcher pull-right">
                <p class="fieldset">
                  <%= f.radio_button :public, true %>
                  <label for="summary_public_true"><%= t('views.default.public_f') %></label>
                  <%= f.radio_button :public, false %>
                  <label for="summary_public_false"><%= t('views.default.private_f') %></label>
                  <span class="switch"></span>
                </p>
              </div>
              <br/>
              <br/>
              <%= f.label t('views.model.summary') %>
              <div id="characterLeft0"></div>

              <%= f.text_area :content, {rows: 3,
                                         value: @summary.content.blank? ? t('views.summaries.content_value') : @summary.content,
                                         :placeholder => t('views.model.summary'),
                                         :class => "form-control textarea",
                                         id: "description0",
                                         "data-provide" => "markdown"} %>
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <%= t('views.summaries.info_html') %>
                </div>
              </div>
              <br/>
              <%= f.hidden_field :has_picture, value: @summary.picture? %>
              <%= f.hidden_field :delete_picture, value: false %>
              <%= f.hidden_field :timeline_id, value: @summary.timeline_id %>
              <div id="caption" style="display: none">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div id="original">
                      <%= image_tag @summary.picture_url, class: "img-rounded img-responsive" %>
                    </div>
                    <div id="uploaded" style="display: none">
                      <%= image_tag '', class: "img-rounded img-responsive" %>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <strong> <%= t('views.edition.caption') %> </strong> <strong id="caption-name"></strong>
                    <br/>

                    <div id="characterLeft1"></div>
                    <%= f.text_area :caption, {rows: 3, :placeholder => t('views.edition.caption'),
                                               :class => "form-control textarea", id: "description1",
                                               "data-provide" => "markdown"} %>
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <%= t('views.picture.source_figure') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="size-warning" class="row" style="display: none">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>
                      <span class="glyphicon glyphicon-warning-sign"></span>
                      <%= t('views.picture.invalid_figure') %>
                    </strong>
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <%= f.button "#{t('views.summaries.create')} &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success btn-lg pull-right',
                           data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.publishing')} "} %>
          <% end %>
          <div>
            <div id="upload-btn" class="btn btn-default btn-lg fileinput-button">
              <i class="glyphicon glyphicon-folder-open"></i>&nbsp
              <span id="ajouter"> <%= t('views.picture.add_figure') %> </span>
              <input accept="image/jpeg,image/gif,image/png,image/svg" id="fileupload" type="file" name="figure[picture]" multiple>
            </div>
            <div id="progress" style="display: none">
              <svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
                </path>
              </svg>
            </div>
            <div id="delete" class="btn btn-danger btn-lg" style="display: none">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
              <%= t('views.picture.delete_figure') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'modals/timelines_list', timelines_list: @tim_list, timeline_id: @summary.timeline_id %>

<%= render 'modals/reference_list', references_list: @list %>

<%= render 'modals/href' %>

<%= render 'modals/wiki' %>

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#summary_has_picture').val() === 'true') {
            $('#caption').show();
            $('#delete').show();
            $('#ajouter').text("<%= t('views.picture.edit_figure') %>");
        }
    });
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: "<%= figures_url + "?timeline_id=" + @summary.timeline_id.to_s %>",
            type: 'POST',
            dataType: 'json',
            done: function (e, data) {
                $('#upload-btn').show(300);
                $('#progress').hide(300);
                if (data.result.id == null) {
                    $('#size-warning').show(300);
                } else {
                    $('#summary_has_picture').val('true');
                    $('#summary_delete_picture').val('false');
                    $('#caption').show(300);
                    $('#original').hide(300);
                    $('#uploaded').show(300);
                    $('#size-warning').hide();
                    $('#uploaded img').attr("src", data.result.picture.url);
                }
            },
            start: function (e, data) {
                $('#upload-btn').hide();
                $('#progress').show();
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    $('#delete').click(function () {
        $('#caption').hide(300);
        $('#delete').hide(300);
        $('#ajouter').text("<%= t('views.picture.add_figure') %>");
        $('#summary_delete_picture').val('true');
    });
</script>

<%= render 'shared/length_counter' %>

<script type="text/javascript">
    setupLengthCounter([[0, 12500], [1, 1000]])
</script>