<% provide(:title, "Nouveau résumé") %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= link_to "Revenir à la controverse",
                timeline_path( params[:timeline_id]), class: "btn btn-block btn-primary" %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-lg-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2> Créer un résumé </h2>
              De la controverse :
              <%= link_to Timeline.where(id: params[:timeline_id]).pluck(:name)[0],
                          timeline_url(params[:timeline_id]) %>
          </div>
          <div class="panel-body">
            <%= form_for(@summary, as: :summary,  url: summaries_path, method: :post) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <%= f.label "résumé" %>

                <%= f.text_area :content, {rows: 5, :placeholder => "résumé",
                                                           :class => "form-control textarea",
                                                           "data-provide" => "markdown" }%>

                <% if @parent %>
                    <%= f.hidden_field :parent_id, value: @parent.id %>
                <% end %>
                <% if params[:draft_id] %>
                    <%= f.hidden_field :draft_id, value: params[:draft_id] %>
                <% end %>
                <%= f.hidden_field :timeline_id, value: params[:timeline_id] %>
                <br/>
                <%= f.submit "Sauver comme brouillon", name: "draft", class: "btn btn-success"%>
                <%= f.submit "Publier le résumé", class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 col-lg-offset-1">
        <% if @parent %>
            <div class="panel panel-default">
              <div class="panel-body">
                <%= image_tag("icons/myicon-laurel.svg", alt: "laurel", height: "24px")%>
                Le résumé que vous souhaitez améliorer :
                <%= render @parent, credit: true %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mylist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Créer un lien vers une référence </h4>
      </div>
      <div class="modal-body">
        <%= select("reference", "reference_id", @list , {}, {id: "list-ref", class: 'form-control'}) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn"> Ajouter </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myref" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Ajouter un lien externe </h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">http://</span>
          <input id="http-text" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn-http"> Ajouter </button>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
    var mysavebtn = document.getElementById('save-btn');
    $('#save-btn').on('click', function (event) {
    mysavebtn.setAttribute("data-toggled",'yes');
    });

    var myref = document.getElementById('save-btn-http');
    $('#save-btn-http').on('click', function (event) {
    myref.setAttribute("data-toggled",'yes');
    });
<% end %>