<% provide(:title, "Nouvelle synthèse") %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= link_to "Revenir à la controverse",
                timeline_path( @summary.timeline_id ), class: "btn btn-block btn-primary" %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2> Ecrire une synthèse </h2>
              De la controverse :
              <%= link_to Timeline.where(id: @summary.timeline_id ).pluck(:name)[0],
                          timeline_url( @summary.timeline_id ) %>
          </div>
          <div class="panel-body">
            <%= form_for(@summary, html: { multipart: true }) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <div class="switcher pull-right">
                  <p class="fieldset">
                    <%= f.radio_button :public, true %>
                    <label for="summary_public_true">Public</label>
                    <%= f.radio_button :public, false %>
                    <label for="summary_public_false">Privé</label>
                    <span class="switch"></span>
                  </p>
                </div>
                <br/>
                <br/>
                <%= f.label "Synthèse" %> <div id="characterLeft0"></div>

                <%= f.text_area :content, {rows: 3, :placeholder => "synthèse",
                                                           :class => "form-control textarea",
                                                           id: "description0",
                                                           "data-provide" => "markdown" }%>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    La synthèse est un résumé général de la controverse. Son objectif
                    est d'intégrer l'ensemble des références analysées, et donc de donner un bilan de la controverse basé sur des résultats scientifiques.
                    <br/>
                    Le <a href="http://openclassrooms.com/courses/redigez-en-markdown" target="_blank">markdown est supporté</a>.
                    De plus vous pouvez insèrer des liens internes vers les références de cette controverse
                    (boutton <span class="icon-reference normal"></span> dans la barre d'outils) afin de permettre
                    au lecteur une meilleure navigation dans la controverse.
                  </div>
                </div>
                <br/>

                <% if @parent %>
                    <%= f.hidden_field :parent_id, value: @parent.id %>
                <% end %>
                <%= f.hidden_field :has_picture, value: @summary.picture? %>
                <%= f.hidden_field :delete_picture, value: false %>
                <%= f.hidden_field :timeline_id, value: @summary.timeline_id %>
                <div id="caption" style="display: none">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div id="original">
                        <%= image_tag @summary.picture_url, class: "img-rounded img-responsive" %>
                      </div>
                      <div id="uploaded" style="display: none">
                        <%= image_tag '', class: "img-rounded img-responsive" %>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <strong> Légende de la figure </strong> <strong id="caption-name"></strong>
                      <br/>

                      <div id="characterLeft1"></div>
                      <%= f.text_area :caption, {rows: 3, :placeholder => "Légende de la figure",
                                                 :class => "form-control textarea", id: "description1",
                                                 "data-provide" => "markdown"} %>
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          La légende de votre figure, facultatif mais vivement recommandée.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br/>
                <br/>
                <%= f.button "Publier la synthèse &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                             class: 'btn btn-success btn-lg pull-right',
                             data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Publication en cours "}%>
            <% end %>
            <div>
              <div id="upload-btn" class="btn btn-info btn-lg fileinput-button">
                <i class="glyphicon glyphicon-folder-open"></i>&nbsp
                <span id="ajouter"> Ajouter une figure </span>
                <input accept="image/jpeg,image/gif,image/png,image/svg" id="fileupload" type="file" name="figure[picture]" multiple>
              </div>
              <div id="progress" style="display: none">
                <svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
                  </path>
                </svg>
              </div>
              <div id="delete" class="btn btn-danger btn-lg" style="display: none">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                Supprimer la figure
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="mylist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Créer un lien vers une référence </h4>
      </div>
      <div class="modal-body">
        <%= select("reference", "reference_id", @list , {}, {id: "list-ref", class: 'form-control'}) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn"> Ajouter </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myref" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Ajouter un lien externe </h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">http://</span>
          <input id="http-text" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn-http"> Ajouter </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        if ($('#summary_has_picture').val() === 'true') {
            $('#caption').show();
            $('#delete').show();
            $('#ajouter').text("Modifier la figure");
        }
    });
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: "<%= figures_url + "?timeline_id=" + @summary.timeline_id.to_s %>",
            type: 'POST',
            dataType: 'json',
            done: function (e, data) {
                $('#upload-btn').show(300);
                $('#summary_has_picture').val('true');
                $('#summary_delete_picture').val('false');
                $('#caption').show(300);
                $('#progress').hide(300);
                $('#original').hide(300);
                $('#uploaded').show(300);
                $('#uploaded img').attr("src", data.result.picture.url);
            },
            start: function (e, data) {
                $('#upload-btn').hide();
                $('#progress').show();
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    $('#delete').click(function () {
        $('#caption').hide(300);
        $('#delete').hide(300);
        $('#ajouter').text("Ajouter une figure à cette synthèse");
        $('#summary_delete_picture').val('true');
    });
    var mysavebtn = document.getElementById('save-btn');
    $('#save-btn').on('click', function (event) {
        mysavebtn.setAttribute("data-toggled", 'yes');
    });

    var myref = document.getElementById('save-btn-http');
    $('#save-btn-http').on('click', function (event) {
        myref.setAttribute("data-toggled", 'yes');
    });
    $.each(['0', '1'], function (index, value) {
        $(document).ready(function() {
            if (value === '0') {
                var max = 12500;
            } else {
                var max = 1000;
            }
            var len = $('#description' + value).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
        $('#description' + value).keyup(function () {
            if (value === '0') {
                var max = 12500;
            } else {
                var max = 1000;
            }
            var len = $(this).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
    });
</script>