<% provide(:title, "Synthèse") %>
<div id="my-container" class="container-fluid">
<div class="row">

  <div class="col-xs-12 col-md-4 col-lg-2">
    <%= link_to "<span class=\"icon-arrow-left fat\"></span> Revenir à la controverse <span class=\"icon-frog fat\"></span>".html_safe,
                timeline_path(@summary.timeline_id), class: "btn btn-block btn-primary" %>
  </div>

  <div class="col-xs-12 col-md-8 col-lg-10">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>
          Cette synthèse appartient à la controverse
          <%= link_to( @summary.timeline_name , timeline_path(@summary.timeline_id) ) %>
            </h3>
          </div>
          <div class="panel-body">
            <% if logged_in? && current_user.id == @summary.user_id %>
                <%= render @summary, credit: false, improve: true, delete: true %>
            <% elsif logged_in? %>
                <%= render @summary, credit: @timeline.nb_summaries > 1 ? true : false , improve: @improve, delete: false %>
            <% else %>
                <%= render @summary, credit: false, delete: false, improve: false %>
            <% end %>
            <% if @timeline.nb_summaries > 1 %>
                <%= link_to "Voir l'ensemble des synthèses".html_safe,
                            summaries_path( timeline_id: @summary.timeline_id ),
                            class: "btn btn-primary pull-right"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

