<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css" title="text/css">
      p {
          word-wrap: break-word;
      }
      @media only screen and (max-width: 620px) {
          table[class=w600], td[class=w600] { width: 300px !important; }
          table[class=w560], td[class=w560] { width: 280px !important; }
          table[class=w520], td[class=w520] { width: 260px !important; }
          table[class=w500], td[class=w500] { width: 250px !important; }
          table[class=w485], td[class=w485] { width: 205px !important; }
          table[class=w480], td[class=w480] { width: 240px !important; }
          table[class=w440], td[class=w440] { width: 220px !important; }
          table[class=w400], td[class=w400] { width: 200px !important; }
          table[class=w300], td[class=w300] { width: 150px !important; }
          table[class=w250], td[class=w250] { width: 125px !important; }
          table[class=w100], td[class=w100] { width: 50px !important; }
          table[class=w50], td[class=w50] { width: 25px !important; }
          table[class=w75], td[class=w75] { width: 35px !important; }
          table[class=w20], td[class=w20] { width: 10px !important; }
          td[class='w600 h20'] { width: 300px !important;  height: 10px !important; }
          td[class='w500 h20'] { width: 250px !important;  height: 10px !important; }
          td[class='w500 h40'] { width: 250px !important;  height: 20px !important; }
          td[class=h20] {  height: 10px !important; }
      }
  </style>
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;font-family:Helvetica,Arial,sans-serif;color:#666;font-weight:300;font-size:16px;">
<table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
  <tbody>
  <tr>
    <td align="center">
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
        <tr>
          <td class="w520" width="520" height="40">
          </td>
        </tr>
        <tr>
          <td class="w600" width="600">
            <table class="w600" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #F1F1F1; border-radius:10px;">
              <tbody>
              <tr>
                <td class="w40" width="40"></td>
                <td  class="w520" width="520" align="left" >
                  <table class="w520" width="520" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                    <tbody>
                    <tr>
                      <td class="w520" width="520" height="20">
                      </td>
                    </tr>
                    <tr>
                      <td  class="w520" width="520" >
                        <h1 style="font-size:30px;line-height:45px;"><%= t('views.mailer.hello') + " " + @user.name %>,
                        </h1>
                      </td>
                    </tr>
                    <tr>
                      <td class="w520" width="520" style="line-height:30px">
                        <div><p>
                          <% if @resend_activation %>
                              <%= t('views.mailer.resend_welcome') %>
                          <% else %>
                              <%= t('views.mailer.welcome') %>
                          <% end %>
                        </p></div>
                      </td>
                    </tr>
                    <tr>
                      <td  class="w520" width="520" height="20">
                      </td>
                    </tr>
                    <tr>
                      <td  class="w520" width="520">
                        <table class="w520" width="520" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td class="w40" width="40"></td>
                            <td class="w440" width="440" height="45" align="center" style="background:#30be90;border-radius:5px;" >
                              <%= link_to t('views.mailer.activate'), edit_account_activation_url(@user.activation_token,
                                                                                 email: @user.email), style: "text-decoration: none;color:#fff;font-weight:600;font-size:15px;line-height:45px;text-transform:uppercase;width:100%; display:inline-block" %>
                            </td>
                            <td class="w40" width="40"></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="w520" width="520" height="40">
                      </td>
                    </tr>
                    <tr>
                      <td class="w520" width="520" style="font-size:10px;line-height:15px;">
                        <%= t('views.mailer.plain_link') %>
                        <br/>
                        <%= edit_account_activation_url(@user.activation_token,
                        email: @user.email) %>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td class="w40" width="40"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>

