<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; ">
<style type="text/css">
@media only screen and (max-width: 620px) {
    [class=wrapper] {
        min-width: 320px !important;
        width: 100% !important;
    }
    [class=wrapper] .one-col {
        width: 320px !important;
    }
    [class=wrapper] .column,
    [class=wrapper] .gutter {
        display: block;
        float: left;
        width: 320px !important;
    }
    [class=wrapper] .padded {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    [class=wrapper] .block {
        display: block !important;
    }
    [class=wrapper] .hide {
        display: none !important;
    }
    [class=wrapper] .image {
        margin-bottom: 24px !important;
    }
    [class=wrapper] .image img {
        height: auto !important;
        width: 100% !important;
    }
}
@media only screen and (max-width: 620px) {
    [class=wrapper] .header,
    [class=wrapper] .preheader,
    [class=wrapper] .logo,
    [class=wrapper] .footer,
    [class=wrapper] .sidebar {
        width: 320px !important;
    }
    [class=wrapper] .header .logo {
        padding-bottom: 32px !important;
        padding-top: 12px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    [class=wrapper] .header .preheader {
        padding-top: 3px !important;
        padding-bottom: 22px !important;
    }
    [class=wrapper] .header .title {
        display: none !important;
    }
    [class=wrapper] h1 {
        font-size: 40px !important;
        Margin-bottom: 20px !important;
    }
    [class=wrapper] h2 {
        font-size: 24px !important;
        Margin-bottom: 16px !important;
    }
    [class=wrapper] h3 {
        font-size: 18px !important;
        Margin-bottom: 12px !important;
    }
    [class=wrapper] ol,
    [class=wrapper] ul {
        Margin-left: 10px !important;
    }
    [class=wrapper] li {
        padding-left: 2px !important;
    }
    [class=wrapper] table.border {
        width: 320px !important;
    }
}
@media only screen and (max-width: 320px) {
    td[class=border] {
        display: none;
    }
}
</style>
<!--[if gte mso 9]>
<style>
    .column-top {
        mso-line-height-rule: exactly !important;
    }
</style>
<![endif]-->
</head>
<body style="margin: 0;mso-line-height-rule: exactly;padding:0;min-width: 100%;background-color: #ecf5f3" text="#000000" bgcolor="#FFFFFF">
<center class="wrapper" style="display: table;table-layout:fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust:100%;-ms-text-size-adjust: 100%;background-color: #ecf5f3">
  <table class="header centered" style="border-collapse:collapse;border-spacing: 0;Margin-left: auto;Margin-right:auto;width: 600px">
    <tbody>
    <tr>
      <td style="padding: 0;vertical-align: top">
        <table style="border-collapse: collapse;border-spacing: 0" align="right">
          <tbody>
          <tr>
            <td class="preheader" style="padding:0;vertical-align: top;letter-spacing:0.01em;font-style: normal;line-height:17px;font-weight: 400;font-size: 11px;color:#b9b9b9;font-family: sans-serif;padding-bottom:40px;padding-top: 40px;text-align: right;width:280px">
              <div class="spacer" style="font-size:1px;line-height: 2px;width: 100%">&nbsp</div>
              <div class="title">Notifications</div>
            </td>
          </tr>
          </tbody>
        </table>
        <table style="border-collapse: collapse;border-spacing: 0" align="left">
          <tbody>
          <tr>
            <td class="logo" style="padding: 0;vertical-align:top;mso-line-height-rule: at-least;padding-bottom:40px;padding-top: 40px;width: 280px">
              <div class="logo-left" style="color:#555;font-size: 24px;font-weight:700;line-height: 30px;font-family: sans-serif" id="emb-email-header" align="left">
                <a style="text-decoration: none;color: #555" href="<%= root_url %>">
                  ControverSciences</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="border" style="border-collapse:collapse;border-spacing: 0;font-size: 1px;line-height:1px;background-color: #d4dddb;Margin-left: auto;Margin-right:auto" width="602">
    <tbody>
    <tr>
      <td style="padding: 0;vertical-align: top">&nbsp</td>
    </tr>
    </tbody>
  </table>
  <table class="centered" style="border-collapse:
          collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
    <tr>
      <td class="border" style="padding: 0;vertical-align:top;font-size: 1px;line-height: 1px;background-color:#d4dddb;width: 1px">&nbsp</td>
      <td style="padding: 0;vertical-align: top">
        <table class="one-col" style="border-collapse:collapse;border-spacing: 0;Margin-left:auto;Margin-right: auto;width: 600px;background-color:#ffffff;table-layout: fixed">
          <tbody>
          <tr>
            <td class="column" style="padding: 0;vertical-align:top;text-align: left">
                <div class="column-top" style="height: 50px"></div>
              <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
                <tbody>
                <tr>
                  <td class="padded" style="padding: 0;vertical-align: top;padding-left: 50px;padding-right: 50px;word-break:break-word;word-wrap: break-word">
                    <p style="Margin-top: 0;color:#60666d;font-size: 15px;font-family:sans-serif;line-height:24px;Margin-bottom: 24px">
                      <strong style="font-weight: bold">
                        <%= t('views.mailer.hello') + " " + @user_notif.name -%>,
                      </strong>
                    </p>
                    <p style="Margin-top: 0;color:#60666d;font-size: 15px;font-family:sans-serif;line-height:24px;Margin-bottom: 24px">
                        <%= t('views.mailer.notif_head') %>
                      <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545" href="<%= root_url %>">
                        ControverSciences</a> <%= t('views.mailer.notif_head_cs') %>
                    </p>
                    <ul style="Margin-top: 0;padding-left:0;color: #60666d;font-size:15px;Margin-left: 20px;font-family:sans-serif;line-height:24px;Margin-bottom: 24px">
                      <% if @user_notif.notifications_all > 2 %>
                      <li style="Margin-top: 0;padding-left: 2px"> <b>
                        <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                             href="<%= root_url + "/notifications/index" %>">
                          <%= @user_notif.notifications_all.to_s + " " + t('views.mailer.notif_waiting') %></a> </b></li>
                      <% end %>
                      <% if @user_notif.nb_notifs > 2 %>
                          <li style="Margin-top: 0;padding-left: 2px"> <b>

                            <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                               href="<%= root_url + "/notifications/important" %>">
                              <%= @user_notif.nb_notifs.to_s + " " + t('views.mailer.notif_waiting') %></a> </b></li>
                      <% end %>
                      <% if @empty_comments > 2 && rand(3) == 0 %>
                          <li style="Margin-top: 0;padding-left: 2px"> <b>
                            <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                               href="<%= root_url + "/empty_comments" %>">
                              <%= @empty_comments.to_s + " " + t('views.mailer.notif_empty_comments') %></a> </b></li>
                      <% end %>
                      <% if @empty_summaries > 2 && rand(3) == 0 %>
                          <li style="Margin-top: 0;padding-left: 2px"> <b>
                            <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                               href="<%= root_url + "/empty_summaries" %>">
                              <%= @empty_summaries.to_s + " " + t('views.mailer.notif_empty_summaries') %></a> </b></li>
                      <% end %>
                      <% if @empty_references > 2 && rand(3) == 0 %>
                          <li style="Margin-top: 0;padding-left: 2px"> <b>
                            <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                               href="<%= root_url + "/empty_references" %>">
                              <%= @empty_references.to_s + " " + t('views.mailer.notif_empty_references') %></a> </b>
                          </li>
                      <% end %>
                    </ul>
                    <p style="Margin-top: 0;color:#60666d;font-size: 15px;font-family:sans-serif;line-height:24px;Margin-bottom: 24px">
                        <%= t('views.mailer.notif_preferences') %> <br/>
                      •  <%= t('views.mailer.notif_handle') %> <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545" href="<%= root_url + "/likes" %>">
                      <%= t('views.mailer.notif_likes') %></a>; <br/>
                      •  <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545" href="<%= root_url + "/users/#{@user_notif.id}/edit" -%>" >
                      <%= t('views.mailer.notif_edit_profil') %></a>.
                      <br>
                      <br>
                      <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted#454545" href='mailto:contact@controversciences.org'>
                          <%= t('views.mailer.the_team') %></a> <%= t('views.mailer.notif_wish') %> </p>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="column-bottom" style="font-size:26px;line-height: 26px"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td class="border" style="padding: 0;vertical-align:top;font-size: 1px;line-height: 1px;background-color:#d4dddb;width: 1px">&nbsp</td>
    </tr>
    </tbody>
  </table>
  <table class="border" style="border-collapse:collapse;border-spacing: 0;font-size: 1px;line-height:1px;background-color: #d4dddb;Margin-left: auto;Margin-right:auto" width="602">
    <tbody>
    <tr>
      <td style="padding: 0;vertical-align: top">&nbsp</td>
    </tr>
    </tbody>
  </table>
  <br>
</center>
</body>
</html>
