<html lang="fr">
<head>
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="email=no">
</head>
<body style="margin: 0; padding: 0;" bgcolor="#FFFFFF">
<table width="100%" height="100%" style="min-width: 348px;" border="0" cellspacing="0" cellpadding="0">
  <tr height="32px"></tr>
  <tr align="center">
    <td width="32px"></td>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" style="max-width: 600px;">
        <tr height="16"></tr>
        <tr>
          <td>
            <table bgcolor="#4E7DC9" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 332px; max-width: 600px; border: 1px solid #E0E0E0; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px;">
              <tr>
                <td height="40px" colspan="3"></td>
              </tr>
              <tr>
                <td width="32px"></td>
                <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 26px; color: #FFFFFF; line-height: 1.25;">
                  ControverSciences
                </td>
                <td width="32px"></td>
              </tr>
              <tr>
                <td height="18px" colspan="3"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 332px; max-width: 600px; border: 1px solid #F0F0F0; border-bottom: 1px solid #C0C0C0; border-top: 0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
              <tr height="16px">
                <td width="32px" rowspan="3"></td>
                <td></td>
                <td width="32px" rowspan="3"></td>
              </tr>
              <tr>
                <td>
                  <table style="min-width: 300px;" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 16px; color: #202020; line-height: 1.5;">
                        <%= t('views.mailer.hello') + " " + @user_notif.name -%>,
                      </td>
                    </tr>
                    <tr>
                      <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: #202020; line-height: 1.5;">
                        <%= t('views.mailer.notif_head') %>
                        <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545" href="<%= root_url %>">
                          ControverSciences</a> <%= t('views.mailer.notif_head_cs') %>

                        <table border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 12px;">
                          <ul style="Margin-top: 12px;padding-left:0;font-size: 13px; color: #202020; line-height: 1.5;Margin-left: 20px;font-family:sans-serif;Margin-bottom: 8px">
                            <% if @user_notif.notifications_all > 2 %>
                                <li style="Margin-top: 0;padding-left: 2px"><b>
                                  <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                                     href="<%= root_url + "/notifications/index" %>">
                                    <%= @user_notif.notifications_all.to_s + " " + t('views.mailer.notif_waiting') %></a> </b>
                                </li>
                            <% end %>
                            <% if @user_notif.nb_notifs > 2 %>
                                <li style="Margin-top: 0;padding-left: 2px"><b>

                                  <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                                     href="<%= root_url + "/notifications/important" %>">
                                    <%= @user_notif.nb_notifs.to_s + " " + t('views.mailer.important_waiting') %></a> </b>
                                </li>
                            <% end %>
                            <% if @empty_comments > 2 && rand(3) == 0 %>
                                <li style="Margin-top: 0;padding-left: 2px"><b>
                                  <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                                     href="<%= root_url + "/empty_comments" %>">
                                    <%= @empty_comments.to_s + " " + t('views.mailer.notif_empty_comments') %></a> </b></li>
                            <% end %>
                            <% if @empty_summaries > 2 && rand(3) == 0 %>
                                <li style="Margin-top: 0;padding-left: 2px"><b>
                                  <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                                     href="<%= root_url + "/empty_summaries" %>">
                                    <%= @empty_summaries.to_s + " " + t('views.mailer.notif_empty_summaries') %></a> </b></li>
                            <% end %>
                            <% if @empty_references > 2 && rand(3) == 0 %>
                                <li style="Margin-top: 0;padding-left: 2px"><b>
                                  <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545"
                                     href="<%= root_url + "/empty_references" %>">
                                    <%= @empty_references.to_s + " " + t('views.mailer.notif_empty_references') %></a> </b>
                                </li>
                            <% end %>
                          </ul>
                        </table>
                        <%= t('views.mailer.notif_preferences') %> <br/>
                        •  <%= t('views.mailer.notif_handle') %>
                        <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545" href="<%= root_url + "/likes" %>">
                          <%= t('views.mailer.notif_likes') %></a> ;<br/>
                        •
                        <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted #454545" href="<%= root_url + "/users/#{@user_notif.id}/edit" -%>">
                          <%= t('views.mailer.notif_edit_profil') %></a>.
                      </td>
                    </tr>
                    <tr height="32px"></tr>
                    <tr>
                      <td style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 13px; color: #202020; line-height: 1.5;">
                        <a style="text-decoration: none;color:#454545;border-bottom: 1px dotted#454545" href='mailto:contact@controversciences.org'>
                          <%= t('views.mailer.the_team') %></a> <%= t('views.mailer.notif_wish') %>
                      </td>
                    </tr>
                    <tr height="16px"></tr>
                  </table>
                </td>
              </tr>
              <tr height="32px"></tr>
            </table>
          </td>
        </tr>
        <tr height="16"></tr>
      </table>
    </td>
    <td width="32px"></td>
  </tr>
  <tr height="32px"></tr>
</table>
</body>
</html>