<div class="panel panel-default comment">
  <div class="panel-body clearfix">
    <% unless comment.empty_field?( 6 ) %>
        <b> <% if comment.article %>
               <%= article_hash[6] %>
          <% else %>
               <%= review_hash[6] %>
          <% end %>
        </b> :
        <h5> <%= comment.title_markdown.html_safe %>   </h5>
        <br/>
    <% end %>
      <% if comment.picture? %>
        <div class="pull-right">
          <div class="thumbnail">
            <%= image_tag comment.picture_url, class: "img-rounded img-responsive" %>
            <div class="caption">
              <b> <% if comment.article %>
                    <%= article_hash[7] %>
                <% else %>
                    <%= review_hash[7] %>
                <% end %> :
              </b>
              <%= comment.caption_markdown.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
  <span class="content">
    <% for fi in 0..5 %>
        <% unless comment.empty_field?( fi ) %>
            <b> <% if comment.article %>
                   <%= article_hash[fi] %>
              <% else %>
                   <%= review_hash[fi] %>
              <% end %> :
            </b>
            <div class="text-justify">
            <%= comment["markdown_#{fi}".to_sym].html_safe %>
            </div>
       <% end %>
    <% end %>
    <div class="pull-right">
      Publiée il y a <%= time_ago_in_words(comment.created_at) %> par <%= link_to comment.user_name, user_path(comment.user_id ) %>
    </div>
  </span>
  </div>
</div>
