<li id="comment-<%= comment.id %>">
  <div class="pull-left">
    <div>
      <%= link_to image_tag("icons/myicon-up.png", alt: "up", height: "16px"),
                  new_vote_path(vote: {timeline_id: comment.timeline_id,
                    reference_id: comment.reference_id, comment_id: comment.id, field: comment.field, value: 1}) %>
      <%= comment.votes_plus %>
    </div>
    <div>
      <%= link_to image_tag("icons/myicon-down.png", alt: "down", height: "16px"),
                  new_vote_path(vote: {timeline_id: comment.timeline_id,
                    reference_id: comment.reference_id, comment_id: comment.id, field: comment.field, value: 0}) %>
      <%= comment.votes_minus %>
    </div>
  </div>
  <% if fork %>
  <div class="pull-right">
    <div>
      <%= link_to image_tag("icons/myicon-fork.png", alt: "escalation", height: "24px"),
                  new_comment_path(comment_id: comment.id) %>
    </div>
  </div>
  <% end %>
  <div class="comment">
  <span class="content">
   <%= link_to '<span class="glyphicon glyphicon-eye-open"></span> Comparer'.html_safe,
                        comment_path(comment.id) %>
    <%= comment.content_markdown.html_safe %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.user.name, comment.user %>
  </span>
  </div>
</li>