<div class="panel panel-default comment">
  <div class="panel-body clearfix">
    <% unless comment.empty_field?( 6 ) %>
        <b> <%= category_hash[comment.category][6] %>
        </b> :
        <h5> <%= comment.title_markdown.html_safe %>   </h5>
        <br/>
    <% end %>
      <% if comment.picture? %>
        <div class="pull-right">
          <div class="thumbnail">
            <a class="fancybox" rel="gallery" href="<%= comment.picture_url %>">
            <%= image_tag comment.picture_url, class: "img-rounded img-responsive" %>
              <div class="glyphicon glyphicon-zoom-in"></div>
            </a>
            <div class="caption">
              <b>  <%= category_hash[comment.category][7] %> :
              </b>
              <%= comment.caption_markdown.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
  <span class="content">
    <% for fi in 0..5 %>
        <% unless comment.empty_field?( fi ) %>
            <b>  <%= category_hash[comment.category][fi] %> :
            </b>
            <div class="text-justify">
            <%= comment["markdown_#{fi}".to_sym].html_safe %>
            </div>
       <% end %>
    <% end %>
    <div class="pull-right">
      <%= "#{t('views.default.published')} #{time_ago_in_words(comment.created_at)} #{t('views.default.by')}" %> <%= link_to comment.user_name, user_path(comment.user_id ) %>
    </div>
  </span>
  </div>
</div>
