<div class="panel panel-default comment">
  <div class="panel-body clearfix">
    <% if comment.title_markdown != "" %>
        <b> <%= fields_hash[6] %>
          <% if display %>
              (<%= comment[:f_6_balance] %> crédits)
          <% end %>
        </b> :
        <b> <%= comment.title_markdown.html_safe %>   </b>
        <br/>
    <% end %>
      <% if comment.picture? %>
        <div class="pull-right">
          <div class="thumbnail">
            <%= image_tag comment.picture_url, class: "img-rounded img-responsive" %>
            <div class="caption">
              <b> <%= fields_hash[7] %>
              <% if display %>
                   (<%= comment[:f_7_balance] %> crédits)
              <% end %> :
              </b>
              <%= comment.caption_markdown.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
  <span class="content">
    <% for fi in 0..5 %>
        <% if comment["markdown_#{fi}".to_sym] != "" %>
            <b> <%= fields_hash[fi] %>
            <% if display %>
                (<%= comment["f_#{fi}_balance".to_sym] %> crédits)
            <% end %> :
            </b>
            <div class="text-justify">
            <%= comment["markdown_#{fi}".to_sym].html_safe %>
            </div>
       <% end %>
    <% end %>
    <div class="pull-right">
      Publiée il y a <%= time_ago_in_words(comment.created_at) %> par <%= link_to comment.user_name, user_path(comment.user_id ) %>
    </div>
  </span>
  </div>
  <div class="panel-footer">
    <div class="clearfix">
      <% if delete %>
          <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer mon analyse".html_safe,
                      comment_path( comment.id ), method: :delete,
                      data: { confirm: "Etes vous certain ?" }, class: "btn btn-danger", :style => "padding: 14px; margin-right: 10px" %>
      <% end %>
        <div class="pull-right">
          <%= link_to "<span class=\"icon-fork big\"></span>".html_safe,
                      new_comment_path(reference_id: comment.reference_id), :class => "btn btn-primary", "data-toggle" => "tooltip",
                      title: "Améliorer cette analyse", :style => "padding: 8px; margin-right: 10px"%>
        </div>
    </div>
  </div>
</div>
