<% provide(:title, "Edition de l'analyse") %>

<h2> Modifier une analyse existante </h2>

La référence :

<%= link_to Reference.where(id: session[:reference_id]).pluck(:title)[0], reference_url(session[:reference_id]) %> <br>
La timeline :
<%= link_to Timeline.where(id: session[:timeline_id]).pluck(:name)[0], timeline_url(session[:timeline_id]) %>
<div class="row">
  <div class="col-md-12 col-lg-8 col-lg-offset-2">

    <%= form_for(@comment) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label "Votre ancien comentaire" %>
        <ol class="comments">
          <%= render @comment %>
        </ol>

        <%= f.label "Le champ" %>
        <%= f.select :field, [["L'éxperience", 1], ["Les résultats", 2],["Les limites", 3],["Quel rapport", 4],["Remarques", 5] ], {}, {class: 'form-control', disabled: 'disabled'} %>

        <%= f.label "Références vers lesquels vous pouvez créer des liens" %>

        <%= select("reference", "reference_id", @list , {}, {id: "list-ref", class: 'form-control'}) %>

        <%= f.label "Votre nouveau commentaire" %>
        <%= f.text_area :content, {:rows => 16,
                                   :class => "form-control", "data-provide" => "markdown" }%>

        <%= f.submit "Modifier le commentaire", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>