<% provide(:title, "Modifier analyse") %>
<div id="my-container" class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
  <div class="list-group">
    <%= link_to "<span class=\"icon-arrow-left normal\"></span>
    Revenir à la controverse".html_safe,
                timeline_path(@comment.timeline_id),
                class: "list-group-item" %>
    <%= link_to "<span class=\"icon-arrow-left normal\"></span>
    Revenir à la référence".html_safe,
                reference_path(@comment.reference_id),
                class: "list-group-item" %>
    <% if @myreference.user_id == current_user.id || current_user.admin %>
        <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier la référence".html_safe,
                    edit_reference_path(@myreference.id),
                    class: "list-group-item" %>
        <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer la référence".html_safe,
                    reference_path(@myreference.id), method: :delete,
                    data:                                    {confirm: "Etes vous certain ?"},
                    class:                                   "list-group-item list-group-item-danger" %>
    <% end %>
  </div>
    <% if @comment.user_id == current_user.id || current_user.admin %>
    <div class="list-group">
        <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer l'analyse".html_safe,
                    comment_path(@comment.id), method: :delete,
                    data:                                    {confirm: "Etes vous certain ?"},
                    class:                                   "list-group-item list-group-item-danger" %>
    </div>
    <% end %>

</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
<div class="row">
<div class="col-md-12 col-lg-7">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> Modifier mon analyse </h2>
      <br/>
      Pour la référence :

      <%= link_to @myreference.title,
                  reference_url(@comment.reference_id) %> <br>

      Dans la controverse :
      <%= link_to @comment.timeline_name.html_safe,
                  timeline_url(@comment.timeline_id) %>
    </div>
    <div class="panel-body">
      <div class="panel panel-info">
        <div class="panel-heading">
          Vous pouvez tout à fait laissez certains champs vides.
          Plus votre analyse est concise et précise, mieux cela est pour les lecteurs.
          <br/>
          Le <a href="http://openclassrooms.com/courses/redigez-en-markdown" target="_blank">markdown est supporté</a>.
          De plus vous pouvez insérer des liens internes vers les références de cette controverse
          (bouton <span class="icon-reference normal"></span> dans la barre d'outils) afin de permettre
          au lecteur une meilleure navigation entre les références de la controverse.
        </div>
      </div>
      <%= form_for(@comment, html: {multipart: true}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="switcher pull-right">
            <p class="fieldset">
              <%= f.radio_button :public, true %>
              <label for="comment_public_true">Public</label>
              <%= f.radio_button :public, false %>
              <label for="comment_public_false">Privé</label>
              <span class="switch"></span>
            </p>
          </div>
          <br/>
          <br/>
          <%= f.label "Accroche" %>
          <div id="characterLeft7"></div>

          <%= f.text_area :title, {rows:          4, :class => "form-control textarea",
                                   id:            "description7",
                                   "data-provide" => "markdown"} %>
          <div class="panel panel-info">
            <div class="panel-heading">
              L'accroche permet de situer en une phrase la référence dans la controverse.
            </div>
          </div>
          <br/>
          <% for fi in 0..5 %>
              <% if @myreference.article || [0, 3, 4, 5].include?(fi) %>
                  <% if @myreference.article %>
                      <%= f.label article_hash[fi] %>
                  <% else %>
                      <%= f.label review_hash[fi] %>
                  <% end %>
                  <div id="characterLeft<%= fi %>"></div>

                  <%= f.text_area "f_#{fi}_content".to_sym, {rows:          3,
                                                             :class         => "form-control textarea",
                                                             id:            "description#{fi}",
                                                             "data-provide" => "markdown"} %>
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <% case fi %>
                      <% when 0 %>
                          <% if @myreference.article %>
                              L'introduction permet au lecteur de situer cette article dans
                              la controverse et d'amorcer en douceur l’expérience et les résultats de l'étude.
                          <% else %>
                              Le résumé de la review permet au lecteur de
                              comprendre cette étude dans le cadre de cette controverse .
                          <% end %>
                      <% when 1 %>
                          Résumé de l'expérience (ou des expériences) réalisé dans cette étude
                      <% when 2 %>
                          Résumé du résultat (ou des résultats) de l’expérience (ou des expériences)
                      <% when 3 %>
                          Un résumé des limites de l’étude, que ce soit méthodologique, conceptuelle ou
                          philosophique. Toute étude à ses limites.
                      <% when 4 %>
                          Ce que cette étude apporte de plus et comment elle permet d'éclairer
                          la controverse.
                      <% when 5 %>
                          Toutes les remarques qui ne rentrent pas dans les champs précédents.
                          Cela peut être sur les affiliations ou les financements douteux de l'étude.
                          Une anecdote sur ce papier ou ces auteurs, ou simplement une remarque totalement
                          subjective.
                      <% end %>
                    </div>
                  </div>
                  <br/>
              <% end %>
          <% end %>

          <%= f.hidden_field :has_picture, value: @comment.picture? %>
          <%= f.hidden_field :delete_picture, value: false %>
          <%= f.hidden_field :reference_id, value: @comment.reference_id %>
          <%= f.hidden_field :timeline_id, value: @comment.timeline_id %>
          <div id="caption" style="display: none">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div id="original">
                  <%= image_tag @comment.picture_url, class: "img-rounded img-responsive" %>
                </div>
                <div id="uploaded" style="display: none">
                  <%= image_tag '', class: "img-rounded img-responsive" %>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <strong> Légende de la figure </strong> <strong id="caption-name"></strong>
                <br/>

                <div id="characterLeft6"></div>
                <%= f.text_area :caption, {rows:          3,
                                           :class         => "form-control textarea", id: "description6",
                                           "data-provide" => "markdown"} %>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    La légende de votre figure, facultative mais vivement recommandée.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="size-warning" class="row" style="display: none">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>
                  <span class="glyphicon glyphicon-warning-sign"></span>
                  Cette image est de trop petite résolution, ou bien est trop grande (>5Mo)
                </strong>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <%= f.button "Modifier mon analyse &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                       class: 'pull-right btn btn-success btn-lg',
                       data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Modification en cours "} %>
      <% end %>
      <div>
        <div id="upload-btn" class="btn btn-default btn-lg fileinput-button">
          <i class="glyphicon glyphicon-folder-open"></i>&nbsp
          <span id="ajouter"> Ajouter une figure </span>
          <input accept="image/jpeg,image/gif,image/png,image/svg" id="fileupload" type="file" name="figure[picture]" multiple>
        </div>
        <div id="progress" style="display: none">
          <svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
            </path>
          </svg>
        </div>
        <div id="delete" class="btn btn-danger btn-lg" style="display: none">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
          Supprimer la figure
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-lg-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title"><%= @myreference.article ? "Article" : "Review" %> : <%= @myreference.title %> </h6>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="bold">
            Les auteurs de l'étude :
          </div> <%= @myreference.author %> </li>
        <li class="list-group-item">
          <div class="bold">
            Année de publication :
          </div> <%= @myreference.display_year %> </li>
        <li class="list-group-item">
          <div class="bold">
            Journal :
          </div> <%= @myreference.journal %></li>
        <% unless @myreference.abstract_markdown.blank? %>
            <li class="list-group-item">
              <div class="bold">
                Abstract (dans sa langue originale) :
              </div>
              <div class="justify">
                <%= @myreference.abstract_markdown.html_safe %>
              </div>
            </li>
        <% end %>
        <% unless @myreference.doi.blank? %>
            <li class="list-group-item">
              <div class="bold">
                Identifiant unique :
              </div> <%= @myreference.doi %></li>
        <% end %>
        <li class="list-group-item">
          <div class="bold">
            Lien vers la référence
            <%= @myreference.open_access ? "(<span class=\"icon icon-lock normal\"></span> Accés libre)".html_safe : "" %>
            :
          </div> <%= link_to @myreference.url, @myreference.url, class: "break-word", target: "_blank" %></li>
      </ul>
    </div>
    <div class="panel-footer clearfix">
                <span class="pull-right">
                  <br/>
                  Référence ajoutée par <%= link_to @myreference.user_name, user_path(@myreference.user_id) %>
                </span>

      <div class="sticky" data-placement="left"
           data-toggle="tooltip"
           title="<%= @myreference.nb_contributors.to_s + (@myreference.nb_contributors > 1 ? " contributeurs" : " contributeur") %>">
        <span class="big icon-users"></span>
        <%= @myreference.nb_contributors %>
      </div>
      <div class="sticky" data-placement="top"
           data-toggle="tooltip"
           title="<%= @myreference.nb_edits.to_s + (@myreference.nb_edits > 1 ? " analyses" : " analyse") %>">
        <span class="big icon-comment"></span>
        <%= @myreference.nb_edits %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="mytimlist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <% if @tim_list.any? %>
              Créer un lien vers une controverse
          <% else %>
              Opération impossible
          <% end %>
        </h4>
      </div>
      <% if @tim_list.any? %>
          <div class="modal-body">
            <%= select("timeline", "timeline_id", @tim_list, {}, {id: "list-tim", class: 'form-control'}) %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" data-toggled="no" id="save-btn-tim"> Ajouter
            </button>
          </div>
      <% else %>
          <div class="modal-body">
            La controverse sur laquelle vous vous trouvez n'est actuellement liée à aucune autre.
            <br/>
            <br/>
            <%= link_to "<span class=\"glyphicon glyphicon-link\" >
        </span> Créer des liens entre cette controverse et d'autres".html_safe,
                        edges_path(timeline_id: @comment.timeline_id),
                        class: "btn btn-primary btn-block", target: "_blank" %>
            <br/>
            <br/>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="mylist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Créer un lien vers une référence </h4>
      </div>
      <div class="modal-body">
        <%= select("reference", "reference_id", @list, {}, {id: "list-ref", class: 'form-control'}) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn"> Ajouter
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myref" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Ajouter un lien externe </h4>
      </div>
      <div class="modal-body">
        <input id="http-text" type="text" class="form-control" placeholder="http://">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn-http">
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warning" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content panel-warning">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> Attention </h4>
      </div>
      <div class="modal-body">
        Rendre une contribution privé vous fera perdre tous les crédits qui lui ont été attribués.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#comment_has_picture').val() === 'true') {
            $('#caption').show();
            $('#delete').show();
            $('#ajouter').text("Modifier la figure");
        }
    });
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: "<%= figures_url + "?reference_id=" + @comment.reference_id.to_s %>",
            type: 'POST',
            dataType: 'json',
            done: function (e, data) {
                $('#upload-btn').show(300);
                $('#progress').hide(300);
                if (data.result.id == null) {
                    $('#size-warning').show(300);
                } else {
                    $('#comment_delete_picture').val('false');
                    $('#comment_has_picture').val('true');
                    $('#caption').show(300);
                    $('#original').hide(300);
                    $('#uploaded').show(300);
                    $('#size-warning').hide();
                    $('#uploaded img').attr("src", data.result.picture.url);
                }
            },
            start: function (e, data) {
                $('#upload-btn').hide();
                $('#progress').show();
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    $('#delete').click(function () {
        $('#caption').hide(300);
        $('#delete').hide(300);
        $('#ajouter').text("Ajouter une figure à cette analyse");
        $('#comment_delete_picture').val('true');
    });
    $('input[type=radio]', '.switcher').change(function () {
        if ($('input[type=radio]:checked', '.switcher').val() === 'false') {
            if ($('#best_comment').text() === 'true') {
                $('#warning').modal('show');
            } else if (!($('#balance_comment').text() === '0')) {
                $('#warning').modal('show');
            }
        }
    });
    $('#save-btn').on('click', function (event) {
        this.setAttribute("data-toggled", 'yes');
    });
    $('#save-btn-tim').on('click', function (event) {
        this.setAttribute("data-toggled", 'yes');
    });
    $('#save-btn-http').on('click', function (event) {
        this.setAttribute("data-toggled", 'yes');
    });
</script>

<% if @myreference.article %>
    <script type="text/javascript">
        $.each(['0', '1', '2', '3', '4', '5', '6', '7' ], function (index, value) {
            $(document).ready(function () {
                if (value === '7') {
                    var max = 180;
                } else {
                    var max = 1000;
                }
                var len = $('#description' + value).val().length;
                if (len >= max) {
                    var ch = len - max;
                    $('#characterLeft' + value).css({"color": "#a94442"});
                    $('#characterLeft' + value).text(ch + ' caractères en trop !');
                } else {
                    var ch = max - len;
                    $('#characterLeft' + value).css({"color": "#5cb85c"});
                    $('#characterLeft' + value).text(ch + ' caractères restants.');
                }
            });
            $('#description' + value).keyup(function () {
                if (value === '7') {
                    var max = 180;
                } else {
                    var max = 1000;
                }
                var len = $(this).val().length;
                if (len >= max) {
                    var ch = len - max;
                    $('#characterLeft' + value).css({"color": "#a94442"});
                    $('#characterLeft' + value).text(ch + ' caractères en trop !');
                } else {
                    var ch = max - len;
                    $('#characterLeft' + value).css({"color": "#5cb85c"});
                    $('#characterLeft' + value).text(ch + ' caractères restants.');
                }
            });
        });
    </script>
<% else %>
    <script type="text/javascript">
        $.each(['0', '3', '4', '5', '6', '7' ], function (index, value) {
            $(document).ready(function () {
                if (value === '7') {
                    var max = 180;
                } else {
                    if (value === '0') {
                        var max = 4000;
                    } else {
                        var max = 1000;
                    }
                }
                var len = $('#description' + value).val().length;
                if (len >= max) {
                    var ch = len - max;
                    $('#characterLeft' + value).css({"color": "#a94442"});
                    $('#characterLeft' + value).text(ch + ' caractères en trop !');
                } else {
                    var ch = max - len;
                    $('#characterLeft' + value).css({"color": "#5cb85c"});
                    $('#characterLeft' + value).text(ch + ' caractères restants.');
                }
            });
            $('#description' + value).keyup(function () {
                if (value === '7') {
                    var max = 180;
                } else {
                    if (value === '0') {
                        var max = 4000;
                    } else {
                        var max = 1000;
                    }
                }
                var len = $(this).val().length;
                if (len >= max) {
                    var ch = len - max;
                    $('#characterLeft' + value).css({"color": "#a94442"});
                    $('#characterLeft' + value).text(ch + ' caractères en trop !');
                } else {
                    var ch = max - len;
                    $('#characterLeft' + value).css({"color": "#5cb85c"});
                    $('#characterLeft' + value).text(ch + ' caractères restants.');
                }
            });
        });
    </script>
<% end %>