<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= image_tag("icons/myicon-laurel.png", alt: "laurel", height: "24px")%>
      La meilleur analyse dans la même section :
      <ol class="comments">
        <%= render @best_comment, ref: true, view: false, fork: true, diff: false %>
      </ol>
    </div>
  </div>
</div>
<div class="col-md-7">
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button"
            id="dropdownMenuTri" data-toggle="dropdown">
      Trier par
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
      <li <%= params[:sort]=='balance' || params[:sort].nil? ? "class=selected" : nil %> >
        <%= link_to "Les meilleurs compétiteurs (par défault)", comments_path(:sort=> 'balance', field: params[:field],
                                         reference_id: params[:reference_id], :order => params[:order]) %> </li>
      <li <%= params[:sort]=='created_at' ? "class=selected" : nil %> >
        <%= link_to "Date de création", comments_path(:sort=> 'created_at', field: params[:field],
                                         reference_id: params[:reference_id], :order => params[:order]) %> </li>
      <li <%= params[:sort]=='votes_plus' ? "class=selected" : nil %> >
        <%= link_to "Nombre de votes positifs", comments_path(:sort => 'votes_plus', field: params[:field],
                                         reference_id: params[:reference_id], :order => params[:order]) %> </li>
      <li <%= params[:sort]=='votes_minus' ? "class=selected" : nil %> >
        <%= link_to "Nombre de votes négatifs", comments_path(:sort => 'votes_minus', field: params[:field],
                                         reference_id: params[:reference_id], :order => params[:order]) %> </li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button"
            id="dropdownMenuOrder" data-toggle="dropdown">
      Ordre
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
      <li <%= params[:order]=='desc' || params[:order].nil? ? "class=selected" : nil %> >
        <%= link_to "Décroissant (par défault)", comments_path(:sort=> params[:sort], field: params[:field],
                                             reference_id: params[:reference_id], :order => 'desc') %> </li>
      <li <%= params[:order]=='asc' ? "class=selected" : nil %> >
        <%= link_to "Croissant", comments_path(:sort => 'created_at', field: params[:field],
                                             reference_id: params[:reference_id], :order => 'asc') %> </li>
    </ul>
  </div>
  <div>
    </br>
  </div>
<ol class="comments">
<%= render @comments, ref: true, view: true, fork: true, diff: false %>
</ol>
<%= paginate @comments %>
</div>