<% provide(:title, "New analyse") %>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= render 'layouts/panel' %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
        <div class="row">
          <h2> Créer une analyse </h2>

          <div class="center">
            Pour la référence :

            <%= link_to Reference.where(id: session[:reference_id]).pluck(:title)[0],
                                reference_url(session[:reference_id]) %> <br>

            Dans la timeline :
            <%= link_to Timeline.where(id: session[:timeline_id]).pluck(:name)[0],
                                timeline_url(session[:timeline_id]) %>
          </div>
          <div class="col-md-12 col-lg-6 col-lg-offset-2">
            <%= form_for(@comment, url: comments_path, method: :post) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <% for fi in 1..5 %>
                    <%= f.label fields_hash[fi] %>

                    <%= f.text_area "f_#{fi}_content".to_sym, {:rows => 8,
                                               :placeholder => fields_hash[fi],
                                               :class => "form-control textarea",
                                               "data-provide" => "markdown" }%>
                <% end %>


                <% if params[:comment_id] %>
                  <%= f.hidden_field :id, value: @comment.id %>
                <% end %>

                <%= f.submit "Enregistrer le commentaire", class: "btn btn-primary"%>
            <% end %>
          </div>
          <div class="col-md-12 col-lg-4">
            <% if params[:comment_id] %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <%= image_tag("icons/myicon-laurel.svg", alt: "laurel", height: "24px")%>
                    L'analyse que vous souhaitez améliorer :
                    <ol class="comments">
                      <%= render @comment, vote: true %>
                    </ol>
                  </div>
                </div>
            <% end %>
           </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mylist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Créer un lien vers une référence </h4>
      </div>
      <div class="modal-body">
        <%= select("reference", "reference_id", @list , {}, {id: "list-ref", class: 'form-control'}) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn"> Ajouter </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myref" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Ajouter un lien externe </h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">http://</span>
          <input id="http-text" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggled="no" id="save-btn-http"> Ajouter </button>
      </div>
    </div>
  </div>
</div>



<%= javascript_tag do %>
    var mysavebtn = document.getElementById('save-btn');
    $('#save-btn').on('click', function (event) {
    mysavebtn.setAttribute("data-toggled",'yes');
    });

    var myref = document.getElementById('save-btn-http');
    $('#save-btn-http').on('click', function (event) {
    myref.setAttribute("data-toggled",'yes');
    });

    $(function() {
    $('.textarea').autogrow();
    });
<% end %>