<% provide(:title, "Création d'une analyse") %>

<h2> Créer une analyse </h2>

Pour la référence :

<%= link_to Reference.where(id: session[:reference_id]).pluck(:title)[0], reference_url(session[:reference_id]) %> <br>

Dans la timeline :
<%= link_to Timeline.where(id: session[:timeline_id]).pluck(:name)[0], timeline_url(session[:timeline_id]) %>

<div class="row">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">

    <% if params[:comment_id] %>
        <div class="row">
          <div class="col-md-12 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= image_tag("icons/myicon-parent.png", alt: "laurel", height: "24px")%>
            L'analyse que vous souhaitez améliorer :
            <ol class="comments">
              <%= render @comment, ref: false, view: true, fork: false, diff: false %>
            </ol>
          </div>
        </div>
          </div>
        </div>
    <% end %>
    <%= form_for(@comment, url: comments_path, method: :post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label "Références vers lesquels vous pouvez créer des liens" %>

        <%= select("reference", "reference_id", @list , {}, {id: "list-ref", class: 'form-control'}) %>

        <% for fi in 1..5 %>
            <%= f.label fields_hash[fi] %>

            <%= f.text_area "content_#{fi}".to_sym, {:rows => 8, :placeholder => "A vous de jouer",
                                       :class => "form-control",
                                       "data-provide" => "markdown" }%>
        <% end %>

        <% if params[:comment_id] %>
          <%= f.hidden_field :id, value: @comment.id %>
        <% end %>

        <%= f.submit "Enregistrer le commentaire", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>