<% provide(:title, "Analyse") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"></span>
    Revenir à la controverse".html_safe,
                    timeline_path(@comment.timeline_id),
                    class: "list-group-item" %>
        <%= link_to "<span class=\"icon-arrow-left normal\"></span>
    Revenir à la référence".html_safe,
                    reference_path(@comment.reference_id),
                    class: "list-group-item" %>

        <% if logged_in? && (@comment.user_id == current_user.id || current_user.admin) %>
            <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier l'analyse".html_safe,
                        edit_comment_path(@comment.id),
                        class: "list-group-item" %>
            <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer l'analyse".html_safe,
                        comment_path(@comment.id), method: :delete,
                        data:                              {confirm: "Etes vous certain ?"},
                        class:                             "list-group-item list-group-item-danger" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-lg-10">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
                Analyse de la référence
                <%= link_to(@comment.reference_title, reference_path(@comment.reference_id)) %>
              </h4>
            </div>
            <div class="panel-body">
              <%= render @comment, display: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>