<div class="panel-group" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading1">
      <h4 class="panel-title clearfix">
        <a data-toggle="collapse" href="#Collapse<%= number_id %>" class="pull-right Collapse<%= number_id %> glyphicon glyphicon-chevron-down"></a>
        <a data-toggle="collapse" href="#Collapse<%= number_id %>">
          <%= title %>
        </a>
      </h4>
    </div>
    <div id="Collapse<%= number_id %>" data-parent="#<%= parent %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body clearfix">
        <% if response %>
        <%= render 'rhone_alpes/reponse', reponse: number_id, title: title %>
        <% end %>
        <%= render "rhone_alpes/rhone_alpes_#{number_id}" %>
        <% if answers.any? %>
            <h4 style="color: rgb(38, 166, 154)">Les réponses :</h4>
            <%  answers.each do |answer| %>
                <div id="answer<%= answer[:id] %>" class="panel panel-default" role="tablist" aria-multiselectable="true">
                  <div class="panel-body clearfix justify">
                    <%= simple_format(answer[:content]) %>
                    <br>
                    <div class="pull-right">
                      <%= answer[:name] %>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>