<% provide(:title, "Transition sociétale et écologique en Rhône-Alpes") %>
<div id="my-container" class="container-fluid">
    <h1>
      La transition sociétale et écologique en Rhône-Alpes
    </h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">

          <div class="box">
            <div class="container-jets">
              <span class="icon glyphicon glyphicon-filter"></span>
              <input type="search" id="jetsSearch" placeholder="Filtrer" />
            </div>
          </div>
          <div id="jetsContent" data-toggle="buttons">
          <%= render 'rhone_alpes/actors', number_id: "1", name: "Nadège Riotte" %>
          <%= render 'rhone_alpes/actors', number_id: "1", name: "Jean Duverger" %>
          <%= render 'rhone_alpes/actors', number_id: "1", name: "Alain Chabrolle" %>
          <%= render 'rhone_alpes/actors', number_id: "1", name: "Maxime Meyer" %>

          <%= render 'rhone_alpes/actors', number_id: "2", name: "Patricia Thillardon" %>
          <%= render 'rhone_alpes/actors', number_id: "2", name: "Simone Larcade" %>
          <%= render 'rhone_alpes/actors', number_id: "2", name: "Jean Louis Gagnaire" %>

          <%= render 'rhone_alpes/actors', number_id: "3", name: "Gilles Martin" %>
          <%= render 'rhone_alpes/actors', number_id: "3", name: "Georges Erome" %>
          <%= render 'rhone_alpes/actors', number_id: "3", name: "Frederic Jacquemart" %>

          <%= render 'rhone_alpes/actors', number_id: "4", name: "Anne-Lise Exertier" %>
          <%= render 'rhone_alpes/actors', number_id: "4", name: "Bernard Lacoste" %>

          <%= render 'rhone_alpes/actors', number_id: "5", name: "Alain Chabrolle" %>
          <%= render 'rhone_alpes/actors', number_id: "5", name: "Emeline Buame" %>
          <%= render 'rhone_alpes/actors', number_id: "5", name: "Maxime Meyer" %>

          <%= render 'rhone_alpes/actors', number_id: "6", name: "Véronique Moreira" %>
          <%= render 'rhone_alpes/actors', number_id: "6", name: "Benoit Leclaire" %>
          <%= render 'rhone_alpes/actors', number_id: "6", name: "Eliane Giraud" %>
          <%= render 'rhone_alpes/actors', number_id: "6", name: "Loïc Rigaud" %>

          <%= render 'rhone_alpes/actors', number_id: "7", name: "Anne Lautredou" %>
          <%= render 'rhone_alpes/actors', number_id: "7", name: "Hervé Piaton" %>

          <%= render 'rhone_alpes/actors', number_id: "8", name: "Christine Puthod" %>
          <%= render 'rhone_alpes/actors', number_id: "8", name: "Gaëlle Agnès" %>
          <%= render 'rhone_alpes/actors', number_id: "8", name: "JM Lebail" %>
          <%= render 'rhone_alpes/actors', number_id: "8", name: "Farida Boudaoud" %>
          <%= render 'rhone_alpes/actors', number_id: "8", name: "Olivier Tur" %>
          <%= render 'rhone_alpes/actors', number_id: "8", name: "Cyril Kretzschmar" %>
          <%= render 'rhone_alpes/actors', number_id: "8", name: "Coralie Echinard" %>

          <%= render 'rhone_alpes/actors', number_id: "9", name: "Alain Chabrolle" %>
          <%= render 'rhone_alpes/actors', number_id: "9", name: "Maxime Meyer" %>

          <%= render 'rhone_alpes/actors', number_id: "10", name: "Gérard Leras" %>
          <%= render 'rhone_alpes/actors', number_id: "10", name: "Edouard Simonian" %>
          <%= render 'rhone_alpes/actors', number_id: "10", name: "Hervé Solignac" %>
          <%= render 'rhone_alpes/actors', number_id: "10", name: "Julie Laurain" %>

          <%= render 'rhone_alpes/actors', number_id: "11", name: "Luc Voiturier" %>

          <%= render 'rhone_alpes/actors', number_id: "12", name: "Luc Vogel" %>

          <%= render 'rhone_alpes/actors', number_id: "13", name: "André Friedenberg" %>
          <%= render 'rhone_alpes/actors', number_id: "13", name: "Maëva Lazare" %>

          <%= render 'rhone_alpes/actors', number_id: "14", name: "Nadège Riotte" %>
          <%= render 'rhone_alpes/actors', number_id: "14", name: "Jean Duverger" %>

          <%= render 'rhone_alpes/actors', number_id: "16", name: "Laurent Legendre" %>
          <%= render 'rhone_alpes/actors', number_id: "16", name: "Benoit Verzat" %>
          <%= render 'rhone_alpes/actors', number_id: "16", name: "Vincent Fristot" %>
          <%= render 'rhone_alpes/actors', number_id: "16", name: "Pascal Clouaire" %>

          <%= render 'rhone_alpes/actors', number_id: "17", name: "Hugues Vernier" %>
          <%= render 'rhone_alpes/actors', number_id: "17", name: "Philippe Mejean" %>

          <%= render 'rhone_alpes/actors', number_id: "18", name: "Hervé Piaton" %>
          <%= render 'rhone_alpes/actors', number_id: "18", name: "Anne-Marie Schmutz" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#CollapseG0" class="pull-right CollapseG1 glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#CollapseG0">
                        Les acteurs de la transition sociétale et écologique en Rhône-Alpes : décryptage par les jeunes
                      </a>
                    </h4>
                  </div>
                  <div id="CollapseG0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <%= render 'rhone_alpes/rhone_alpes_synthese' %>
                      <%= render 'rhone_alpes/panel_group', response: false, parent: "CollapseG0", number_id: "synthese_annexes", title: "Annexes" %>
                      <%= render 'rhone_alpes/panel_group', response: false, parent: "CollapseG0", number_id: "synthese_references", title: "Références" %>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#CollapseG1" class="pull-right CollapseG1 glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#CollapseG1">
                        Les acteurs de la gouvernance
                      </a>
                    </h4>
                  </div>
                  <div id="CollapseG1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG1", number_id: "1", title: "Les acteurs politiques" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG1", number_id: "2", title: "Les acteurs socio-économiques" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG1", number_id: "3", title: "Les acteurs de la société civile" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG1", number_id: "4", title: "Recherche et formation dans la transition écologique" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG1", number_id: "5", title: "La place de la transition écologique et sociétale dans le débat public" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#CollapseG2" class="pull-right CollapseG2 glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#CollapseG2">
                        Les acteurs par secteurs territoriaux
                      </a>
                    </h4>
                  </div>
                  <div id="CollapseG2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG2", number_id: "6", title: "Énergie et transports" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG2", number_id: "7", title: "Gestion de l'agriculture et de l'eau" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG2", number_id: "10", title: "Aménagement du territoire et foncier, rural-urbain" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG2", number_id: "12", title: "Réglementation, normes, fiscalité et financement" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#CollapseG3" class="pull-right CollapseG3 glyphicon glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#CollapseG3">
                        Les acteurs par secteurs sociaux
                      </a>
                    </h4>
                  </div>
                  <div id="CollapseG3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG3", number_id: "8", title: "Économie, travail et inégalités" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG3", number_id: "9", title: "Alimentation et santé" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG3", number_id: "11", title: "Consommation, recyclage, démographie et éducation" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG3", number_id: "13", title: "Données et démocratie" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title clearfix">
                      <a data-toggle="collapse" href="#CollapseG4" class="pull-right glyphicon CollapseG4 glyphicon-chevron-down"></a>
                      <a data-toggle="collapse" href="#CollapseG4">
                        Innovations et expérimentations alternatives en Rhône-Alpes
                      </a>
                    </h4>
                  </div>
                  <div id="CollapseG4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body clearfix">
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG4", number_id: "14", title: "Les valeurs de la transition" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG4", number_id: "15", title: "Les monnaies complémentaires" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG4", number_id: "16", title: "Les villes en transition" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG4", number_id: "17", title: "La Biovallée" %>
                      <%= render 'rhone_alpes/panel_group', response: true, parent: "CollapseG4", number_id: "18", title: "Les circuits courts" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.collapse').on('shown.bs.collapse', function () {
        console.log($(this));
        collapse = $("." + $(this).attr("id"));
        if ($(this).hasClass("in")) {
            collapse.removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
        }
    });
    $('.collapse').on('hidden.bs.collapse', function () {
        console.log($(this));
        collapse = $("." + $(this).attr("id"));
        if (!$(this).hasClass("in")) {
            collapse.removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
        }
    });
    $('.actor').click(function (e) {
        href = $(this).attr("href");
        ref = $(href);
        $(ref.data("parent")).collapse('show');
        ref.collapse('show');
        if (ref.length) {
            e.stopPropagation();
            e.preventDefault();
            $('html, body').animate({
                scrollTop: ref.offset().top - 120
            }, 500);
            return false
        } else {
            return true
        }
    });
    var jets = new Jets({
        searchTag: '#jetsSearch',
        contentTag: '#jetsContent'
    });
</script>
