<% provide(:title, "Nouveau partenaire") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"></span> #{t('views.navigation.back')}".html_safe,
                    partners_path,
                    class: "list-group-item" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2> <%= t('views.partners.edit') %>
          </h2>
        </div>
        <div class="panel-body">
          <%= form_for(@partner, html: {multipart: true}) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= f.label t('views.partners.name') %>
              <%= f.text_area :name, {rows:          3, :placeholder => t('views.partners.name'),
                                      :class         => "form-control textarea"} %>
              <br/>
              <%= f.label t('views.partners.description') %>
              <%= f.text_area :description, {rows:          3, :placeholder => t('views.partners.description'),
                                             :class         => "form-control textarea"} %>
              <br/>
              <%= f.label t('views.partners.why') %>
              <%= f.text_area :why, {rows:          3, :placeholder => t('views.partners.why'),
                                     :class         => "form-control textarea"} %>
              <br/>
              <%= f.hidden_field :has_picture, value: @partner.picture? %>
              <%= f.hidden_field :delete_picture, value: false %>
              <div id="caption" style="display: none">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div id="original">
                      <%= image_tag @partner.picture_url, class: "img-circle img-responsive" %>
                    </div>
                    <div id="uploaded" style="display: none">
                      <%= image_tag '', class: "img-circle img-responsive" %>
                    </div>
                  </div>
                </div>
              </div>
              <div id="size-warning" class="row" style="display: none">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>
                      <span class="glyphicon glyphicon-warning-sign"></span>
                      <%= t('views.picture.invalid_figure') %>
                    </strong>
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <%= f.button "#{t('views.partners.edit')} &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success btn-lg pull-right',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.editing')} "} %>
          <% end %>
          <div>
            <div id="upload-btn" class="btn btn-default btn-lg fileinput-button">
              <i class="glyphicon glyphicon-folder-open"></i>&nbsp
              <span id="ajouter"> <%=t('views.picture.add_figure')%> </span>
              <input accept="image/jpeg,image/gif,image/png,image/svg" id="fileupload" type="file" name="figure[picture]" multiple>
            </div>
            <div id="progress" style="display: none">
              <svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
                </path>
              </svg>
            </div>
            <div id="delete" class="btn btn-danger btn-lg" style="display: none">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
              <%= t('views.picture.delete_figure') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".textarea").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
    });
    $(document).ready(function () {
        if ($('#partner_has_picture').val() === 'true') {
            $('#caption').show();
            $('#delete').show();
            $('#ajouter').text("<%= t('views.picture.edit_figure') %>");
        }
    });
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: "<%= figures_url + "?partner_id=" + @partner.id.to_s  + "&user_id=" +  @partner.user_id.to_s %>",
            type: 'POST',
            dataType: 'json',
            done: function (e, data) {
                $('#upload-btn').show(300);
                $('#progress').hide(300);
                console.log(data.result);
                if (data.result.id == null) {
                    $('#size-warning').show(300);
                } else {
                    $('#partner_has_picture').val('true');
                    $('#partner_delete_picture').val('false');
                    $('#caption').show(300);
                    $('#original').hide(300);
                    $('#uploaded').show(300);
                    $('#size-warning').hide();
                    $('#uploaded img').attr("src", data.result.picture.url);
                }
            },
            start: function (e, data) {
                $('#upload-btn').hide();
                $('#progress').show();
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    $('#delete').click(function () {
        $('#caption').hide(300);
        $('#delete').hide(300);
        $('#ajouter').text("<%= t('views.picture.add_figure') %>");
        $('#partner_delete_picture').val('true');
    });
</script>
