<% provide(:title, "Nouveau partenaire") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"></span> #{t('views.navigation.back')}".html_safe,
                    partners_path,
                    class: "list-group-item" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2> <%= t('views.partners.new') %>
          </h2>
        </div>
        <div class="panel-body">
          <%= form_for(@partner, html: {multipart: true}) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= f.label t('views.partners.name') %>
              <%= f.text_area :name, {rows:          3, :placeholder => t('views.partners.name'),
                                         :class         => "form-control textarea"} %>
              <br/>
              <%= f.label t('views.partners.url') %>
              <%= f.text_area :url, {rows:          1, :placeholder => t('views.partners.url'),
                                             :class         => "form-control"} %>
              <br/>
              <%= f.label t('views.partners.description') %>
              <%= f.text_area :description, {rows:          3, :placeholder => t('views.partners.description'),
                                         :class         => "form-control textarea"} %>
              <br/>
              <%= f.label t('views.partners.why') %>
              <%= f.text_area :why, {rows:          3, :placeholder => t('views.partners.why'),
                                         :class         => "form-control textarea"} %>
              <br/>
              <%= f.button "#{t('views.partners.create')} &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success btn-lg pull-right',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.publishing')} "} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".textarea").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
    });
</script>
