<% provide(:title, "Mes contributions") %>
<div id="my-container" class="container-fluid">
<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title clearfix">
        <a data-toggle="collapse" href="#collapseOne" class="pull-right glyphicon <%= @timelines.any? ? "glyphicon-chevron-up" : "glyphicon-chevron-down" %>"></a>
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Vos controverses (<%= @timelines.length %>)
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse <%= @timelines.any? ? "in" : nil %>" role="tabpanel" aria-labelledby="headingOne">
      <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-8"> Controverse </th>
        <th class="col-xs-3"> Thèmes </th>
        <% if current_user.private_timeline %>
            <th class="col-xs-2 center"> Publique </th>
        <% else %>
        <th class="col-xs-1 center"> Modifier </th>
        <th class="col-xs-1 center"> Supprimer </th>
        <% end %>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@timelines.any? %>
          <tr class="notification-timeline">
            <td> <%= link_to "Vous n'avez pas encore créé de controverse",
                             new_timeline_path %> </td>
            <td>  </td>
            <td>  </td>
            <% unless current_user.private_timeline %>
            <td>  </td>
            <% end %>
          </tr>
      <% else %>
          <% @timelines.each do |timeline| %>
              <tr class="notification-timeline">
                <td> <%= link_to timeline.name.html_safe, timeline_path(timeline) %> </td>
                <td>
                  <% timeline.get_tag_list.each do |name| %>
                      <span class="icon-<%= name %>"></span>
                  <% end %>
                </td>
                <% if current_user.private_timeline %>
                    <% if timeline.private %>
                        <td class="center"> <%= link_to "<span class=\"icon icon-locked normal static-red\"></span>".html_safe,
                                                        set_public_timelines_path( timeline_id: timeline.id ),
                                                        data: { confirm: "Rendre la controverse publique est irréversible, êtes vous certain de votre choix ?" } %> </td>
                    <% else %>
                        <td class="center"> <span class="icon icon-lock normal static-green"></span>  </td>
                    <% end %>
                <% else %>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-edit\"> </span>".html_safe,
                                                edit_timeline_path( timeline.id ) %>  </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                                                timeline_path( timeline.id ), method: :delete,
                                                data: { confirm: "Êtes-vous certain ?" } %>  </td>
                <% end %>
              </tr>
          <% end %>
          <tr class="notification-timeline">
            <td> <%= link_to "<span class=\"glyphicon glyphicon-plus-sign\"> </span> Créer une nouvelle controverse".html_safe,
                             new_timeline_path %> </td>
            <td>  </td>
            <td>  </td>
            <% unless current_user.private_timeline %>
                <td>  </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title clearfix">
        <a data-toggle="collapse" href="#collapseZero" class="pull-right glyphicon <%= @frames.any? ? "glyphicon-chevron-up" : "glyphicon-chevron-down" %>"></a>
        <a data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          Vos propositions d'amélioration de controverses (<%= @frames.length %>)
        </a>
      </h4>
    </div>
    <div id="collapseZero" class="panel-collapse collapse <%= @frames.any? ? "in" : nil %>" role="tabpanel" aria-labelledby="headingOne">
      <table id="notification-timelines" class="table table-striped table-hover">
        <thead>
        <tr>
          <th class="col-sm-1 center"> Crédits </th>
          <th class="col-sm-9"> Controverse </th>
          <th class="col-xs-1 center"> Modifier </th>
          <th class="col-sm-1 center"> Supprimer </th>
        </tr>
        </thead>

        <tbody class="page">
        <% if !@frames.any? %>
            <tr class="notification-timeline">
              <td>  </td>
              <td> Vous n'avez pas encore proposé d'amélioration de controverses </td>
              <td>  </td>
              <td>  </td>
            </tr>
        <% else %>
            <% @frames.each do |frame| %>
                <tr class="notification-timeline">
                  <td class="center"> <%= frame.balance %> </td>
                  <td> <%= link_to frame.name_markdown.html_safe, frame_path(frame.id) %> </td>
                  <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-edit\"> </span>".html_safe,
                                                  edit_frame_path( frame.id ) %>  </td>
                  <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                                                  frame_path( frame.id ), method: :delete,
                                                  data: { confirm: "Êtes-vous certain ?" } %>  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title clearfix">
        <a data-toggle="collapse" href="#collapseTwo" class="pull-right glyphicon <%= @summaries.any? ? "glyphicon-chevron-up" : "glyphicon-chevron-down" %>"></a>
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Vos synthèses (<%= @summaries.length %>)
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse <%= @summaries.any? ? "in" : nil %>" role="tabpanel" aria-labelledby="headingTwo">
      <table id="notification-summaries" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1 center"> Crédits </th>
        <th class="col-xs-4"> Synthèse </th>
        <th class="col-xs-4"> De la controverse </th>
        <th class="col-xs-1 center"> Publique </th>
        <th class="col-xs-1 center"> Modifier </th>
        <th class="col-xs-1 center"> Supprimer </th>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@summaries.any? %>
          <tr class="notification-summary">
            <td> </td>
            <td> Pas encore de synthèses ajoutées </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
      <% else %>
          <% @summaries.each do |com| %>
              <tr class="notification-summary">
                <td class="center"> <%= com.balance %>   </td>
                <td> <%= link_to "Voir la synthèse",
                                 summaries_path(timeline_id: com.timeline_id, filter: "mine" ),
                                 class: "btn btn-primary" %>   </td>
                <td> <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ) %>   </td>
                <td class="center"> <%= com.public ? "<span class=\"icon icon-lock normal static-green\"> </span>".html_safe :
                                                "<span class=\"icon icon-locked normal static-red\"> </span>".html_safe %>  </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-edit\"> </span>".html_safe,
                                                edit_summary_path( com.id ) %>  </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                                                summary_path( com.id ), method: :delete,
                                                data: { confirm: "Êtes-vous certain ?" } %>  </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title clearfix">
        <a data-toggle="collapse" href="#collapseFour" class="pull-right glyphicon <%= @references.any? ? "glyphicon-chevron-up" : "glyphicon-chevron-down" %>"></a>
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Vos références (<%= @references.length %>)
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse <%= @references.any? ? "in" : nil %>" role="tabpanel" aria-labelledby="headingFour">
      <table id="notification-references" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-6"> La référence </th>
        <th class="col-xs-4"> Dans la controverse </th>
        <th class="col-xs-2 center"> Modifier </th>
        <th class="col-xs-2 center"> Supprimer </th>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@references.any? %>
          <tr class="notification-reference">
            <td> Pas encore de références ajoutées  </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
          <% @references.each do |reference| %>
              <tr class="notification-reference">
                <td> <%= link_to reference.title, reference_path(reference.id) %>   </td>
                <td> <%= link_to reference.timeline_name.html_safe, timeline_path(reference.timeline_id ) %>   </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-edit\"> </span>".html_safe,
                                                edit_reference_path( reference.id ) %>  </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                                                reference_path( reference.id ), method: :delete,
                                                data: { confirm: "Êtes-vous certain ?" } %>  </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title clearfix">
        <a data-toggle="collapse" href="#collapseThree" class="pull-right glyphicon <%= @comments.any? ? "glyphicon-chevron-up" : "glyphicon-chevron-down" %>"></a>
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Vos analyses (<%= @comments.length %>)
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse <%= @comments.any? ? "in" : nil %>" role="tabpanel" aria-labelledby="headingThree">
      <table id="notification-comments" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1 center"> Crédits </th>
        <th class="col-xs-2"> L'analyse </th>
        <th class="col-xs-2"> De la référence </th>
        <th class="col-xs-3"> Dans la controverse </th>
        <th class="col-xs-1 center"> Publique </th>
        <th class="col-xs-1 center"> Modifier </th>
        <th class="col-xs-1 center"> Supprimer </th>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@comments.any? %>
          <tr class="notification-comment">
            <td> </td>
            <td> Pas encore d'analyse ajoutées </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
      <% else %>
          <% @comments.each do |com| %>
              <tr class="notification-comment">
                <td class="center"> <%= com.balance %>  </td>
                <td> <%= link_to "Voir l'analyse", reference_path(com.reference_id, filter: :mine ), class: "btn btn-primary" %>   </td>
                <td> <%= link_to com.reference_title, reference_path(com.reference_id) %>   </td>
                <td> <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ) %>   </td>
                <td class="center"> <%= com.public ? "<span class=\"icon icon-lock normal static-green\"> </span>".html_safe :
                                                "<span class=\"icon icon-locked normal static-red\"> </span>".html_safe %>  </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-edit\"> </span>".html_safe,
                                                edit_comment_path( com.id ) %>  </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                                                comment_path( com.id ), method: :delete,
                                                data: { confirm: "Êtes-vous certain ?" } %>  </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>