<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
  Mes votes
  <table id="notification-references" class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="col-xs-1 center"> Mon vote </th>
      <th class="col-xs-3"> De l'analyse </th>
      <th class="col-xs-3"> De la référence </th>
      <th class="col-xs-2"> Dans la controverse </th>
      <th class="col-xs-1 center"> Supprimer </th>
    </tr>
    </thead>

    <tbody class="page">
    <% if !@votes.any? %>
        <tr class="notification-reference">
          <td> Pas encore de références  </td>
        </tr>
    <% else %>
        <% @votes.each do |vote| %>
            <tr class="notification-reference">
              <td class="center"> <%=vote.value %> </td>
              <td> <%= link_to vote.comment_short.f_1_content[0..70]+"...", comment_path(vote.comment_id ) %>
                par <%= link_to vote.comment_short.user_name, user_path(vote.comment_short.user_id ) %></td>
              <td> <%= link_to vote.reference_title, reference_path(vote.reference_id) %>   </td>
              <td> <%= link_to vote.timeline_name, timeline_path(vote.timeline_id ) %>   </td>
              <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                               vote_path( vote.id ), method: :delete,
                               data: { confirm: " Vous êtes certains ?" } %>  </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
</div>
</div>