<% provide(:title, "Notifications") %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="panel panel-primary">
      <div class="panel-body">
        Notifications
      </div>
      <table id="notification-sel-comments" class="table table-striped table-hover">
        <tbody class="page">
        <% if current_user.notifications_all_important == 0  %>
            <tr>
              <td></td>
              <td>Pas de notifications</td>
              <td class="center"></td>
            </tr>
        <% else %>
            <% @summary_wins.each do |com| %>
                <tr>
                  <td><span class="icon-5" style="font-size: 2em;"></span></td>
                  <td>  <%= link_to "Votre synthèse", notifications_summary_selection_win_path(id: com.id ) %>
                    de la controverse <%= link_to com.timeline_name, timeline_path(com.timeline_id ) %> a pris la première place. </td>
                  <td><%= link_to "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>".html_safe,
                                  notifications_summary_selection_win_path(id: com.id ) %></td>
                </tr>
            <% end %>
            <% @summary_losses.each do |com| %>
                <tr>
                  <td><span class="icon-3" style="font-size: 2em;"></span></td>
                  <td> <%= link_to "Votre synthèse", notifications_summary_selection_loss_path(id: com.id ) %>
                    de la controverse <%= link_to com.timeline_name, timeline_path(com.timeline_id ) %> a perdu la première place. </td>
                  <td><%= link_to "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>".html_safe,
                                  notifications_summary_selection_loss_path(id: com.id ) %></td>
                </tr>
            <% end %>
            <% @wins.each do |notif| %>
                <tr>
                  <td><span class="icon-5" style="font-size: 2em;"></span></td>
                  <td> <%= link_to notif.reference.article ? article_hash[notif.field] : review_hash[notif.field],
                                   notifications_selection_win_path(id: notif.comment_id,
                                                                   field: notif.field ) %>
                    de la référence <%= link_to notif.reference.title, reference_path(notif.reference.id) %>, dans la controverse
                    <%= link_to notif.timeline.name, timeline_path(notif.timeline.id ) %> a pris la première place. </td>
                  <td><%= link_to "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>".html_safe,
                                  notifications_selection_win_path(id: notif.comment_id, field: notif.field ) %></td>
                </tr>
            <% end %>
            <% @losses.each do |notif| %>
                <tr>
                  <td><span class="icon-3" style="font-size: 2em;"></span></td>
                  <td> <%= link_to notif.reference.article ? article_hash[notif.field] : review_hash[notif.field],
                                                notifications_selection_loss_path(id: notif.comment_id,
                                                                                   field: notif.field ) %>
                    de la référence <%= link_to notif.reference.title, reference_path(notif.reference.id) %>, dans la controverse
                    <%= link_to notif.timeline.name, timeline_path(notif.timeline.id ) %> a perdu la première place. </td>
                  <td><%= link_to "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>".html_safe,
                                  notifications_selection_loss_path(id: notif.comment_id, field: notif.field ) %></td>
                </tr>
            <% end %>
            <% @suggestions.each do |notif| %>
                <tr>
                  <td><span class="icon-4" style="font-size: 2em;"></span></td>
                  <td> <%= link_to "#{notif.suggestion_child.name.blank? ? "Un illustre anonyme" : notif.suggestion_child.name } a repondu à votre commentaire",
                                   notifications_suggestion_path(id: notif.suggestion_child_id ), class: "btn btn-primary" %> </td>
                  <td><%= link_to "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>".html_safe,
                                  notifications_suggestion_path(id: notif.suggestion_child_id ) %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>