<% provide(:title, "Notifications") %>
<h1>
  <%= t('views.header.notifs') %>
</h1>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="panel panel-primary">
        <% if current_user.nb_notifs == 0 %>
            <div class="panel-body">
          <span style="font-size: 1.5em;">
          <%= t('views.notifications.no_notifs') %>
          </span>
            </div>
        <% else %>
            <div class="panel-body">
          <span style="font-size: 2.5em;">
          Notifications
          </span>
            </div>
            <% unless @notification_selections[true].blank? %>
                <hr style="margin: 0 3em 2em 3em ">
                &nbsp <span class="static-green" style="font-size: 2em;"><span class="glyphicon glyphicon-arrow-up"></span> <%= t('views.notifications.upvoted') %></span>

                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-2"> <span class="glyphicon glyphicon-time"></span></th>
                    <th class="col-xs-7"><%= t('views.default.your') %></th>
                    <th class="col-xs-3"><%= t('views.model.in_timeline') %></th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% @notification_selections[true].each do |notif| %>
                      <tr>
                        <td> <%= t('views.default.ago') %> <%= time_ago_in_words(notif.created_at) %> </td>
                        <td>
                          <% if notif.frame_id %>
                              <%= link_to t('views.model.frame'), notifications_selection_redirect_path(id: notif.id) %>
                          <% elsif notif.comment_id %>
                              <%= link_to category_hash[notif.reference_short.category][notif.field],
                                          notifications_selection_redirect_path(id: notif.id) %>
                              de la référence
                               <%= link_to notif.reference_short.title, reference_path(notif.reference_short) %>
                          <% elsif notif.summary_id %>
                              <%= link_to t('views.model.summary'), notifications_selection_redirect_path(id: notif.id) %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to notif.timeline_short.name.html_safe, timeline_path(notif.timeline_short) %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
            <% unless @notification_selections[false].blank? %>
                <hr style="margin: 0 3em 2em 3em ">
                &nbsp <span class="static-red" style="font-size: 2em;"><span class="glyphicon glyphicon-arrow-down"></span> <%= t('views.notifications.downvoted') %></span>
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-2"> <span class="glyphicon glyphicon-time"></span></th>
                    <th class="col-xs-7"><%= t('views.default.your') %></th>
                    <th class="col-xs-3"><%= t('views.model.in_timeline') %></th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% @notification_selections[false].each do |notif| %>
                      <tr>
                        <td> <%= t('views.default.ago') %> <%= time_ago_in_words(notif.created_at) %> </td>
                        <td>
                          <% if notif.frame_id %>
                              <%= link_to t('views.model.frame'), notifications_selection_redirect_path(id: notif.id) %>
                          <% elsif notif.comment_id %>
                              <%= link_to category_hash[notif.reference_short.category][notif.field],
                                          notifications_selection_redirect_path(id: notif.id) %> de la référence
                              <%= link_to notif.reference_short.title, reference_path(notif.reference_short) %>
                          <% elsif notif.summary_id %>
                              <%= link_to t('views.model.summary'), notifications_selection_redirect_path(id: notif.id) %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to notif.timeline_short.name.html_safe, timeline_path(notif.timeline_short) %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
            <% unless current_user.nb_notifs == 0 %>
                <div class="panel-body">
                  <div class="pull-right">
			  <%= link_to "<span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span>&nbsp #{t('views.notifications.delete')}".html_safe,
                                notifications_delete_all_important_path,
                                class: 'btn btn-danger btn-lg',
				data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.deleting')} "} %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
