<% provide(:title, "Notifications") %>
<h1>
  <%= t('views.header.news', count: current_user.notifications_all) %>
</h1>
<div id="my-container" class="container-fluid">
  <%= form_for(:notification, url: notifications_delete_path, method: :post) do |f| %>
      <%= f.hidden_field :filter, value: @filter %>
      <div class="row">

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">
          <% if total_new_content(@category_count) > 0 %>
              <div class="list-group">
                <div class="list-group-item">
                  <%= t('views.notifications.new') %>
                </div>
                <% {timeline: t('views.model.timelines'),
                    frame: t('views.model.frames'),
                    summary: t('views.model.summaries'),
                    reference: t('views.model.references'),
                    comment: t('views.model.comments'),
                    suggestion: "Le livre d'or",
                    suggestion_child: "Les réactions"}.each do |key, value| %>
                    <% if @category_count[sym_to_int_notifs_hash[key]] > 0 %>
                        <%= link_to "<span class=\"badge\">#{@category_count[sym_to_int_notifs_hash[key]]}</span>
          <span class=\"icon-#{key} font16\"></span> &nbsp ".html_safe+value,
                                    notifications_index_path(filter: key),
                                    class: "list-group-item" %>
                    <% end %>
                <% end %>
              </div>
              <br/>
          <% end %>
          <% if total_new_selection(@category_count) > 0 %>
              <div class="list-group">
                <div class="list-group-item">
                  <%= t('views.notifications.best_contrib') %>
                </div>
                <% {frame_selection: t('views.model.frames'),
                    summary_selection: t('views.model.summaries'),
                    selection: t('views.model.comments')
                   }.each do |key, value| %>
                    <% if @category_count[sym_to_int_notifs_hash[key]] > 0 %>
                        <%= link_to "<span class=\"badge\">#{@category_count[sym_to_int_notifs_hash[key]]}</span>
                    <span class=\"icon-#{key} font16\"></span> &nbsp ".html_safe+value,
                                    notifications_index_path(filter: key),
                                    class: "list-group-item" %>
                    <% end %>
                <% end %>
              </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
          <div class="panel panel-default">
            <% if @filter == :timeline %>
                <div class="panel-heading">
                  <%= t('views.notifications.new_timelines') %> (<%= @models.length %>)
                </div>
                <table id="notification-timelines" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-1"><input title="toggle all" type="checkbox" id="checktimelines"></th>
                    <th class="col-xs-4"> <%= t('views.model.timeline') %>  </th>
                    <th class="col-xs-3"> <%= t('views.default.by_cap') %>  </th>
                    <th class="col-xs-4"> <%= t('views.default.tags') %> </th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% if !@models.any? %>
                      <tr class="notification-timeline">
                        <td></td>
                        <td> <%= t('views.notifications.no_news') %> </td>
                        <td></td>
                      </tr>
                  <% else %>
                      <% @models.each do |timeline| %>
                          <tr class="notification-timeline">
                            <td> <%= f.check_box :ids, {class: "destroy-box", :multiple => true},
                                                 checked_value = timeline.id, unchecked_value = nil %> </td>
                            <td> <%= link_to timeline.name.html_safe, notifications_redirect_path(id: timeline.id, filter: @filter), class: "btn btn-primary" %> </td>
                            <td>  <%= link_to timeline.user.name, user_path(id: timeline.user_id), class: "btn btn-primary" %> </td>
                            <td>
                              <% timeline.get_tag_list.each do |name| %>
                                  <span class="icon-<%= name %>"></span>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @models %>

            <% elsif @filter == :frame or @filter == :frame_selection %>
                <div class="panel-heading">
                  <% if @filter == :frame %>
                      <%= t('views.notifications.new_frames') %>
                  <% else %>
                      <%= t('views.notifications.best_frames') %>
                  <% end %>
                  (<%= @models.length %>)
                </div>
                <table id="notification-timelines" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-1"><input title="toggle all" type="checkbox" id="checktimelines"></th>
                    <th class="col-xs-4"> <%= t('views.model.frame') %> </th>
                    <th class="col-xs-3"> <%= t('views.default.by_cap') %>  </th>
                    <th class="col-xs-4"> <%= t('views.model.of_timeline') %>  </th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% if !@models.any? %>
                      <tr class="notification-summary">
                        <td></td>
                        <td> <%= t('views.notifications.no_news') %> </td>
                        <td></td>
                        <td></td>
                      </tr>
                  <% else %>
                      <% @models.each do |com| %>
                          <tr class="notification-summary">
                            <td> <%= f.check_box :ids, {class: "destroy-box", :multiple => true},
                                                 checked_value = com.id, unchecked_value = nil %> </td>
                            <td> <%= link_to "La proposition", notifications_redirect_path(id: com.id, filter: @filter), class: "btn btn-primary" %> </td>
                            <td>  <%= link_to com.user.name, user_path(id: com.user_id), class: "btn btn-primary" %> </td>
                            <td>  <%= link_to com.timeline.name.html_safe, timeline_path(com.timeline_id), class: "btn btn-primary" %>   </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @models %>

            <% elsif @filter == :summary or @filter == :summary_selection %>
                <div class="panel-heading">
                  <% if @filter == :summary %>
                      <%= t('views.notifications.new_summaries') %>
                  <% else %>
                      <%= t('views.notifications.best_summaries') %>
                  <% end %>
                  (<%= @models.length %>)
                </div>
                <table id="notification-timelines" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-1"><input title="toggle all" type="checkbox" id="checktimelines"></th>
                    <th class="col-xs-4"> <%= t('views.model.summary') %>  </th>
                    <th class="col-xs-3"> <%= t('views.default.by_cap') %>  </th>
                    <th class="col-xs-4"> <%= t('views.model.in_timeline') %>  </th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% if !@models.any? %>
                      <tr class="notification-summary">
                        <td></td>
                        <td> <%= t('views.notifications.no_news') %> </td>
                        <td></td>
                        <td></td>
                      </tr>
                  <% else %>
                      <% @models.each do |com| %>
                          <tr class="notification-summary">
                            <td> <%= f.check_box :ids, {class: "destroy-box", :multiple => true},
                                                 checked_value = com.id, unchecked_value = nil %> </td>
                            <td> <%= link_to "La synthèse", notifications_redirect_path(id: com.id, filter: @filter), class: "btn btn-primary" %> </td>
                            <td>  <%= link_to com.user.name, user_path(id: com.user_id), class: "btn btn-primary" %> </td>
                            <td>  <%= link_to com.timeline.name.html_safe, timeline_path(com.timeline_id), class: "btn btn-primary" %>   </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @models %>

            <% elsif @filter == :reference %>
                <div class="panel-heading">
                  <%= t('views.notifications.new_references') %> (<%= @models.length %>)
                </div>
                <table id="notification-timelines" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-1"><input title="toggle all" type="checkbox" id="checktimelines"></th>
                    <th class="col-xs-4"> <%= t('views.model.reference') %>  </th>
                    <th class="col-xs-3"> <%= t('views.default.by_cap') %>  </th>
                    <th class="col-xs-4"> <%= t('views.model.in_timeline') %> </th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% if !@models.any? %>
                      <tr class="notification-reference">
                        <td></td>
                        <td> <%= t('views.notifications.no_news') %> </td>
                        <td></td>
                        <td></td>
                      </tr>
                  <% else %>
                      <% @models.each do |reference| %>
                          <tr class="notification-reference">
                            <td> <%= f.check_box :ids, {class: "destroy-box", :multiple => true},
                                                 checked_value = reference.id, unchecked_value = nil %> </td>
                            <td> <%= link_to reference.title,
                                             notifications_redirect_path(id: reference.id, filter: @filter), class: "btn btn-primary" %> </td>
                            <td>  <%= link_to reference.user.name, user_path(id: reference.user_id), class: "btn btn-primary" %> </td>
                            <td> <%= link_to reference.timeline.name.html_safe, timeline_path(reference.timeline_id), class: "btn btn-primary" %>   </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @models %>

            <% elsif @filter == :comment %>
                <div class="panel-heading">
                  (<%= @models.length %>)
                </div>
                <table id="notification-timelines" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-1"><input title="toggle all" type="checkbox" id="checktimelines"></th>
                    <th class="col-xs-3"> <%= t('views.model.comment') %> </th>
                    <th class="col-xs-2"> <%= t('views.default.by_cap') %> </th>
                    <th class="col-xs-3"> <%= t('views.model.of_reference') %> </th>
                    <th class="col-xs-3"> <%= t('views.model.in_timeline') %> </th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% if !@models.any? %>
                      <tr class="notification-comment">
                        <td></td>
                        <td> <%= t('views.notifications.no_news') %> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                  <% else %>
                      <% @models.each do |com| %>
                          <tr class="notification-comment">
                            <td> <%= f.check_box :ids, {class: "destroy-box", :multiple => true},
                                                 checked_value = com.id, unchecked_value = nil %> </td>
                            <td> <%= link_to "Voir l'analyse", notifications_redirect_path(id: com.id, filter: @filter), class: "btn btn-primary" %> </td>
                            <td> <%= link_to com.user.name, user_path(id: com.user_id), class: "btn btn-primary" %></td>
                            <td>  <%= link_to com.reference.title_display, reference_path(com.reference_id), class: "btn btn-primary" %></td>
                            <td>  <%= link_to com.timeline.name.html_safe, timeline_path(com.timeline_id), class: "btn btn-primary" %>   </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @models %>

            <% elsif @filter == :selection %>
                <div class="panel-heading">
                  <%= t('views.notifications.best_comments') %>
                  (<%= @models.count %>)
                </div>
                <table id="notification-timelines" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-1"><input title="toggle all" type="checkbox" id="checktimelines"></th>
                    <th class="col-xs-3"> <%= t('views.model.comment') %> </th>
                    <th class="col-xs-2"> <%= t('views.default.by_cap') %> </th>
                    <th class="col-xs-3"> <%= t('views.model.of_reference') %> </th>
                    <th class="col-xs-3"> <%= t('views.model.in_timeline') %> </th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% if !@models.any? %>
                      <tr class="notification-sel-comment">
                        <td></td>
                        <td> <%= t('views.notifications.no_news') %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                  <% else %>
                      <% @models.each do |notif| %>
                          <tr class="notification-sel-comment">
                            <td> <%= f.check_box :ids, {class: "destroy-box", :multiple => true},
                                                 checked_value = notif.comment_id, unchecked_value = nil %> </td>
                            <td> <%= link_to category_hash[notif.reference.category][notif.field],
                                             notifications_redirect_path(id: notif.comment_id,
                                                                         field: notif.field, filter: @filter), class: "btn btn-primary" %> </td>
                            <td> <%= link_to notif.comment.user_name, user_path(notif.comment.user_id), class: "btn btn-primary" %> </td>
                            <td> <%= link_to notif.reference.title_display, reference_path(notif.reference_id), class: "btn btn-primary" %> </td>
                            <td>  <%= link_to notif.timeline.name.html_safe, timeline_path(notif.timeline_id), class: "btn btn-primary" %> </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @models %>
            <% elsif @filter == :suggestion or @filter == :suggestion_child %>
                <div class="panel-heading">
                  Les nouveaux commentaires sur controversciences
                  (<%= @models.length %>)
                </div>
                <table id="notification-timelines" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="col-xs-1"><input title="toggle all" type="checkbox" id="checktimelines"></th>
                    <th class="col-xs-3"> Le commentaire</th>
                    <th class="col-xs-2"> Par</th>
                  </tr>
                  </thead>
                  <tbody class="page">
                  <% if !@models.any? %>
                      <tr class="notification-sel-comment">
                        <td></td>
                        <td> Pas de nouveautés</td>
                        <td></td>
                      </tr>
                  <% else %>
                      <% @models.each do |sugg| %>
                          <tr class="notification-sel-comment">
                            <td> <%= f.check_box :ids, {class: "destroy-box", :multiple => true},
                                                 checked_value = sugg.id, unchecked_value = nil %> </td>
                            <td> <%= link_to truncate(sugg.comment, length: 140, separator: ' '),
                                             notifications_redirect_path(id: sugg.id, filter: @filter) %> </td>

                            <% if sugg.user_id %>
                                <td> <%= link_to sugg.user_name, user_path(sugg.user_id), class: "btn btn-primary" %> </td>
                            <% else %>
                                <td> <%= sugg.user_name %> </td>
                            <% end %>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @models %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 col-lg-offset-0 col-lg-2">
          <div class="list-group">
            <% if @category_count[sym_to_int_notifs_hash[@filter]] > 0 %>
                <%= link_to "<span class=\"badge badge-li\">#{@category_count[sym_to_int_notifs_hash[@filter]]}</span>
                    <span class=\"glyphicon glyphicon-trash bigger\"></span> &nbsp ".html_safe+t('views.notifications.delete_all'),
                            notifications_delete_all_path(filter: @filter),
                            class: "list-group-item list-group-item-danger" %>
            <% end %>
            <%= f.button "<span id=\"number-item\" class=\"badge badge-li\"></span>
    <span class=\"glyphicon glyphicon-trash bigger\"></span>&nbsp
    #{t('views.notifications.delete_selected')}".html_safe,
                         class: 'list-group-item list-group-item-danger text-left',
                         id: 'destroy-button',
                         style: 'display: none',
                         data: {disable_with: "<span class=\"glyphicon glyphicon-save\"></span> &nbsp #{t('views.buttons.deleting')} "} %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function toggleDestroyButton() {
            var itemsLength = $(".destroy-box:checked").length;
            $numberItem.text(itemsLength);
            if (itemsLength > 0) {
                $destroyButton.show()
            } else {
                $destroyButton.hide()
            }
        }

        var $numberItem = $('#number-item'),
                $destroyButton = $('#destroy-button'),
                $destroyBox = $(".destroy-box");
        $destroyBox.on('click', function () {
            toggleDestroyButton()
        });
        $('#checktimelines').click(function () {
            if ($('#checktimelines').is(':checked')) {
                $destroyBox.each(function () {
                    $(this).prop("checked", true);
                });
                toggleDestroyButton()
            } else {
                $destroyBox.each(function () {
                    $(this).prop("checked", false);
                });
                toggleDestroyButton()
            }
        });
    })
</script>
