<% provide(:title, "Notifications") %>
<div id="my-container" class="container-fluid">
<%= form_for( :notification, url: notifications_delete_path, method: :post ) do |f| %>
<div class="row">

<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
<div class="list-group">
    <div class="list-group-item">
  Les nouvelles/nouveaux :
  </div>
      <% { timeline: "Controverses",
           frame: "Améliorations de Controverses",
           summary: "Synthèses",
           reference: "Références",
           comment: "Analyses", suggestions: "Commentaires"}.each do |key, value| %>
          <%= link_to "<span class=\"icon-#{key} normal\"></span> &nbsp ".html_safe+value+
                              " ("+current_user.send( "notifications_#{key}".to_sym).to_s+")",
                      notifications_index_path(filter: key),
                      class: "list-group-item" %>
      <% end %>
</div>
  <br/>
<div class="list-group">
<div class="list-group-item">
  Ont pris la première place :
</div>
    <% { frame_selection: "Améliorations de Controverses",
         summary_selection: "Synthèses",
         selection: "Analyses"
         }.each do |key, value| %>
        <%= link_to "<span class=\"icon-#{key} normal\"></span> &nbsp ".html_safe+value+
                            " ("+current_user.send( "notifications_#{key}".to_sym).to_s+")",
                    notifications_index_path(filter: key),
                    class: "list-group-item" %>
    <% end %>
</div>

</div>
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
<div class="panel panel-default">
  <% if @filter == :timeline %>
  <div class="panel-heading">
    Les nouvelles controverses (<%= @timelines.count %>)
  </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-4"> La controverse  </th>
        <th class="col-xs-3"> Par  </th>
        <th class="col-xs-4"> Thèmes </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@timelines.any? %>
          <tr class="notification-timeline">
            <td></td>
            <td> Pas de nouveautés </td>
            <td></td>
          </tr>
      <% else %>
          <% @timelines.each do |timeline| %>
              <tr class="notification-timeline">
                <td> <%= f.check_box :timeline_ids, { :multiple => true},
                             checked_value = timeline.id, unchecked_value = nil %> </td>
                <td> <%= link_to timeline.name.html_safe, notifications_timeline_url( id: timeline.id), class: "btn btn-primary" %> </td>
                <td>  <%= link_to timeline.user_name, user_path(id: timeline.user_id ), class: "btn btn-primary"  %> </td>
                <td>
                  <% timeline.get_tag_list.each do |name| %>
                      <span class="icon-<%= name %>"></span>
                  <% end %>
                </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @timelines %>

    <% elsif @filter == :frame %>
    <div class="panel-heading">
      Les nouvelles améliorations de controverses (<%= @frames.count %>)
    </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-4"> L'amélioration </th>
        <th class="col-xs-3"> Par  </th>
        <th class="col-xs-4"> Dans la controverse  </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@frames.any? %>
          <tr class="notification-summary">
            <td></td>
            <td> Pas de nouveautés </td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
          <% @frames.each do |com| %>
              <tr class="notification-summary">
                <td> <%= f.check_box :frame_ids, { :multiple => true},
                                     checked_value = com.id, unchecked_value = nil %> </td>
                <td> <%= link_to "Voir la proposition", notifications_frame_path(id: com.id ), class: "btn btn-primary"  %> </td>
                <td>  <%= link_to com.user_name, user_path(id: com.user_id ), class: "btn btn-primary"  %> </td>
                <td>  <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ), class: "btn btn-primary"  %>   </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @frames %>

    <% elsif @filter == :summary %>
    <div class="panel-heading">
      Les nouvelles synthèses (<%= @summaries.count %>)
    </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-4"> La synthèse  </th>
        <th class="col-xs-3"> Par  </th>
        <th class="col-xs-4"> Dans la controverse  </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@summaries.any? %>
          <tr class="notification-summary">
            <td></td>
            <td> Pas de nouveautés </td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
          <% @summaries.each do |com| %>
              <tr class="notification-summary">
                <td> <%= f.check_box :summary_ids, { :multiple => true},
                                     checked_value = com.id, unchecked_value = nil %> </td>
                <td> <%= link_to "Voir la synthèse", notifications_summary_path(id: com.id ), class: "btn btn-primary"  %> </td>
                <td>  <%= link_to com.user_name, user_path(id: com.user_id ), class: "btn btn-primary"  %> </td>
                <td>  <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ), class: "btn btn-primary"  %>   </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @summaries %>
        
    <% elsif @filter == :reference %>
    <div class="panel-heading">
      Les nouvelles références (<%= @references.count %>)
    </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-4"> La référence  </th>
        <th class="col-xs-3"> Par  </th>
        <th class="col-xs-4"> Dans la controverse </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@references.any? %>
          <tr class="notification-reference">
            <td></td>
            <td> Pas de nouveautés </td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
          <% @references.each do |reference| %>
              <tr class="notification-reference">
                <td> <%= f.check_box :reference_ids, { :multiple => true},
                                     checked_value = reference.id, unchecked_value = nil %> </td>
                <td> <%= link_to reference.title,
                            notifications_reference_path( id: reference.id ), class: "btn btn-primary"  %> </td>
                <td>  <%= link_to reference.user_name, user_path(id: reference.user_id ), class: "btn btn-primary"  %> </td>
                <td> <%= link_to reference.timeline_name.html_safe, timeline_path( reference.timeline_id ), class: "btn btn-primary"  %>   </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  <%= paginate @references %>
        
  <% elsif @filter == :comment %>
    <div class="panel-heading">
      Les nouvelles analyses (<%= @comments.count %>)
    </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-3"> L'analyse </th>
        <th class="col-xs-2"> Par </th>
        <th class="col-xs-3"> De la référence </th>
        <th class="col-xs-3"> De la controverse </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@comments.any? %>
          <tr class="notification-comment">
            <td></td>
            <td> Pas de nouveautés </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
          <% @comments.each do |com| %>
              <tr class="notification-comment">
                <td> <%= f.check_box :comment_ids, { :multiple => true},
                                     checked_value = com.id, unchecked_value = nil %> </td>
                <td> <%= link_to "Voir l'analyse", notifications_comment_path(id: com.id ), class: "btn btn-primary" %> </td>
                <td> <%= link_to com.user_name, user_path(id: com.user_id ), class: "btn btn-primary" %></td>
                <td>  <%= link_to com.reference_title, reference_path(com.reference_id), class: "btn btn-primary" %></td>
                <td>  <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ), class: "btn btn-primary" %>   </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  <%= paginate @comments %>
        
  <% elsif @filter == :selection %>
    <div class="panel-heading">
      Les analyses qui ont pris la première place
      (<%= @selections.count %>)
    </div>
  <table id="notification-timelines" class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="col-xs-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
      <th class="col-xs-3"> L'analyse </th>
      <th class="col-xs-2"> Par </th>
      <th class="col-xs-3"> De la référence </th>
      <th class="col-xs-3"> De la controverse </th>
    </tr>
    </thead>
    <tbody class="page">
    <% if !@selections.any? %>
        <tr class="notification-sel-comment">
          <td></td>
          <td> Pas de nouveautés</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    <% else %>
        <% @selections.each do |notif| %>
            <tr class="notification-sel-comment">
              <td> <%= f.check_box :sel_comment_ids, { :multiple => true},
                                   checked_value = notif.comment_id, unchecked_value = nil %> </td>
              <td> <%= link_to notif.reference.article ? article_hash[notif.field] : review_hash[notif.field],
                               notifications_selection_path(id: notif.comment_id,
                                                                        field: notif.field ), class: "btn btn-primary" %> </td>
              <td> <%= link_to notif.comment.user_name, user_path( notif.comment.user_id ), class: "btn btn-primary" %> </td>
              <td> <%= link_to notif.reference.title, reference_path(notif.reference_id), class: "btn btn-primary" %> </td>
              <td>  <%= link_to notif.comment.timeline_name.html_safe, timeline_path(notif.timeline_id ), class: "btn btn-primary" %> </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  <%= paginate @selections %>
  <% elsif @filter == :frame_selection %>

    <div class="panel-heading">
      Les améliorations de controverses qui ont pris la première place
      (<%= @frame_selections.count %>)
    </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1 col-sm-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-5 col-sm-4"> Synthèse </th>
        <th class="col-xs-6 col-sm-3"> Par </th>
        <th class="col-xs-6 col-sm-4"> De la controverse </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@frame_selections.any? %>
          <tr class="notification-sel-summary">
            <td></td>
            <td> Pas de nouveautés   </td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
          <% @frame_selections.each do |com| %>
              <tr class="notification-sel-summary">
                <td> <%= f.check_box :sel_frame_ids, { :multiple => true},
                                     checked_value = com.id, unchecked_value = nil %> </td>
                <td>  <%= link_to "La proposition", notifications_frame_selection_path(id: com.id ), class: "btn btn-primary" %></td>
                <td>  <%= link_to com.user_name, user_path( com.user_id ), class: "btn btn-primary" %></td>
                <td> <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ), class: "btn btn-primary" %> </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @frame_selections %>

  <% elsif @filter == :summary_selection %>
    <div class="panel-heading">
      Les synthèses qui ont pris la première place
      (<%= @summary_selections.count %>)
    </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1 col-sm-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-5 col-sm-4"> Synthèse </th>
        <th class="col-xs-6 col-sm-3"> Par </th>
        <th class="col-xs-6 col-sm-4"> De la controverse </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@summary_selections.any? %>
          <tr class="notification-sel-summary">
            <td></td>
            <td> Pas de nouveautés   </td>
            <td></td>
            <td></td>
          </tr>
      <% else %>
          <% @summary_selections.each do |com| %>
              <tr class="notification-sel-summary">
                <td> <%= f.check_box :sel_summary_ids, { :multiple => true},
                                     checked_value = com.id, unchecked_value = nil %> </td>
                <td>  <%= link_to "La synthèse", notifications_summary_selection_path(id: com.id ), class: "btn btn-primary" %></td>
                <td>  <%= link_to com.user_name, user_path( com.user_id ), class: "btn btn-primary" %></td>
                <td> <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ), class: "btn btn-primary" %> </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @summary_selections %>

    <% elsif @filter == :suggestions %>
    <div class="panel-heading">
      Les nouveaux commentaires sur controversciences
      (<%= @suggestions.count %>)
    </div>
    <table id="notification-timelines" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1"> <input title="toggle all" type="checkbox" id="checktimelines"> </th>
        <th class="col-xs-3"> Le commentaire </th>
        <th class="col-xs-2"> Par </th>
      </tr>
      </thead>
      <tbody class="page">
      <% if !@suggestions.any? %>
          <tr class="notification-sel-comment">
            <td></td>
            <td> Pas de nouveautés</td>
            <td></td>
          </tr>
      <% else %>
          <% @suggestions.each do |sugg| %>
              <tr class="notification-sel-comment">
                <td> <%= f.check_box :suggestion_ids, { :multiple => true},
                                     checked_value = sugg.id, unchecked_value = nil %> </td>
                <td> <%= link_to truncate(sugg.comment, length: 140, separator: ' '),
                                 notifications_suggestions_path(id: sugg.id) %> </td>
                <td> <%= link_to sugg.user_name, user_path( sugg.user_id ), class: "btn btn-primary" %> </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @suggestions %>
  <% end %>
</div>
</div>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
  <div class="list-group">
    <%= f.button "<span class=\"glyphicon glyphicon-trash\"></span>&nbsp
    Supprimer les notifications sélectionnées".html_safe,
                 class: 'list-group-item list-group-item-danger',
                 data: {disable_with: "<span class=\"glyphicon glyphicon-save\"></span> &nbsp Suppression en cours "}%>
    <%= link_to "<span class=\"icon-#{@filter} normal\"></span> &nbsp ".html_safe+"Supprimer toutes les notifications",
                notifications_delete_all_path(filter: @filter),
                class: "list-group-item list-group-item-danger" %>
  </div>
</div>
</div>
<% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#checktimelines').click(function () {
        if ($('#checktimelines').is(':checked')) {
            $('#notification-timelines input[type=checkbox]').each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#notification-timelines input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
})
</script>