<% provide(:title, "Suggestions d'amelioration") %>
<h1>
  <%= t('views.header.notifs', count: current_user.nb_notifs) %>
</h1>

<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="panel panel-primary">
        <% if !@patches.blank? %>
            <br/>
            <br/>
            &nbsp &nbsp
            &nbsp <span class="blue" style="font-size: 2em;">
                <span class="fat icon-bug-<%= rand(18) %>">
              </span>
                Les suggestions en attentes
              </span>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <% @patches.keys.each do |parent_key| %>
                    <% patch = @patches[parent_key].first %>
                    <hr style="margin: 1em 3em 1em 3em ">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <b>
                          <%= render 'patches/parent_header', patch: patch %>
                        </b>
                        <br/>
                        <br/>

                        <div class="pull-right">
                          <%= link_to "<span class=\"badge badge-li\">#{@patches[parent_key].length}</span> Étudier les suggestions".html_safe,
                                      patches_target_path(frame_id: patch.frame_id,
                                                          summary_id: patch.summary_id,
                                                          comment_id: patch.comment_id),
                                      class: "btn btn-primary" %>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
            <hr style="margin: 0 3em 2em 3em ">
        <% else %>
            <div class="panel-body">
          <span style="font-size: 1.5em;">
          <%= t('views.notifications.no_notifs') %>
          </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
