<% provide(:title, "Mes abonnements") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseTwo" class="pull-right glyphicon glyphicon-chevron-up"></a>
            <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
              <%= t('views.likes.index') %>
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <% if !@likes.any? %>
              <div class="row">
                <div class="col-xs-12 col-lg-4 col-lg-offset-4">
                  <br/>
		  <%= t('views.likes.clic_on') %>
		  <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
		  <%= t('views.likes.get_notified') %>
		  <br/>
                  <br/>
                  <br/>
                </div>
              </div>
          <% else %>
              <table id="likes" class="table table-striped table-hover">
                <tbody class="page">
                <% @likes.each do |like| %>
                    <tr class="like">
                      <td> <%= link_to like.timeline.name.html_safe, timeline_path(like.timeline_id) %> </td>
                      <td>
                        <% like.timeline.get_tag_list.each do |name| %>
                            <span class="icon-<%= name %>"></span>
                        <% end %>
                      </td>
                      <td> <%= link_to "<span class=\"glyphicon glyphicon-trash\">
                                                        </span>".html_safe,
                                       like_path(like.id), method: :delete,
                                       data:                       {confirm: t('views.default.confirm')} %>  </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>

