<div class="modal fade" id="contributors" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="center bigger">
          <br/>
          Les contributeurs
          <br>
        </div>
      </div>
      <div class="modal-body center font12 clearfix">
        <% if editors.present? && editors.any? %>
            <% if editors.length == 1 %>
              Il a écrit cette contribution
            <% else %>
              Ils ont écrit cette contribution
            <% end %>
            <br>
            <% editors.each do |user| %>
                  <a class="center" href="<%= user_path(user) %>" style="color: white">
                    <div class="thumbnail timeline-body hvr-grow">
                      <div style="width: auto; min-height: 80px; height: 80px;" class="center">
                        <% if user.user_detail && user.user_detail.id && user.user_detail.picture? %>
                            <%= image_tag user.user_detail.picture_url, class: "img-rounded image-user",
                                          style: 'min-height: 80px; height: 80px;' %>
                        <% else %>
                            <%= image_tag "favicon.svg", class: "img-rounded image-user",
                                          style: 'min-height: 80px; height: 80px;' %>
                        <% end %>
                      </div>
                      <div class="caption">
                        <h4><%= user.name %></h4>
                      </div>
                    </div>
                  </a>
            <% end %>
        <% end %>
        <br>
        <% if contributors.present? && contributors.any? %>
            <% if contributors.length == 1 %>
                Il a proposé des suggestions
            <% else %>
                Ils ont proposé des suggestions
            <% end %>
            <br>
            <% contributors.each do |user| %>
                  <a class="center" href="<%= user_path(user) %>" style="color: white">
                    <div class="thumbnail timeline-body hvr-grow">
                      <div style="width: auto; min-height: 80px; height: 80px;" class="center">
                        <% if user.user_detail && user.user_detail.id && user.user_detail.picture? %>
                            <%= image_tag user.user_detail.picture_url, class: "img-rounded image-user",
                                          style: 'min-height: 80px; height: 80px;' %>
                        <% else %>
                            <%= image_tag "favicon.svg", class: "img-rounded image-user",
                                          style: 'min-height: 80px; height: 80px;' %>
                        <% end %>
                      </div>
                      <div class="caption">
                        <h4><%= user.name %></h4>
                      </div>
                    </div>
                  </a>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
