<%= javascript_include_tag 'chart' %>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <% if logged_in? && current_user.id == @user.id %>
        <div class="pull-right">
          <%= link_to "<span class=\"fat icon-techno\"></span> #{t('views.users.edit')}".html_safe,
                      edit_user_path(@user.id) ,class: "cadre hvr-grow" %>
        </div>
    <% end %>
        <% if @user_detail && @user_detail.id && @user_detail.picture? %>
            <%= image_tag @user_detail.picture_url, class: "img-rounded", height: "80px" %>
        <% else %>
            <%= image_tag "favicon.svg", class: "img-rounded", height: "80px" %>
        <% end %>
    <span style="font-size: 3em">
      &nbsp <%= @user.name %>
    </span>
  </div>
  <div class="panel-body">
  <div class="clearfix">
    <% if logged_in? && current_user.admin && current_user.id != @user.id %>
        <div class="panel panel-danger">
          <div class="panel-heading clearfix">
            <span class="glyphicon glyphicon-warning-sign"></span> <%= t('views.users.for_admins') %> <br/>
            <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
            <br/>
            <%= link_to t('views.users.connect_as') + " " + @user.name, login_for_admin_path(id:@user.id) %>
            <br/>
                <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>
		#{t('views.users.delete')}".html_safe,
                            @user,
                            method: :delete,
                            class:  "pull-right btn btn-danger",
                            data:   {confirm: t('views.default.confirm')} %>
          </div>
        </div>
    <% end %>
    <% if logged_in? && current_user.id == @user.id %>
      <div class="pull-right">
        <a href="<%= slack_users_path %>" class="cadre hvr-grow1">
          <%= image_tag("slack.png", alt: "Slack", height: "48px")%>
          <b style="font-size: 1.4em"><%= t('views.users.join_slack') %></b>
        </a>
      </div>
  <% end %>
    <% if @user_detail && @user_detail.id && @user_detail.job != "" %>
      <b> <%= t('views.users.job') %> </b><br/>
            <%= @user_detail.job  %>
        <br/><br/>
    <% end %>
    <% if @user_detail && @user_detail.id && @user_detail.institution != "" %>
        <b> <%= t('views.users.institution') %> </b> <br/>
      <%= @user_detail.institution %>
      <br/><br/>
    <% end %>
    <% if  @user_detail && @user_detail.id && @user_detail.biography != "" %>
        <b> <%= t('views.users.biography') %> </b> <%= @user_detail.content_markdown.html_safe %> <br/>
    <% end %>
    <% if  @user_detail && @user_detail.id && @user_detail.website != "" %>
      <b> <%= t('views.users.website') %> </b><br/>
      <%= link_to @user_detail.website, @user_detail.website, target: "_blank" %> <br/><br/>
    <% end %>
    <br/>
    <% if @user_detail && !@user_detail.profil.blank? %>
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <canvas id="myChart"></canvas>
        </div>
      </div>
      <script type="text/javascript">
          var data = {
              labels: [
                  <% (1..8).each do |n| %>
                  "<%= user_profils[n] %>",
                  <% end %>
                  "<%= user_profils[9] %>"
              ],
              datasets: [
                  {
                      label: "<%= @user.name %>",
                      fillColor: "rgba(151,187,205,0.2)",
                      strokeColor: "rgba(151,187,205,1)",
                      pointColor: "rgba(151,187,205,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      data: [
                          <% (1..8).each do |n| %>
                          "<%= (0.5 + Float(@user_detail.profil[n.to_s])).round(2) %>",
                          <% end %>
                          "<%= (0.5 + Float(@user_detail.profil["9"])).round(2) %>"
                      ]
                  }
              ]
          },
          labels = <%= raw user_profil_info %>;
          Chart.defaults.global.responsive = true;
          Chart.defaults.global.tooltipTemplate = "<%%if (toolLabel){%><%%=toolLabel%><%%}%>";
          Chart.defaults.global.scaleOverride = true;
          // Number - The number of steps in a hard coded scale
          Chart.defaults.global.scaleSteps = 5;
          // Number - The value jump in the hard coded scale
          Chart.defaults.global.scaleStepWidth = 0.3;
          // Number - The scale starting value
          Chart.defaults.global.scaleStartValue = 0;
          var canvas = $("#myChart").get(0),
              ctx = canvas.getContext('2d'),
              myRadarChart = new Chart(ctx).Radar(data, {pointLabelFontSize : 14, pointLabelFontStyle : "bold"});
          $.each(myRadarChart.datasets[0].points, function( key, point ) {
              point.toolLabel = labels[key];
          });
      </script>

  <% end %>
    <br/>
    <br/>
  </div>
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <% if @timelines.any? %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseOne" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= @user.name + " " + t('views.users.added') + " " + t('views.pluralize.timelines', count: @timelines.length) %>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <table id="notification-timelines" class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-sm-8"> <%= t('views.model.timeline') %> </th>
              <th class="col-sm-3"> <%= t('views.default.tags') %> </th>
            </tr>
            </thead>
            <tbody class="page">
                <% @timelines.each do |timeline| %>
                    <tr class="notification-timeline">
                      <td> <%= link_to timeline.name.html_safe, timeline_path(timeline) %> </td>
                      <td>
                        <% timeline.get_tag_list.each do |name| %>
                            <span class="icon-<%= name %>"></span>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <br/>
      <% end %>
      <% if @references.any? %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseTwo" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%= @user.name + " " + t('views.users.added') + " " + t('views.pluralize.raw_references', count: @references.length) %>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <table id="notification-references" class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-xs-6"> <%= t('views.model.reference') %> </th>
              <th class="col-xs-4"> <%= t('views.model.in_timeline') %> </th>
            </tr>
            </thead>

            <tbody class="page">
                <% @references.each do |reference| %>
                    <tr class="notification-reference">
                      <td> <%= link_to reference.title, reference_path(reference) %>   </td>
                      <td> <%= link_to reference.timeline_name.html_safe, timeline_path(reference.timeline_id ) %>   </td>
                    </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <br/>
      <% end %>
      <% if @comments.any? %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseThree" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <%= @user.name + " " + t('views.users.wrote') + " " + t('views.pluralize.comments', count: @comments.length) %>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <table id="notification-comments" class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-xs-3"> <%= t('views.model.comment') %> </th>
              <th class="col-xs-4"> <%= t('views.model.of_reference') %> </th>
            </tr>
            </thead>

            <tbody class="page">
                <% @comments.each do |com| %>
                    <tr class="notification-comment">
                      <td> <%= link_to t('views.model.comment'), comment_path(com.id ), class: "btn btn-primary" %>   </td>
                      <td> <%= link_to com.reference_title, reference_path(com.reference_id) %>   </td>
                    </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
          <br/>
      <% end %>
      <% if @summaries.any? %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title clearfix">
                <a data-toggle="collapse" href="#collapseFour" class="pull-right glyphicon glyphicon-chevron-down"></a>
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  <%= @user.name + " " + t('views.users.wrote') + " " + t('views.pluralize.summaries', count: @summaries.length) %>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <table id="notification-summaries" class="table table-striped table-hover">
                <thead>
                <tr>
                  <th class="col-xs-5"> <%= t('views.model.summary') %> </th>
                  <th class="col-xs-5"> <%= t('views.model.of_timeline') %> </th>
                </tr>
                </thead>
                <tbody class="page">
                <% @summaries.each do |com| %>
                    <td> <%= link_to t('views.model.summary'), summary_path(com.id ), class: "btn btn-primary" %>   </td>
                    <td> <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ) %>   </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <br/>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>
