<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.js"></script>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <% if logged_in? && current_user.id == @user.id %>
        <div class="pull-right">
          <%= link_to "<span class=\"fat icon-techno\"></span> Editer mon profil".html_safe,
                      edit_user_path(@user.id) ,class: "btn btn-default" %>
          <% if current_user.can_switch_admin %>
              &nbsp
              <% if current_user.admin %>
              <div class="pull-right">
                <%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span> Human mode ".html_safe,
                            switch_admin_users_path ,class: "btn btn-primary" %>
              </div>
              <% else %>
              <div class="pull-right">
                <%= link_to "<span class=\"glyphicon glyphicon-log-in\"></span> God Power mode ".html_safe,
                            switch_admin_users_path ,class: "btn btn-primary" %>
              </div>
              <% end %>
          <% end %>
        </div>
    <% end %>
        <% if @user_detail && @user_detail.id && @user_detail.picture? %>
            <%= image_tag @user_detail.picture_url, class: "img-rounded", height: "80px" %>
        <% else %>
            <%= image_tag "favicon.svg", class: "img-rounded", height: "80px" %>
        <% end %>
    <span style="font-size: 3em">
      &nbsp <%= @user.name %>
    </span>
  </div>
  <div class="panel-body">
    <% if logged_in? && current_user.admin && current_user.id != @user.id %>
        <div class="panel panel-danger">
          <div class="panel-heading clearfix">
            <span class="glyphicon glyphicon-warning-sign"></span> Pour les admins seulement <br/>
            <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
            <br/>
            <%= link_to "Se connecter en tant que #{@user.name}", login_for_admin_path(id:@user.id) %>
            <br/>
                <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>
                Supprimer ce contributeur".html_safe,
                            @user,
                            method: :delete,
                            class:  "pull-right btn btn-danger",
                            data:   {confirm: "Etes vous certain ?"} %>
          </div>
        </div>
    <% end %>
    <% if @user_detail && @user_detail.id && @user_detail.job != "" %>
        <% if @user_detail.institution != "" %>
            <%= @user.name %> est <%= @user_detail.job  %>
            <br/>
            <b> Institution : <%= @user_detail.institution %></b><br/>
        <% else %>
            <%= @user.name %> est <%= @user_detail.job  %><br/>
        <% end %>
    <% elsif @user_detail && @user_detail.id && @user_detail.institution != "" %>
            <%= @user.name %>
        <br/>
        <b> Institution : <%= @user_detail.institution %></b><br/>
    <% end %>
    <% if  @user_detail && @user_detail.id && @user_detail.biography != "" %>
        <b> Biographie : </b> <%= @user_detail.content_markdown.html_safe %> <br/>
    <% end %>
    <% if  @user_detail && @user_detail.id && @user_detail.website != "" %>
        <%= @user.name %> a même un site personnel : <%= link_to @user_detail.website, @user_detail.website, target: "_blank" %> <br/>
    <% end %>
    <br/>
    <div id="spider-graph" class="center">
    </div>
    <br/>
    <br/>
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseOne" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= @user.name %> a ajouté <%= pluralize(
                                    @timelines.length, "controverse") %>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <table id="notification-timelines" class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-sm-8"> Nom </th>
              <th class="col-sm-3"> Tags </th>
            </tr>
            </thead>

            <tbody class="page">
            <% if !@timelines.any? %>
                <tr class="notification-timeline">
                  <td> Auncune controverses </td>
                  <td>  </td>
                </tr>
            <% else %>
                <% @timelines.each do |timeline| %>
                    <tr class="notification-timeline">
                      <td> <%= link_to timeline.name.html_safe, timeline_path(timeline.id) %> </td>
                      <td>
                        <% timeline.get_tag_list.each do |name| %>
                            <span class="icon-<%= name %>"></span>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseFour" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              <%= @user.name %> a écrit <%= pluralize(
                                                    @summaries.length, "synthèse")%> de controverses
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <table id="notification-summaries" class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-xs-5"> Synthèse </th>
              <th class="col-xs-5"> De la controverse </th>
            </tr>
            </thead>
            <tbody class="page">
            <% if !@summaries.any? %>
                <tr class="notification-summary">
                  <td> Aucune synthèses </td>
                  <td>  </td>
                </tr>
            <% else %>
                <% @summaries.each do |com| %>
                    <td> <%= link_to "Voir la synthèse", summary_path(com.id ), class: "btn btn-primary" %>   </td>
                    <td> <%= link_to com.timeline_name.html_safe, timeline_path(com.timeline_id ) %>   </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseTwo" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%= @user.name %> a ajouté  <%= pluralize(
                                                      @references.length, "référence") %>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <table id="notification-references" class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-xs-6"> La référence </th>
              <th class="col-xs-4"> Dans la controverse </th>
            </tr>
            </thead>

            <tbody class="page">
            <% if !@references.any? %>
                <tr class="notification-reference">
                  <td> Aucune références ajoutées  </td>
                  <td></td>
                </tr>
            <% else %>
                <% @references.each do |reference| %>
                    <tr class="notification-reference">
                      <td> <%= link_to reference.title, reference_path(reference.id) %>   </td>
                      <td> <%= link_to reference.timeline_name.html_safe, timeline_path(reference.timeline_id ) %>   </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title clearfix">
            <a data-toggle="collapse" href="#collapseThree" class="pull-right glyphicon glyphicon-chevron-down"></a>
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <%= @user.name %> a écrit <%= pluralize(
                                    @comments.length, "analyse") %> de références
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <table id="notification-comments" class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-xs-3"> L'analyse </th>
              <th class="col-xs-4"> De la référence </th>
            </tr>
            </thead>

            <tbody class="page">
            <% if !@comments.any? %>
                <tr class="notification-comment">
                  <td> Aucune analyses </td>
                  <td>  </td>
                </tr>
            <% else %>
                <% @comments.each do |com| %>
                    <tr class="notification-comment">
                      <td> <%= link_to "Voir l'analayse", comment_path(com.id ), class: "btn btn-primary" %>   </td>
                      <td> <%= link_to com.reference_title, reference_path(com.reference_id) %>   </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.collapse').on('show.bs.collapse', function () {
        $(this).parent(".panel").find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

    });
    $('.collapse').on('hide.bs.collapse', function () {
        $(this).parent("div").parent("div").find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });
</script>

<% if @user_detail && !@user_detail.profil.blank? %>
<script type="text/javascript">
    RadarChart.defaultConfig.color = function() {};
    RadarChart.defaultConfig.radius = 4;
    RadarChart.defaultConfig.w = 400;
    RadarChart.defaultConfig.h = 400;
    var data = [
        {
            className: 'user', // optional can be used for styling
            axes: [
                <% (1..8).each do |n| %>
                {axis: "<%= user_profils[n] %>", value: <%= 0.5 + Float(@user_detail.profil[n.to_s]).round(3) %>},
                <% end %>
                {axis: "<%= user_profils[9] %>", value: <%= 0.5 + Float(@user_detail.profil["9"]).round(3) %>}
            ]
        }
    ];
    RadarChart.draw("#spider-graph", data);
</script>

<% end %>