<% provide(:title, "Edition du profil") %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-md-4">
    <%= render 'users/partial_user' %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span id="caption" style="display: none">
          <span id="original">
            <%= image_tag @user_detail.picture_url, class: "img-rounded", height: "80px" %>
          </span>
          <span id="uploaded" style="display: none">
            <%= image_tag '', class: "img-rounded", height: "80px" %>
          </span>
        </span>
            <span style="font-size: 2em"> &nbsp Modifier vos informations </span>
      </div>
      <div class="panel-body">
        <%= form_for(@user_detail, html: {multipart: true}, url: user_details_path, method: :post) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :job, "Fonction/métier" %>
            <%= f.text_field :job, placeholder: "Votre fonction/métier", class: 'form-control' %>
            <br/>
            <%= f.label :institution, "Institution" %>
            <%= f.text_field :institution, placeholder: "Où vous travaillez", class: 'form-control' %>
            <br/>
            <%= f.label :website, "Site personel" %>
            <%= f.text_field :website, placeholder: "http://", class: 'form-control' %>
            <br/>
            <%= f.label :biography, "Biographie" %>
            <%= f.text_area :biography, placeholder: "Votre biographie", class: 'form-control textarea' %>
            <br/>
            <%= f.hidden_field :has_picture, value: @user_detail.picture? %>
            <%= f.hidden_field :delete_picture, value: false %>
            <%= f.button "Enregistrer les changements &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                         class: 'btn btn-success pull-right',
                         data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Enregistrement en cours "}%>
        <% end %>
        <div>
          <div id="upload-btn" class="btn btn-info fileinput-button">
            <i class="glyphicon glyphicon-folder-open"></i>&nbsp
            <span id="ajouter"> Ajouter une photo de profil </span>
            <input accept="image/jpeg,image/gif,image/png,image/svg" id="fileupload" type="file" name="figure[picture]" multiple>
          </div>
          <div id="progress" style="display: none">
            <svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
              </path>
            </svg>
          </div>
          <div id="delete" class="btn btn-danger" style="display: none">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
            Supprimer la photo de profil
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Modifier votre profil </h3>
      </div>
      <div class="panel-body">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <br/>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
            <br/>
            <%= f.label :password, "Mot de passe" %>
            <%= f.password_field :password, class: 'form-control' %>
            <br/>
            <%= f.label :password_confirmation, "Confirmation de mot de passe" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <br/>
            <%= f.button "Enregistrer les changements &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                         class: 'btn btn-success pull-right',
                         data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Enregistrement en cours "}%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        if ($('#user_detail_has_picture').val() === 'true') {
            $('#caption').show();
            $('#delete').show();
            $('#ajouter').text("Modifier la photo de profil");
        }
    });
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: "<%= figures_url + "?profil_picture=true" %>",
            type: 'POST',
            dataType: 'json',
            done: function (e, data) {
                $('#upload-btn').show(300);
                $('#user_detail_has_picture').val('true');
                $('#user_detail_delete_picture').val('false');
                $('#caption').show(300);
                $('#progress').hide(300);
                $('#original').hide(300);
                $('#uploaded').show(300);
                $('#uploaded img').attr("src", data.result.picture.url);
            },
            start: function (e, data) {
                $('#upload-btn').hide();
                $('#progress').show();
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    $('#delete').click(function () {
        $('#caption').hide(300);
        $('#delete').hide(300);
        $('#ajouter').text("Ajouter une photo de profil");
        $('#user_detail_delete_picture').val('true');
    });
</script>