<% provide(:title, 'Les contributeurs') %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<span class=\"icon-users normal\"></span> Qui sont les contributeurs".html_safe,
                    users_path,
                    class: "list-group-item list-group-item-default cursor-not-allowed" %>
        <%= link_to "<span class=\"icon-graph normal\"></span> Évolution des contributions".html_safe,
                    contributions_path,
                    class: "list-group-item" %>
        <%= link_to "<span class=\"icon-graph normal\"></span> Nouvelles contributions".html_safe,
                    contributions_path(filter: "freq"),
                    class: "list-group-item" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div id="comments">
        <div class="row page">
          <%= render @users %>
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.timeline-body').responsiveEqualHeightGrid();
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
