<% provide(:title, 'Créer un compte') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Créer un compte </h3>
      </div>
      <div class="panel-body">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "p. ex.  C. Darwin" %>
            <br/>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', placeholder: "p. ex. Charles.darwin@univ-montp2.fr" %>
        <% if f.object.errors[:email].any? %>
             <br/>
            <%= f.label :why, "Pourquoi souhaitez vous contribuer" %>
            <%= f.text_area :why, class: 'form-control textarea' %>
        <% end %>
            <br/>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
            <br/>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <br/>
            <%= f.label :terms_of_service do %>
                <%= f.check_box :terms_of_service %>
                <span> J'ai lu et j'accepte <%= link_to "les conditions générales", terms_path %>. </span>
            <% end %>
            <br/>
        <div class="pull-right">
            <%= f.submit "Créer mon compte", class: "btn btn-primary" %>
        </div>
    <% end %>
      </div>
    </div>
  </div>
</div>