<% provide(:title, 'Créer un compte') %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> <%= t('views.sessions.new_user') %> </h3>
      </div>
      <div class="panel-body">
    <%= form_for @user do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "C. Darwin" %>
            <br/>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', placeholder: "Charles.darwin@cnrs.fr",
               :'data-validate' => '/users/checkemail' %>
        <div id="fetch" style="display: none; margin-left: 30px; margin-top: 20px">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="0" width="4" height="10" fill="#FF6700">
              <animateTransform attributeType="xml"
                                attributeName="transform" type="translate"
                                values="0 0; 0 20; 0 0"
                                begin="0" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="10" y="0" width="4" height="10" fill="#FF6700">
              <animateTransform attributeType="xml"
                                attributeName="transform" type="translate"
                                values="0 0; 0 20; 0 0"
                                begin="0.2s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="20" y="0" width="4" height="10" fill="#FF6700">
              <animateTransform attributeType="xml"
                                attributeName="transform" type="translate"
                                values="0 0; 0 20; 0 0"
                                begin="0.4s" dur="0.6s" repeatCount="indefinite" />
            </rect>
          </svg>
        </div>
        <div id="why" style="display:<%= f.object.errors[:email].any? ? "block" : "none" %>" >
          <br/>
          <div class="panel panel-info">
            <div class="panel-heading">
              <%= t('views.users.email_invalid_html') %>
            </div>
            <div class="panel-body">
            <%= f.text_area :why, class: 'form-control textarea' %>
            </div>
          </div>
        </div>
            <br/>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
            <br/>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <br/>
	<div id="test"> </div>
        <br/>
            <%= f.label :terms_of_service do %>
                <%= f.check_box :terms_of_service %>
                <span> <%= t('views.users.i_have_read') %> <%= link_to t('views.users.terms'), terms_path, target: "_blank" %>. </span>
            <% end %>
       <br/>
       <%= f.button "#{t('views.users.create')} &nbsp <span class=\"icon-frog fat\" aria-hidden=\"true\"></span>".html_safe, id: "submit",
                     class: 'btn btn-success pull-right',
		     data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.creating')} "}%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
$(function() {
    $('[data-validate]').blur(function() {
        $('#fetch').show();
        $this = $(this);
        $.get($this.data('validate'), {
            user: $this.val()
        }).success(function() {
            $('#fetch').hide();
            $('#why').hide();
        }).error(function() {
            $('#fetch').hide();
            $('#why').show();
        });
    });
});

$(document).ready(function(){

	$('input#user_password_confirmation').keyup(function(){
	
	$('#test').show();
	var $pwc = $('input#user_password_confirmation').val();
	var $pw = $('input#user_password').val();

	if ($pwc == $pw){
	$('#test').html("<div class='alert alert-success' role='alert'><span class='glyphicon glyphicon-ok' aria-hidden='true'></span><span class='sr-only'>Parfait: </span> Votre mot de passe a bien été confirmé.</div>");
		} else {
	$('#test').html("<div class='alert alert-danger' role='alert'><span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span><span class='sr-only'></span> Attention, Les deux mots de passe ne sont pas identiques!</div>");
	}

	});

	
});
</script>
