  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href= <%= "#collapse#{field}" -%> >
          <% if content.nil? %>
              <%= "<span class=\"no-comment\"> Pas encore de commentaire dans cette section, soyez le premier </span> ".html_safe %>
          <% else %>
              <%= content.html_safe %>
          <% end %>
        </div>
      </h4>
    </div>
    <div id=<%= "collapse#{field}" -%> class="panel-collapse collapse">
      <div class="panel-body">
            <% if logged_in? %>
                <% if @comments_user[field] %>
                    Vous avez déjà écrit un commentaire (<%= link_to '<span class="glyphicon glyphicon-edit"></span> Modifier'.html_safe, edit_comment_path(@comments_user[field]) -%>)
                <ol class="comments">
                <%= render @comments_user[field], melioration: false %>
                </ol>
                <% else %>
                <%= link_to '<span class="glyphicon glyphicon-plus" ></span> Ajouter votre commentaire à cette section '.html_safe,
                            new_comment_path(field: field) %>
                <% end %>
            <% end %>
            <div class="col-xs-12">
              <% if @comments[field].any? %>
                  <h3> Les <%= @comments[field].count %> commentaires les mieux notés </h3>
                  <ol class="comments">
                    <%= render @comments[field], melioration: true %>
                  </ol>
                  <%= link_to "Il y a d'autres commentaires, assouvisez votre soif de connaissance et decouvrez les", comments_path(reference_id: @reference.id, field: field) %>
              <% end %>
            </div>
      </div>
    </div>
  </div>