<div class="modal fade" id="newinvitation" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
      </div>
      <div class="modal-body clearfix">
        <div class="panel panel-info">
          <div class="panel-heading">
            <b>
              <% if invitation.timeline_id %>
                Envoyez une invitation à un intéressé par cette controverse
              <% elsif invitation.reference_id  %>
                Envoyez une invitation à un intéressé par cette référence
              <% end %>
            </b>
          </div>
        </div>
        <%= form_for(invitation, url: invitations_path, remote: true,
                     html:      {role: :form, 'data-model' => 'issue'}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.hidden_field :timeline_id, value: invitation.timeline_id %>
            <%= f.hidden_field :reference_id, value: invitation.reference_id %>
            <br/>
            <%= f.label "Son nom*" %>
            <%= f.text_field :target_name, class: 'form-control' %>
            <br/>
            <%= f.label "Son adresse email*" %>
            <%= f.text_field :target_email, class: 'form-control' %>
            <br/>
            <%= f.label :message, "Message", class: 'control-label' %>
            <br>
            <%= f.text_area :message, class: 'form-control textarea' %>
            <br>
            <%= f.label "Mon nom*" %>
            <%= f.text_field :user_name, value: logged_in? ? current_user.name : "", class: 'form-control' %>
            <br/>
            <div class="actions pull-right">
              <br/>
              <%= f.button "Envoyer l'invitation &nbsp <span class=\"glyphicon glyphicon-send\"></span>".html_safe,
                           class: 'btn btn-success',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp Envoi "} %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>