<div class="modal fade" id="newinvitation" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
      </div>
      <div class="modal-body clearfix">
        <div class="panel panel-info">
          <div class="panel-heading">
            <b>
              <% if invitation.timeline_id %>
		 <%= t('views.invitations.for_timeline') %>
	      <% elsif invitation.reference_id  %>
                <%= t('views.invitations.for_reference') %>
              <% end %>
            </b>
          </div>
        </div>
        <div class="clearfix">
          <%= form_for(invitation, url: invitations_path, remote: true,
                       html:      {role: :form, 'data-model' => 'issue'}) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= f.hidden_field :timeline_id, value: invitation.timeline_id %>
              <%= f.hidden_field :reference_id, value: invitation.reference_id %>
              <br/>
              <%= f.label t('views.invitations.target_name') %>
              <%= f.text_field :target_name, class: 'form-control' %>
              <br/>
              <%= f.label t('views.invitations.target_email') %>
              <%= f.text_field :target_email, class: 'form-control' %>
              <br/>
              <%= f.label :message, t('views.invitations.message'), class: 'control-label' %>
              <br>
              <%= f.text_area :message, class: 'form-control textarea' %>
              <br>
              <%= f.label t('views.invitations.user_name') %>
              <%= f.text_field :user_name, value: logged_in? ? current_user.name : "", class: 'form-control' %>
              <br/>
              <div class="actions pull-right">
                <br/>
		<%= f.button "#{t('views.invitations.send')} &nbsp <span class=\"glyphicon glyphicon-send\"></span>".html_safe,
                             class: 'btn btn-success',
			     data:  {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.sending')}"} %>
              </div>
          <% end %>
        </div>
            <b>*</b> : <%= t('views.edition.necessary') %>
      </div>
    </div>
  </div>
</div>
