<%= javascript_include_tag 'chart' %>

<% provide(:title, "Evolution des contributions") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var data = {
        labels: <%= raw @contrib_timelines.keys -%>,
        datasets: [
            {
                label: "Les contributeurs",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                <% sum = 0 %>
                data: <%= @contrib_users.values.map{ |x| sum += x.length } -%>
            },
            {
                label: "Les controverses",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                <% sum = 0 %>
                data: <%= @contrib_timelines.values.map{ |x| sum += x.length } -%>
            },
            {
                label: "Les références",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                <% sum = 0 %>
                data: <%= @contrib_references.values.map{ |x| sum += x.length } -%>
            },
            {
                label: "Les analyses",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                <% sum = 0 %>
                data: <%= @contrib_comments.values.map{ |x| sum += x.length } -%>
            },
            {
                label: "Les synthèses",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                <% sum = 0 %>
                data: <%= @contrib_summaries.values.map{ |x| sum += x.length } -%>
            }
        ]
    };
    Chart.defaults.global.responsive = true;
    var canvas = $("#myChart").get(0),
            ctx = canvas.getContext('2d'),
            myLineChart = new Chart(ctx).Line(data, {});
</script>