<%= javascript_include_tag 'chart' %>
<div class="heading">
  <%= image_tag "stars.png", class: "img-responsive", style: "opacity: 0.4;" %>
</div>
<div class="rocket">
  <%= image_tag "rocket.svg", class: "img-responsive" %>
</div>
<% provide(:title, "Evolution des contributions") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">
      <div class="list-group">
        <%= link_to "<span class=\"icon-users normal\"></span> #{t('views.navigation.users')}".html_safe,
                    users_path,
                    class: "list-group-item" %>
        <%= link_to "<span class=\"icon-graph-int normal\"></span> #{t('views.navigation.contributions')}".html_safe,
                    contributions_path,
                    class: "list-group-item #{ (params[:filter] != "freq") ? "list-group-item-default cursor-not-allowed" : ""}" %>
        <%= link_to "<span class=\"icon-graph-diff normal\"></span> #{t('views.navigation.new_contributions')}".html_safe,
                    contributions_path(filter: "freq"),
                    class: "list-group-item #{ (params[:filter] == "freq") ? "list-group-item-default cursor-not-allowed" : ""}" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            <% if params[:filter] == "freq" %>
                <%= t('views.navigation.new_contributions') %>
            <% else %>
                <%= t('views.navigation.contributions') %>
            <% end %>
          </h3>
        </div>
        <div class="panel-body">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <div id="my-legend"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var data = {
        labels: <%= raw @keys -%>,
        datasets: [
            {
                label: "<%= t('views.model.users') -%>",
                fillColor: "rgba(231,113,27,0.2)",
                strokeColor: "rgba(231,113,27,1)",
                pointColor: "rgba(231,113,27,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(231,113,27,1)",
                data: <%= @contribs[0] -%>
            },
            {
                label: "<%= t('views.model.timelines') -%>",
                fillColor: "rgba(241,202,58,0.2)",
                strokeColor: "rgba(241,202,58,1)",
                pointColor: "rgba(241,202,58,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(241,202,58,1)",
                data: <%= @contribs[1] -%>
            },
            {
                label: "<%= t('views.model.references') -%>",
                fillColor: "rgba(111,150,84,0.2)",
                strokeColor: "rgba(111,150,84,1)",
                pointColor: "rgba(111,150,84,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(111,150,84,1)",
                data: <%= @contribs[2] -%>
            },
            {
                label: "<%= t('views.model.comments') -%>",
                fillColor: "rgba(28,145,192,0.2)",
                strokeColor: "rgba(28,145,192,1)",
                pointColor: "rgba(28,145,192,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(28,145,192,1)",
                data: <%= @contribs[3] -%>
            },
            {
                label: "<%= t('views.model.summaries') -%>",
                fillColor: "rgba(67,69,157,0.2)",
                strokeColor: "rgba(67,69,157,1)",
                pointColor: "rgba(67,69,157,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(67,69,157,1)",
                data: <%= @contribs[4] -%>
            }
        ]
    };
    Chart.defaults.global.responsive = true;
    var canvas = $("#myChart").get(0),
            ctx = canvas.getContext('2d'),
            myLineChart = new Chart(ctx).Line(data, {
                legendTemplate: "<div class=\"list-group <%%=name.toLowerCase()%>-legend\"><%% for (var i=0; i<datasets.length; i++){%><div data-legend=\"<%%=i%>\" class=\"list-group-item legend-<%%=i+1%>\"><%%if(datasets[i].label){%><%%=datasets[i].label%><%%}%></div><%%}%></div>"
            }),
            myDatasets = myLineChart.datasets;
    $('#my-legend').append(myLineChart.generateLegend());
    $('.list-group-item', '#my-legend').on('click', function () {
        if ($(this).hasClass("active")) {
            $(this).removeClass("active");
            myLineChart.clear();
            myLineChart.datasets = [];
            $.each($('.list-group-item', '#my-legend'), function (index, value) {
                if (!$(value).hasClass("active")) {
                    myLineChart.datasets.push(myDatasets[parseInt($(value).data("legend"))])
                }
            });
            myLineChart.draw();
            myLineChart.update();
        } else {
            if ($('.active', '#my-legend').length < 4) {
                $(this).addClass("active");
                myLineChart.clear();
                myLineChart.datasets = [];
                $.each($('.list-group-item', '#my-legend'), function (index, value) {
                    if (!$(value).hasClass("active")) {
                        myLineChart.datasets.push(myDatasets[parseInt($(value).data("legend"))])
                    }
                });
                myLineChart.draw();
                myLineChart.update();
            }
        }
    });
</script>