<% provide(:title, "Liens") %>
<div id="my-container" class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-0 col-lg-2">
          <div class="list-group">
            <%= link_to "<span class=\"icon-arrow-left normal\"></span> #{t('views.navigation.back_timeline')}".html_safe,
                        timeline_path(params[:timeline_id]),
                        class: "list-group-item" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-md-offset-0">
          <div class="panel panel-default clearfix">
            <div class="panel-heading clearfix">
              <h2>
                <%= t('views.edges.to_timeline') %>
                <%= link_to Timeline.select(:name).find(params[:timeline_id]).name.html_safe, timeline_path(params[:timeline_id]) %>
                <br/>
                <br/>
              </h2>
            </div>
            <div class="panel-body">
              <% if @edges.any? %>
              <h6><span class="glyphicon glyphicon-link"></span> <%= t('views.edges.with_timelines') %>: </h6>
              <% end %>
              <% @edges.each do |edge| %>
                  <div class="panel <%= edge.balance >= 0 ? "panel-default" : "panel-danger" %>" >
                    <div class="panel-heading">
                      <div class="pull-left">
                        <% if @my_vote_likes && @my_vote_likes.include?(edge.id) %>
                            <button type="button" class="btn btn-sm btn-success" data-placement="top" data-value="true"
                                    data-toggle="tooltip" value="<%= edge.id %>" data-validate="/edge_votes"
                                    title="<%= t('views.default.you_and') + t('views.edges.upvote', count: (edge.plus-1)) %>">
                              <span class="icon icon-4 font16"> <%= edge.plus %></span>
                            </button>
                        <% else %>
                            <button type="button" class="btn btn-sm btn-default green" data-placement="top" data-value="true"
                                    data-toggle="tooltip" value="<%= edge.id %>" data-validate="/edge_votes"
                                    title="<%= t('views.edges.upvote', count: edge.plus) %>">
                              <span class="icon icon-4 font16"> <%= edge.plus %></span>
                            </button>
                        <% end %>
                        <% if @my_vote_dislikes && @my_vote_dislikes.include?(edge.id) %>
                            <button type="button" class="btn btn-sm btn-danger" data-placement="right" data-value="false"
                                    data-toggle="tooltip" value="<%= edge.id %>" data-validate="/edge_votes"
                                    title="<%=  t('views.default.you_and') + t('views.edges.downvote', count: (edge.minus-1)) %>">
                              <span class="icon icon-2 font16"> <%= edge.minus %></span>
                            </button>
                        <% else %>
                            <button type="button" class="btn btn-sm btn-default red" data-placement="right" data-value="false"
                                    data-toggle="tooltip" value="<%= edge.id %>" data-validate="/edge_votes"
                                    title="<%= t('views.edges.downvote', count: edge.minus) %>">
                              <span class="icon icon-2 font16"> <%= edge.minus %></span>
                            </button>
                        <% end %>
                      </div>
                      <h4>
                        &nbsp &nbsp
                        <span class="glyphicon glyphicon-link blue"></span>
                        <% if params[:timeline_id].to_i == edge.target %>
                            <%= link_to edge.timeline_name.html_safe, timeline_path(edge.timeline_id) %>
                        <% else %>
                            <%= link_to edge.target_name.html_safe, timeline_path(edge.target) %>
                        <% end %>
                      </h4>
                      <% if edge.balance < 0  %>
                          <div class="alert alert-danger">
                            <%= t('views.edges.not_counted') %>
                          </div>
                      <% end  %>
                    </div>
                  </div>
              <% end %>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h4><span class="glyphicon glyphicon-link"></span> <%= t('views.edges.new_edge') %></h4>
              </div>
              <div class="panel-body">
                <%= form_for(@edge) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <%= f.hidden_field :timeline_id, value: params[:timeline_id] %>

                    <%= f.button "<span class=\"glyphicon glyphicon-link\" aria-hidden=\"true\"></span>&nbsp #{t('views.edges.add_edge')}".html_safe,
                                 class: 'btn btn-success pull-right',
                                 style: "margin: 5px;",
                                 data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.creating')}"}%>

                    <% if @timeline_names.count > 6 %>
                    <div class="box">
                      <div class="container-jets">
                        <span class="icon glyphicon glyphicon-filter"></span>
                        <input type="search" id="jetsSearch" placeholder="Filtrer" />
                      </div>
                    </div>
                    <% end %>

                    <div id="jetsContent" data-toggle="buttons">
                      <% @timeline_names.each do |name, id| %>
                          <div class="btn btn-default btn-block text-left timeline-edge-check">
                              <%= f.check_box :target, {:multiple => true}, checked_value = id, unchecked_value = nil %>
                              <%= name.html_safe %>
                            <span class="pull-right checked glyphicon glyphicon-link">
                            </span>
                          </div>
                      <% end %>
                    </div>

                    <br/>
                <% end %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <br/>

            <h2 class="modal-title" id="myModalLabel">
              <%= t('views.edges.impossible') %>
            </h2>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $(function () {
        $('[data-validate]').click(function () {
            var self = $(this);
            self.hide();
            self.after('<svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"> <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
            $.ajax(self.data('validate'), {
                url: self.data('validate'),
                data: {id: self.val(),
                    value: self.data('value')},
                method: 'POST',
                statusCode: {
                    201: function (response){
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.icon', self);
                        if (self.data('value') == true){
                            self.removeClass('green');
                            self.addClass('btn-success');
                        } else {
                            self.removeClass('red');
                            self.addClass('btn-danger');
                        }
                        self.removeClass('btn-default');
                        self.attr('data-original-title', "<%= t('views.default.you_and')%>" + self.attr('data-original-title'));
                        like.text(' ' + (parseInt(like.text()) + 1));
                    },
                    204: function (response){
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.icon', self);
                        self.addClass('btn-default');
                        if (self.data('value') == true){
                            self.removeClass('btn-success');
                            self.addClass('green');
                        } else {
                            self.removeClass('btn-danger');
                            self.addClass('red');
                        }
                        self.attr('data-original-title', self.attr('data-original-title').replace('<%= t('views.default.you_and')%>', ''));
                        like.text(' ' + (parseInt(like.text()) - 1));
                    },
                    401: function (response){
                        $('.loader-like').remove();
                        self.show();
                        $('#iptaken').modal('show');
                    }
                }
            })
        });
    });
    var jets = new Jets({
        searchTag: '#jetsSearch',
        contentTag: '#jetsContent'
    });
</script>
