<br/>
<div class="row">
  <% suggestion_children.each do |suggestion_child| %>
  <div class="col-md-3">
    <div class="clearfix pull-right">
      <button type="button" class="btn btn-success" data-placement="left" data-value="true"
              data-toggle="tooltip" value="<%= suggestion_child.id %>" data-validate="/suggestion_child_votes/add"
              title="<%= suggestion_child.plus.to_s + " personnes sont d'accords" %>">
        <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion_child.plus %> </span>
      </button>
      <button type="button" class="btn btn-danger" data-placement="left" data-value="false"
              data-toggle="tooltip" value="<%= suggestion_child.id %>" data-validate="/suggestion_child_votes/add"
              title="<%= suggestion_child.minus.to_s + " personnes ne sont pas d'accords" %>">
        <span class="glyphicon glyphicon-thumbs-down"> <%= suggestion_child.minus %> </span>
      </button>
      </div>
  </div>
  <div class="col-md-9">
        <div class="panel panel-default suggestion">
          <div class="panel-body">
          <span class="content">
            <div class="text-justify">
              <%= suggestion_child.comment %>
            </div>
            <% if logged_in? && suggestion_child.user_id == current_user.id %>
              <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer".html_safe, suggestion_child_path(suggestion_child.id), method: :delete,
                          data: { confirm: "Etes vous certain ?" },
                          class: "btn btn-danger" %>
                <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier".html_safe, edit_suggestion_child_path(suggestion_child.id),
                            class: "btn btn-primary" %>
            <% end %>
          </span>
          </div>
          <div class="panel-footer clearfix">
              <span class="timestamp">
                Publié il y a <%= time_ago_in_words(suggestion_child.created_at) %> par
                <% if suggestion_child.user_id %>
                    <%= link_to suggestion_child.name, user_path(suggestion_child.user_id) %>
                <% else %>
                    <%= suggestion_child.name %>
                <% end %>
               </span>
          </div>
        </div>
     </div>
  <% end %>
  <div class="col-md-9 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-bullhorn"></span>
        Une furieuse envie de répondre, c'est ici !
      </div>
      <div class="panel-body">
        <%= form_for( :suggestion_child, url: suggestion_children_path, method: :post) do |f| %>
            <%= f.hidden_field :suggestion_id, value: suggestion_id %>
            <div class="form-group">
              <%= f.label :comment, "Votre réponse", class: 'control-label' %><br>
              <%= f.text_area :comment,  {rows: 3,
                                          :class => "form-control textarea"} %>
              <span class="help-block"></span>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <% if logged_in? %>
                    <%= f.text_field :name, value: current_user.name, class: 'form-control selectwidthauto' %>
                <% else %>
                    <%= f.text_field :name, value: 'Un illustre Anonyme', class: 'form-control selectwidthauto' %>
                <% end %>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="pull-right">
                  <%= f.button "Publier &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                               class: 'btn btn-success',
                               data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Publication en cours "}%>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
