<div class="col-xs-10 col-xs-offset-1">
  <div class="panel panel-default suggestion">
    <div class="panel-body">
          <span class="content clearfix">
            <div class="text-justify">
              <%= suggestion_child.content_markdown.html_safe %>
            </div>
            <% if logged_in? && suggestion_child.user_id == current_user.id %>
                <div class="pull-right">
                  <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer".html_safe, suggestion_child_path(suggestion_child.id), method: :delete,
                              data:                                                                                                                        {confirm: "Etes vous certain ?"},
                              class:                                                                                                                       "btn btn-danger" %>
                  <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier".html_safe, edit_suggestion_child_path(suggestion_child.id),
                              class: "btn btn-primary" %>
                </div>
                  <div class="sticky" style="color: #5cb85c;" data-placement="top"
                       data-toggle="tooltip"
                       title="<%= suggestion_child.plus.to_s + " contributeurs trouvent cette idée constructive" %>">
                    <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion_child.plus %></span>
                  </div>
                  <div class="sticky" style="color: #d9534f;" data-placement="right"
                       data-toggle="tooltip"
                       title="<%= suggestion_child.minus.to_s + " contributeurs trouvent cette idée non constructive" %>">
                    <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion_child.minus %></span>
                  </div>
            <% else %>
              <div>
                <% if @my_sug_child_likes && @my_sug_child_likes.include?(suggestion_child.id) %>
                    <button type="button" class="btn btn-sm btn-success" data-placement="top" data-value="true"
                            data-toggle="tooltip" value="<%= suggestion_child.id %>" data-validate="/suggestion_child_votes"
                            title="Vous et <%= (suggestion_child.plus - 1).to_s + " contributeurs trouvent cette réponse constructive" %>">
                      <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion_child.plus %></span>
                    </button>
                <% else %>
                    <button type="button" class="btn btn-sm btn-default green" data-placement="top" data-value="true"
                            data-toggle="tooltip" value="<%= suggestion_child.id %>" data-validate="/suggestion_child_votes"
                            title="<%= suggestion_child.plus.to_s + " contributeurs trouvent cette réponse constructive" %>">
                      <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion_child.plus %></span>
                    </button>
                <% end %>
                <% if @my_sug_child_dislikes && @my_sug_child_dislikes.include?(suggestion_child.id) %>
                    <button type="button" class="btn btn-sm btn-success" data-placement="right" data-value="false"
                            data-toggle="tooltip" value="<%= suggestion_child.id %>" data-validate="/suggestion_child_votes"
                            title="Vous et <%= (suggestion_child.minus - 1).to_s + " contributeurs trouvent cette réponse non constructive" %>">
                      <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion_child.minus %></span>
                    </button>
                <% else %>
                    <button type="button" class="btn btn-sm btn-default red" data-placement="right" data-value="false"
                            data-toggle="tooltip" value="<%= suggestion_child.id %>" data-validate="/suggestion_child_votes"
                            title="<%= suggestion_child.minus.to_s + " contributeurs trouvent cette réponse non constructive" %>">
                      <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion_child.minus %></span>
                    </button>
                <% end %>
              </div>
            <% end %>
          </span>
    </div>
    <div class="panel-footer clearfix">
      <span class="timestamp">
        Publié il y a <%= time_ago_in_words(suggestion_child.created_at) %> par
        <%= link_to suggestion_child.user_name, user_path(suggestion_child.user_id) %>
       </span>
    </div>
  </div>
</div>