<% provide(:title, "Modifier une réaction") %>

<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-6 col-lg-offset-1 col-lg-5">
      <%= render 'suggestions/livre_dor' %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-6 col-lg-5">
      <div class="row">
        <div class="clearfix">
          <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
              <div class="panel-body clearfix">
                <div class="text-justify">
                  <%= @suggestion.content_markdown.html_safe %>
                </div>
                <% if logged_in? && (@suggestion.user_id == current_user.id || current_user.admin) %>
                    <div class="pull-right">
                      <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer".html_safe,
                                  suggestion_path(@suggestion.id), method: :delete,
                                  data: {confirm: t('views.default.confirm')},
                                  class: "btn btn-danger" %>
                      <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier".html_safe,
                                  edit_suggestion_path(@suggestion.id),
                                  class: "btn btn-primary" %>
                    </div>
                <% end %>
                <% if logged_in? && @suggestion.user_id == current_user.id %>
                    <div class="sticky" style="color: #5cb85c;" data-placement="top"
                         data-toggle="tooltip"
                         title="<%= @suggestion.plus.to_s + " contributeurs trouvent cette idée constructive" %>">
                      <span class="glyphicon glyphicon-thumbs-up"> <%= @suggestion.plus %></span>
                    </div>
                <% else %>
                    <div>
                      <% if @my_sug_likes && @my_sug_likes.include?(@suggestion.id) %>
                          <button type="button" class="btn btn-sm btn-success" data-placement="top" data-value="true"
                                  data-toggle="tooltip" value="<%= @suggestion.id %>" data-validate="/suggestion_votes"
                                  title="Vous et <%= (@suggestion.plus - 1).to_s + " contributeurs trouvent cette idée constructive" %>">
                            <span class="glyphicon glyphicon-thumbs-up"> <%= @suggestion.plus %></span>
                          </button>
                      <% else %>
                          <button type="button" class="btn btn-sm btn-default green" data-placement="top" data-value="true"
                                  data-toggle="tooltip" value="<%= @suggestion.id %>" data-validate="/suggestion_votes"
                                  title="<%= @suggestion.plus.to_s + " contributeurs trouvent cette idée constructive" %>">
                            <span class="glyphicon glyphicon-thumbs-up"> <%= @suggestion.plus %></span>
                          </button>
                      <% end %>
                    </div>
                <% end %>
              </div>
              <div class="panel-footer clearfix">
                <div class="clearfix">
                  <span class="timestamp">
                    Publié il y a <%= time_ago_in_words(@suggestion.created_at) %> par
                    <%=  @suggestion.user_id ? (link_to @suggestion.user_name, user_path(@suggestion.user_id)) : " un inconnu." %>
                   </span>
                </div>
                <div id="children<%= @suggestion.id %>">
                  <br/>
                  <% @suggestion_children.each do |suggestion_child| %>
                      <% if suggestion_child.id == @suggestion_child.id %>
                          <div class="col-xs-10 col-xs-offset-1">
                            <div class="panel panel-default suggestion">
                              <div class="panel-body">
                                <%= form_for @suggestion_child do |f| %>
                                    <%= render 'shared/error_messages', object: f.object %>
                                    <%= f.hidden_field :suggestion_id, value: @suggestion_child.suggestion_id %>
                                    <div class="form-group">
                                      <%= f.label :comment, "Votre réponse", class: 'control-label' %><br>

                                      <div id="characterLeft"></div>
                                      <%= f.text_area :comment,
                                                      class: 'form-control textarea',
                                                      id: "description0" %>
                                      <span class="help-block"></span>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <div class="pull-right">
                                          <%= f.button "Modifier &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                                                       class: 'btn btn-success',
                                                       data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.editing')} "} %>
                                        </div>
                                      </div>
                                    </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                      <% else %>
                          <%= render suggestion_child %>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if logged_in? %>
            <br/>

            <h2 class="modal-title" id="myModalLabel">Opération impossible</h2>
        <% else %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> Veuillez vous identifier afin d'effectuer cette
              action</h2>
            <br/>
            <%= link_to "S'identifier", login_path, class: "btn btn-lg btn-primary" %>
            <div class="pull-right">
              <%= link_to "Créer un compte", signup_path, class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/length_counter' %>
<%= render 'shared/suscribe' %>

<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $("textarea").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkCVS']
    });
    setupLengthCounter([[0, 400, 140]]);
    setupSuscribe();
</script>
