<div class="modal fade" id="newpatch" tabindex="-1" role="dialog">
  <div class="modal-dialog <%= patch.target_user_id == current_user.id ? nil : "modal-lg" %> ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="center bigger">
          <br/>
          <%= render 'patches/parent_header', patch: patch %>
          <br>
        </div>
      </div>
      <div class="modal-body center font12 clearfix">
        <% if patch.target_user_id == current_user.id %>
            <% if GoPatch.where(target_user_id: current_user.id,
                                summary_id: patch.summary_id,
                                comment_id: patch.comment_id,
                                frame_id: patch.frame_id).count > 0 %>
                <%= t('views.patches.waiting') %>
                <br>
                <br>
                <%= link_to "<span class=\"badge badge-li\"> #{GoPatch.where(target_user_id: current_user.id,
                                                                             summary_id: patch.summary_id,
                                                                             comment_id: patch.comment_id,
                                                                             frame_id: patch.frame_id ).count}</span> #{t('views.patches.show_patches')}".html_safe,
                            patches_target_path(frame_id: patch.frame_id,
                                                summary_id: patch.summary_id,
                                                comment_id: patch.comment_id),
                            class: "btn btn-primary btn-lg" %>

            <% else %>
                <%= t('views.patches.edit') %>
                <br>
                <br>
                <%= link_to "<span class=\"icon icon-summary\"></span> #{t('views.patches.edit_contrib')}".html_safe,
                            patch.frame_id ?
                                    edit_frame_path(patch.frame_id) : patch.summary_id ?
                                    edit_summary_path(patch.summary_id) : edit_comment_path(patch.comment_id),
                            class: "btn btn-primary btn-lg" %>
            <% end %>
        <% else %>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div>
                  <span class="fat icon-bug-<%=rand(18)%>"></span>
                </div>
                <%= t('views.patches.suggest') %>

                <br>
                <br>
                <br>
                <% if GoPatch.where(user_id: current_user.id,
                                    summary_id: patch.summary_id,
                                    comment_id: patch.comment_id,
                                    frame_id: patch.frame_id,
                                    field: patch.field).count > 0 %>
                    <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span> <br> #{t('views.patches.see_patch')}".html_safe,
                                patches_mine_path(frame_id: patch.frame_id,
                                                  summary_id: patch.summary_id,
                                                  comment_id: patch.comment_id,
                                                  field: patch.field),
                                class: "btn btn-primary btn-lg" %>
                    <br><br>
                    <div class="panel-danger panel">
                      <div class="panel-heading">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <%= t('views.patches.yours_wait') %>
                      </div>
                    </div>
                <% else %>
                    <%= link_to "<span class=\"fat icon-flow-line\"></span> <br> #{t('views.patches.new_patch')}".html_safe,
                                new_patch_path(frame_id: patch.frame_id,
                                               comment_id: patch.comment_id,
                                               summary_id: patch.summary_id,
                                               field: patch.field),
                                class: "btn btn-primary btn-lg" %>
                <% end %>
                <br>
                <br>
                <div class="center">
                  <%= t('views.patches.why') %>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div>
                  <% if patch.comment_id %>
                      <span class="fat icon-comment"></span>
                  <% elsif patch.summary_id %>
                      <span class="fat icon-summary"></span>
                  <% end %>
                </div>
                <%= t('views.patches.version') %>

                <br>
                <br>
                <% if patch.mine_parent %>
                    <%= link_to "<span class=\"fat icon-summary\"></span> <br> #{t('views.patches.edit_version')}".html_safe,
                                patch.frame_id ?
                                        edit_frame_path(patch.mine_parent.id) : patch.summary_id ?
                                        edit_summary_path(patch.mine_parent.id) : new_comment_path(patch.mine_parent.id),
                                class: "btn btn-primary btn-lg" %>
                    <br><br>
                    <div class="panel-danger panel">
                      <div class="panel-heading">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <%= t('views.patches.already') %>
                      </div>
                    </div>
                <% else %>
                    <%= link_to "<span class=\"fat icon-flow-fork-blank\"></span> <br> #{t('views.patches.new_version')}".html_safe,
                                patch.frame_id ?
                                        new_frame_path(timeline_id: patch.frame.timeline_id) : patch.summary_id ?
                                        new_summary_path(timeline_id: patch.summary.timeline_id) : new_comment_path(reference_id: patch.comment.reference_id),
                                class: "btn btn-primary btn-lg" %>
                <% end %>
                <br>
                <br>

                <div class="center" >
                  <%= t('views.patches.why_version') %>
                </div>
              </div>
            </div>
        <% end %>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
