<div class="modal fade" id="newpatch" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
      </div>
      <div class="modal-body clearfix">
        <div class="panel panel-info">
          <div class="panel-heading">
            <% if patch.target_user_id == current_user.id %>
                <b>
			<%= t('views.patches.if_yours') %>
		</b>
            <% else %>
                <b>
			<%= t('views.patches.if_not_yours_html') %>
                </b>
            <% end %>
          </div>
        </div>
        <%= form_for(patch, url: patches_path, remote: true,
                     html:      {role: :form, 'data-model' => 'issue'}) do |f| %>
            <%= f.hidden_field :summary_id, value: patch.summary_id %>
            <%= f.hidden_field :comment_id, value: patch.comment_id %>
            <%= f.hidden_field :frame_id, value: patch.frame_id %>
            <%= f.hidden_field :field, value: patch.field %>
            <%= f.label :content, t('views.patches.content'), class: 'control-label' %>
            <br>
            <%= f.text_area :content, class: 'form-control textarea' %>
            <div class="actions pull-right">
              <br/>
	      <%= f.button "#{t('views.patches.send')} &nbsp <span class=\"bigger icon-bug-#{rand(18)}\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.sending')} "} %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
