<b>
  <%= render 'patches/parent_header', patch: patch %>
</b>
<br/>
<br/>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="pretty">
      <div id="original" style="display: none"><%= patch.parent_content %></div>
      <div id="patches" data-patchId="<%= patch.id %>" style="display: none"><%= patch.content %></div>
      <div id="diff" style="text-align: justify"></div>
      <% if (patch.target_user_id == current_user.id || current_user.admin  ) && patch.patch_messages.any? %>
          <%= render 'patch_messages/messages', patch_messages: patch.patch_messages %>
      <% end %>
      <br>
      <% if patch.user_patches.any? %>
        Suggestions par :
          <% patch.user_patches.each_with_index do |user_patch, index| %>
          <%= link_to user_patch.user.name, user_path(user_patch.user) %>
              <% if index < patch.user_patches.length - 2  %>
              ,
              <% elsif index == patch.user_patches.length - 2 %>
               et
              <% end %>
          <% end %>
      <% end %>
      <div class="pull-right">
        <span id="charLeft"
              data-min-len="<%= patch.content_ch_min %>"
              data-max-len="<%= patch.content_ch_max %>"></span><br>
        <div id="accept-patches" class="btn btn-success"
             data-frame-id="<%= patch.frame_id %>"
             data-field="<%= patch.field %>"
             data-comment-id="<%=  patch.comment_id %>"
             data-summary-id="<%=  patch.summary_id %>"
             data-validate="<%= patches_accept_path %>" style="display: none">
          <span class="glyphicon glyphicon-ok"></span> Sauvegarder les changements
        </div><br>
        <div id="reset-patches" class="btn btn-primary pull-right" style="display: none; margin-top: 5px">
          <span class="glyphicon glyphicon-refresh"></span> Recommencer
        </div>
      </div>
      <div class="row">
        <div id="alert-div" class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      </div>
      </div>
    </div>
    <br/>
  </div>
</div>