<b>
  <%= render 'patches/parent_header', patch: patch %>
</b>
<br/>
<br/>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="pretty">
      <div id="original" style="display: none"><%= patch.parent_content %></div>
      <div id="patches" data-patchId="<%= patch.id %>" style="display: none"><%= patch.content %></div>
      <div id="diff" style="text-align: justify"></div>
      <% if (patch.target_user_id == current_user.id || current_user.admin  ) && patch.patch_messages.any? %>
          <%= render 'patch_messages/messages', patch_messages: patch.patch_messages %>
      <% end %>
      <div class="pull-right">
        <div id="accept-patches" class="btn btn-success"
             data-frame-id="<%= patch.frame_id %>"
             data-field="<%= patch.field %>"
             data-comment-id="<%=  patch.comment_id %>"
             data-summary-id="<%=  patch.summary_id %>"
             data-validate="<%= patches_accept_path %>" style="display: none">
          <span class="glyphicon glyphicon-ok"></span> <%= "Sauvegarder les changements" %>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>