<% if frame.binaries.count > 0%>
    <% unless @charset %>
        <%= javascript_include_tag 'chartBar' %>
    <% else %>
        <% @charset = true %>
    <% end %>
<% end %>


<div id="frame-id-<%= frame.id %>" class="panel <%= logged_in? && @my_frame_credit && @my_frame_credit.frame_id == frame.id ? "panel-success" : "panel-default" %>">
  <div class="panel-footer clearfix">
    <div class="content">
      <div class="clearfix">
        <h1 class="shadowed">
          <br/>
          <span class="content<%= frame.id*10 + 0 %>">
           <%= frame.name_markdown.html_safe %>
        </span>
          <% if logged_in? %>
              <%= render 'patches/link_frame', field: 0, frame_id: frame.id %>
          <% else %>
              <br/>
          <% end %>
          <br/>
        </h1>
        <% if frame.content != '' %>
            <div class="cadre text-justify content<%= frame.id*10 + 1 %>">
              <b style="font-size: 1.4em"><%= t('views.frames.frame') %> :</b><br/>
              <%= frame.content_markdown.html_safe %>
              <% unless frame.why_markdown.blank? %>
                  <hr>
                  <b style="font-size: 1.4em"><%= t('views.frames.why') %></b><br>
                  <%= frame.why_markdown.html_safe %>
              <% end %>
              <% if logged_in? %>
                  <%= render 'patches/link_frame', field: 1, frame_id: frame.id %>
              <% end %>
            </div>
            <br/>
        <% end %>
      </div>
    </div>
    <% unless frame.binary.blank? %>
        <div class="center">
          <br/>
          <b style="font-size: 2.2em"><%= frame.binary.split('&&')[0].humanize -%></b>
          &nbsp &nbsp <span style="font-size: 1.4em">ou</span>  &nbsp &nbsp
          <b style="font-size: 2.2em"><%= frame.binary.split('&&')[1].humanize -%> ? </b>
          <br/><br/>
          <span id="versus-click"></span>
          <% if frame.binaries.count > 0 %>
              <div class="row">
              <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <canvas id="chartjs"></canvas>
              </div>
              </div>
            <% (1..5).each do |i| %>
              <span id="binary-explanation-<%= i %>" class="hidden"><%= frame.binary_explanation(i).html_safe -%></span>
            <% end %>
              <script>
                  var context = "#frame-id-<%= frame.id %>";
                  var binaries_dico = <%= raw frame.binaries_dico.to_json -%>;
                  var sum_binaries = binaries_dico[1] + binaries_dico[2] + binaries_dico[3] + binaries_dico[4] + binaries_dico[5];
                  new Chart($("#chartjs", context), {
                      type: "horizontalBar",
                      data: {
                          datasets: [{
                              label: $("#binary-explanation-1").text(),
                              data: [binaries_dico[1]*100/sum_binaries],
                              backgroundColor: "rgba(11,132,165,0.6)",
                              borderColor: "rgba(11,132,165,1.0)",
                              borderWidth: 2
                          },{
                              label: $("#binary-explanation-2").text(),
                              data: [binaries_dico[2]*100/sum_binaries],
                              backgroundColor: "rgba(174,214,136,0.6)",
                              borderColor: "rgba(174,214,136,1.0)",
                              borderWidth: 2
                          },{
                              label: $("#binary-explanation-3").text(),
                              data: [binaries_dico[3]*100/sum_binaries],
                              backgroundColor: "rgba(245,199,103,0.6)",
                              borderColor: "rgba(245,199,103,1.0)",
                              borderWidth: 2
                          },{
                              label: $("#binary-explanation-4").text(),
                              data: [binaries_dico[4]*100/sum_binaries],
                              backgroundColor: "rgba(255,160,86,0.6)",
                              borderColor: "rgba(255,160,86,1.0)",
                              borderWidth: 2
                          },{
                              label: $("#binary-explanation-5").text(),
                              data: [binaries_dico[5]*100/sum_binaries],
                              backgroundColor: "rgba(202,71,47,0.6)",
                              borderColor: "rgba(202,71,47,1.0)",
                              borderWidth: 2
                          }
                          ]
                      },
                      options: {
                          responsive: true,
                          maintainAspectRatio: false,
                          legend: {
                              fontFamily: "'Ubuntu', sans-serif"
                          },
                          scales: {
                              xAxes: [{
                                  stacked: true,
                                  ticks: {
                                      callback: function(value, index, values) {
                                          return value + "%";
                                      }
                                  }

                              }],
                              yAxes: [{
                                  display: false,
                                  stacked: true
                              }]
                          },
                          tooltips: {
                              callbacks: {
                                  label: function(item, data) {
                                      var datasetLabel = data.datasets[item.datasetIndex].label || '';
                                      var endlabel = binaries_dico[item.datasetIndex + 1] + " référence";
                                      if (binaries_dico[item.datasetIndex + 1] > 1) {
                                          endlabel += "s"
                                      }
                                      return datasetLabel + ': ' + endlabel ;
                                  }
                              }
                          }
                      }
                  });
              </script>
          <% else %>
              Aucune référence n'a encore été classée.
          <% end %>
          <br><br>
        </div>
    <% end %>
    <div class="cadre pull-right">
      <%= render 'users/link_contributors', model: frame %>
    </div>
    <% if logged_in? %>
        <div class="panel-heading">
          <div id="destroy-div-<%= frame.id %>" class="clearfix">
            <% if (current_user.id == frame.user_id || current_user.admin) && frame.binaries.count > 0 %>
                <div class="pull-right" style="margin-right: 8px;">
                  <%= link_to "<span class=\"icon icon-ribbon\"></span> &#8594;
                                <span class=\"glyphicon glyphicon-trash font12\"></span>".html_safe,
                              destroy_binaries_frames_path(frame_id: frame.id),
                              title: t('views.frames.destroy_binaries'),
                              remote: true,
                              id: "destroy-frame-#{frame.id}",
                              'data-toggle' => 'tooltip',
                              data: {confirm: t('views.default.confirm')},
                              class: "btn btn-danger" %>
                </div>

            <% end %>
            <% if current_user.id != frame.user_id && !@only_one_frame %>
                <% if @my_frame_credit && @my_frame_credit.frame_id == frame.id %>
                    <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                                frame_credit_path(@my_frame_credit.id),
                                "data-toggle" => "tooltip",
                                "data-placement" => "right",
                                title: t('views.frames.downvote'),
                                method: "delete",
                                class: "btn btn-lg btn-success",
                                :style => "padding: 8px; margin-left: 8px" %>
                <% else %>
                    <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                                frame_credits_path(timeline_id: frame.timeline_id,
                                                   frame_id: frame.id),
                                "data-toggle" => "tooltip",
                                "data-placement" => "right",
                                title: t('views.frames.upvote'),
                                method: :post,
                                class: "btn btn-lg btn-default green",
                                :style => "padding: 8px; margin-left: 8px" %>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>