<div id="frame-id-<%= frame.id %>" class="panel <%= logged_in? && @my_frame_credit && @my_frame_credit.frame_id == frame.id ? "panel-success" : "panel-default" %>">
  <div class="panel-body">
  <span class="content">
    <div class="clearfix">
      <% if logged_in? %>
          <div class="pull-right">
            <%= link_to "<span class=\"fat icon-fork\"></span>".html_safe,
                        patches_modal_path(frame_id: frame.id, field: 0),
                        remote: true,
                        :class  => "btn btn-default", "data-toggle" => "tooltip",
                        title:  t('views.default.patch'),
                        :style  => "padding: 8px; margin-right: 8px" %>
          </div>
      <% end %>
      <h1 class="shadowed">
        <br/>
        <span class="content<%= frame.id*10 + 0 %>">
           <%= frame.name_markdown.html_safe %>
        </span>
        <br/><br/>
      </h1>
      <% if frame.content != "" %>
          <% if logged_in? %>
              <div class="pull-right">
                <%= link_to "<span class=\"fat icon-fork\"></span>".html_safe,
                            patches_modal_path(frame_id: frame.id, field: 1),
                            remote: true,
                            :class  => "btn btn-default", "data-toggle" => "tooltip",
                            title: t('views.default.patch'),
                            :style  => "padding: 8px; margin: 8px" %>
              </div>
          <% end %>
          <div class="cadre text-justify content<%= frame.id*10 + 1 %>">
            <b style="font-size: 1.4em"><%= t('views.frames.frame')%> :</b><br/>
            <%= frame.content_markdown.html_safe %>
          </div>
          <br/>
      <% end %>
    </div>
        <div class="cadre pull-right">
          <%= "#{t('views.default.published')} #{time_ago_in_words(frame.created_at)} #{t('views.default.by')}" %> <%= link_to frame.user_name, user_path(frame.user_id) %>
        </div>
  </span>
  </div>
  <% unless frame.binary.blank? %>
      <div class="panel-footer clearfix">
        <div class="center">
          <br/>
          <b style="font-size: 2.2em"><%= frame.binary.split('&&')[0].humanize -%></b>
          &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "82px") %>&nbsp
          <b style="font-size: 2.2em"><%= frame.binary.split('&&')[1].humanize -%></b>
        </div>
        <br/>
      </div>
      <% if frame.binaries.count > 0 %>
          <div id="versus-chart" class="row" style="display: none">
            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
              <div class="panel panel-default">
                <div class="center">
                  <br>

                  <div style="font-size: 1.2em">
                    <%= frame.name_markdown.html_safe %>
                  </div>
                </div>
                <br/><br/>

                <div class="row">
                  <div class="col-xs-12 col-md-offset-1 col-md-6">
                    <canvas id="myChart"></canvas>
                  </div>
                  <div class="col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-4">
                    <div id="doughtnut-legend"></div>
                  </div>
                </div>
                <br>
                <br>
              </div>
            </div>
          </div>
          <script type="text/javascript">
              $(document).ready(function () {
                  var context = "#frame-id-<%= frame.id %>";
                  var $versusChart = $("#versus-chart", context), $versusClick = $('#versus-click', context);
                  $versusClick.on('inview', function(event, isInView) {
                      if (isInView) {
                          if (!$versusClick.hasClass("active")) {
                              $versusChart.show(500, function () {
                                  var data = [
                                      {
                                          value: <%= frame.binaries_dico[1] -%>,
                                          color: "rgba(11,132,165,1.0)",
                                          highlight: "rgba(11,132,165,0.6)",
                                          label: '<%= frame.binary_explanation(1) -%>'
                                      },
                                      {
                                          value: <%= frame.binaries_dico[2] -%>,
                                          color: "rgba(174,214,136,1.0)",
                                          highlight: "rgba(174,214,136,0.6)",
                                          label: '<%= frame.binary_explanation(2) -%>'
                                      },
                                      {
                                          value: <%= frame.binaries_dico[3] -%>,
                                          color: "rgba(245,199,103,1.0)",
                                          highlight: "rgba(245,199,103,0.6)",
                                          label: '<%= frame.binary_explanation(3) -%>'
                                      },
                                      {
                                          value: <%= frame.binaries_dico[4] -%>,
                                          color: "rgba(255,160,86,1.0)",
                                          highlight: "rgba(255,160,86,0.6)",
                                          label: '<%= frame.binary_explanation(4) -%>'
                                      },
                                      {
                                          value: <%= frame.binaries_dico[5] -%>,
                                          color: "rgba(202,71,47,1.0)",
                                          highlight: "rgba(202,71,47,0.6)",
                                          label: '<%= frame.binary_explanation(5) -%>'
                                      }
                                  ];
                                  Chart.defaults.global.responsive = true;
                                  Chart.defaults.global.tooltipTemplate = "<%%= value %> références";
                                  (function () {
                                      var helpers = Chart.helpers,
                                              canvas = $("#myChart", context).get(0),
                                              ctx = canvas.getContext('2d'),
                                              versusDoughnut = new Chart(ctx).Doughnut(data, {
                                                  legendTemplate: "<div><%% for (var i=0; i<segments.length; i++){%><div class=\"clearfix\"><div class=\"pics\" style=\"background-color:<%%=segments[i].fillColor%>\"></div><div class=\"labels\"><%%if(segments[i].label){%><%%=segments[i].label%></div><%%}%></div><%%}%></div>"
                                              });
                                      $('#doughtnut-legend', context).html(versusDoughnut.generateLegend());
                                      helpers.addEvent(canvas, 'mousemove', function (evt) {
                                          var segments = versusDoughnut.getSegmentsAtEvent(evt);
                                          if (segments.length > 0) {
                                              canvas.style.cursor = "pointer";
                                          }
                                          else {
                                              canvas.style.cursor = "default";
                                          }
                                      });

                                      helpers.addEvent(canvas, 'click', function (evt) {
                                          versusDoughnut.options.animation = true;
                                          versusDoughnut.options.onAnimationComplete = function () {
                                              this.showTooltip(this.activeElements, true);
                                          };
                                          var segments = versusDoughnut.getSegmentsAtEvent(evt);
                                          helpers.each(segments, function (bar) {
                                              if (bar.active) {
                                                  $(bar.references).hide(500);
                                                  bar.active = false;
                                                  bar._saved.highlightColor = bar.baseColor.replace('1.0)', '0.8)');
                                                  bar._saved.fillColor = bar.baseColor.replace('1.0)', '0.1)');
                                              } else {
                                                  bar.active = true;
                                                  $(bar.references).show(500);
                                                  bar._saved.highlightColor = bar.baseColor.replace('1.0)', '0.6)');
                                                  bar._saved.fillColor = bar.baseColor.replace('1.0)', '1.0)');
                                              }
                                          });
                                          if (segments.length > 0) {
                                              versusDoughnut.update();
                                          }
                                      });
                                      $.each(versusDoughnut.segments, function (key, bar) {
                                          bar.active = true;
                                          bar.references = ".binary" + (key + 1).toString();
                                          bar.baseColor = bar.fillColor;
                                      });
                                  })();
                              });
                          }
                      }
                  });
              });
          </script>
          <div id="versus-click" class="btn btn-default">
            <span class="icon-versus"></span> &nbsp
            <span id="text-versus">
               <%= t('views.timelines.show_versus') %>
            </span>
          </div>
          <br>
          <br>
      <% end %>
  <% end %>
  <% if logged_in? %>
      <div class="panel-heading">
        <div class="clearfix">
          <% if current_user.id != frame.user_id && !@only_one_frame %>
              <% if @my_frame_credit && @my_frame_credit.frame_id == frame.id %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              frame_credit_path(@my_frame_credit.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           t('views.frames.downvote'),
                              method:          "delete",
                              class:           "btn btn-success",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% else %>
                  <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                              frame_credits_path(timeline_id: frame.timeline_id,
                                                 frame_id:    frame.id),
                              "data-toggle"    => "tooltip",
                              "data-placement" => "right",
                              title:           t('views.frames.upvote'),
                              method:          :post,
                              class:           "btn btn-default green",
                              :style           => "padding: 8px; margin-left: 8px" %>
              <% end %>
              <div class="pull-right" style="margin-right: 8px;">
                <% if current_user.admin %>
                    <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                                edit_frame_path(frame.id),
                                class: "btn btn-primary" %>
                    <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                                frame_path(frame.id),
                                method: :delete,
                                data:   {confirm: t('views.default.confirm')},
                                class:  "btn btn-danger" %>
                <% end %>
              </div>

          <% end %>
        </div>
      </div>
  <% end %>
</div>