<% provide(:title, "Nouvelle contribution") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"></span>
            Revenir à la controverse".html_safe,
                    timeline_path(@frame.timeline_id),
                    class: "list-group-item" %>
        <% if @my_timeline.nb_frames > 1 %>
            <%= link_to "<span class=\"badge pull-left\">#{@my_timeline.nb_frames}</span>
                  &nbsp Toutes les contributions de cette controverse".html_safe,
                        frames_path(timeline_id: @frame.timeline_id),
                        class: "list-group-item" %>
        <% end %>
        <%= link_to "<span class=\"icon-summary normal\"></span>
                  votre contribution".html_safe,
                    frames_path(timeline_id: @my_timeline.id, filter: "mine"),
                    :class => "list-group-item" %>
        <% if @frame.user_id == current_user.id || current_user.admin %>
            <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer votre contribution".html_safe,
                        frame_path(@frame.id), method: :delete,
                        data:                          {confirm: t('views.default.confirm')},
                        class:                         "list-group-item list-group-item-danger" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2> Modifier votre formulation de la controverse </h2>
          <br/>
          <%= link_to @my_timeline.name.html_safe,
                      timeline_url(@frame.timeline_id) %>
        </div>
        <div class="panel-body">
          <%= form_for(@frame) do |f| %>
              <%= render 'static_pages/charte' %>
              <%= render 'shared/error_messages', object: f.object %>

              <br/>
              <br/>
              <b style="font-size: 1.4em">Titre de la controverse</b>

              <div id="characterLeft1"></div>
              <br/>
              <%= f.text_area :name, class: 'form-control textarea', id: "description1" %>
              </br>
              <b style="font-size: 1.4em">Cadre, focus et mise au point de la controverse</b>

              <div id="characterLeft0"></div>
              <br/>
              <%= f.text_area :content, class: 'form-control textarea', id: "description0" %>
              </br>
              <div class="panel panel-info">
                <div class="panel-heading">
                  Précisez le cadre de référence de la controverse.
                  <br/>
                  Le <a href="http://openclassrooms.com/courses/redigez-en-markdown" target="_blank">markdown est
                  supporté</a>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  <%= f.label :binary do %>
                      <%= f.check_box :binary, id: "check-box", value: true %>
                      <span> Pour cette controverse, il existe deux réponses antagonistes </span>
                  <% end %>
                  <div id="binary-box">
                    <br/>

                    <div class="row">
                      <div class="col-xs-4">
                        <br/>
                        <%= f.text_field :binary_left, class: 'form-control', placeholder: "Oui/Blanc/Inné/..." %>
                        <br/>
                      </div>
                      <div class="col-xs-4 center">
                        <%= image_tag("versus.png", alt: "Versus", :height => "78px") %>
                      </div>
                      <div class="col-xs-4">
                        <br/>
                        <%= f.text_field :binary_right, class: 'form-control', placeholder: "Non/Noir/Acquis/..." %>
                        <br/>
                      </div>
                    </div>
                    <br/>
                  </div>
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      En cochant cette case et en renseignant les deux antagonistes, vous permettez de classer les
                      références.
                      Si la controverse n'est pas une question fermée, décochez cette case ou reformulez la controverse.
                    </div>
                  </div>
                </div>
              </div>
              <br/>

              <p hidden id="best_frame"><%= @frame.best %></p>

              <p hidden id="balance_frame"><%= @frame.balance %></p>
              <%= f.hidden_field :timeline_id, value: @frame.timeline_id %>
              <br/>
              <br/>
              <%= f.button "Modifier votre contribution &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success btn-lg pull-right',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.editing')} "} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#description1").markdown({autofocus: false, savable: false, hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkIntra', 'cmdList', 'cmdListO', 'cmdBold']});
    $("#description0").markdown({autofocus: false, savable: false, hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkIntra']});
    $('#check-box').click(function () {
        if ($(this).is(':checked')) {
            $('#binary-box').show(500)
        } else {
            $('#binary-box').hide(500)
        }
    });
    $(document).ready(function () {
        if (!$('#check-box').is(':checked')) {
            $('#binary-box').hide()
        }
        $('#check-box').click(function () {
            if ($(this).is(':checked')) {
                $('#binary-box').show(500)
            } else {
                $('#binary-box').hide(500)
            }
        });
    });
    $.each(['0', '1'], function (index, value) {
        $(document).ready(function() {
            if (value === '0') {
                var max = 2500,
                        min= 180;
            } else {
                var max = 180;
            }
            var len = $('#description' + value).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else if (len <= min) {
                var ch = min - len;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text('Au moins ' + ch + ' caractères manquants !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
        $('#description' + value).keyup(function () {
            if (value === '0') {
                var max = 2500,
                        min= 180;
            } else {
                var max = 180;
            }
            var len = $(this).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else if (len <= min) {
                var ch = min - len;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text('Au moins ' + ch + ' caractères manquants !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
    });
</script>