<% provide(:title, "Contributions") %>
<div id="my-container" class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <%= link_to "<span class=\"icon-arrow-left normal\"></span>
  Revenir à la controverse".html_safe,
                  timeline_path(params[:timeline_id]),
                  class: "list-group-item" %>
      <% if logged_in? %>
          <% if @improve %>
              <%= link_to "<span class=\"icon-fork normal\" >
                </span> Proposer une titre et un cadre".html_safe,
                          new_frame_path(timeline_id: @timeline.id),
                          :class => "list-group-item" %>
          <% elsif !current_user.private_timeline %>
              <% if params[:filter] == "mine" %>
                  <%= link_to "<span class=\"icon-fork normal\" >
         </span> Modifier votre contribution".html_safe,
                              edit_frame_path(@frames.first.id),
                              class: "list-group-item" %>
                  <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer votre contribution".html_safe,
                              frame_path(@frames.first.id), method: :delete,
                              data:                                 {confirm: "Êtes-vous certain ?"},
                              class:                                "list-group-item list-group-item-danger" %>
              <% else %>
                  <%= link_to "<span class=\"glyphicon glyphicon-eye-open\"></span>
              Votre contribution".html_safe,
                              frames_path(timeline_id: @timeline.id, filter: "mine"),
                              :class => "list-group-item" %>
              <% end %>
          <% end %>
          <br/>
          <br/>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <% if logged_in? %>
                <% unless @improve %>
                    <div class="btn-group">
                      <%= link_to "Ma contribution (".html_safe + (@improve ? "0" : "1") + ")",
                                  frames_path(timeline_id: params[:timeline_id], :filter => 'mine'),
                                  class: "btn btn-default #{ params[:filter] == "mine" ? "active" : nil }" %>
                    </div>
                <% end %>
                <div class="btn-group">
                  <%= link_to "Toutes les contributions (#{@timeline.nb_frames})".html_safe,
                              frames_path(timeline_id: params[:timeline_id]),
                              class: "btn btn-default #{ params[:filter] == nil ? "active" : nil }" %>
                </div>
                <% if @my_credit %>
                    <div class="btn-group">
                      <%= link_to "Ma contribution favorite".html_safe,
                                  frames_path(timeline_id: params[:timeline_id], :filter => 'my-vote'),
                                  class: "btn btn-default #{ params[:filter] == "my-vote" ? "active" : nil }" %>
                    </div>
                <% end %>
            <% else %>
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle" type="button"
                          id="dropdownMenuTri" data-toggle="dropdown">
                    <%= params[:sort]=='score' || params[:sort].nil? ? "Tri magique" : "Tri par date" %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li <%= params[:sort]=='score' || params[:sort].nil? ? "class=selected" : nil %> >
                      <%= link_to "Magique (par défaut)", frames_path(timeline_id: params[:timeline_id],
                                                                      :sort        => 'score',
                                                                      :order       => params[:order]) %> </li>
                    <li <%= params[:sort]=='created_at' ? "class=selected" : nil %> >
                      <%= link_to "Date de création", frames_path(timeline_id: params[:timeline_id],
                                                                  :sort        => 'created_at',
                                                                  :order       => params[:order]) %> </li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle" type="button"
                          id="dropdownMenuOrder" data-toggle="dropdown">
                    <%= params[:order]=='desc' || params[:order].nil? ? "Ordre décroissant" : "Ordre croissant" %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li <%= params[:order]=='desc' || params[:order].nil? ? "class=selected" : nil %> >
                      <%= link_to "Décroissant (par défaut)", frames_path(timeline_id: params[:timeline_id],
                                                                          :sort        => params[:sort], :order => 'desc') %> </li>
                    <li <%= params[:order]=='asc' ? "class=selected" : nil %> >
                      <%= link_to "Croissant", frames_path(timeline_id: params[:timeline_id],
                                                           :sort        => params[:sort], :order => 'asc') %> </li>
                  </ul>
                </div>
            <% end %>
            <br/>
            <br/>
          </div>
          <% if @frames.any? %>
              <%= render @frames %>
          <% else %>
              <% if params[:filter] == "my-vote" %>
                  Vous n'avez pas de contribution favorite
              <% elsif params[:filter] == "mine" %>
                  <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
        </span> Vous n'avez pas encore écrit de contribution ".html_safe,
                              new_frame_path(timeline_id: params[:timeline_id]),
                              class: "btn btn-primary" %>
              <% else %>
                  Il n'y a pas de contribution autre que la votre
              <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    });
</script>