<% provide(:title, "Nouvelle contribution") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-0 col-lg-2">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"></span>
            #{t('views.navigation.back_timeline')}".html_safe,
                    timeline_path(@frame.timeline_id),
                    class: "list-group-item" %>
        <% if @my_timeline.nb_frames > 1 %>
            <%= link_to "<span class=\"badge pull-left\">#{@my_timeline.nb_frames}</span>
                  &nbsp #{t('views.frames.index')}".html_safe,
                        frames_path(timeline_id: @frame.timeline_id),
                        class: "list-group-item" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2> <%= t('views.frames.new_to') %>
          </h2>
          <br/>
          <%= link_to @my_timeline.name.html_safe,
                      timeline_url(@frame.timeline_id) %>
        </div>
        <div class="panel-body clearfix">
          <%= form_for(@frame) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <b style="font-size: 1.4em"><%= t('views.frames.edit_title') %></b>

              <div id="characterLeft1"></div>
              <br/>
              <%= f.text_area :name, class: 'form-control textarea', id: "description1" %>
              <br/>
              <%= render 'static_pages/charte' %>

              <br/>
              <br/>

              <b style="font-size: 1.4em"><%= t('views.frames.edit_frame') %></b>

              <div id="characterLeft0"></div>
              <br/>
              <%= f.text_area :content, class: 'form-control textarea', id: "description0" %>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <%= t('views.frames.edit_info_html') %>
                </div>
              </div>

              <br/>
              <%= render 'static_pages/charte_frame' %>
              <br/>
              <br/>
              <br/>
              <br/>

              <div class="panel panel-default">
                <div class="panel-body">
                  <%= f.label :binary do %>
                      <%= f.check_box :binary, id: "check-box", value: true %>
                      <span> <%= t('views.frames.binary') %> </span>
                  <% end %>
                  <div id="binary-box">
                    <br/>

                    <div class="row">
                      <div class="col-xs-4">
                        <br/>
                        <%= f.text_field :binary_left, class: 'form-control', placeholder: t('views.frames.versus_placeholder_left') %>
                        <br/>
                      </div>
                      <div class="col-xs-4 center">
                        <%= image_tag("versus.png", alt: "Versus", :height => "78px") %>
                      </div>
                      <div class="col-xs-4">
                        <br/>
                        <%= f.text_field :binary_right, class: 'form-control', placeholder: t('views.frames.versus_placeholder_right') %>
                        <br/>
                      </div>
                    </div>
                    <br/>
                  </div>
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <%= t('views.frames.binary_info') %>
                    </div>
                  </div>
                </div>
              </div>
              <%= f.hidden_field :timeline_id, value: @frame.timeline_id %>
              <br/>
              <br/>
              <%= f.button "#{t('views.frames.create')} &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success btn-lg pull-right',
                           data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.publishing')} "} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $("#description1").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkIntra', 'cmdList', 'cmdListO', 'cmdBold']
    });
    $("#description0").markdown({autofocus: false, savable: false, hiddenButtons: ['cmdLinkInt', 'cmdUrl']});
    $(document).ready(function () {
        if (!$('#check-box').is(':checked')) {
            $('#binary-box').hide()
        }
        $('#check-box').click(function () {
            if ($(this).is(':checked')) {
                $('#binary-box').show(500)
            } else {
                $('#binary-box').hide(500)
            }
        });
    });
    $.each(['0', '1'], function (index, value) {
        $(document).ready(function () {
            if (value === '0') {
                var max = 2500,
                        min = 180;
            } else {
                var max = 180;
            }
            var len = $('#description' + value).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' <%= t('views.edition.character_much') %>');
            } else if (len <= min) {
                var ch = min - len;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text('<%= t('views.default.at_least') %> ' + ch + ' <%= t('views.edition.character_miss') %>');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' <%= t('views.edition.character_left') %>');
            }
        });
        $('#description' + value).keyup(function () {
            if (value === '0') {
                var max = 2500,
                        min = 180;
            } else {
                var max = 180;
            }
            var len = $(this).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' <%= t('views.edition.character_much') %>');
            } else if (len <= min) {
                var ch = min - len;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text('<%= t('views.default.at_least') %> ' + ch + ' <%= t('views.edition.character_miss') %>');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' <%= t('views.edition.character_left') %>');
            }
        });
    });
</script>