<% provide(:title, "Nouvelle contribution") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"></span>
            Revenir à la controverse".html_safe,
                    timeline_path(@frame.timeline_id),
                    class: "list-group-item" %>
        <% if @my_timeline.nb_frames > 1 %>
            <%= link_to "<span class=\"badge pull-left\">#{@my_timeline.nb_frames}</span>
                  &nbsp Toutes les contributions de cette controverse".html_safe,
                        frames_path(timeline_id: @frame.timeline_id),
                        class: "list-group-item" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2> Proposer une nouvelle formulation de la controverse
          </h2>
          <br/>
          <%= link_to @my_timeline.name.html_safe,
                      timeline_url(@frame.timeline_id) %>
        </div>
        <div class="panel-body clearfix">
          <%= form_for(@frame, html: {multipart: true}) do |f| %>
              <%= render 'static_pages/charte' %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= f.hidden_field :has_picture, value: @frame.picture? %>
              <%= f.hidden_field :delete_picture, value: false %>
              <%= f.hidden_field :frame_timeline_id, value: @frame.timeline_id %>
              <br/>
              <br/>
              <b style="font-size: 1.4em">Titre de la controverse</b>

              <div id="characterLeft1"></div>
              <br/>
              <%= f.text_area :name, class: 'form-control textarea', id: "description1" %>
              </br>
              <b style="font-size: 1.4em">Cadre, focus et mise au point de la controverse</b>

              <div id="characterLeft0"></div>
              <br/>
              <%= f.text_area :content, class: 'form-control textarea', id: "description0" %>
              </br>
              <div class="panel panel-info">
                <div class="panel-heading">
                  Précisez le cadre de référence de la controverse.
                  <br/>
                  Le <a href="http://openclassrooms.com/courses/redigez-en-markdown" target="_blank">markdown est
                  supporté</a>.
                </div>
              </div>
              <br/>
              <%= f.label :Tags, "Thèmes" %> </br>
              <div class="container-fluid">
                <div class="row" data-toggle="buttons">
                  <% tags_hash.each do |key, value| %>
                      <% if @tag_list.include? key %>
                          <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3 active">
                            <div class="my-btn">
                              <%= f.check_box :tag_list, {checked: true, :multiple => true}, checked_value = key, unchecked_value = nil %>
                              <span class="fat icon-<%= key %>"></span> <%= value %>
                            </div>
                          </div>
                      <% else %>
                          <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                            <div class="my-btn">
                              <%= f.check_box :tag_list, {:multiple => true}, checked_value = key, unchecked_value = nil %>
                              <span class="fat icon-<%= key %>"></span> <%= value %>
                            </div>
                          </div>
                      <% end %>
                  <% end %>
                </div>
              </div>
              <br/>

              <div class="panel panel-default">
                <div class="panel-body">
                  <%= f.label :binary do %>
                      <%= f.check_box :binary, id: "check-box", value: true %>
                      <span> Pour cette controverse, il existe deux réponses antagonistes </span>
                  <% end %>
                  <div id="binary-box">
                    <br/>

                    <div class="row">
                      <div class="col-xs-4">
                        <br/>
                        <%= f.text_field :binary_left, class: 'form-control', placeholder: "Oui/Blanc/Inné/..." %>
                        <br/>
                      </div>
                      <div class="col-xs-4 center">
                        <%= image_tag("versus.png", alt: "Versus", :height => "78px") %>
                      </div>
                      <div class="col-xs-4">
                        <br/>
                        <%= f.text_field :binary_right, class: 'form-control', placeholder: "Non/Noir/Acquis/..." %>
                        <br/>
                      </div>
                    </div>
                    <br/>
                  </div>
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      En cochant cette case et en renseignant les deux antagonistes, vous permettez de classer les
                      références.
                      Si la controverse n'est pas une question fermée, décocher cette case ou reformulez la controverse.
                    </div>
                  </div>
                </div>
              </div>
              <%= f.hidden_field :timeline_id, value: @frame.timeline_id %>
              <div id="caption" style="display: none">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1">
                    <div id="original">
                      <%= image_tag @frame.picture_url, class: "img-rounded img-responsive" %>
                    </div>
                    <div id="uploaded" style="display: none">
                      <%= image_tag '', class: "img-rounded img-responsive" %>
                    </div>
                  </div>
                </div>
              </div>
              <div id="size-warning" class="row" style="display: none">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>
                      <span class="glyphicon glyphicon-warning-sign"></span>
                      Cette image est de trop petite résolution, ou bien est trop grande (>5Mo)
                    </strong>
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <%= f.button "Publier la contribution &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success btn-lg pull-right',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Publication en cours "} %>
          <% end %>
          <div>
            <div id="upload-btn" class="btn btn-default btn-lg fileinput-button">
              <i class="glyphicon glyphicon-folder-open"></i>&nbsp
              <span id="ajouter"> Ajouter une figure </span>
              <input accept="image/jpeg,image/gif,image/png,image/svg" id="fileupload" type="file" name="figure[picture]" multiple>
            </div>
            <div id="progress" style="display: none">
              <svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
                </path>
              </svg>
            </div>
            <div id="delete" class="btn btn-danger btn-lg" style="display: none">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
              Supprimer la figure
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if ($('#frame_has_picture').val() === 'true') {
            $('#caption').show();
            $('#delete').show();
            $('#ajouter').text("Modifier la figure");
        }
    });
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: "<%= figures_url + "?frame_timeline_id=" + @frame.timeline_id.to_s %>",
            type: 'POST',
            dataType: 'json',
            done: function (e, data) {
                $('#upload-btn').show(300);
                $('#progress').hide(300);
                if (data.result.id == null) {
                    $('#size-warning').show(300);
                } else {
                    $('#frame_has_picture').val('true');
                    $('#frame_delete_picture').val('false');
                    $('#caption').show(300);
                    $('#original').hide(300);
                    $('#uploaded').show(300);
                    $('#size-warning').hide();
                    $('#uploaded img').attr("src", data.result.picture.url);
                }
            },
            start: function (e, data) {
                $('#upload-btn').hide();
                $('#progress').show();
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    $('#delete').click(function () {
        $('#caption').hide(300);
        $('#delete').hide(300);
        $('#ajouter').text("Ajouter une figure à cette synthèse");
        $('#frame_delete_picture').val('true');
    });
    $("#description1").markdown({autofocus: false, savable: false, hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkIntra', 'cmdList', 'cmdListO', 'cmdBold']});
    $("#description0").markdown({autofocus: false, savable: false, hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkIntra']});
    $(document).ready(function () {
        $('.my-btn').responsiveEqualHeightGrid();
        if (!$('#check-box').is(':checked')) {
            $('#binary-box').hide()
        }
        $('#check-box').click(function () {
            if ($(this).is(':checked')) {
                $('#binary-box').show(500)
            } else {
                $('#binary-box').hide(500)
            }
        });
    });
    $.each(['0', '1'], function (index, value) {
        $(document).ready(function () {
            if (value === '0') {
                var max = 2500;
            } else {
                var max = 180;
            }
            var len = $('#description' + value).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
        $('#description' + value).keyup(function () {
            if (value === '0') {
                var max = 2500;
            } else {
                var max = 180;
            }
            var len = $(this).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
    });
</script>