<% if best_comment.f_7_comment_id %>
    <div class="pull-right">
      <br/><br/>

      <div class="thumbnail">
        <a class="fancybox" rel="gallery" href="<%= best_comment.picture_url %>">
        <%= image_tag best_comment.picture_url, class: "img-rounded img-responsive" unless best_comment.picture_url.blank? %>
          <div class="glyphicon glyphicon-zoom-in"></div>
        </a>
        <div class="caption">
          <%= best_comment.markdown(7).html_safe %>
        </div>
      </div>
    </div>
<% end %>
<% for fi in 0..5 %>
    <% if best_comment["f_#{fi}_comment_id".to_sym] %>
        <b class="font12"> <%= category_hash[@ref.category][fi] %> </b>
        <div class="text-justify">
          <%= best_comment.markdown(fi).html_safe %>
        </div>
    <% end %>
<% end %>
<% if @target.length > 0 || @from.length > 0 %>
    <hr style="width: 250px"/>
<% end %>
<% if @target.length > 0 %>
    <%= t('views.pluralize.target', count: @target.length) %>
    <ul class="list-links">
      <% @target.each do |link| %>
          <li>
            <span>
              •
            </span>
            <%= link_to "#{link.year} - #{link.title_display}".html_safe,
                        reference_path(link.id),
                        class: "linked-ref",
                        "data-ref" => link.id,
                        target: "_blank" %>
          </li>
      <% end %>
    </ul>
<% end %>
<% if @from.length > 0 %>
    <%= t('views.pluralize.from', count: @from.length) %>
    <ul class="list-links">
      <% @from.each do |link| %>
          <li>
            <span>
              •
            </span>
            <%= link_to "#{link.year} - #{link.title_display}".html_safe,
                        reference_path(link.id),
                        class: "linked-ref",
                        "data-ref" => link.id,
                        target: "_blank" %>
          </li>
      <% end %>
    </ul>
<% end %>
<div class="clearfix">
  <div class="pull-right">
    <%= render 'users/link_contributors', model: best_comment %>
  </div>
</div>
<% @ref.get_tag_list.each do |name| %>
    <%= link_to "<span class=\"fat icon-#{name}\"></span> ".html_safe,
                timelines_path(:sort => params[:sort], :order => params[:order], :tag => name),
                class: "btn btn-default pull-right stick hvr-shadow", title: tags_hash[name], "data-toggle" => "tooltip" %>
<% end %>

<%= link_to "<span class=\"icon-reference\"></span> #{t('views.references.more')}".html_safe, reference_path(best_comment.reference_id), class: "btn btn-primary" %>