<br/>
<% @ref.get_tag_list.each do |name| %>
    <%= link_to "<span class=\"fat icon-#{name}\"></span> ".html_safe,
                timelines_path(:sort => params[:sort], :order => params[:order], :tag => name),
                class: "btn btn-default stick hvr-shadow", title: tags_hash[name], "data-toggle" => "tooltip" %>
<% end %>
<br/>
<% if best_comment.f_7_comment_id %>
    <div class="pull-right">
      <br/><br/>

      <div class="thumbnail">
        <%= image_tag best_comment.picture_url, class: "img-rounded img-responsive" %>
        <div class="caption">
          <%= best_comment.markdown( 7 ).html_safe %>
        </div>
      </div>
    </div>
<% end %>
<% for fi in 0..5 %>
    <% if best_comment["f_#{fi}_comment_id".to_sym] %>
        <b> <% if @ref.article %>
              <%= article_hash[fi] %>
          <% else %>
              <%= review_hash[fi] %>
          <% end %> </b>
        <div class="text-justify">
          <%= best_comment.markdown( fi ).html_safe %>
        </div>
    <% end %>
<% end %>

<%= link_to "En savoir plus sur la référence".html_safe, reference_path( best_comment.reference_id ), class: "btn btn-primary" %>
