<ul class="list-group">
  <li class="list-group-item"> <div class="bold"> Titre original de la référence : </div> <%= @reference.title %></li>
  <li class="list-group-item"> <div class="bold"> Titre en français de la référence : </div> <%= @reference.title_fr %></li>
  <li class="list-group-item"> <div class="bold"> Les auteurs de l'étude : </div> <%= @reference.author %> </li>
  <li class="list-group-item"> <div class="bold"> Année de publication : </div> <%= @reference.year %> </li>
  <li class="list-group-item"> <div class="bold"> Journal qui a osé éditer cette bouse : </div> <%= @reference.journal %></li>
  <% if not @reference.abstract.empty? %>
      <li class="list-group-item"> <div class="bold"> Abstract (dans sa langue original) : </div> <%= @reference.abstract %></li>
  <% end %>
  <li class="list-group-item"> <div class="bold"> Doi de la référence : </div> <%= @reference.doi %></li>
  <li class="list-group-item"> <div class="bold"> Lien vers la référence : </div> <%= link_to @reference.url, @reference.url, target: "_blank" %></li>
</ul>