<% if not reference.title_fr.blank? %>
<div id="block-<%= reference.id %>" class="cd-timeline-block binary<%= reference.binary_most %>">
    <div class="cd-timeline-img cd-color"
         title="<%= star_hash[reference.star_most] -%>" data-toggle="tooltip">
      <span class="frog icon-<%= reference.star_most %>"></span>
    </div>

    <div class="cd-timeline-content">
      <h2>
         <%= link_to reference.title_display, reference, class: "hvr-grow1" %>
        <%= link_to "<span class=\"glyphicon glyphicon-chevron-down hvr-grow pull-right\"> </span>".html_safe,
                    from_timeline_path(:reference_id => reference.id), :remote => true, id: "button#{reference.id}" %>
        <span  id="ref-<%= reference.id %>" class="detail glyphicon glyphicon-chevron-up hvr-grow pull-right" style="display: none"></span>
      </h2>
      <div id="reference<%= reference.id %>" class="ref clearfix" style="display: none">
      </div>
      <span class="cd-date"><%= reference.display_year %> - <b><%= reference.article ? "Article" : "Review" %></b></span>
    </div>
</div>
<% else %>
    <div class="cd-timeline-block binary<%= reference.binary_most %>">
      <div class="cd-timeline-img <%= reference.binary_most == 0 ? "cd-color-orange" : "cd-color" %>"
           title="<%= reference.binary_most_explanation( binary ) -%> <%= star_hash[reference.star_most] -%>" data-toggle="tooltip">
        <span class="frog icon-<%= reference.star_most %>"></span>
      </div>
      <div class="cd-timeline-content">

        <h2 style="font-size: 1.3em"> <%= link_to "#{reference.title}<br/><br/><span class=\"icon icon-comment bigger\"></span>
        Cette référence n'a pas encore été analysée".html_safe, new_comment_path(reference_id: reference.id ), class: "hvr-grow1" %>
        </h2>
        <span class="cd-date"><%= reference.display_year %> - <b><%= reference.article ? "Article" : "Review" %></b></span>
      </div>
    </div>
<% end %>