<% if not reference.title_fr.blank? %>
<div id="block-<%= reference.id %>" class="cd-timeline-block binary<%= reference.binary_most %>">
    <div class="cd-timeline-img cd-color"
         title="<%= (reference.binary_most == 0 && reference.star_most == 0 ) ? t('views.references.no_votes') :
                            binary_value_explanation( binary, reference.binary_most ) -%>
                            <%= star_hash[reference.star_most] -%>" data-toggle="tooltip">
      <span class="frog <%= reference.star_most != 0 ? "icon-#{reference.star_most}" : "" %>>"></span>
    </div>

    <div class="cd-timeline-content">
      <h2>
         <%= link_to "#{reference.title_display}".html_safe, reference, class: "hvr-grow1" %>
        <%= link_to "<span class=\"glyphicon glyphicon-chevron-down hvr-grow pull-right\"> </span>".html_safe,
                    from_timeline_path(:reference_id => reference.id), :remote => true, id: "button#{reference.id}", class: "fetcher" %>
        <span  id="ref-<%= reference.id %>" class="detail glyphicon glyphicon-chevron-up hvr-grow pull-right" style="display: none"></span>
      </h2>
      <div class="cd-date"><b><%= category_names[reference.category] %></b> - <%= reference.display_year %> - <i><%= reference.journal %></i> <br>
          <%= reference.title %> <br>
          <i> <%= reference.author %></i>
      </div>
      <br>
      <div class="row">
        <div id="reference<%= reference.id %>" class="ref clearfix col-xs-12" style="display: none">
        </div>
      </div>
    </div>
</div>
<% else %>
    <div id="block-<%= reference.id %>" class="cd-timeline-block need-comment binary<%= reference.binary_most %>">
      <div class="cd-timeline-img cd-orange"
           title="<%= (reference.binary_most == 0 && reference.star_most == 0 ) ? t('views.references.no_votes') :
                              binary_value_explanation( binary, reference.binary_most ) -%>
           <%= star_hash[reference.star_most] -%> Cette référence n'a pas encore été analysée" data-toggle="tooltip">
        <span class="frog <%= reference.star_most != 0 ? "icon-#{reference.star_most}" : "" %>"></span>
      </div>
      <div class="cd-timeline-content">

        <h2 style="font-size: 1.3em"> <%= link_to "#{reference.title}<br/><br/><span class=\"orange\"><span class=\"icon icon-comment bigger\"></span>
	#{t('views.references.no_comment')}</span>".html_safe, new_comment_path(reference_id: reference.id ), class: "hvr-grow1" %>
        </h2>
        <div class="cd-date"><b><%= category_names[reference.category] %></b> - <%= reference.display_year %> - <i><%= reference.journal %></i> <br>
          <i> <%= reference.author %></i>
        </div>
        <br>
        <div class="row">
          <div id="reference<%= reference.id %>" class="ref clearfix col-xs-12" style="display: none">
          </div>
        </div>
      </div>
    </div>
<% end %>
