<% provide(:title, "Editer référence") %>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
      <%= link_to "Revenir à la controverse",
                  timeline_path(@reference.timeline_id), class: "btn btn-block btn-primary" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3> Editer une référence appartenant à la controverse <%= link_to Timeline.find(@reference.timeline_id).name,
                    Timeline.find(@reference.timeline_id) %></h3>
            </div>
            <div class="panel-body">
                <%= form_for(@reference) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <%= f.hidden_field :timeline_id, value: @reference.timeline_id %>
                  <%= f.label "Identifiant unique (DOI, PMID, ou autre)" %>
                  <%= f.text_field :doi, class: 'form-control myforms' %>
                <br/>
                <%= f.label "Lien vers la publication" %>
                <%= f.text_field :url, class: 'form-control' %>
                <%= f.label "Journal en Open-Access" %>
                <div class="btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default active" title="Journal en Open-Access">
                        <%= f.radio_button :open_access, checked_value = true,
                        {id: "0", autocomplete: "off"} %>
                        <%= image_tag("icons/myicon-lock.svg", height: "24px")%>
                    </label>
                    <label class="btn btn-default" title="Journal sous Pay-Wall">
                        <%= f.radio_button :open_access, checked_value = false,
                        {id: "1", autocomplete: "off"} %>
                        <%= image_tag("icons/myicon-locked.svg", height: "24px")%>
                    </label>
                </div>
                <br/>
                <%= f.label "Titre original" %>
                <%= f.text_area :title, {:rows => 2,
                :class => "form-control textarea"} %>
                <br/>
                <%= f.label "Journal" %>
                <%= f.text_field :journal, class: 'form-control' %>
                <br/>
                <%= f.label "Date de publication" %>
                <%= f.select :year, (1870..Date.current.year), {:include_blank => true}, { class: 'form-control'} %>
                <br/>
                <%= f.label "Les auteurs de l'étude" %>
                <%= f.text_field :author, class: 'form-control' %>
                <br/>
                <%= f.label "Abstract (Facultatif)" %>
                <%= f.text_area :abstract, {:rows => 2,
                :class => "form-control textarea"} %>
                <br/>
                <%= f.submit "Modifier la référence", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>