<% provide(:title, "Nouvelle référence") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
      <div class="list-group">
      <%= link_to "<span class=\"icon-arrow-left normal\"> </span> #{t('views.navigation.back_timeline')}".html_safe,
                  timeline_path(params[:timeline_id]),
                  class: "list-group-item" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Ajouter une référence à la controverse
            <%= link_to Timeline.find(params[:timeline_id]).name.html_safe, timeline_path(params[:timeline_id]) %>
          </h4>
        </div>
        <div class="panel-body">
          <div class="clearfix">
          <%= form_for(@reference) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= f.label "Titre original*" %>

              <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" name="title" type="submit" onclick="freeze()">
              <span class="glyphicon glyphicon-refresh"></span></button>
          </span>
                <%= f.text_field :title, class: 'form-control myforms' %>
              </div>
              <br/>
              <%= f.label "Article, Review, Méta-analyse ou Livre*" %>
              <%= f.select :category, [["Article", 0],["Review", 1],["Méta-analyse", 2],["Livre", 3]], {}, {class: 'form-control myforms'} %>
              <br/>
              <%= f.hidden_field :timeline_id, value: params[:timeline_id] %>
              <%= f.label :open_access do %>
                  <%= f.check_box :open_access %>
                  <span> &nbsp Cette référence est en libre accès </span>
              <% end %>
              <br/>
              <br/>
              <%= f.label "Lien vers la publication*" %>
              <%= f.text_field :url, class: 'form-control myforms' %>
              <br/>
              <%= f.label "Journal*" %>
              <%= f.text_field :journal, class: 'form-control myforms' %>
              <br/>
              <%= f.label "Année de publication*" %>
              <%= f.select :year, (1859..Date.current.year).to_a.reverse.push(["Avant 1859", 0]), {}, {class: 'form-control myforms'} %>
              <br/>
              <%= f.label "Les auteurs de l'étude*" %>
              <%= f.text_field :author, class: 'form-control myforms' %>
              <br/>
              <%= f.label "Abstract en langue originale (Facultatif)" %>
              <%= f.text_area :abstract, :class => "form-control myforms textarea",
                                          id: "markdown-textarea" %>
              <br/>
              <b> Identifiant unique : DOI, PMID, ou autre (facultatif) </b> <br/>
              <%= f.text_field :doi, class: 'form-control myforms' %>
              <br/>
              <%= f.label :Tags, "Thèmes" %> </br>
              <div class="container-fluid">
                <div class="row" data-toggle="buttons">
                  <% tags_hash.each do |key, value| %>
                          <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                            <div class="my-btn">
                              <%= f.check_box :tag_list, {:multiple => true}, checked_value = key, unchecked_value = nil %>
                              <span class="fat icon-<%= key %>"></span> <%= value %>
                            </div>
                          </div>
                  <% end %>
                </div>
              </div>
              <br/>
              <%= f.button "Ajouter la référence &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                           id: "submit-button",
                           class: 'btn btn-success btn-lg pull-right',
                           data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Enregistrement en cours "} %>

          <% end %>
          </div>
          <b>*</b> : champs obligatoires.
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $("#markdown-textarea").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
    function freeze() {
        $("#submit-button").hide();
        $(".myforms").attr('readonly', true)
    }
</script>