<% provide(:title, "Nouvelle référence") %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= link_to "Revenir à la controverse",
                timeline_path(params[:timeline_id]), class: "btn btn-block btn-primary" %>
  </div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-1">
    <div class="panel panel-info">
        <div class="panel-heading">
          Astuce : Remplissez uniquement le DOI ou le titre de la référence et utilisez le boutton  <span class="glyphicon glyphicon-refresh"> </span>
          pour auto-compléter les autres champs.
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Ajouter une référence à la controverse
        <%= link_to Timeline.find(params[:timeline_id]).name, timeline_path(Timeline.find(params[:timeline_id])) %></h3>
      </div>
      <div class="panel-body">
    <%= form_for(@reference) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :timeline_id, value: params[:timeline_id] %>

        <%= f.label "Identifiant unique (DOI, PMID, ou autre)" %>
        <%= f.text_field :doi, class: 'form-control myforms' %>

        <br/>
        <%= f.label "Lien vers la publication" %>
        <%= f.text_field :url, class: 'form-control myforms' %>
            <br/>
        <%= f.label "Journal en Open-Access" %>
        <div class="btn-group-justified" data-toggle="buttons">
          <label class="btn btn-default active" title="Journal en Open-Access">
            <%= f.radio_button :open_access, checked_value = true,
                               {id: "0", autocomplete: "off"} %>
            <%= image_tag("icons/myicon-lock.svg", height: "24px")%>
          </label>
          <label class="btn btn-default" title="Journal sous Pay-Wall">
            <%= f.radio_button :open_access, checked_value = false,
                               {id: "1", autocomplete: "off"} %>
            <%= image_tag("icons/myicon-locked.svg", height: "24px")%>
          </label>
        </div>
        <br/>
        <%= f.label "Titre original" %>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" name="title" type="submit" onclick="freeze()"> <span class="glyphicon glyphicon-refresh"></span> </button>
          </span>
              <%= f.text_field :title, class: 'form-control myforms' %>
        </div>
        <br/>

        <%= f.label "Titre en Français" %>
        <%= f.text_area :title_fr, {:rows => 2,
                                    :class => "form-control myforms textarea"} %>
            <br/>
        <%= f.label "Journal" %>
        <%= f.text_field :journal, class: 'form-control myforms' %>
            <br/>
        <%= f.label "Date de publication" %>
        <%= f.select :year, (1870..Date.current.year), {:include_blank => true}, { class: 'form-control myforms'} %>
            <br/>
        <%= f.label "Les auteurs de l'étude" %>
        <%= f.text_field :author, class: 'form-control myforms' %>
            <br/>
        <%= f.label "Résumé (Facultatif)" %>
        <%= f.text_area :abstract, {:rows => 2,
                                    :class => "form-control myforms textarea"} %>
            <br/>
        <%= f.submit "Ajouter la référence", class: "btn btn-primary" %>
    <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function freeze(){
        $(".myforms").attr('readonly', true)
    }
</script>