<% provide(:title, "Nouvelle réfèrence") %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= render 'layouts/panel' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

<h2>Ajouter une réfèrence à la timeline <%= link_to Timeline.find(session[:timeline_id]).name,  Timeline.find(session[:timeline_id]) %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@reference) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= render "#{@reference.current_step}_step" , :f => f %>

        <%= f.submit "Suivant", class: "btn btn-primary" %>
        <%= f.submit "Précèdent", name: "back_button", class: "btn btn-primary" unless @reference.first_step? %>
        <%= f.submit "Annuler", name: "stop_button", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

</div>
</div>