<% provide(:title, "Nouvelle référence") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
      <div class="list-group">
        <%= link_to "<span class=\"icon-arrow-left normal\"> </span> #{t('views.navigation.back_timeline')}".html_safe,
                    timeline_path(params[:timeline_id]),
                    class: "list-group-item" %>
      </div>
      <br>
      <% if current_user.can_switch_admin %>
          <span id="why-biofunds" data-toggle="tooltip"  data-placement="right" title="Biofunds.org est un meta-moteur de recherche, qui reversent ces
        fonds à 50% dans des intituts publiques et 50% dans des startups de biotechnologies.
        ControverSciences aide BioFunds dans sa misson et ne génére aucun revenu de se partenariat.">
            <span class="bigger glyphicon glyphicon-question-sign"></span>
          A la recherche d'une publication : &nbsp
          </span>
          <br><br>
      <form action="http://www.biofunds.org/controversciences.html" id="biofunds-search-box" target="_blank">
        <div>
          <input type="hidden" name="cx" value="partner-pub-9792271309000602:2749293579" />
          <input type="hidden" name="cof" value="FORID:10" />
          <input type="hidden" name="ie" value="UTF-8" />
          <i class="icon icon-search"></i>
          <input id="biofunds-search" type="submit" name="sa" value="     " />
          <input id="biofunds-text" type="text" name="q" size="25" placeholder="BioFunds.org"/>
        </div>
      </form>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-lg-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <%= t('views.references.new_to') %>
            <%= link_to Timeline.find(params[:timeline_id]).name.html_safe, timeline_path(params[:timeline_id]) %>
          </h4>
        </div>
        <div class="panel-body">
          <br>
          <div class="clearfix">
            <%= form_for(@reference) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <%= f.label t('views.references.title_original') + "*" %>

                <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" name="title" type="submit" onclick="freeze()">
              <span class="glyphicon glyphicon-refresh"></span></button>
          </span>
                  <%= f.text_field :title, class: 'form-control myforms' %>
                </div>
                <br/>
                <%= f.label t('views.references.categories') + "*" %>
                <%= f.select :category, category_names.map { |key, value| [value, key] }, {}, {class: 'form-control myforms'} %>
                <br/>
                <%= f.hidden_field :timeline_id, value: params[:timeline_id] %>
                <%= f.label :open_access do %>
                    <%= f.check_box :open_access %>
                    <span> &nbsp <%= t('views.references.is_open_access') %> </span>
                <% end %>
                <br/>
                <br/>
                <%= f.label t('views.references.url') %>
                <%= f.text_field :url, class: 'form-control myforms' %>
                <br/>
                <%= f.label category_source[@reference.category] + "*", id: "source" %>
                <%= f.text_field :journal, class: 'form-control myforms' %>
                <br/>
                <%= f.label t('views.references.year') + "*" %>
                <%= f.select :year, (1859..Date.current.year).to_a.reverse.push(["Avant 1859", 0]), {}, {class: 'form-control myforms'} %>
                <br/>
                <%= f.label t('views.references.author') + "*" %>
                <%= f.text_field :author, class: 'form-control myforms' %>
                <br/>
                <%= f.label t('views.references.abstract_fac') %>
                <%= f.text_area :abstract, :class => "form-control myforms textarea",
                                id: "markdown-textarea" %>
                <br/>
                <%= f.label t('views.references.doi_fac') + category_unique_id[@reference.category], id: "unique_id" %>
                <%= f.text_field :doi, class: 'form-control myforms' %>
                <br/>
                <%= f.label :Tags, t('views.default.tags') %> </br>
                <div class="container-fluid">
                  <div data-toggle="buttons">
                    <% tags_hash.each do |key, value| %>
                        <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                          <div>
                            <%= f.check_box :tag_list, {:multiple => true}, checked_value = key, unchecked_value = nil %>
                            <span class="fat icon-<%= key %>"></span> <%= value %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
                <br/>
                <%= f.button "#{t('views.references.add')} &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                             id: "submit-button",
                             class: 'btn btn-success btn-lg pull-right',
                             data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.saving')}"} %>

            <% end %>
          </div>
          <b>*</b> : <%= t('views.edition.necessary') %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $("#markdown-textarea").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkIntra']
    });
    $('.my-btn').responsiveEqualHeightGrid();
    function freeze() {
        $("#submit-button").hide();
        $(".myforms").attr('readonly', true)
    }
    var source = {};
    <% category_source.each do |key, value| %>
        source[<%= key %>] = '<%= value %>';
    <% end %>
    var unique_id = {};
    <% category_unique_id.each do |key, value| %>
        unique_id[<%= key %>] = "<%= value %>";
    <% end %>
    $('#reference_category').change(function () {
        $('#source').html(source[$('#reference_category').val()] + ' *');
        $('#unique_id').html('<%= t('views.references.doi_fac') %>' + unique_id[$('#reference_category').val()] );
    });
</script>
