
<% provide(:title, @reference.title_display) %>
<% if @best_comment && @best_comment.not_empty %>
    <% provide(:meta, @best_comment.first_data.html_safe) %>
<% else %>
    <% provide(:meta, "") %>
<% end %>

<div id="my-container" class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
  <div class="list-group">
    <div class="list-group-item center">
      <div class="sticky" data-placement="bottom"
           data-toggle="tooltip"
           title="<%= t('views.pluralize.users', count: @reference.nb_contributors ) %>">
        <span class="fat icon-users"></span>
        <%= @reference.nb_contributors %>
      </div>
      <div class="sticky" data-placement="bottom"
           data-toggle="tooltip"
           title="<%= t('views.pluralize.comments', count: @reference.nb_edits ) %>">
        <span class="fat icon-comment"></span>
        <%= @reference.nb_edits %>
      </div>
    </div>
    <%= link_to "<span class=\"icon-arrow-left normal\"></span> #{t('views.navigation.back_timeline')}".html_safe,
                timeline_path(@reference.timeline_id),
                class: "list-group-item" %>
	<%= link_to "<span class=\"glyphicon glyphicon-menu-left\"></span> #{t('views.references.previous')}".html_safe,
                previous_reference_path(timeline_id: @reference.timeline_id, id: @reference.id),
                class: "list-group-item" %>
	<%= link_to "<span class=\"glyphicon glyphicon-menu-right\"></span> #{t('views.references.next')}".html_safe,
                next_reference_path(timeline_id: @reference.timeline_id, id: @reference.id),
                class: "list-group-item" %>
    <% if logged_in? && @reference.timeline.nb_references > 1 %>
    <%= link_to "<span class=\"glyphicon glyphicon-link\" >
	</span> #{t('views.references.edges')}".html_safe,
                reference_edges_path(timeline_id:  @reference.timeline_id,
                                     reference_id: @reference.id),
                class: "list-group-item" %>
    <% end %>
  </div>
  <% if logged_in? %>
    <% if @reference.user_id == current_user.id || current_user.admin %>
      <div class="list-group">
        <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> #{t('views.references.edit')}".html_safe,
                    edit_reference_path(@reference),
                    class: "list-group-item" %>
        <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> #{t('views.references.delete')}".html_safe,
                    reference_path(@reference), method: :delete,
                    data:                                  {confirm: t('views.default.confirm')},
                    class:                                 "list-group-item list-group-item-danger" %>
      </div>
    <% end %>
      <div class="list-group">
        <% if @comment && params[:filter] == "mine" %>
            <%= link_to "<span class=\"icon-fork normal\" >
             </span> #{t('views.comments.edit')}".html_safe,
                        edit_comment_path(@comment.id),
                        class: "list-group-item" %>
            <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> #{t('views.comments.delete')}".html_safe,
                        comment_path(@comment.id), method: :delete,
                        data:                              {confirm: t('views.default.confirm')},
                        class:                             "list-group-item list-group-item-danger" %>
        <% elsif @comment %>
            <%= link_to "<span class=\"icon-comment normal\" >
             </span> #{t('views.model.your_comment')}".html_safe,
                        reference_path(reference_id: @reference.id, filter: "mine"),
                        class: "list-group-item" %>
        <% else %>
            <%= link_to "<span class=\"icon-fork normal\" >
             </span> #{t('views.comments.new')}".html_safe,
                        new_comment_path(reference_id: @reference.id),
                        class: "list-group-item" %>
        <% end %>
      </div>
  <% end %>
    <div>
      <a href="https://twitter.com/share"
         class="twitter-share-button"
         data-text="<%= @reference.title_display %>"
         data-via="ControverSci">
        Tweet
      </a>
    </div>
    <div>
      <div class="fb-share-button"
           data-href="<%= reference_path @reference %>"
           data-layout="button_count">
      </div>
    </div>
    <%= link_to "<span class=\"glyphicon glyphicon-envelope\"></span> #{t('views.buttons.invit')}".html_safe,
                new_invitation_path(reference_id: @reference.id),
                remote: true,
                style: "padding: 1px 6px; margin-top: 5px;",
                class:  "btn btn-sm btn-primary" %>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-offset-0 col-lg-6">
  <% if logged_in? %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="clearfix">
            <% if @comment %>
                <div class="btn-group">
                  <%= link_to t('views.model.your_comment'),
                              reference_path(:filter => 'mine'),
                              class: "btn btn-default #{ params[:filter] == "mine" ? "active" : nil }" %>
                </div>
            <% end %>
            <div class="btn-group">
              <%= link_to t('views.references.best_comment'),
                          reference_path,
                          class: "btn btn-default #{ params[:filter] == nil ? "active" : nil }" %>
            </div>
            <% if @my_votes.any? %>
                <div class="btn-group">
                  <%= link_to t('views.references.favorite_comment'),
                              reference_path(:filter => 'my-vote'),
                              class: "btn btn-default #{ params[:filter] == "my-vote" ? "active" : nil }" %>
                </div>
            <% end %>
            <div>
              <br/>
            </div>
          </div>
          <% if params[:filter] == "mine" %>
              <% if @comment %>
                  <%= render @comment, display: @reference.nb_edits > 1 ? true : false %>
              <% else %>
                  <br/>

                  <div class="center">
                    <%= link_to "<span class=\"icon-fork\" >
			</span> #{t('views.references.user_no_comment')}".html_safe,
                                new_comment_path(reference_id: @reference.id),
                                class: "btn btn-primary", :style => "padding: 6px;" %>
                  </div>
                  <br/>
              <% end %>
          <% elsif params[:filter] == "my-vote" %>
              <% if @best_comment && @best_comment.not_empty %>
                  <%= render @best_comment %>
              <% end %>
          <% else %>
              <% if @best_comment && @best_comment.not_empty %>
                  <%= render @best_comment %>
              <% else %>
                  <br/>

                  <div class="center">
                    <%= link_to "<span class=\"icon-fork\" >
			</span> #{t('views.references.be_first')}".html_safe,
                                new_comment_path(reference_id: @reference.id),
                                class: "btn btn-primary", :style => "padding: 6px;" %>
                  </div>
                  <br/>
              <% end %>
          <% end %>
        </div>
      </div>
  <% else %>
      <% if @best_comment && @best_comment.not_empty %>
          <%= render @best_comment %>
      <% else %>
          <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
	    </span> #{t('views.references.no_comment_be_first')} ".html_safe,
                      new_comment_path(reference_id: @reference.id), class: "btn btn-primary" %>
      <% end %>
  <% end %>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-lg-offset-0 col-lg-4">
<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title"> <%= category_names[@reference.category] %> : <%= @reference.title %> </h6>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% if !logged_in? && !@reference.get_tag_hash.blank? %>
        <li class="list-group-item clearfix">
          <% @reference.get_tag_hash.each do |key, value| %>
              <%= link_to "<span class=\"fat icon-#{key}\"></span> #{value}".html_safe,
                          timelines_path(:sort => params[:sort], :order => params[:order], :tag => key),
                          class: "btn btn-default stick hvr-shadow",
                          title: t('views.references.user_tags', count: value) + tags_hash[key],
                          "data-toggle" => "tooltip" %>
          <% end %>
        </li>
      <% end %>
      <li class="list-group-item">
        <div class="bold">
          <%= t('views.references.author') %>
        </div> <%= @reference.author.html_safe %> </li>
      <li class="list-group-item">
        <div class="bold">
          <%= t('views.references.year') %>
        </div> <%= @reference.display_year %> </li>
      <li class="list-group-item">
        <div class="bold">
          <%= category_source[@reference.category] %>
        </div> <%= @reference.journal.html_safe %>
      </li>
      <% unless @reference.abstract_markdown.blank? %>
          <li class="list-group-item">
            <div class="bold">
              <%= t('views.references.abstract') %>
            </div>
            <div class="justify">
              <%= @reference.abstract_markdown.html_safe %>
            </div>
          </li>
      <% end %>
      <% unless @reference.doi.blank? %>
          <li class="list-group-item">
            <div class="bold">
             <%= t('views.references.doi') %>
            </div> <%= @reference.doi %>
          </li>
      <% end %>
      <li class="list-group-item clearfix">
        <% if logged_in? %>
            <div class="pull-right">
              <%= link_to '<span class="glyphicon glyphicon-fire"></span>'.html_safe,
                          dead_links_path(reference_id: @reference.id),
                          method: :post,
                          title: t('views.references.dead_link'),
                          "data-toggle" => "tooltip",
                          class: "btn btn-default" %>
            </div>
        <% end %>
        <div class="bold">
          <%= t('views.references.url') %>
          <%= @reference.open_access ? "(<span class=\"icon icon-lock normal\"></span> #{t('views.references.open_access')})".html_safe : "" %>
        </div> <%= link_to @reference.url, @reference.url, class: "break-word", target: "_blank" %>
        <% unless @reference.open_access %>
            <div class="pull-right">
              <a class="btn btn-default"
                 target="_blank"
                 href="http://scholar.google.com.secure.sci-hub.org/scholar?q=<%= @reference.title  %>">
                <span class="glyphicon glyphicon-flash"></span>
                <%= t('views.references.sci_hub') %>
              </a>
            </div>
        <% end %>
      </li>
      <li class="list-group-item">
        <div class="bold">
          <%= t('views.references.appear_in_timeline') %>
        </div>
        <%= link_to @reference.timeline_name.html_safe, @reference.timeline,
                    target: "_blank" %>
      </li>
      <% if logged_in? %>
        <li class="list-group-item clearfix">
          <%= form_for(:reference_user_tag, url: reference_user_tags_path, method: :post,) do |f| %>
              <%= f.hidden_field :timeline_id, value: @reference.timeline_id %>
              <%= f.hidden_field :reference_id, value: @reference.id %>
              <%= f.label :Tags, t('views.default.tags') %> </br>
              <div class="container-fluid">
                <div class="row" data-toggle="buttons">
                  <% tags_hash.each do |key, value| %>
                      <% if @tag_list.include? key %>
                          <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3 active">
                            <div class="my-btn">
                              <%= f.check_box :tag_list, {checked: true, :multiple => true}, checked_value = key, unchecked_value = nil %>
                              <span class="fat icon-<%= key %>"></span> <%= value %>
                            </div>
                          </div>
                      <% else %>
                          <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                            <div class="my-btn">
                              <%= f.check_box :tag_list, {:multiple => true}, checked_value = key, unchecked_value = nil %>
                              <span class="fat icon-<%= key %>"></span> <%= value %>
                            </div>
                          </div>
                      <% end %>
                  <% end %>
                </div>
              </div>
              <br/>
	      <%= f.button "#{t('views.buttons.advise')} &nbsp <span class=\"glyphicon glyphicon-ok\"></span>".html_safe,
                           class: 'btn btn-success pull-right',
                           data:  {disable_with: "<span class=\"glyphicon glyphicon-save\"></span> &nbsp #{t('views.buttons.editing')} "} %>
          <% end %>
        </li>
      <% end %>
      <% unless @reference.binary.blank? %>
          <li class="list-group-item clearfix">
            <% if logged_in? %>
                <div class="clearfix">
                  <%= form_for :binary, :url => binaries_path do |f| %>
                      <div class="center">
                        <br/>
                        <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[0].humanize -%></b>
                        &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "56") %>&nbsp
                        <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[1].humanize -%></b>
                      </div>
                      <br/><br/>
                      <%= f.hidden_field :reference_id, value: @reference.id %>
                      <%= f.hidden_field :timeline_id, value: @reference.timeline_id %>
                      <% unless @user_binary.nil? %>
                          <b>
                            <%= t('views.references.maybe_binary') %>
                          </b>
                      <% end %>
                      <div class="btn-group-justified" data-toggle="buttons">
                        <% unless @user_binary.nil? %>
                            <label class="btn btn-default"
                                   title="<%= t('views.references.delete_advise') %>" data-toggle="tooltip">
                              <%= f.radio_button :value, checked_value = "none",
                                                 {id: "none", autocomplete: "off"} %>
                              <span class="icon-no"></span>
                            </label>
                        <% end %>
                        <% (1..5).each do |key| %>
                            <label class="btn btn-default btn-select <%= @user_binary == key ? "selected" : nil %> btn-frog<%= key %>"
                                   title="<%= binary_value_explanation(@reference.binary, key) -%>" data-toggle="tooltip">
                              <%= f.radio_button :value, checked_value = key,
                                                 {id: key, autocomplete: "off"} %>
                              <span class="icon-frog cd-frog"></span>
                            </label>
                        <% end %>
                      </div>
                      <br/>

                      <div class="pull-right">
                        <% if @user_binary.nil? %>
				<%= f.button "#{t('views.buttons.advise')} &nbsp <span class=\"glyphicon glyphicon-ok\"></span>".html_safe,
                                         class: "btn btn-success",
                                         data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.saving')} "} %>
                        <% else %>
                            <%= f.button "#{t('views.buttons.save_edit')} &nbsp <span class=\"glyphicon glyphicon-ok\"></span>".html_safe,
                                         class: "btn btn-success",
                                         name: "update",
                                         data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.editing')} "} %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
            <% else %>
                <div class="center">
                  <br/>
                  <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[0].humanize -%></b>
                  &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "56") %>&nbsp
                  <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[1].humanize -%></b>
                </div>
                <br/><br/>

                <div class="row">
                  <div class="col-xs-1">
                  </div>
                  <% (1..5).each do |key| %>
                      <div class="col-xs-2">
                        <div class="cursor-default div-frog<%= key %>"
                             title="<%= t('views.references.user_binary', count: @reference["binary_#{key}".to_sym] ) %> <%= binary_value_explanation(@reference.binary, key).downcase -%>"
                             data-toggle="tooltip">
                        <span class="icon-frog cd-frog" style="font-size: <%= @reference.binary_font_size( key ) -%>em;">
                            <%= @reference["binary_#{key}".to_sym] -%>
                        </span>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <br/>
          </li>
      <% end %>
      <li class="list-group-item clearfix">
        <% if logged_in? %>
            <%= form_for :rating, :url => ratings_path do |f| %>

                <%= f.hidden_field :reference_id, value: @reference.id %>
                <%= f.hidden_field :timeline_id, value: @reference.timeline_id %>
                <% if @user_rating.nil? %>
                    <%= f.label t('views.references.how_you_star') %>
                <% else %>
                    <b>
                      <%= t('views.references.you_think') %> <%= star_hash[@user_rating].downcase %>.
                      <br/>
                      <%= t('views.references.maybe_you_changed') %>                    </b>
                <% end %>
                <div class="btn-group-justified" data-toggle="buttons">
                  <% unless @user_rating.nil? %>
                      <label class="btn btn-default btn-select"
                             title="<%= t('views.references.delete_advise') %>" data-toggle="tooltip">
                        <%= f.radio_button :value, checked_value = "none",
                                           {id: "none", autocomplete: "off"} %>
                        <span class="icon-no"></span>
                      </label>
                  <% end %>
                  <% star_hash.each do |key, value| %>
                      <label class="btn btn-default btn-select <%= @user_rating == key ? "selected" : nil %>"
                             title="<%= value %>" data-toggle="tooltip">
                        <%= f.radio_button :value, checked_value = key,
                                           {id: key, autocomplete: "off"} %>
                        <span class="icon-<%= key %>"></span>
                      </label>
                  <% end %>
                </div>
                <br/>

                <div class="pull-right">
                  <% if @user_rating.nil? %>
                      <%= f.button "#{t('views.buttons.advise')} &nbsp <span class=\"glyphicon glyphicon-ok\"></span>".html_safe,
                                   class: "btn btn-success",
                                   data:{disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.saving')} "} %>
                  <% else %>
                      <%= f.button "#{t('views.buttons.save_edit')} &nbsp <span class=\"glyphicon glyphicon-ok\"></span>".html_safe,
                                   class: "btn btn-success",
                                   name: "update",
                                   data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.editing')} "} %>
                  <% end %>
                </div>
            <% end %>
        <% else %>
                <span class="bold"> <%= t('views.references.how_star') %>
                 </span>
            </br>
            </br>
            <div class="row">
              <div class="col-xs-1">
              </div>
              <% star_hash.each do |key, value| %>
                  <div class="col-xs-2">
                    <div class="cursor-default"
                         title="<<%= t('views.references.user_binary', count: @reference["star_#{key}".to_sym]) -%> <%= value.downcase %>" data-toggle="tooltip">
                        <span class="icon-<%= key %>" style="font-size: <%= @reference.star_font_size( key ) -%>em;">
                        <%= @reference["star_#{key}".to_sym] -%>
                    </span>
                    </div>
                  </div>
              <% end %>
            </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="panel-footer clearfix">
    <span class="pull-right">
      <br/>
      <%= t('views.references.added_by') %> <%= link_to @reference.user_name, user_path(@reference.user_id) %>
    </span>
  </div>
</div>
</div>

</div>
</div>

<script type="text/javascript">
    $('.my-btn').responsiveEqualHeightGrid();
    $(function () {
        $('.ajax-btn').click(function () {
            $(this).text("Chargement");
        });
    });
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({container: 'body'})
    });
</script>
