<% provide(:title, @reference.title) %>
<div class="col-sm-10 col-sm-offset-1 col-md-10 col-lg-7 col-lg-offset-0">
  <div class="panel panel-<%= @rating_hash[:panel] -%>">
    <div class="panel-heading">
      <h3 class="panel-title"> Les analyses </h3>
    </div>
    <div class="panel-body">
      <span>
        <%= link_to "<span class=\"glyphicon glyphicon-eye-open\" >
        </span> Suivre les nouvelles analyses apportées à cette référence".html_safe,
                    following_references_path( reference_id: @reference.id ), method: :post %>
      </span> </br>
      <div class="panel-group" id="accordion">
        <h3> L'éxperience réalisé : </h3>
        <%= render 'shared/field_comments', field: 1, content: @reference.f_1_content %>
        <h3> Ce que l'étude démontre : </h3>
        <%= render 'shared/field_comments', field: 2, content: @reference.f_2_content %>
        <h3> Les limites de l'étude : </h3>
        <%= render 'shared/field_comments', field: 3, content: @reference.f_3_content %>
        <h3> Le rapport à la question : </h3>
        <%= render 'shared/field_comments', field: 4, content: @reference.f_4_content %>
        <h3> Remarques éventuelles :</h3>
        <%= render 'shared/field_comments', field: 5, content: @reference.f_5_content %>
      </div>
    </div>
    <div class="panel-footer">
      <%= image_tag("icons/myicon-users.png", alt: "ref", height: "24px") %>
      <span class="badge"><%= @reference.nb_contributors %></span>
      <%= image_tag("icons/myicon-edit-rule.png", alt: "ref", height: "24px") %>
      <span class="badge"><%= @reference.nb_edits %></span>
      <%= image_tag("icons/myicon-votes.png", alt: "ref", height: "24px") %>
      <span class="badge"><%= @reference.nb_votes %></span>
    <span class="pull-right">
      Référence ajouté par <%= @reference.user.name %>
    </span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="col-sm-10 col-sm-offset-1 col-md-10  col-lg-5 col-lg-offset-0">
<div class="panel panel-<%= @rating_hash[:panel] -%>">
  <div class="panel-heading">
    <h3 class="panel-title"> La référence </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"> <div class="bold">
        Titre : </div> <%= @reference.title_fr %></li>
      <li class="list-group-item"> <div class="bold">
        Titre original de la référence : </div> <%= @reference.title %></li>
      <li class="list-group-item"> <div class="bold">
        Les auteurs de l'étude : </div> <%= @reference.author %> </li>
      <li class="list-group-item"> <div class="bold">
        Année de publication : </div> <%= @reference.year %> </li>
      <li class="list-group-item"> <div class="bold">
        Journal qui a osé éditer cette bouse :
        </div> <%= @reference.journal %></li>
      <% unless @reference.abstract.empty? %>
      <li class="list-group-item"> <div class="bold">
        Abstract (dans sa langue original) :
        </div> <%= @reference.abstract %></li>
      <% end %>
      <li class="list-group-item"> <div class="bold">
        Doi : </div> <%= @reference.doi %></li>
      <li class="list-group-item"> <div class="bold"> Lien vers la référence :
        </div> <%= link_to @reference.url, @reference.url, target: "_blank" %></li>
      <li class="list-group-item"> <div class="bold">
        Timeline dans laquelle apparait cet article : </div>
        <%= link_to @reference.timeline.name, @reference.timeline,
                    target: "_blank" %></li>
      <li class="list-group-item">
        <div class="bold"> Ce que les contributeurs pensent de cette réfèrence :
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-danger"
               style="width: <%= @rating_hash[1] -%>% ;">
            <%= @reference.star_1 -%>
          </div>
          <div class="progress-bar progress-bar-striped progress-bar-warning"
               style="width: <%= @rating_hash[2] -%>% ;">
            <%= @reference.star_2 -%>
          </div>
          <div class="progress-bar progress-bar-default"
               style="width: <%= @rating_hash[3] -%>% ;">
            <%= @reference.star_3 -%>
          </div>
          <div class="progress-bar progress-bar-striped progress-bar-info"
               style="width: <%= @rating_hash[4] -%>% ;">
            <%= @reference.star_4 -%>
          </div>
          <div class="progress-bar progress-bar-striped progress-bar-primary"
               style="width: <%= @rating_hash[5] -%>% ;">
            <%= @reference.star_5 -%>
          </div>
        </div>
        <% if logged_in? %>
            <%= form_for :rating, :url => ratings_path do |f| %>

                <%= f.hidden_field :reference_id, value: @reference.id %>
                <%= f.hidden_field :timeline_id, value: @reference.timeline_id %>
                <% if @rating_hash[:user_value].nil? %>
                    <%= f.label "Que pensez vous de ce papier ?" %>
                <% else %>
                    <%= f.label "Vous avez déjà donné #{@rating_hash[:user_value]} étoiles à ce papier. Mais vous avez peut être changé d'avis ?" %>
                <% end %>
                <%= f.select :value, [["Je trouve qu'il rape un peu les fesses quand on se torche avec (1 étoile)", 1],
                                      ["Heuresement pour eux que je n'étais pas un des reviewers (2 étoiles)", 2],
                                      ["Ils se sont quand même pas foulés trois neurones pour le pondre (3 étoiles)", 3],
                                      ["Des bons petits gars et du bon boulot (4 étoiles)", 4],
                                      ["J'ai eu un orgasme cérébrale en le lisant (5 étoiles)", 5]
                                     ].delete_if{ |select| select[1] == @rating_hash[:user_value] },
                             {}, {class: 'form-control'} %>
                <% if @rating_hash[:user_value].nil? %>
                    <%= f.submit "Enregistrer cet avis", class: "btn btn-primary" %>
                <% else %>
                    <%= f.submit "Enregistrer la modification", class: "btn btn-primary", name: "update" %>
                <% end %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    <span class="pull-right">
      Référence ajouté par <%= @reference.user.name %>
    </span>
    <div class="clearfix"></div>
  </div>
</div>
</div>



