<% provide(:title, "Référence") %>

<div id="my-container" class="container-fluid">
<div class="row">
<% if logged_in? %>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= link_to "<span class=\"icon-arrow-left fat\"></span> Revenir à la controverse <span class=\"icon-frog fat\"></span>".html_safe,
                timeline_path(@reference.timeline_id), class: "btn btn-block btn-primary" %>
    <br/>
    <br/>
    <% if @reference.nb_edits > 1 && Vote.where( user_id: current_user.id, reference_id: @reference.id ).sum( :value ) > 0 %>
    <div class="panel panel-default">
    <div class="panel-body page">
    <%= link_to "Récupérer mes crédits (#{Vote.where( user_id: current_user.id, reference_id: @reference.id ).sum( :value )}) attribués aux analyses de cette référence", vote_path( id: 'all', reference_id: @reference.id), method: :delete,
                class: "btn btn-block btn-danger" %>
    </div>
    </div>
    <% end %>
  </div>
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-lg-6 col-lg-offset-0">
<% else %>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= link_to "<span class=\"icon-arrow-left fat\"></span> Revenir à la controverse <span class=\"icon-frog fat\"></span>".html_safe,
                timeline_path(@reference.timeline_id), class: "btn btn-block btn-primary" %>
  </div>
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-lg-5 col-lg-offset-0">
<% end %>
<% if logged_in? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="clearfix">
            <div class="btn-group">
              <%= link_to "Mon analyse".html_safe,
                          reference_path(:filter => 'mine'),
                          class: "btn btn-default #{ params[:filter] == "mine" ? "active" : nil }" %>
            </div>
            <div class="btn-group">
              <%= link_to "La meilleure analyse".html_safe,
                          reference_path,
                          class: "btn btn-default #{ params[:filter] == nil ? "active" : nil }"  %>
            </div>
        <div>
          </br>
        </div>
      </div>
       <% if params[:filter] == "mine" %>
          <% if @comment %>
              <%= render @comment, display: @reference.nb_edits > 1 ? true : false, delete: true %>
          <% else %>
              <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
                 </span> Vous n'avez pas encore écrit d'analyse de cette référence".html_safe,
                          new_comment_path(reference_id: @reference.id ), class: "btn btn-primary" %>
          <% end %>
      <% else %>
          <% if @best_comment && @best_comment.not_empty %>
              <%= render @best_comment %>
          <% else %>
              <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
            </span> Il n'y a pas d'analyse à cette référence, soyez le premier ! ".html_safe,
                          new_comment_path(reference_id: @reference.id ), class: "btn btn-primary" %>
          <% end %>
      <% end %>
    </div>
  </div>
<% else %>
    <% if @best_comment && @best_comment.not_empty %>
        <%= render @best_comment %>
    <% else %>
        <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
            </span> Il n'y a pas d'analyse à cette référence, soyez le premier ! ".html_safe,
                    new_comment_path(reference_id: @reference.id ), class: "btn btn-primary" %>
    <% end %>
<% end %>
</div>
<div class="col-sm-10 col-sm-offset-1 col-md-10  col-lg-4 col-lg-offset-0">
<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title"> <%= @reference.article ? "Article" : "Review" %> : <%= @reference.title %> </h6>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"> <div class="bold">
        Les auteurs de l'étude : </div> <%= @reference.author %> </li>
      <li class="list-group-item"> <div class="bold">
        Année de publication : </div> <%= @reference.display_year %> </li>
      <li class="list-group-item"> <div class="bold">
        Journal :
        </div> <%= @reference.journal %></li>
      <li class="list-group-item"> <div class="bold">
      </div> <%= @reference.journal %></li>
      <% unless @reference.abstract.blank? %>
          <li class="list-group-item">
            <div class="bold">
              Abstract (dans sa langue originale) :
            </div>
            <div class="justify">
              <%= @reference.abstract %>
            </div>
          </li>
      <% end %>
      <% unless @reference.doi.blank? %>
      <li class="list-group-item"> <div class="bold">
        Identifiant unique : </div> <%= @reference.doi %></li>
      <% end %>
      <li class="list-group-item"> <div class="bold">
        Lien vers la référence (<%= @reference.open_access ? "<span class=\"icon icon-lock normal\"></span> Accés libre".html_safe : "<span class=\"icon icon-locked normal\"></span> Accés payant".html_safe %>):
        </div> <%= link_to @reference.url, @reference.url, target: "_blank" %></li>
      <li class="list-group-item"> <div class="bold">
        Controverse dans laquelle apparait cette référence : </div>
        <%= link_to @reference.timeline_name, @reference.timeline,
                    target: "_blank" %></li>
        <% if @reference.binary != '' %>
          <li class="list-group-item clearfix">
            <% if logged_in? %>
                <div class="clearfix">
                <%= form_for :binary, :url => binaries_path do |f| %>
                      <div class="center">
                        <br/>
                        <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[0].humanize -%></b>
                        &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "56") %>&nbsp
                        <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[1].humanize -%></b>
                      </div>
                      <br/><br/>
                    <%= f.hidden_field :reference_id, value: @reference.id %>
                    <%= f.hidden_field :timeline_id, value: @reference.timeline_id %>
                    <% unless @user_binary.nil? %>
                          <b>
                            Vous avez déjà voté, mais vous avez peut être changé d'avis ?
                          </b>
                          <% end %>
                    <div class="btn-group-justified" data-toggle="buttons">
                      <% unless @user_binary.nil? %>
                          <label class="btn btn-default"
                                 title="Retirer mon avis" data-toggle="tooltip">
                            <%= f.radio_button :value, checked_value = "none",
                                               {id: "none", autocomplete: "off"} %>
                            <span class="icon-no"></span>
                          </label>
                      <% end %>
                      <% (1..5).each do |key| %>
                              <label class="btn btn-default btn-select <%= @user_binary == key ? "selected" : nil %> btn-frog<%= key %>"
                                     title="<%= binary_value_explanation(@reference.binary, key) -%>" data-toggle="tooltip">
                            <%= f.radio_button :value, checked_value = key,
                                               {id: key, autocomplete: "off"} %>
                          <span class="icon-frog cd-frog"></span>
                          </label>
                      <% end %>
                    </div>
                    <br/>
                    <div class="pull-right">
                      <% if @user_binary.nil? %>
                          <%= f.button "Enregistrer cet avis", class: "btn btn-success",
                                   data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Enregistrement en cours "}%>
                      <% else %>
                          <%= f.button "Enregistrer la modification", class: "btn btn-success", name: "update",
                                       data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Modification en cours "}%>
                      <% end %>
                    </div>
                <% end %>
                </div>
            <% else %>
                <div class="center">
                  <br/>
                  <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[0].humanize -%></b>
                  &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "56") %>&nbsp
                  <b style="font-size: 1.5em"><%= @reference.binary.split('&&')[1].humanize -%></b>
                </div>
                <br/><br/>

                <div class="btn-group-justified" data-toggle="buttons">
                <% (1..5).each do |key| %>
                          <label class="btn btn-default cursor-default btn-frog<%= key %>"
                                 title="<%= @reference["binary_#{key}".to_sym] -%> contributeurs pensent <%= binary_value_explanation(@reference.binary, key).downcase -%>"
                                 data-toggle="tooltip">
                        <span class="icon-frog cd-frog" style="font-size: <%= @reference.binary_font_size( key ) -%>em;">
                            <%= @reference["binary_#{key}".to_sym] -%>
                        </span>
                    </label>
                <% end %>
                </div>
            <% end %>
            <br/>
          </li>
        <% end %>
      <li class="list-group-item clearfix">
        <% if logged_in? %>
            <%= form_for :rating, :url => ratings_path do |f| %>

                <%= f.hidden_field :reference_id, value: @reference.id %>
                <%= f.hidden_field :timeline_id, value: @reference.timeline_id %>
                <% if @user_rating.nil? %>
                    <%= f.label "Comment evaluez vous la qualité scientifique de ce papier ?" %>
                <% else %>
                    <b>
                    Vous pensez que <%= star_hash[@user_rating].downcase %>.
                    <br/>
                    Mais vous avez peut être changé d'avis ?
                    </b>
                <% end %>
                <div class="btn-group-justified" data-toggle="buttons">
                  <% unless @user_rating.nil? %>
                      <label class="btn btn-default btn-select"
                             title="Retirer mon avis" data-toggle="tooltip">
                        <%= f.radio_button :value, checked_value = "none",
                                           {id: "none", autocomplete: "off"} %>
                        <span class="icon-no"></span>
                      </label>
                  <% end %>
                  <% star_hash.each do |key, value| %>
                      <label class="btn btn-default btn-select <%= @user_rating == key ? "selected" : nil %>"
                             title="<%= value %>" data-toggle="tooltip">
                            <%= f.radio_button :value, checked_value = key,
                                               {id: key, autocomplete: "off"} %>
                        <span class="icon-<%= key %>"></span>
                      </label>
                  <% end %>
                </div>
                <br/>
                <div class="pull-right">
                <% if @user_rating.nil? %>
                      <%= f.button "Enregistrer cet avis", class: "btn btn-success",
                                   data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Enregistrement en cours "}%>
                  <% else %>
                      <%= f.button "Enregistrer la modification", class: "btn btn-success", name: "update",
                                   data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Modification en cours "}%>
                <% end %>
                </div>
            <% end %>
            <% if @reference.user_id == current_user.id %>
                </li>
                <li class="list-group-item clearfix">
                  <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier cette référence".html_safe, edit_reference_path(@reference.id), class: "btn btn-primary pull-right" %>
                  <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer cette référence".html_safe,
                              reference_path( @reference.id ), method: :delete,
                              data: { confirm: "Etes vous certain ?" }, class: "btn btn-danger" %>
            <% end %>
        <% else %>
                <span class="bold"> Comment les contributeurs jugent la qualité scientifique de cette référence :
                 </span>
            </br>
            </br>
            <div class="btn-group-justified" data-toggle="buttons">
              <% star_hash.each do |key, value| %>
                  <label class="btn cursor-default btn-default"
                         title="<%= @reference["star_#{key}".to_sym] -%> contributeurs pensent que <%= value.downcase %>" data-toggle="tooltip">
                    <span class="icon-<%= key %>" style="font-size: <%= @reference.star_font_size( key ) -%>em;">
                        <%= @reference["star_#{key}".to_sym] -%>
                    </span>
                  </label>
              <% end %>
            </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="panel-footer clearfix">
    <span class="pull-right">
      <br/>
      Référence ajoutée par <%= link_to @reference.user_name, user_path(@reference.user_id) %>
    </span>
    <div class="sticky" data-placement="left"
            data-toggle="tooltip"
            title="<%= @reference.nb_contributors.to_s + (@reference.nb_contributors > 1 ? " contributeurs" : " contributeur") %>">
      <span class="big icon-users"></span>
      <%= @reference.nb_contributors %>
    </div>
    <div class="sticky" data-placement="top"
            data-toggle="tooltip"
            title="<%= @reference.nb_edits.to_s + (@reference.nb_edits > 1 ? " analyses" : " analyse") %>">
      <span class="big icon-comment"></span>
      <%= @reference.nb_edits %>
    </div>
    <div class="sticky" data-placement="right"
            data-toggle="tooltip"
            title="<%= @reference.nb_votes.to_s + (@reference.nb_votes > 1 ? " crédits accordés" : " crédit accordé") %> ">
      <span class="big icon-ribbon"></span>
      <%= @reference.nb_votes %>
    </div>
  </div>
</div>
</div>

</div>
</div>

<script type="text/javascript">
    $(function () {
        $('.ajax-btn').click(function () {
            $(this).text("Chargement");
        });
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({container: 'body'})
    });
</script>