<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 timeline">
  <div class="panel panel-<%= timeline.nb_edits == 0 ? "default" : "primary" %>">
    <div class="timeline-body">
    <div class="panel-body">
      <button type="button" class="btn btn-default" data-toggle="collapse"
              data-target="#tags<%= timeline.id %>,#group<%= timeline.id %>">
        Thèmes
      </button>
      <div class="pull-right">
      <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"> #{timeline.nb_likes} </span>".html_safe,
                  likes_path(id: timeline.id ),
                  method: :post, class: "btn btn-primary" %>
      </div>
      <div class="timeline-name">
        <h4> <%= link_to timeline.name, timeline %>
        </h4>
      </div>
      <div class="collapse collapsed" id="tags<%= timeline.id %>">
        <div  class="container-fluid">
        <div class="row">
          <% timeline.get_tag_list.each do |name| %>
              <div class="btn btn-default col-xs-6">
              <div class="my-btn">
                <%= image_tag("icons/myicon-#{name}.svg", alt: name, height: "21px") %> <%= tags_hash[name] %>
              </div>
              </div>
          <% end %>
        </div>
        </div>
      </div>
      <div class="collapse in" id="group<%= timeline.id %>">
      <ul class="list-group">
        <li class="list-group-item clearfix">
          <%= image_tag("icons/myicon-users.svg", alt: "ref", height: "24px") %>
          Contributeurs
          <span class="badge"><%= timeline.nb_contributors %></span>
        </li>
        <li class="list-group-item clearfix">
          <%= image_tag("icons/myicon-reference.svg", alt: "ref", height: "24px") %>
          References
          <span class="badge"><%= timeline.nb_references %></span>
        </li>
        <li class="list-group-item clearfix">
          <%= image_tag("icons/myicon-comment.svg", alt: "ref", height: "24px") %>
          Editions
          <span class="badge"><%= timeline.nb_edits %></span>
        </li>
      </ul>
      </div>
    </div>
  </div>
  </div>
</div>