<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 timeline">
  <div class="thumbnail">
    <div class="caption">
      <button type="button" class="btn btn-default" data-toggle="collapse"
              data-target="#tags<%= timeline.id %>">
        tags
      </button>
      <div class="pull-right">
      <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"> #{timeline.nb_likes} </span>".html_safe,
                  likes_path(id: timeline.id ),
                  method: :post, class: "btn btn-primary" %>
      </div>
      <div class="collapse collapsed" id="tags<%= timeline.id %>">
        <br/>
        <div class="btn-group btn-group-justified">
          <% timeline.get_tag_list.each do |name| %>
              <div class="btn-group btn-group-justified">
                <button class="btn btn-default btn-sm" data-trigger="focus"
                        data-toggle="popover" data-content="<%= tags_hash[name] %>" >
                  <%= image_tag("icons/myicon-#{name}.svg", alt: name, height: "21px") %>
                </button>
              </div>
          <% end %>
        </div>
      </div>
      <div class="timeline_name">
        <h2> <%= link_to timeline.name, timeline %>
        </h2>
      </div>
      <ul class="list-group">
        <li class="list-group-item clearfix">
          <%= image_tag("icons/myicon-users.svg", alt: "ref", height: "24px") %>
          Contributeurs
          <span class="badge"><%= timeline.nb_contributors %></span>
        </li>
        <li class="list-group-item clearfix">
          <%= image_tag("icons/myicon-reference.svg", alt: "ref", height: "24px") %>
          References
          <span class="badge"><%= timeline.nb_references %></span>
        </li>
        <li class="list-group-item clearfix">
          <%= image_tag("icons/myicon-comment.svg", alt: "ref", height: "24px") %>
          Editions
          <span class="badge"><%= timeline.nb_edits %></span>
        </li>
      </ul>
    </div>
  </div>
</div>