<div class="timeline col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-<%= full_width ? "12" : "6" %> ">
  <div class="panel panel-primary" style="background-color: transparent">
    <div class="timeline-body">
      <div class="panel-body" style="position: relative;">
        <div class="timeline-frame clearfix">
          <div class="timeline-name clearfix">
            <% if logged_in? && current_user.admin %>
                <div class="pull-right" style="margin-left: 10px">
                  <% if timeline.favorite %>
                      <%= link_to "<span class=\"icon icon-rocket normal\"></span>".html_safe,
                                  switch_favorite_timelines_path(timeline_id: timeline.id),
                                  "data-toggle" => :tooltip,
                                  class: "btn btn-default red",
                                  title: t('views.timelines.remove_favorite') %>
                  <% else %>
                      <%= link_to "<span class=\"icon icon-rocket normal\"></span>".html_safe,
                                  switch_favorite_timelines_path(timeline_id: timeline.id),
                                  "data-toggle" => :tooltip,
                                  class: "btn btn-default green",
                                  title: t('views.timelines.make_favorite') %>
                  <% end %>
                  <% if timeline.staging %>
                      <%= link_to "<span class=\"icon icon-hatch normal\"></span>".html_safe,
                                  switch_staging_timelines_path(timeline_id: timeline.id),
                                  "data-toggle" => :tooltip,
                                  class: "btn btn-default green",
                                  title: t('views.timelines.make_public') %>
                  <% else %>
                      <%= link_to "<span class=\"icon icon-egg normal\"></span>".html_safe,
                                  switch_staging_timelines_path(timeline_id: timeline.id),
                                  "data-toggle" => :tooltip,
                                  class: "btn btn-default red",
                                  title: t('views.timelines.make_staging') %>
                  <% end %>
                </div>
            <% end %>
          <div class="pull-right" style="margin-left: 10px">
            <% if my_likes && my_likes.include?(timeline.id) %>
                <button type="button" class="btn btn-success" data-placement="left"
                        data-toggle="tooltip" value="<%= timeline.id %>" data-validate="/likes"
                        title="<%= t('views.default.you_and' ) + " " + t('views.pluralize.likes', count: timeline.nb_likes - 1 ) %>">
                  <span class="glyphicon glyphicon-thumbs-up"> <%= timeline.nb_likes %></span>
                </button>
            <% else %>
                <button type="button" class="btn btn-default green" data-placement="left"
                        data-toggle="tooltip" value="<%= timeline.id %>" data-validate="/likes"
                        title="<%= t('views.pluralize.likes', count: timeline.nb_likes ) %>">
                  <span class="glyphicon glyphicon-thumbs-up"> <%= timeline.nb_likes %></span>
                </button>
            <% end %>
          </div>
          <a href="<%=  timeline_path(timeline) %>">
            <div class="transparent flex hvr-grow1">
              <h3 class="shadowed">
                <%= timeline.name.html_safe %>
              </h3>
            </div>
          </a>
          </div>
          <% if timeline.nb_comments == 0 || !timeline.frame.blank? %>
          <div class="cadre text-justify">
            <%= truncate_html(timeline.frame.html_safe, length: 250, omission: '...') %>
          </div>
          <% end %>
        </div>
        <br/>
        <div class="pull-right">
          <% timeline.get_tag_list.each do |name| %>
              <%= link_to "<span class=\"fat icon-#{name}\"></span> ".html_safe,
                          timelines_path(:sort => params[:sort], :order => params[:order], :tag => name),
                          class: "btn btn-default stick hvr-shadow", title: tags_hash[name], "data-toggle" => "tooltip" %>
          <% end %>
        </div>
        <div class="transparent inline-block">
          <div class="sticky" data-placement="top"
               title="<%= t('views.pluralize.users', count: timeline.nb_contributors) %>"
               data-toggle="tooltip">
            <span class="fat icon-users"></span>
            <span class="badge"><%= timeline.nb_contributors %></span>
          </div>
          <div class="sticky" data-placement="top"
               title="<%= t('views.pluralize.references', count: timeline.nb_references) %>"
               data-toggle="tooltip">
            <span class="fat icon-reference"></span>
            <span class="badge"><%= timeline.nb_references %></span>
          </div>
          <div class="sticky" data-placement="top"
               title="<%= t('views.pluralize.edits', count: timeline.nb_edits) %>"
               data-toggle="tooltip">
            <span class="fat icon-summary"></span>
            <span class="badge"><%= timeline.nb_edits %></span>
          </div>
          <div class="sticky" data-placement="right"
               title="<%= t('views.pluralize.views', count: timeline.views) +
                                  distance_of_time_in_words_to_now( timeline.created_at > Time.parse("2015-10-01 00:00:00 +02:00") ? timeline.created_at : Time.parse("2015-10-01 00:00:00 +02:00") ) %>"
               data-toggle="tooltip">
            <span class="fat icon-views"></span>
            <span class="badge"><%= timeline.views %></span>
          </div>
        </div>
        <div class="background">
        </div>
        <img class="loading-image" src="<%= timeline.picture_url %>" alt=""
             style="background-size: 100%; background-repeat:no-repeat;">

      </div>
    </div>
  </div>
</div>