<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 timeline">
  <div class="panel panel-primary">
    <div class="timeline-body">
    <div class="panel-body">
      <button type="button" class="btn btn-default" data-toggle="collapse"
              data-target="#tags<%= timeline.id %>,#group<%= timeline.id %>">
        <span class="icon-frog" style="font-size: 1.4em"></span> Thèmes
      </button>
      <div class="pull-right">
        <button type="button" class="btn btn-success" data-placement="left"
            data-toggle="tooltip" value="<%= timeline.id %>" data-validate="/likes/add"
            title="<%= timeline.nb_likes.to_s + " personnes s'intéressent à cette controverse" %>">
        <span class="glyphicon glyphicon-thumbs-up"> <%= timeline.nb_likes %> </span>
        </button>
      </div>
      <div class="timeline-name center">
        <br/>
          <%= link_to timeline.name, timeline, class: "hvr-grow" %>
        <% if timeline.nb_edits == 0 %>
              <div class="red center">
                Controverse en construction
              </div>
        <% end %>
      </div>
      <div class="collapse collapsed center" id="tags<%= timeline.id %>">
          <% timeline.get_tag_list.each do |name| %>
              <div class="btn btn-default stick hvr-shadow" title="<%= tags_hash[name] %>"
                   data-toggle="tooltip">
                <span class="fat icon-<%= name %>"></span>
              </div>
          <% end %>
      </div>
      <div class="collapse in center" id="group<%= timeline.id %>">
          <div class="btn btn-default stick" data-placement="left"
               title="<%= timeline.nb_contributors.to_s + (timeline.nb_contributors > 1 ? " contributeurs" : " contributeur") %>"
               data-toggle="tooltip">
            <span class="fat icon-users"></span>
          <span class="badge"><%= timeline.nb_contributors %></span>
          </div>
          <div class="btn btn-default stick" data-placement="top"
               title="<%= timeline.nb_references.to_s + (timeline.nb_references > 1 ? " références scientifiques" : " référence scientifique") %>"
               data-toggle="tooltip">
            <span class="fat icon-reference"></span>
          <span class="badge"><%= timeline.nb_references %></span>
          </div>
          <div class="btn btn-default stick" data-placement="right"
               title="<%= timeline.nb_edits.to_s + (timeline.nb_edits > 1 ? " contributions" : " contribution") %>"
               data-toggle="tooltip">
            <span class="fat icon-comment"></span>
          <span class="badge"><%= timeline.nb_edits %></span>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>