    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 timeline">
      <div class="thumbnail">
        <div class="caption">
          <div class="timeline_name">
            <h2> <%= link_to timeline.name, timeline %>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <%= image_tag("icons/myicon-users.png", alt: "ref", height: "24px") %>
              Contributeurs
              <span class="badge"><%= timeline.nb_contributors %></span>
            </li>
            <li class="list-group-item">
              <%= image_tag("icons/myicon-ref.png", alt: "ref", height: "24px") %>
              References
              <span class="badge"><%= timeline.nb_references %></span>
            </li>
            <li class="list-group-item">
              <%= image_tag("icons/myicon-edit-rule.png", alt: "ref", height: "24px") %>
              Editions
              <span class="badge"><%= timeline.nb_edits %></span>
            </li>
            <li class="list-group-item">
              <%= image_tag("icons/myicon-edit-rule.png", alt: "ref", height: "24px") %>
              Votes
              <span class="badge"><%= timeline.nb_votes %></span>
            </li>
          </ul>
          <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 35%">
              <span class="sr-only">35% Complete </span>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 25%">
              <span class="sr-only">20% Complete </span>
            </div>
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 40%">
              <span class="sr-only">10% Complete </span>
            </div>
          </div>
        </div>
      </div>
    </div>