    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 timeline">
      <div class="thumbnail">
        <div class="caption">
          <div class="timeline_name">
            <h2> <%= link_to timeline.name, timeline %>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-users.svg", alt: "ref", height: "24px") %>
              Contributeurs
              <span class="badge"><%= timeline.nb_contributors %></span>
            </li>
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-reference.svg", alt: "ref", height: "24px") %>
              References
              <span class="badge"><%= timeline.nb_references %></span>
            </li>
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-comment.svg", alt: "ref", height: "24px") %>
              Editions
              <span class="badge"><%= timeline.nb_edits %></span>
            </li>
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-like.svg", alt: "ref", height: "24px") %>
              Votes
              <span class="badge"><%= timeline.nb_likes %></span>
            </li>
            <li class="list-group-item clearfix">
              <div class="btn-group">
                <% timeline.get_tag_list.each do |name| %>
                    <label class="btn btn-default btn-sm" title="<%= tags_hash[name] %>" >
                      <%= image_tag("icons/myicon-#{name}.svg", alt: name, height: "21px")%>
                    </label>
                <% end %>
              </div>
            </li>
            <li class="list-group-item clearfix">
               <span class="bold"> Qualité des références de cette controverse :
                 </span><br/>
              <div class="btn-group">
                <% for i in 1..5 %>
                    <button class="btn btn-default btn-sm" data-toggle="popover"
                           data-content="<%= star_hash[i] %>" title="Nombre de votes" >
                    <%= image_tag("icons/myicon-#{i}.svg", height: "21px")%>
                    <%= timeline["star_#{i}".to_sym] -%>
                    </button>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>