    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 timeline">
      <div class="thumbnail">
        <div class="caption">
          <div class="timeline_name">
            <h2> <%= link_to timeline.name, timeline %>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-users.png", alt: "ref", height: "24px") %>
              Contributeurs
              <span class="badge"><%= timeline.nb_contributors %></span>
            </li>
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-ref.png", alt: "ref", height: "24px") %>
              References
              <span class="badge"><%= timeline.nb_references %></span>
            </li>
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-edit-rule.png", alt: "ref", height: "24px") %>
              Editions
              <span class="badge"><%= timeline.nb_edits %></span>
            </li>
            <li class="list-group-item clearfix">
              <%= image_tag("icons/myicon-votes.png", alt: "ref", height: "24px") %>
              Votes
              <span class="badge"><%= timeline.nb_votes %></span>
            </li>
          </ul>
          <div class="bold"> Ceux que les contributeurs pensent de cette réfèrence :
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-danger"
                 style="width: <%= timeline.star_percent(1) -%>% ;">
              <%= timeline.star_1 -%>
            </div>
            <div class="progress-bar progress-bar-striped progress-bar-warning"
                 style="width: <%= timeline.star_percent(2) -%>% ;">
              <%= timeline.star_2 -%>
            </div>
            <div class="progress-bar progress-bar-striped progress-bar-success"
                 style="width: <%= timeline.star_percent(3) -%>% ;">
              <%= timeline.star_3 -%>
            </div>
            <div class="progress-bar progress-bar-striped progress-bar-info"
                 style="width: <%= timeline.star_percent(4) -%>% ;">
              <%= timeline.star_4 -%>
            </div>
            <div class="progress-bar progress-bar-striped progress-bar-primary"
                 style="width: <%= timeline.star_percent(5) -%>% ;">
              <%= timeline.star_5 -%>
            </div>
          </div>
        </div>
      </div>
    </div>