<% provide(:title, "timelines") %>

<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuTri" data-toggle="dropdown">
      Trier par
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
      <li> <%= link_to "Date de création",timelines_path(:sort=> 'date') %> </li>
      <li> <%= link_to "Magique ",timelines_path(:sort=> 'rank') %> </li>
    </ul>
</div>
<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuTag" data-toggle="dropdown">
    Par tag
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
      <% [["planet","Environement"],["biology","Biologie"],["immunity","Immunité et santé"],
          ["pharmacy","Médicaments"],["animal","Animaux"],["plant","Végétaux"],
          ["space","Espace"],["physics","Physique"],["chemistry","Chimie"],
          ["economy","Economie et Finance"],["social","Sciences sociales"]].each do |key, value| %>
          <li>
            <%= link_to image_tag("icons/myicon-#{key}.png", alt: value, height: "28px")+"&nbsp".html_safe+value,timelines_path(:tag => key)%>
          </li>
      <% end %>
    </ul>
</div>
<div id="timelines">

  <div class="row page">

  <%= render @timelines %>

 </div>

</div>


<%= paginate @timelines %>