<% provide(:title, "timelines") %>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button"
            id="dropdownMenuTri" data-toggle="dropdown">
      Trier par
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
      <li <%= params[:sort]=='score' || params[:sort].nil? ? "class=selected" : nil %> >
        <%= link_to "Les plus cotées (par défault)",timelines_path(:sort=> 'score',
                               :order => params[:order], :tag => params[:tag]) %> </li>
      <li <%= params[:sort]=='score_recent' ? "class=selected" : nil %> >
        <%= link_to "Les controverses du moment",timelines_path(:sort=> 'score_recent',
                               :order => params[:order], :tag => params[:tag]) %> </li>
      <li <%= params[:sort]=='created_at' ? "class=selected" : nil %> >
        <%= link_to "Date de création",timelines_path(:sort => 'created_at',
                               :order => params[:order], :tag => params[:tag]) %> </li>
      <li <%= params[:sort]=='nb_references' ? "class=selected" : nil %> >
        <%= link_to "Nombre de références",timelines_path(:sort => 'nb_references',
                               :order => params[:order], :tag => params[:tag]) %> </li>
      <li <%= params[:sort]=='nb_contributors' ? "class=selected" : nil %> >
        <%= link_to "Nombre de contributeurs",timelines_path(:sort => 'nb_contributors',
                               :order => params[:order], :tag => params[:tag]) %> </li>
      <li <%= params[:sort]=='nb_edits' ? "class=selected" : nil %> >
        <%= link_to "Nombre d'éditions",timelines_path(:sort => 'nb_edits',
                               :order => params[:order], :tag => params[:tag]) %> </li>
      <li <%= params[:sort]=='nb_votes' ? "class=selected" : nil %> >
        <%= link_to "Nombre de votes",timelines_path(:sort => 'nb_votes',
                               :order => params[:order], :tag => params[:tag]) %> </li>
    </ul>
</div>
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button"
          id="dropdownMenuOrder" data-toggle="dropdown">
    Ordre
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" >
    <li <%= params[:order]=='desc' || params[:order].nil? ? "class=selected" : nil %> >
      <%= link_to "Décroissant (par défault)",timelines_path(:sort=> params[:sort],
                                         :order => 'desc', :tag => params[:tag]) %> </li>
    <li <%= params[:order]=='asc' ? "class=selected" : nil %> >
      <%= link_to "Croissant",timelines_path(:sort => params[:sort],
                                         :order => 'asc', :tag => params[:tag]) %> </li>
  </ul>
</div>
<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button"
            id="dropdownMenuTag" data-toggle="dropdown">
    Thème
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
      <li <%= params[:tag]=='all' || params[:tag].nil? ? "class=selected" : nil %> >
        <%= link_to 'Tous (par défault)', timelines_path(:sort => params[:sort],
                                                      :order => params[:order], :tag => 'all')%>
      </li>
      <% tags_hash.each do |key, value| %>
          <li <%= params[:tag]==key ? "class=selected" : nil %> >
            <%= link_to image_tag("icons/myicon-#{key}.svg", alt: value,
                 height: "28px")+"&nbsp".html_safe+value, timelines_path(:sort => params[:sort],
                                          :order => params[:order], :tag => key) %>
          </li>
      <% end %>
    </ul>
</div>
<div id="timelines">
  <div class="row page">
  <%= render @timelines %>
  </div>
</div>
  <%= paginate @timelines %>
</div>

<% if logged_in? %>
  <div class="col-xs-12 col-md-1 col-lg-2">
      <% if params[:tag].nil? || params[:tag]=='all' %>
          <%= link_to "<span class=\"glyphicon glyphicon-eye-open\" >
             </span> Suivre les nouvelles controverses".html_safe,
                      following_new_timelines_path, method: :post, class: "btn btn-block btn-primary" %>
      <% else %>
          <%= link_to image_tag("icons/myicon-#{params[:tag]}.svg", height: "28px") + "Suivre les controverces tagées par : #{tags_hash[params[:tag]]}".html_safe,
                      following_new_timelines_path(tag: params[:tag] ), method: :post, class: "btn btn-block btn-primary" %>
      <% end %>
      <%= link_to "<span class=\"glyphicon glyphicon-plus-sign\" >
                       </span> Ajouter une controverse".html_safe,
                           new_timeline_path, class: "btn btn-block btn-primary" %>
  </div>
<% end %>

</div>

<%= javascript_tag do %>
  $('.collapse').on('shown.bs.collapse', function () {
      $('.my-btn', this).responsiveEqualHeightGrid();
      $(".timeline-body").responsiveEqualHeightGrid();
  })
<% end %>