<% provide(:title, "Controverses") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-2">
      <% if logged_in? %>
          <% if @my_likes.count > 1 %>
              <div class="list-group">
                <%= link_to                                             "<span class=\"glyphicon glyphicon-thumbs-up\"></span> #{params[:interest].blank? ? t('views.timelines.only_liked') :
                        t('views.timelines.display_all')}".html_safe, timelines_path(:sort     => params[:sort],
                                                                                       :order    => params[:order],
                                                                                       :tag      => params[:tag],
                                                                                       :filter   => params[:filter],
                                                                                       :interest => params[:interest].blank? ? "true" : ""),
                                                                        class: "list-group-item" %>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-offset-0 col-lg-8">
      <div class="pull-right">
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button"
                  id="dropdownMenuTri" data-toggle="dropdown">
            <% if params[:sort].blank? || params[:sort]=='score' %>
                <%= t('views.sorting.score_sort') %>
            <% else %>
                <%= params[:sort]=='score_recent' ? t('views.sorting.score_recent') : nil %>
                <%= params[:sort]=='created_at' ? t('views.sorting.created_at') : nil %>
                <%= params[:sort]=='nb_contributors' ? t('views.sorting.nb_contributors') : nil %>
                <%= params[:sort]=='nb_references' ? t('views.sorting.nb_references') : nil %>
                <%= params[:sort]=='nb_comments' ? t('views.sorting.nb_comments') : nil %>
                <%= params[:sort]=='nb_summaries' ? t('views.sorting.nb_summaries') : nil %>
                <%= params[:sort]=='nb_likes' ?  t('views.sorting.nb_likes_html') : nil %>
            <% end %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li <%= params[:sort]=='score' || params[:sort].nil? ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.score'), timelines_path(:sort  => 'score', :filter => params[:filter], :interest => params[:interest],
                                                                 :order => params[:order], :tag => params[:tag]) %> </li>
            <li <%= params[:sort]=='score_recent' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.score_recent'), timelines_path(:sort  => 'score_recent', :filter => params[:filter], :interest => params[:interest],
                                                                       :order => params[:order], :tag => params[:tag]) %> </li>
            <li <%= params[:sort]=='created_at' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.created_at'), timelines_path(:sort  => 'created_at', :filter => params[:filter], :interest => params[:interest],
                                                             :order => params[:order], :tag => params[:tag]) %> </li>
            <li <%= params[:sort]=='nb_contributors' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.nb_contributors'), timelines_path(:sort  => 'nb_contributors', :filter => params[:filter], :interest => params[:interest],
                                                                    :order => params[:order], :tag => params[:tag]) %> </li>
            <li <%= params[:sort]=='nb_references' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.nb_references'), timelines_path(:sort  => 'nb_references', :filter => params[:filter], :interest => params[:interest],
                                                                 :order => params[:order], :tag => params[:tag]) %> </li>
            <li <%= params[:sort]=='nb_comments' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.nb_comments'), timelines_path(:sort  => 'nb_comments', :filter => params[:filter], :interest => params[:interest],
                                                              :order => params[:order], :tag => params[:tag]) %> </li>
            <li <%= params[:sort]=='nb_summaries' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.nb_summaries'), timelines_path(:sort  => 'nb_summaries', :filter => params[:filter], :interest => params[:interest],
                                                                :order => params[:order], :tag => params[:tag]) %> </li>
            <li <%= params[:sort]=='nb_likes' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.nb_likes_html'),
                                                                timelines_path(:sort  => 'nb_likes', :interest => params[:interest],
                                                                :order => params[:order], :tag => params[:tag]) %> </li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button"
                  id="dropdownMenuOrder" data-toggle="dropdown">
            <%= (params[:order]=='desc' || params[:order].blank? ) ? t('views.sorting.desc_sort') : t('views.sorting.asc_sort') %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li <%= params[:order]=='desc' || params[:order].nil? ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.desc'), timelines_path(:sort  => params[:sort], :filter => params[:filter], :interest => params[:interest],
                                                                     :order => 'desc', :tag => params[:tag]) %> </li>
            <li <%= params[:order]=='asc' ? "class=selected" : nil %> >
              <%= link_to t('views.sorting.asc'), timelines_path(:sort  => params[:sort], :filter => params[:filter], :interest => params[:interest],
                                                      :order => 'asc', :tag => params[:tag]) %> </li>
          </ul>
        </div>
      </div>
      <div>
        <%= form_tag(:timelines, method: "get", class: "search-box") do %>
            <div class="input-group">
                  <span class="input-group-btn">
                    <%= button_tag(:class => "btn btn-primary submit-search") do %>
                    <span class="icon icon-search bigger"></span>
                <% end %>
                    </span>
              <%= text_field_tag(:filter, params[:filter], placeholder: " " + t('views.default.search')) %>
            </div>
            <%= hidden_field_tag(:tag, params[:tag]) %>
            <%= hidden_field_tag(:sort, params[:sort]) %>
            <%= hidden_field_tag(:order, params[:order]) %>
            <%= hidden_field_tag(:interest, params[:interest]) %>
        <% end %>
      </div>
      <div class="row center">
        <br/>
        <% if params[:tag].first.blank? || (params[:tag].include? 'all') %>
            <div class="btn btn-default active" style="padding: 8px 8px;">
              Tous les thèmes
            </div>
        <% else %>
            <a href="<%= timelines_path(:sort => params[:sort],
                                        :filter => params[:filter],
                                        :order => params[:order],
                                        :interest => params[:interest],
                                        :tag => 'all' ) %>"
               class="btn btn-default" style="padding: 8px 8px;">
              Tous les thèmes
            </a>
        <% end %>
        <% tags_hash.each do |key, value| %>
            <a href="<%= timelines_path(:sort => params[:sort],
                                        :filter => params[:filter],
                                        :order => params[:order],
                                        :interest => params[:interest],
                                        :tag => (params[:tag].blank? || (params[:tag].include? 'all') ) ?
                                                [key] :
                                                (params[:tag].include? key ) ? params[:tag].reject{|e| e == key } : [key].push(params[:tag]).flatten
                         ) %>"
               class="btn btn-default <%= (params[:tag].blank? || (params[:tag].include? 'all')) ? nil : ( (params[:tag].include? key ) ? "active" : nil) %>"
              title="<%= value %>"
              data-toggle="tooltip">
                  <%= "<span class=\"icon-#{key}\"></span> ".html_safe %>
            </a>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <% if logged_in? %>
          <div class="list-group">
		  <%= link_to "<span class=\"icon-network normal\"></span> #{t('views.timelines.edges')}".html_safe, timelines_graph_path,
                        class: "list-group-item" %>
            <%= link_to "<span class=\"glyphicon glyphicon-plus-sign\" >
		       </span> #{t('views.timelines.new')}".html_safe,
                        new_timeline_path,
                        class: "list-group-item" %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-lg-offset-1 col-lg-10">
    <div class="row">
      <div id="timelines">
        <div class="row page">
          <% if @timelines.count > 0 %>
              <% if logged_in? %>
                  <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => {:my_likes => @my_likes, full_width: false} %>
              <% else %>
                  <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => {:my_likes => nil, full_width: false} %>
              <% end %>
                <%= paginate @timelines %>

          <% else %>
              <h1 style="font-size: 2.8em;">
                <%= t('views.timelines.none_params') %>
              </h1>

              <div class="row center">
                <div class="col-xs-offset-2 col-xs-8 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 center">
                  <%= image_tag "oups.png", title: "Aucune controverse", class: "center img-responsive" %>
                </div>
              </div>
              <br/>
	      <%= link_to "<span class=\"icon icon-5\"> #{t('views.timelines.display_all')}".html_safe, timelines_path,
                          class: "btn btn-block btn-primary" %>
              <br/>
              <br/>
          <% end %>
        </div>
      </div>

      <% unless logged_in? %>
          <div class="center">
            <%= link_to "<span class=\"icon icon-4\" >
                   </span> #{t('views.timelines.login')}".html_safe,
                        login_path, class: "btn btn-block btn-primary" %>
            <%= link_to "<span class=\"icon icon-5\" >
		   </span> #{t('views.sessions.new_user')}".html_safe,
                        new_user_path, class: "btn btn-block btn-primary" %>
          </div>

          <br/>
          <br/>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if logged_in? %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> <%= t('views.sessions.server_dead') %></h2>
        <% else %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> <%= t('views.sessions.action_login') %></h2>
            <br/>
            <%= link_to t('views.header.login'), login_path, class: "btn btn-lg btn-primary" %>
            <div class="pull-right">
              <%= link_to t('views.sessions.new_user'), signup_path, class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.timeline-name').responsiveEqualHeightGrid();
        $('.timeline-frame').responsiveEqualHeightGrid();
        $('.timeline-body').responsiveEqualHeightGrid();
        $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    });
    $(function () {
        $('[data-validate]').click(function () {
            var self = $(this);
            self.hide();
            self.after('<svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"> <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
            $.ajax(self.data('validate'), {
                url: self.data('validate'),
                data: {id: self.val()},
                method: 'POST',
                statusCode: {
                    201: function (response) {
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.glyphicon', self);
                        self.addClass('btn-success');
                        self.removeClass('btn-default');
                        self.removeClass('green');
                        self.attr('data-original-title', "<%= t('views.default.you_and')%> " + self.attr('data-original-title'));
                        like.text(' ' + (parseInt(like.text()) + 1));
                    },
                    204: function (response) {
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.glyphicon', self);
                        self.removeClass('btn-success');
                        self.addClass('btn-default');
                        self.addClass('green');
                        self.attr('data-original-title', self.attr('data-original-title').replace('<%= t('views.default.you_and')%> ', ''));
                        like.text(' ' + (parseInt(like.text()) - 1));
                    },
                    401: function (response) {
                        $('.loader-like').remove();
                        self.show();
                        $('#iptaken').modal('show');
                    }
                }
            })
        });
    });
</script>
