<% provide(:title, "Nouvelle controverse") %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3>Créer une nouvelle Controverse</h3>
      </div>
      <div class="panel-body">
    <%= form_for(@timeline) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :Nom, "Titre de la controverse" %>
        <%= f.text_field :name, class: 'form-control' %>
            </br>
        <%= f.label :Tags, "Thèmes" %> </br>
        <div  class="container-fluid">
        <div class="row"  data-toggle="buttons">
          <% tags_hash.each do |key, value| %>
          <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
            <div class="my-btn">
          <%= f.check_box :tag_list, { :multiple => true}, checked_value = key, unchecked_value = nil %>
              <span class="fat icon-<%= key %>"></span> <%= value %>
            </div>
          </div>
          <% end %>
        </div>
        </div>
            <br/>
        <%= f.label :binary do %>
        <%= f.check_box :binary %>
            <span> Cette controverse est une question fermée, à laquelle on pourrait répondre par oui ou non </span>
            <% end %>
            <div class="panel panel-info">
              <div class="panel-heading">
                En cochant cette case, vous permettez aux contributeurs de voter pour situer chaque référence par rapport à question posée.
                De plus vous permettez aux visiteurs d'avoir plus d'informations, et qui plus est synthétisé.
                Si la controverse n'est pas une question fermée, décocher cette case ou reformulez la controverse.
              </div>
            </div>
        </br>
        <%= f.label :debate do %>
            <%= f.check_box :debate %>
            <span> Ouvrir un fil de discussion pour améliorer le titre de la controverse </span>
        <% end %>
        <div class="panel panel-info">
          <div class="panel-heading">
            En cochant cette case, vous permettez aux utilisateurs de proposer une autre formulation pour le titre de la controverse.
            Quoi qu'il en soit, vous êtes le seul à être autorisé à modifier le titre de la controverse.
          </div>
        </div>
        </br>
            <%= f.button "Créer la controverse &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                         class: 'btn btn-success btn-lg pull-right',
                         data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Création en cours "}%>
    <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<%= javascript_tag do %>
    $(document).ready(function(){
    $('.my-btn').responsiveEqualHeightGrid();
    })
<% end %>