<% provide(:title, "Nouvelle controverse") %>
<div id="my-container" class="container-fluid">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
<div class="panel-heading">
  <h3>Créer une nouvelle controverse</h3>
</div>
<div class="panel-body">
<%= form_for(@timeline) do |f| %>
    <%= render 'static_pages/charte' %>
    <%= render 'shared/error_messages', object: f.object %>
    <br/>
    <br/>
    <b style="font-size: 1.4em">Titre de la controverse</b><div id="characterLeft1"></div><br/>
    <%= f.text_area :name, class: 'form-control textarea', id: "description1" %>
    </br>
    <b style="font-size: 1.4em">Cadre de la controverse</b><div id="characterLeft0"></div><br/>
    <%= f.text_area :frame, class: 'form-control textarea', id: "description0" %>
    </br>
    <b style="font-size: 1.4em">Thèmes</b><br/>

    <div class="container-fluid">
      <div class="row" data-toggle="buttons">
        <% tags_hash.each do |key, value| %>
            <% if @tag_list.include? key %>
                <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3 active">
                  <div class="my-btn">
                    <%= f.check_box :tag_list, {checked: true, :multiple => true}, checked_value = key, unchecked_value = nil %>
                    <span class="fat icon-<%= key %>"></span> <%= value %>
                  </div>
                </div>
            <% else %>
                <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                  <div class="my-btn">
                    <%= f.check_box :tag_list, {:multiple => true}, checked_value = key, unchecked_value = nil %>
                    <span class="fat icon-<%= key %>"></span> <%= value %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <br/>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= f.label :binary do %>
            <%= f.check_box :binary, id: "check-box", value: true %>
            <span> Pour cette controverse, il existe deux réponses antagonistes </span>
        <% end %>
        <div id="binary-box">
          <br/>

          <div class="row">
            <div class="col-xs-4">
              <br/>
              <%= f.text_field :binary_left, class: 'form-control', value: "", placeholder: "Oui/Blanc/Inné/..." %>
              <br/>
            </div>
            <div class="col-xs-4 center">
              <%= image_tag("versus.png", alt: "Versus", :height => "78px") %>
            </div>
            <div class="col-xs-4">
              <br/>
              <%= f.text_field :binary_right, class: 'form-control', value: "", placeholder: "Non/Noir/Acquis/..." %>
              <br/>
            </div>
          </div>
          <br/>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            En cochant cette case et en renseignant les deux antagonistes, vous permettez de classer les
            références.
            Si la controverse n'est pas une question fermée, décocher cette case ou reformulez la controverse.
          </div>
        </div>
      </div>
    </div>
    <div class="">

    </div>
    <%= f.button "Créer la controverse &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                 class: 'btn btn-success btn-lg pull-right',
                 data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Création en cours "} %>
<% end %>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#description1").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra','cmdList','cmdListO','cmdBold']});
        $("#description0").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
        $('.my-btn').responsiveEqualHeightGrid();
        $('#check-box').click(function () {
            if ($(this).is(':checked')) {
                $('#binary-box').show(500)
            } else {
                $('#binary-box').hide(500)
            }
        });
    });
    $.each(['0', '1'], function (index, value) {
        $(document).ready(function() {
            if (value === '0') {
                var max = 2500;
            } else {
                var max = 180;
            }
            var len = $('#description' + value).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
        $('#description' + value).keyup(function () {
            if (value === '0') {
                var max = 2500;
            } else {
                var max = 180;
            }
            var len = $(this).val().length;
            if (len >= max) {
                var ch = len - max;
                $('#characterLeft' + value).css({"color": "#a94442"});
                $('#characterLeft' + value).text(ch + ' caractères en trop !');
            } else {
                var ch = max - len;
                $('#characterLeft' + value).css({"color": "#5cb85c"});
                $('#characterLeft' + value).text(ch + ' caractères restants.');
            }
        });
    });
</script>
