<% provide(:title, @timeline.name) %>
<div id="my-container" class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
      <%= link_to "<span class=\"icon-arrow-left fat\"></span> Revenir aux controverses".html_safe,
                  timelines_path(:sort => params[:sort], :order => params[:order]),
                  class: "btn btn-primary btn-block" %>
      <div style="padding-top: 10px">
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <strong>
            Information :
            <br/>
            <br/>
          </strong>
          <div class="sticky" data-placement="bottom"
                  title="<%= @timeline.nb_contributors.to_s + (@timeline.nb_contributors > 1 ? " contributeurs" : " contributeur") %>"
                  data-toggle="tooltip">
            <span class="big icon-users"></span>
            <%= @timeline.nb_contributors %>
          </div>
          <div class="sticky" data-placement="bottom"
                  title="<%= @timeline.nb_references.to_s + (@timeline.nb_references > 1 ? " références scientifiques" : " référence scientifique") %>"
                  data-toggle="tooltip">
            <span class="big icon-reference"></span>
            <%= @timeline.nb_references %>
          </div>
          <div class="sticky" data-placement="right"
                  title="<%= @timeline.nb_edits.to_s + (@timeline.nb_edits > 1 ? " contributions" : " contribution") %>"
                  data-toggle="tooltip">
            <span class="big icon-comment"></span>
            <%= @timeline.nb_edits %>
          </div>
          <br/>
          <br/>
          <strong>
            Thèmes :
            <br/>
            <br/>
          </strong>
          <% @timeline.get_tag_list.each do |name| %>
              <%= link_to "<span class=\"fat icon-#{name}\"></span> ".html_safe,
                          timelines_path(:sort => params[:sort], :order => params[:order], :tag => name),
                          class: "btn btn-primary stick hvr-shadow", title: tags_hash[name], "data-toggle" => "tooltip" %>
          <% end %>
          <br/>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <%= link_to "<span class=\"glyphicon glyphicon-comment\"></span> <b>Discussion libre</b> #{@timeline.nb_suggestions}".html_safe, suggestion_path(timeline_id: @timeline.id),
                      class: "btn btn-primary" %>
          <span class="pull-right">
        <% if logged_in? && (@my_likes.include? @timeline.id) %>
            <button type="button" class="btn btn-success" data-placement="left"
                    data-toggle="tooltip" value="<%= @timeline.id %>" data-validate="/likes"
                    title="Vous et <%= (@timeline.nb_likes - 1).to_s + " contributeurs s'intéressent à cette controverse" %>">
              <span class="glyphicon glyphicon-thumbs-up"> <%= @timeline.nb_likes %></span>
            </button>
        <% else %>
            <button type="button" class="btn btn-default green" data-placement="left"
                    data-toggle="tooltip" value="<%= @timeline.id %>" data-validate="/likes"
                    title="<%= @timeline.nb_likes.to_s + " contributeurs s'intéressent à cette controverse" %>">
              <span class="glyphicon glyphicon-thumbs-up"> <%= @timeline.nb_likes %></span>
            </button>
        <% end %>
    </span>

          <div>
            <h1><%= @timeline.name %></h1>
            <br/>
            <% if logged_in? && (@timeline.user_id == current_user.id || current_user.admin) %>
                <br/>
                <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier cette controverse".html_safe, edit_timeline_path(@timeline.id),
                            class: "btn btn-primary pull-right" %>
                <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer cette controverse".html_safe,
                            timeline_path(@timeline.id), method: :delete,
                            data:                                {confirm: "Etes vous certain ?"}, class: "btn btn-danger" %>
            <% else %>
                <br/>
                <div class="pull-right">
                  Par <%= link_to @timeline.user_name, user_path(@timeline.user_id) %>
                </div>
            <% end %>
          </div>
        </div>
        <% if @timeline.nb_references > 2 || @summary %>
            <div class="panel-body">
              <% if @summary %>
                  <div id="summary" class="clearfix">
                    <% if @summary.picture? %>
                        <div class="pull-right">
                          <div class="thumbnail">
                            <%= image_tag @summary.picture_url, class: "img-rounded img-responsive" %>
                            <div class="caption">
                              <%= @summary.caption_markdown.html_safe %>
                            </div>
                          </div>
                        </div>
                    <% end %>
                    <div class="justify">
                      <%= @summary.markdown.html_safe %>
                    </div>
                    <br/>
                  </div>
            <span class="pull-right">
                <%= link_to @summary.user_name, user_path(@summary.user_id) %>
            </span>
                  <br/>
                  <br/>
                  <% if @timeline.nb_summaries > 1 %>
                      <%= link_to "Voir les synthèses de cette controverse (#{@timeline.nb_summaries})".html_safe,
                                  summaries_path(timeline_id: @timeline.id),
                                  class: "btn btn-primary" %>
                  <% end %>
                  <% if logged_in? && @improve %>
                      <%= link_to "<span class=\"icon-fork\"></span>".html_safe,
                                  new_summary_path(parent_id: @summary.id), :class => "btn btn-primary pull-right", "data-toggle" => "tooltip",
                                  title:                                           "Améliorer cette synthèse", :style => "padding: 6px; margin-right: 10px" %>
                  <% elsif logged_in? %>
                      <%= link_to "Voir ma synthèse".html_safe,
                                  summaries_path(timeline_id: @timeline.id, filter: "mine"), :class => "btn btn-primary pull-right" %>
                  <% end %>
              <% else %>
                  <%= link_to "<span class=\"glyphicon glyphicon-pencil\" >
        </span> Aucune synthèse n'a été écrite pour cette controverse, soyez le premier".html_safe,
                              new_summary_path(timeline_id: @timeline.id),
                              class: "btn btn-primary" %>
              <% end %>
            </div>
        <% end %>
      </div>

      <% if @references.any? && @timeline.binary != '' && @timeline.total_binary > 0 %>
          <div class="center">
            <br/>
            <b style="font-size: 2.2em"><%= @timeline.binary.split('&&')[0].humanize -%></b>
            &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "82px") %>&nbsp
            <b style="font-size: 2.2em"><%= @timeline.binary.split('&&')[1].humanize -%></b>
          </div>
          <br/><br/>

          <div id="sort">
            <div class="row">
              <div class="col-xs-1">
              </div>
              <% (1..5).each do |key| %>
                  <div class="col-xs-2" title="<%= @timeline.binary_explanation( key ) -%>. Cliquer pour les afficher/masquer." data-toggle="tooltip">
                    <label class="btn btn-default btn-block active grey btn-filter<%= key %>" style="vertical-align: top;">
                      <span class="glyphicon glyphicon-eye-open" style="font-size: <%= @timeline.binary_font_size( key ) -%>px;">
                        <%= @timeline["binary_#{key}".to_sym] -%>
                      </span>
                    </label>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
      <% if @references.any? %>
          <% if @titles > 0 %>
              <br/>
              <% if @titles == 1 %>
                  <br/>
                  <label class="btn <%= logged_in? ? "active" : nil %> btn-comment grey cd-color-orange"  style="font-size: 16px;"
                         title="1 référence n'a pas d'analyse(s). Cliquer pour l'afficher/masquer." data-toggle="tooltip">
                    &nbsp <span class="glyphicon glyphicon-eye-<%= logged_in? ? "open" : "close" %>"></span> &nbsp 1 référence n'a pas d'analyses.
                  </label>
              <% else %>
                  <label class="btn <%= logged_in? ? "active" : nil %> btn-comment grey cd-color-orange"  style="font-size: 16px;"
                         title="<%= @titles -%> références n'ont pas d'analyse(s). Cliquer pour les afficher/masquer." data-toggle="tooltip">
                    &nbsp <span class="glyphicon glyphicon-eye-<%= logged_in? ? "open" : "close" %>"></span> &nbsp <%= @titles -%> références n'ont pas d'analyses
                  </label>
              <% end %>
          <% end %>
          <div id="cd-timeline" class="cd-container">
            <%= render :partial => 'references/reference', :collection => @references, :locals => { :binary => @timeline.binary } %>
          </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="center">
            <%= link_to "<span class=\"glyphicon glyphicon-plus-sign\" >
    </span> Ajouter une référence à cette controverse. <br/> Diablement rapide si vous connaissez son titre".html_safe,
                        new_reference_path(timeline_id: @timeline.id),
                        class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div>
        <br/>
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <% if logged_in? %>
          <%= link_to "<span class=\"glyphicon glyphicon-link\" >
        </span> Ajouter des liens vers d'autres controverses".html_safe,
                      edges_path(timeline_id: @timeline.id),
                      class: "btn btn-primary btn-block" %>
          <br/>
          <br/>
      <% end %>
      <% if @timelines.count > 0 %>
          <% if logged_in? %>
              <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => {:my_likes => @my_likes, full_width: true} %>
          <% else %>
              <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => {:my_likes => nil, full_width: true} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if logged_in? %>
            <br/>

            <h2 class="modal-title" id="myModalLabel">  Le serveur ne répond pas</h2>
        <% else %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> Veuillez vous identifier afin d'effectuer cette
              action</h2>
            <br/>
            <%= link_to "S'identifier", login_path, class: "btn btn-lg btn-primary" %>
            <div class="pull-right">
              <%= link_to "Créer un compte", signup_path, class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('.timeline-name').responsiveEqualHeightGrid();
    $('.timeline-body').responsiveEqualHeightGrid();
    $('.collapse').on('shown.bs.collapse', function () {
        $(".timeline-body").responsiveEqualHeightGrid();
    });
    $("#summary").readmore({
        speed: 750,
        embedCSS: false,
        collapsedHeight: 450,
        moreLink: '<a href="#" class="btn btn-info">Continuer la lecture</a>',
        lessLink: '<a href="#" class="btn btn-info">Réduire le texte</a>'
    });
    $('.linked-ref').click(function (e) {
        var id = $(this).data("ref");
        $("#button" + id).trigger('click');
        if ($("#ref-" + id).hasClass("glyphicon-chevron-down")) {
            $("#ref-" + id).trigger('click');
        }
        $("#block-" + id).show(500);
        e.stopPropagation();
        e.preventDefault();
        $('html, body').animate({
            scrollTop: $('#block-' + id).offset().top - 80
        }, 500);
        return false
    });
    $('.detail').click(function () {
        if ($(this).hasClass("glyphicon-chevron-down")) {
            $(this).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
            $(this).parent().parent().parent().find('.ref').show(500);
            $('html, body').animate({
                scrollTop: $(this).parent().parent().parent().offset().top - 80
            }, 500)
        }
        else {
            $(this).removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
            $(this).parent().parent().parent().find('.ref').hide(500)
        }
    });
    $(function () {
        $('[data-validate]').click(function () {
            var self = $(this);
            self.hide();
            self.after('<svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"> <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
            $.ajax(self.data('validate'), {
                url: self.data('validate'),
                data: {id: self.val()},
                method: 'POST',
                statusCode: {
                    201: function (response){
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.glyphicon', self);
                        self.addClass('btn-success');
                        self.removeClass('btn-default');
                        self.removeClass('green');
                        self.attr('data-original-title', "Vous et " + self.attr('data-original-title'));
                        like.text(' ' + (parseInt(like.text()) + 1));
                    },
                    204: function (response){
                        $('.loader-like').remove();
                        self.show();
                        var like = $('.glyphicon', self);
                        self.removeClass('btn-success');
                        self.addClass('btn-default');
                        self.addClass('green');
                        self.attr('data-original-title', self.attr('data-original-title').replace('Vous et ', ''));
                        like.text(' ' + (parseInt(like.text()) - 1));
                    },
                    401: function (response){
                        $('.loader-like').remove();
                        self.show();
                        $('#iptaken').modal('show');
                    }
                }
            })
        });
    });
    jQuery.fn.extend({
        zigzag: function (array) {
            $(this).click(function () {
                if ($(this).hasClass("active")) {
                    array.hide(500);
                    $(this).removeClass("active");
                    $('.glyphicon', this).removeClass("glyphicon-eye-open");
                    $('.glyphicon', this).addClass("glyphicon-eye-close");
                } else {
                    $(this).addClass("active");
                    $('.glyphicon', this).removeClass("glyphicon-eye-close");
                    $('.glyphicon', this).addClass("glyphicon-eye-open");
                    array.show(500);
                }
            });
            return 1;
        }
    });
    $('.btn-filter1').zigzag($('.binary1'));
    $('.btn-filter2').zigzag($('.binary2'));
    $('.btn-filter3').zigzag($('.binary3'));
    $('.btn-filter4').zigzag($('.binary4'));
    $('.btn-filter5').zigzag($('.binary5'));
    $('.btn-comment').zigzag($('.need-comment'));
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({container: 'body'});
        var $timeline_block = $('.cd-timeline-block');

        //hide timeline blocks which are outside the viewport
        $timeline_block.each(function () {
            $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden');
        });

        $timeline_block.each(function () {
            if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.95) {
                $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').removeClass('bounce-in');
            }
        });

        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on('scroll', function () {
            $timeline_block.each(function () {
                if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.95 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').removeClass('bounce-in');
                }
            });
        });
    });
</script>