<% provide(:title, @timeline.name) %>
<div id="my-container" class="container-fluid">
<div class="row">

<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2  col-lg-offset-0">
  <div class="panel panel-default">
  <div class="panel-body">
    <strong>
      Information :
      <br/>
      <br/>
    </strong>
  <button class="btn btn-default stick" data-placement="bottom"
          data-toggle="tooltip" title="<%= @timeline.nb_contributors %> contributeurs" >
    <%= image_tag("icons/myicon-users.svg", alt: "ref", height: "32px") %>
    <%= @timeline.nb_contributors %>
  </button>
  <button class="btn btn-default stick" data-placement="bottom"
          data-toggle="tooltip" title="<%= @timeline.nb_references %> références scientifiques" >
    <%= image_tag("icons/myicon-reference.svg", alt: "ref", height: "32px") %>
    <%= @timeline.nb_references %>
  </button>
  <button class="btn btn-default stick" data-placement="right"
          data-toggle="tooltip" title="<%= @timeline.nb_edits %> contributions" >
    <%= image_tag("icons/myicon-comment.svg", alt: "ref", height: "32px") %>
    <%= @timeline.nb_edits %>
  </button>
  <br/>
  <br/>
<strong>
  Thèmes :
  <br/>
  <br/>
</strong>
    <% @timeline.get_tag_list.each do |name| %>
        <button class="btn btn-default stick" data-placement="top"
                data-toggle="tooltip" title="<%= tags_hash[name] %>">
          <%= image_tag("icons/myicon-#{name}.svg", alt: name, height: "32px")%>
        </button>
    <% end %>
    <% if @references.any? && @timeline.binary != '' %>
        <br/>
        <br/>
        <strong>
          <%= @timeline.name %>
        </strong>
        <br/>
        <div>
            <%= image_tag("icons/myicon-rating.svg", :class => "img-responsive")%>
        <strong>  <%= @timeline.binary.split('&&')[0] %> </strong>
        <strong class="pull-right">  <%= @timeline.binary.split('&&')[1] %> </strong>
        </div>
    <% end %>
  </div>
</div>
</div>

<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
        <button type="button" class="btn btn-default" data-placement="left"
                data-toggle="tooltip" value="<%= @timeline.id %>" data-validate="/likes/add"
                title="<%= @timeline.nb_likes.to_s + " personnes s'intéressent à cette controverse" %>">
          <span class="glyphicon glyphicon-thumbs-up" id="like<%= @timeline.id %>"> <%= @timeline.nb_likes %> </span>
        </button>
    </span>
      <div class="panel-heading">
        <h3><%= @timeline.name %></h3> par <%= link_to @timeline.user_name, user_path( @timeline.user_id) %>
      </div>
  </div>
  <div class="panel-body">
    <% if @summary %>
        <div class="clearfix">
        <% if @summary.picture? %>
            <div class="pull-right">
              <div class="thumbnail">
                <%= image_tag @summary.picture.url, class: "img-rounded img-responsive" %>
                <div class="caption">
                  <%= @summary.caption_markdown.html_safe %>
                </div>
              </div>
            </div>
        <% end %>
        <div class="justify">
        <%= @summary.markdown.html_safe %>
        </div>
        <br/>
      </div>
        <span class="pull-right">
            Par <%= link_to @summary.user_name, user_path(@summary.user_id) %>
        </span>
        <br/>
        <%= link_to 'Voir les synthèses de cette controverse'.html_safe,
                    summaries_path( timeline_id: @timeline.id ),
                    class: "btn btn-default" %>
    <% else %>
        <%= link_to '<span class="glyphicon glyphicon-pencil" >
    </span> Pas de synthèses, soyez le premier'.html_safe,
                    new_summary_path( timeline_id: @timeline.id ),
                    class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<% if @references.any? %>

<div id="cd-timeline" class="cd-container">
<%= render @references %>
</div>

<% else %>
  <%= link_to '<span class="glyphicon glyphicon-plus-sign" >
    </span> Pas de références à cette controverse, soyez le premier !'.html_safe,
                  new_reference_path( timeline_id: @timeline.id ),
                  class: "btn btn-success" %>
<% end %>

</div>
  <% if logged_in? %>
<div class="col-xs-12 col-lg-2">
<%= link_to "<span class=\"glyphicon glyphicon-eye-open\" >
</span> Suivre les nouvelles références ajoutées à cette controverse".html_safe,
              following_timelines_path( timeline_id: @timeline.id ),
              method: :post, class: "btn btn-block btn-primary" %>
<%= link_to '<span class="glyphicon glyphicon-plus-sign" >
</span> Ajouter une référence à cette controverse'.html_safe,
          new_reference_path( timeline_id: @timeline.id),
          class: "btn btn-block btn-success" %>
<%= link_to '<span class="glyphicon glyphicon-pencil" >
</span> Ecrire une synthèse de cette controverse'.html_safe,
          new_summary_path( timeline_id: @timeline.id),
          class: "btn btn-block btn-success" %>
</div>

 <% end %>
</div>
</div>
<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Votre intérêt pour cette controverse a déjà été pris en compte. </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok </button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('.detail').click(function() {
        if ($(this).hasClass("glyphicon-chevron-down")) {
            $(this).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
            $(this).parent().parent().parent().find('.ref').fadeIn(750)
        }
        else {
            $(this).removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
            $(this).parent().parent().parent().find('.ref').fadeOut(750)
        }
    });
    $(function() {
        $('[data-validate]').click(function() {
            $this = $(this);
            $.get($this.data('validate'), {
                id: $this.val()
            }).success(function() {
                var $like = $('#like'+$this.val());
                $like.text(' '+(parseInt($like.text())+1));
            }).error(function() {
                $('#iptaken').modal('show');
            });
        });
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({container: 'body'});
        var $timeline_block = $('.cd-timeline-block');

        //hide timeline blocks which are outside the viewport
        $timeline_block.each(function(){
            $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
        });

        $timeline_block.each(function(){
            if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.95 ) {
                $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
            }
        });

        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on('scroll', function(){
            $timeline_block.each(function(){
                if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.95 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                }
            });
        });
    });
</script>