<% provide(:title, @timeline.name) %>

<% content_for :timeline do %>
    <%= stylesheet_link_tag 'timeline', media: 'all' %>
<% end %>

<div class="row">
  <% if logged_in? %>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
        <%= render 'layouts/panel' %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <% else %>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">
  <% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @timeline.name %></h3>
  </div>
  <div class="panel-body">
    <h2>
    <%= @timeline.timeline_edit_content %>
    </h2>
    <span class="pull-right">
    Créé par <%= @timeline.user_name %>
    </span>
  </div>
  <div class="panel-footer">
    <%= image_tag("icons/myicon-users.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_contributors %></span>
    <%= image_tag("icons/myicon-reference.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_references %></span>
    <%= image_tag("icons/myicon-comment.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_edits %></span>
    <%= image_tag("icons/myicon-ribbon.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_votes %></span>
    <span class="pull-right">
          <div class="btn-group">
            <% @timeline.get_tag_list.each do |name| %>
                <label class="btn btn-default" title="<%= tags_hash[name] %>" >
                  <%= image_tag("icons/myicon-#{name}.svg", alt: name, height: "24px")%>
                </label>
            <% end %>
          </div>
    </span>
    <div class="clearfix"></div>
  </div>
</div>

<div class="timeline-jquery-example">
</div>

</div>
<div class="col-xs-12 col-lg-2">
<%= link_to '<span class="glyphicon glyphicon-plus-sign" >
</span> Ajouter une réfèrence'.html_safe,
          new_reference_path( timeline_id: @timeline.id),
          class: "btn btn-block btn-primary" %>

<%= link_to "<span class=\"glyphicon glyphicon-eye-open\" >
</span> S'abonner à cette controverse".html_safe,
    following_timelines_path( timeline_id: @timeline.id ),
    method: :post, class: "btn btn-block btn-primary" %>
</div>
</div>

<%= javascript_tag do %>
    $(document).ready(function(){
    $('.timeline-jquery-example').verticalTimeline({
    data: <%= raw render(template: "timelines/show.json.rabl") -%>,
    handleResize: true
    });
    });
<% end %>