<% provide(:title, @timeline.name.html_safe) %>
<% provide(:meta, @timeline.frame.html_safe) %>
<%= javascript_include_tag 'chart' %>

<div id="my-container" class="container-fluid">
<div class="row">

<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-0">
  <div class="list-group">
    <div class="list-group-item center">
      <div class="sticky" data-placement="bottom"
           title="<%= @timeline.nb_contributors.to_s + (@timeline.nb_contributors > 1 ? " contributeurs" : " contributeur") %>"
           data-toggle="tooltip">
        <span class="fat icon-users"></span>
        <%= @timeline.nb_contributors %>
      </div>
      <div class="sticky" data-placement="bottom"
           title="<%= @timeline.nb_references.to_s + (@timeline.nb_references > 1 ? " références scientifiques" : " référence scientifique") %>"
           data-toggle="tooltip">
        <span class="fat icon-reference"></span>
        <%= @timeline.nb_references %>
      </div>
      <div class="sticky" data-placement="right"
           title="<%= @timeline.nb_edits.to_s + (@timeline.nb_edits > 1 ? " contributions" : " contribution") %>"
           data-toggle="tooltip">
        <span class="fat icon-comment"></span>
        <%= @timeline.nb_edits %>
      </div>
    </div>
    <% if logged_in? %>
        <%= link_to "<span class=\"glyphicon glyphicon-link\" >
                        </span> Liens vers d'autres controverses".html_safe,
                    edges_path(timeline_id: @timeline.id),
                    class: "list-group-item" %>
    <% end %>
    <%= link_to "<span class=\"icon-arrow-left normal\"></span> Revenir aux controverses".html_safe,
                timelines_path(:sort => params[:sort], :order => params[:order]),
                class: "list-group-item" %>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <a href="https://twitter.com/share"
         class="twitter-share-button"
         data-text="<%= CGI::unescapeHTML(@timeline.name) %>"
         data-via="ControverSci">
        Tweet
      </a>
    </div>
    <div class="list-group-item">
      <div class="fb-share-button"
           data-href="<%= timeline_path @timeline %>"
           data-layout="button_count">
      </div>
    </div>
    <%= link_to "<span class=\"glyphicon glyphicon-envelope\"></span> Inviter à participer à la controverse".html_safe,
                new_invitation_path(timeline_id: @timeline.id),
                remote: true,
                class:  "list-group-item" %>
  </div>
  <div class="list-group">
    <% if @timeline.nb_frames > 1 %>
        <%= link_to "<span class=\"badge pull-left\">#{@timeline.nb_frames}</span>
              &nbsp Les proposition de titre et de cadres des contributeurs ".html_safe,
                    frames_path(timeline_id: @timeline.id),
                    class: "list-group-item" %>
    <% elsif logged_in? && !@my_frame %>
        <%= link_to "<span class=\"icon-fork normal\" >
                                </span> Proposer une amélioration de titre et de cadre".html_safe,
                    new_frame_path(timeline_id: @timeline.id),
                    class: "list-group-item" %>
    <% end %>
    <% if logged_in? && @my_frame %>
        <%= link_to "<span class=\"glyphicon glyphicon-eye-open\"></span>
                                </span> Votre proposition de titre et de cadre".html_safe,
                    frames_path(timeline_id: @timeline.id, filter: "mine"),
                    :class => "list-group-item" %>
    <% end %>
  </div>

  <% if @timeline.nb_references > 2 || @summary %>
      <% if logged_in? %>
          <div class="list-group">
            <% if @summary %>
                <% if @timeline.nb_summaries > 1 %>
                    <%= link_to "<span class=\"badge pull-left\">#{@timeline.nb_summaries}</span>
                  &nbsp Les synthèses de cette controverse ".html_safe,
                                summaries_path(timeline_id: @timeline.id),
                                class: "list-group-item" %>
                <% end %>
                <% if @improve %>
                    <%= link_to "<span class=\"icon-fork normal\" >
                    </span> Ecrire une synthèse".html_safe,
                                new_summary_path(timeline_id: @timeline.id),
                                :class => "list-group-item" %>
                <% else %>
                    <%= link_to "<span class=\"glyphicon glyphicon-eye-open\"></span>
                  Votre synthèse".html_safe,
                                summaries_path(timeline_id: @timeline.id, filter: "mine"),
                                :class => "list-group-item" %>
                <% end %>
            <% else %>
                <%= link_to "<span class=\"icon-fork normal\" >
                    </span> Ecrire une synthèse".html_safe,
                            new_summary_path(timeline_id: @timeline.id),
                            class: "list-group-item" %>
            <% end %>
          </div>
      <% elsif @timeline.nb_summaries > 1 %>
          <div class="list-group">
            <%= link_to "<span class=\"badge pull-left\">#{@timeline.nb_summaries}</span>
              &nbsp Les synthèses de cette controverse ".html_safe,
                        summaries_path(timeline_id: @timeline.id),
                        class: "list-group-item" %>
          </div>
      <% end %>
  <% end %>
  <% if logged_in? %>
      <div class="list-group">
        <%= link_to "<span class=\"glyphicon glyphicon-plus-sign\" >
    </span> Ajouter une référence à cette controverse.".html_safe,
                    new_reference_path(timeline_id: @timeline.id),
                    class: "list-group-item" %>
        <%= link_to "<span class=\"icon-network normal\"></span> Le graphe des références".html_safe,
                    references_graph_path(timeline_id: @timeline.id),
                    class: "list-group-item" %>
        <% if @timeline.user_id == current_user.id || current_user.admin %>
            <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer cette controverse".html_safe,
                        timeline_path(@timeline), method: :delete,
                        data:                             {confirm: "Etes vous certain ?"},
                        class:                            "list-group-item list-group-item-danger" %>
        <% end %>
      </div>
  <% end %>
</div>

<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-0">
<div class="panel panel-default comment">
<div id="uploaded" class="panel-body" style="background: white url(<%= @timeline.picture_url %>); background-size: 100% auto;">
  <div class="content">
    <div class="clearfix">

      <% if logged_in? && @improve_frame %>
          <div class="pull-right">
            <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                        new_typo_path(frame_id: @improve_frame.id, field: 0),
                        remote: true,
                        class:  "btn btn-default", "data-toggle" => "tooltip",
                        title:  "Corriger une faute de français dans le titre",
                        style:  "padding: 8px; margin: 0px 8px;" %>
          </div>
      <% end %>
      <div class="pull-right">
        <% if logged_in? && (@my_likes.include? @timeline.id) %>
            <button type="button" class="btn btn-success" data-placement="left"
                    data-toggle="tooltip" value="<%= @timeline.id %>" data-validate="/likes"
                    title="Vous et <%= (@timeline.nb_likes - 1).to_s + " contributeurs s'intéressent à cette controverse" %>">
              <span class="glyphicon glyphicon-thumbs-up"> <%= @timeline.nb_likes %></span>
            </button>
        <% else %>
            <button type="button" class="btn btn-default green" data-placement="left"
                    data-toggle="tooltip" value="<%= @timeline.id %>" data-validate="/likes"
                    title="<%= @timeline.nb_likes.to_s + " contributeurs s'intéressent à cette controverse" %>">
              <span class="glyphicon glyphicon-thumbs-up"> <%= @timeline.nb_likes %></span>
            </button>
        <% end %>
      </div>
      <% @timeline.get_tag_list.each do |name| %>
          <%= link_to "<span class=\"fat icon-#{name}\"></span> ".html_safe,
                      timelines_path(:sort => params[:sort], :order => params[:order], :tag => name),
                      class: "btn btn-default stick hvr-shadow", title: tags_hash[name], "data-toggle" => "tooltip" %>
      <% end %>
      <h1 class="shadowed">
        <br/>
        <span class="content<%= @improve_frame.blank? ? "nil" : @improve_frame.id*10 + 0 %>">
           <%= @timeline.name.html_safe %>
        </span>
        <br/><br/>
      </h1>
      <% if @timeline.frame != "" %>
          <% if logged_in? && @improve_frame %>
              <div class="pull-right">
                <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                            new_typo_path(frame_id: @improve_frame.id, field: 1), remote: true,
                            :class                                                        => "btn btn-default", "data-toggle" => "tooltip",
                            title:                                                        "Corriger une faute de français dans le cadre",
                            :style                                                        => "padding: 8px; margin: 8px" %>
              </div>
          <% end %>
          <div class="cadre text-justify">
            <b style="font-size: 1.4em">Cadre, focus et mise au point :</b><br/>
            <span class="content<%= @improve_frame.blank? ? "nil" : @improve_frame.id*10 + 1 %>">
              <%= @timeline.frame.html_safe %>
           </span>
          </div>
          <br/>
      <% end %>
      <% if logged_in? && current_user.admin && @improve_frame %>
          <div class="pull-right" style="margin-right: 8px;">
            <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                        edit_frame_path(@improve_frame.id),
                        class: "btn btn-primary" %>
            <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                        frame_path(@improve_frame.id), method: :delete,
                        data:                                  {confirm: "Etes vous certain ?"},
                        class:                                 "btn btn-danger" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<% if logged_in? && current_user.admin %>
    <div id="source-timeline" class="panel-heading">
      <%= form_for(@timeline, html: {multipart: true}, remote: true) do |f| %>
          <%= f.hidden_field :has_picture, value: @timeline.picture? %>
          <%= f.hidden_field :delete_picture, value: false %>
          <%= f.hidden_field :img_timeline_id, value: @timeline.id %>
          <%= f.text_field :source, value: (@timeline.figure_id.blank? ? nil : @timeline.figure.source), placeholder: "La source de l'image", class: 'form-control' %>
          <br/>

          <div id="size-warning" class="row" style="display: none">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>
                  <span class="glyphicon glyphicon-warning-sign"></span>
                  Cette image est de trop petite résolution, ou bien est trop grande (>5Mo)
                </strong>
              </div>
            </div>
          </div>
          <%= f.button "Sauvegarder &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                       class: 'btn btn-success pull-right',
                       data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Modification en cours "} %>
      <% end %>
      <div>
        <div id="upload-btn" class="btn btn-default fileinput-button">
          <i class="glyphicon glyphicon-folder-open"></i>&nbsp
          <span id="ajouter"> Ajouter une figure </span>
          <input accept="image/jpeg,image/gif,image/png,image/svg" id="fileupload" type="file" name="figure[picture]" multiple>
        </div>
        <div id="progress" style="display: none">
          <svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
            </path>
          </svg>
        </div>
        <div id="delete" class="btn btn-danger" style="display: none">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
          Supprimer la figure
        </div>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#timeline_has_picture').val() === 'true') {
                $('#delete').show();
                $('#ajouter').text("Modifier la figure");
            }
            $(function () {
                'use strict';
                // Change this to the location of your server-side upload handler:
                $('#fileupload').fileupload({
                    url: "<%= figures_url + "?img_timeline_id=" + @timeline.id.to_s %>",
                    type: 'POST',
                    dataType: 'json',
                    done: function (e, data) {
                        $('#upload-btn').show(300);
                        $('#progress').hide(300);
                        if (data.result.id == null) {
                            $('#size-warning').show(300);
                        } else {
                            $('#timeline_has_picture').val('true');
                            $('#timeline_delete_picture').val('false');
                            $('#size-warning').hide();
                            $('#uploaded').css("background", "white url(" + data.result.picture.url + ")");
                        }
                    },
                    start: function (e, data) {
                        $('#upload-btn').hide();
                        $('#progress').show();
                    }
                }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
            });
            $('#delete').click(function () {
                $('#delete').hide(300);
                $('#uploaded').css("background", "white");
                $('#ajouter').text("Ajouter une figure");
                $('#timeline_delete_picture').val('true');
            });
        });
    </script>
<% end %>
<% if @timeline.nb_references > 2 && @summary %>
    <div class="panel-body">
      <div id="summary" class="clearfix">
        <% if @summary.picture? %>
            <div class="pull-right">
              <div class="thumbnail">
                <%= image_tag @summary.picture_url, class: "img-rounded img-responsive" %>
                <div class="caption">
                  <%= @summary.caption_markdown.html_safe %>
                </div>
              </div>
            </div>
        <% end %>
        <div class="justify">
          <span class="content<%= @summary.id %>">
              <%= @summary.markdown.html_safe %>
           </span>
          <% if logged_in? %>
              <div class="pull-right">
                <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                            new_typo_path(summary_id: @summary.id), remote: true, :class => "btn btn-default", "data-toggle" => "tooltip",
                            title:                                          "Corriger une faute de français dans la synthèse", :style => "padding: 6px; margin-right: 6px" %>
                <% if current_user.admin %>
                    <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                                edit_summary_path(@summary.id),
                                class: "btn btn-primary" %>
                    <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                                summary_path(@summary.id), method: :delete,
                                data:                              {confirm: "Etes vous certain ?"},
                                class:                             "btn btn-danger" %>
                <% end %>
              </div>
              <br/>
              <br/>
              <br/>
          <% end %>
        </div>
        <br/>
      </div>
            <span class="pull-right">
                <%= link_to @summary.user_name, user_path(@summary.user_id) %>
            </span>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#summary").readmore({
                speed: 750,
                embedCSS: false,
                collapsedHeight: 450,
                moreLink: '<a href="#" class="btn btn-default">Continuer la lecture</a>',
                lessLink: '<a href="#" class="btn btn-default">Réduire le texte</a>'
            });
        });
    </script>
<% end %>
</div>

<% if @references.any? && !@timeline.binary.blank? && @timeline.total_binary > 0 %>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="panel panel-default">
          <br/><br/>

          <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <div class="center">
            <br/>
            <b style="font-size: 2.2em" id="versus-left"><%= @timeline.binary.split('&&')[0].humanize -%></b>
            &nbsp<%= image_tag("versus.png", alt: "Versus", :height => "82px") %>&nbsp
            <b style="font-size: 2.2em" id="versus-right"><%= @timeline.binary.split('&&')[1].humanize -%></b>
          </div>
          <br/><br/>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var data = {
                labels: [
                            "Fermement " + $('#versus-left').text().toLowerCase(),
                    $('#versus-left').text(),
                    "Neutre",
                    $('#versus-right').text(),
                            "Fermement " + $('#versus-right').text().toLowerCase()],
                datasets: [
                    {
                        label: "My First dataset",
                        data: [$('.binary1').length,
                            $('.binary2').length,
                            $('.binary3').length,
                            $('.binary4').length,
                            $('.binary5').length]
                    }
                ]
            };
            var colors = {
                        1: 'rgba(112,43,217,0.0)',
                        2: 'rgba(50,45,227,0.0)',
                        3: 'rgba(51,102,204,0.0)',
                        4: 'rgba(45,171,227,0.0)',
                        5: 'rgba(43,217,207,0.0)'},
                    labels = {
                        1: '<%= @timeline.binary_explanation(1) -%>',
                        2: '<%= @timeline.binary_explanation(2) -%>',
                        3: '<%= @timeline.binary_explanation(3) -%>',
                        4: '<%= @timeline.binary_explanation(4) -%>',
                        5: '<%= @timeline.binary_explanation(5) -%>'};
            Chart.defaults.global.responsive = true;
            Chart.defaults.global.tooltipTemplate = "<%%if (toolLabel){%><%%=toolLabel%> : <%%}%><%%= value %>";
            (function () {
                var helpers = Chart.helpers,
                        canvas = $("#myChart").get(0),
                        ctx = canvas.getContext('2d'),
                        microBar = new Chart(ctx).Bar(data, {
                        });

                helpers.addEvent(canvas, 'mousemove', function (evt) {
                    var bars = microBar.getBarsAtEvent(evt);
                    if (bars.length > 0) {
                        canvas.style.cursor = "pointer";
                    }
                    else {
                        canvas.style.cursor = "default";
                    }
                });

                helpers.addEvent(canvas, 'click', function (evt) {
                    microBar.options.animation = true;
                    microBar.options.onAnimationComplete = function () {
                        this.showTooltip(this.activeElements, true);
                    };
                    var bars = microBar.getBarsAtEvent(evt);
                    helpers.each(bars, function (bar) {
                        if (bar.active) {
                            $(bar.references).hide(500);
                            bar.active = false;
                            bar.fillColor = bar.baseColor.replace('.0)', '.05)');
                        } else {
                            bar.active = true;
                            $(bar.references).show(500);
                            bar.fillColor = bar.baseColor.replace('.0)', '.5)');
                        }
                    });
                    if (bars.length > 0) {
                        microBar.update();
                    }
                });

                $.each(microBar.datasets[0].bars, function (key, bar) {
                    bar.active = true;
                    bar.references = ".binary" + (key + 1).toString();
                    bar.toolLabel = labels[key + 1];
                    bar.baseColor = colors[key + 1];
                    bar.fillColor = colors[key + 1].replace('.0)', '.5)');
                    bar.strokeColor = colors[key + 1].replace('.0)', '.75)');
                    bar.highlightFill = colors[key + 1].replace('.0)', '.75)');
                    bar.highlightStroke = colors[key + 1].replace('.0)', '.95)');
                });
            })();
        });
    </script>
<% end %>
<% if @references.any? %>
    <% if logged_in? && @titles > 0 %>
        <div class="center">
          <br/>
          <% if @titles == 1 %>
              <br/>
              <label class="btn <%= logged_in? ? "active" : nil %> btn-comment grey cd-color-orange" style="font-size: 16px;"
                     title="1 référence n'a pas d'analyse(s). Cliquer pour l'afficher/masquer." data-toggle="tooltip">
                &nbsp <span class="glyphicon glyphicon-eye-<%= logged_in? ? "open" : "close" %>"></span> &nbsp 1
                référence n'a pas d'analyse.
              </label>
          <% else %>
              <label class="btn <%= logged_in? ? "active" : nil %> btn-comment grey cd-color-orange" style="font-size: 16px;"
                     title="<%= @titles -%> références n'ont pas d'analyse(s). Cliquer pour les afficher/masquer." data-toggle="tooltip">
                &nbsp <span class="glyphicon glyphicon-eye-<%= logged_in? ? "open" : "close" %>"></span>
                &nbsp <%= @titles -%> références n'ont pas d'analyse
              </label>
          <% end %>
        </div>
    <% end %>
    <div id="cd-timeline" class="cd-container">
      <%= render :partial => 'references/reference', :collection => @references, :locals => {:binary => @timeline.binary} %>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery.fn.extend({
                zigzag: function (array) {
                    $(this).click(function () {
                        if ($(this).hasClass("active")) {
                            array.hide(500);
                            $(this).removeClass("active");
                        } else {
                            $(this).addClass("active");
                            array.show(500);
                        }
                    });
                    return 1;
                }
            });
            $('.btn-comment').zigzag($('.need-comment'));
            $('.linked-ref').click(function (e) {
                var id = $(this).data("ref");
                $("#button" + id).trigger('click');
                if ($("#ref-" + id).hasClass("glyphicon-chevron-down")) {
                    $("#ref-" + id).trigger('click');
                }
                $("#block-" + id).show(500);
                e.stopPropagation();
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $('#block-' + id).offset().top - 80
                }, 500);
                return false
            });
            $('.detail').click(function () {
                if ($(this).hasClass("glyphicon-chevron-down")) {
                    $(this).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
                    $(this).parent().parent().parent().find('.ref').show(500);
                    $('html, body').animate({
                        scrollTop: $(this).parent().parent().parent().offset().top - 80
                    }, 500)
                }
                else {
                    $(this).removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
                    $(this).parent().parent().parent().find('.ref').hide(500)
                }
            });
            $('[data-toggle="tooltip"]').tooltip({container: 'body'});
            var $timeline_block = $('.cd-timeline-block');

            //hide timeline blocks which are outside the viewport
            $timeline_block.each(function () {
                $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden');
            });

            $timeline_block.each(function () {
                if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.95) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').removeClass('bounce-in');
                }
            });

            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function () {
                $timeline_block.each(function () {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.95 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').removeClass('bounce-in');
                    }
                });
            });
        });
    </script>
<% end %>
</div>
<div class="col-xs-12 col-lg-2">
  <% if @timelines.count > 0 %>
      <% if logged_in? %>
          <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => {:my_likes => @my_likes, full_width: true} %>
      <% else %>
          <%= render :partial => 'timelines/timeline', :collection => @timelines, :locals => {:my_likes => nil, full_width: true} %>
      <% end %>
      <script type="text/javascript">
          $(document).ready(function () {
              $('.timeline-name').responsiveEqualHeightGrid();
              $('.timeline-body').responsiveEqualHeightGrid();
              $('.collapse').on('shown.bs.collapse', function () {
                  $(".timeline-body").responsiveEqualHeightGrid();
              });
          });
      </script>
  <% end %>
</div>
</div>
</div>
<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if logged_in? %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> Le serveur ne répond pas</h2>
        <% else %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> Veuillez vous identifier afin d'effectuer cette
              action</h2>
            <br/>
            <%= link_to "S'identifier", login_path, class: "btn btn-lg btn-primary" %>
            <div class="pull-right">
              <%= link_to "Créer un compte", signup_path, class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<% if logged_in? %>
    <script type="text/javascript">
        $(function () {
            $('[data-validate]').click(function () {
                var self = $(this);
                self.hide();
                self.after('<svg version="1.1" class="loader-like" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"> <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
                $.ajax(self.data('validate'), {
                    url: self.data('validate'),
                    data: {id: self.val()},
                    method: 'POST',
                    statusCode: {
                        201: function (response) {
                            $('.loader-like').remove();
                            self.show();
                            var like = $('.glyphicon', self);
                            self.addClass('btn-success');
                            self.removeClass('btn-default');
                            self.removeClass('green');
                            self.attr('data-original-title', "Vous et " + self.attr('data-original-title'));
                            like.text(' ' + (parseInt(like.text()) + 1));
                        },
                        204: function (response) {
                            $('.loader-like').remove();
                            self.show();
                            var like = $('.glyphicon', self);
                            self.removeClass('btn-success');
                            self.addClass('btn-default');
                            self.addClass('green');
                            self.attr('data-original-title', self.attr('data-original-title').replace('Vous et ', ''));
                            like.text(' ' + (parseInt(like.text()) - 1));
                        },
                        401: function (response) {
                            $('.loader-like').remove();
                            self.show();
                            $('#iptaken').modal('show');
                        }
                    }
                })
            });
        });
    </script>
<% end %>