<% provide(:title, @timeline.name) %>

<div class="row">
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">
        <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"> #{@timeline.nb_likes} </span>".html_safe,
                    likes_path(id: @timeline.id ),
                    method: :post, class: "btn btn-primary" %>
    </span>
      <div class="panel-heading">
        <h3><%= @timeline.name %></h3> par <%= link_to @timeline.user_name, user_path( @timeline.user_id) %>
      </div>
  </div>
  <div class="panel-body">
    <% if @summary %>
        <div class="text-justify">
        <%= @summary.markdown.html_safe %>
        </div>
        <br/>
        <span class="pull-right">
        Par <%= link_to @summary.user_name, user_path( @summary.user_id) %>
        </span>
        <br/>
        <%= link_to 'Voir les synthèses de cette controverse'.html_safe,
                    summaries_path( timeline_id: @timeline.id ),
                    class: "btn btn-default" %>
    <% else %>
        <%= link_to '<span class="glyphicon glyphicon-pencil" >
    </span> Pas de synthèses, soyez le premier'.html_safe,
                    new_summary_path( timeline_id: @timeline.id ),
                    class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="panel-footer">
    <div class="btn-group">
        <button class="btn btn-default btn-sm" data-trigger="focus"
              data-toggle="popover" data-content="<%= @timeline.nb_contributors %> contributeurs" >
            <%= image_tag("icons/myicon-users.svg", alt: "ref", height: "32px") %>
            <%= @timeline.nb_contributors %>
        </button>
        <button class="btn btn-default btn-sm" data-trigger="focus"
                data-toggle="popover" data-content="<%= @timeline.nb_references %> références scientifiques" >
            <%= image_tag("icons/myicon-reference.svg", alt: "ref", height: "32px") %>
            <%= @timeline.nb_references %>
        </button>
        <button class="btn btn-default btn-sm" data-trigger="focus"
              data-toggle="popover" data-content="<%= @timeline.nb_edits %> contributions" >
            <%= image_tag("icons/myicon-comment.svg", alt: "ref", height: "32px") %>
            <%= @timeline.nb_edits %>
        </button>
    </div>
    <span class="pull-right">
        <div class="btn-group">
          <% @timeline.get_tag_list.each do |name| %>
                <button class="btn btn-default btn-sm" data-trigger="focus"
                        data-toggle="popover" data-content="<%= tags_hash[name] %>" >
                  <%= image_tag("icons/myicon-#{name}.svg", alt: name, height: "32px")%>
                </button>
          <% end %>
        </div>
    </span>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row" id="my-timeline">
    <div class="timeline-jquery-controverse">
    </div>
</div>


</div>
  <% if logged_in? %>
<div class="col-xs-12 col-lg-2">
<%= link_to "<span class=\"glyphicon glyphicon-eye-open\" >
</span> S'abonner à cette controverse".html_safe,
              following_timelines_path( timeline_id: @timeline.id ),
              method: :post, class: "btn btn-block btn-primary" %>
<%= link_to '<span class="glyphicon glyphicon-plus-sign" >
</span> Ajouter une référence'.html_safe,
          new_reference_path( timeline_id: @timeline.id),
          class: "btn btn-block btn-danger" %>
<%= link_to '<span class="glyphicon glyphicon-pencil" >
</span> Ecrire une synthèse'.html_safe,
          new_summary_path( timeline_id: @timeline.id),
          class: "btn btn-block btn-danger" %>
</div>

 <% end %>
</div>

<%= javascript_tag do %>
    function toRef( id ){
      if ( jQuery.inArray( 'collapsed', $("#ref-"+id)[0].classList ) ){
        $(".collapse-all").trigger({ type: "click" });
        $("#ref-btn-"+id).trigger({ type: "click" });
      }
    }
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover({container: 'body'});
    $('.timeline-jquery-controverse').verticalTimeline({
    data: <%= raw render(template: "timelines/show.json.rabl") -%>,
    handleResize: true,
    });
    });
<% end %>