<% provide(:title, @timeline.name) %>

<% content_for :timeline do %>
    <%= stylesheet_link_tag 'timeline', media: 'all' %>
<% end %>

<div class="row">
  <% if logged_in? %>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
        <%= render 'layouts/panel' %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <% else %>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">
      <div class="clearfix">
          <div class="pull-right">
            <%= link_to '<span class="glyphicon glyphicon-eye-open" >
    </span> Les résumés'.html_safe,
                        summaries_path( timeline_id: @timeline.id ),
                       class: "btn btn-block btn-primary" %>
          </div>
          <div class="panel-heading">
            <h3><%= @timeline.name %></h3>
          </div>
      </div>
  </div>
  <div class="panel-body">
    <% if @summary %>
        <%= @summary[:content] %>
        <br/>
        <span class="pull-right">
        Créé par <%= @summary.user_name %>
        </span>
    <% else %>
        Pas de résumé
    <% end %>
  </div>
  <div class="panel-footer">
    <%= image_tag("icons/myicon-users.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_contributors %></span>
    <%= image_tag("icons/myicon-reference.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_references %></span>
    <%= image_tag("icons/myicon-comment.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_edits %></span>
    <%= image_tag("icons/myicon-like.svg", alt: "ref", height: "38px") %>
    <span class="badge"><%= @timeline.nb_likes %></span>
    <span class="pull-right">
        <div class="btn-group">
          <% @timeline.get_tag_list.each do |name| %>
                <button class="btn btn-default btn-sm" data-trigger="focus"
                        data-toggle="popover" data-content="<%= tags_hash[name] %>" >
                  <%= image_tag("icons/myicon-#{name}.svg", alt: name, height: "28px")%>
                </button>
          <% end %>
        </div>
    </span>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row">
    <div class="timeline-jquery-controverse">
    </div>
</div>


</div>
  <% if logged_in? %>
<div class="col-xs-12 col-lg-2">
<%= link_to '<span class="glyphicon glyphicon-plus-sign" >
</span> Ajouter une réfèrence'.html_safe,
          new_reference_path( timeline_id: @timeline.id),
          class: "btn btn-block btn-primary" %>

<%= link_to "<span class=\"glyphicon glyphicon-eye-open\" >
</span> S'abonner à cette controverse".html_safe,
    following_timelines_path( timeline_id: @timeline.id ),
    method: :post, class: "btn btn-block btn-primary" %>
<%= link_to 'Inviter un amis', '#newinvitation',
              'data-toggle' => 'modal',
              class: "btn btn-block btn-primary" %>
</div>


<div class="modal fade" id="newinvitation" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"> Inviter un amis </h4>
    </div>
    <div class="modal-body">
      <%= form_for( :invitation, url: invitations_path, remote: true,
                    html: {role: :form, 'data-model' => 'invitation'}) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: 'control-label' %><br>
            <%= f.text_field :email, class: 'form-control' %>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <%= f.label :message, class: 'control-label' %><br>
            <%= f.text_field :message, class: 'form-control' %>
            <span class="help-block"></span>
          </div>
          <div class="actions">
            <%= f.submit 'Envoyer', class: 'btn btn-primary'%>
          </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
 <% end %>
</div>

<%= javascript_tag do %>
    function toRef( id ){
      if ( jQuery.inArray( 'collapsed', $("#ref-"+id)[0].classList ) ){
        $(".collapse-all").trigger({ type: "click" });
        $("#ref-btn-"+id).trigger({ type: "click" });
      }
    }
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover({container: 'body'});
    $('.timeline-jquery-controverse').verticalTimeline({
    data: <%= raw render(template: "timelines/show.json.rabl") -%>,
    handleResize: true,
    });
    });
<% end %>