<div class="panel panel-default comment">
  <div class="panel-body clearfix">
    <% if best_comment.f_6_comment_id %>
        <h5  id="content6"> <%= best_comment.markdown(6).html_safe %> </h5>
    <% end %>
    <% if best_comment.comment_count(6) > 1 %>
        <%= link_to "Voir tous les titres",
                    from_reference_path(:reference_id => @reference.id, field: 6),
                    class: "btn btn-info ajax-btn",
                    :remote => true, id: "button6" %>
        <div id="show6" class="btn btn-info" style="display: none">
          Voir <%= fields_plural_hash[6] %>
        </div>
        <div id="field6">
        </div>
        <br/>
        <br/>
    <% end %>
    <span class="content">
    <% for fi in 0..5 %>
      <% if best_comment["f_#{fi}_comment_id".to_sym] %>
        <div class="panel panel-default">
          <div class="panel-body clearfix">
            <h6> <%= fields_hash[fi] %> </h6>

            <div id="content<%= fi %>" class="text-justify">
              <%= best_comment.markdown(fi).html_safe %>
            </div>
            <% if best_comment.comment_count(fi) > 1 %>
                <%= link_to "Voir #{fields_plural_hash[fi]}",
                            from_reference_path(:reference_id => @reference.id, field: fi),
                            class: "btn btn-info ajax-btn",
                            :remote => true, id: "button#{fi}" %>
                <div id="show<%= fi %>" class="btn btn-info" style="display: none">
                  Voir <%= fields_plural_hash[fi] %>
                </div>
            <% end %>
            <div id="field<%= fi %>">
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if best_comment.f_7_comment_id %>
      <div class="panel panel-default">
        <div class="panel-body clearfix">
          <div  id="content7" class="row">
            <div class="col-xs-12 col-md-6">
              <%= image_tag best_comment.picture_url, class: "img-rounded img-responsive" %>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="caption">
                <b> <%= fields_hash[7] %> </b> :
                <%= best_comment.markdown(7).html_safe %>
              </div>
            </div>
          </div>
          <% if best_comment.comment_count(7) > 1 %>
              <%= link_to "Voir #{fields_plural_hash[7]}",
                          from_reference_path(:reference_id => @reference.id, field: 7),
                          class: "btn btn-info ajax-btn",
                          :remote => true, id: "button7" %>
          <span id="show7" class="btn btn-info" style="display: none">
            Voir <%= fields_plural_hash[7] %>
          </span>
          <div id="field7">
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </span>

    <div class="pull-right">
      <% for user_id in best_comment.authors[0..-3] %>
          <%= link_to user_name(user_id), user_path(user_id) %>,
      <% end %>
      <% if best_comment.authors[-2] %>
          <%= link_to user_name(best_comment.authors[-2]), user_path(best_comment.authors[-2]) %> et
      <% end %>
      <%= link_to user_name(best_comment.authors.last), user_path(best_comment.authors.last) %>
    </div>
  </div>
  <div class="panel-footer">
    <div class="clearfix">
      <div class="pull-right">
        <%= link_to "<span class=\"icon-fork big\"></span>".html_safe,
                    new_comment_path(reference_id: @reference.id, improve: true), :class => "btn btn-primary", "data-toggle" => "tooltip",
                    title: "Améliorer cette analyse", :style => "padding: 8px; margin-right: 10px;" %>
      </div>
    </div>
  </div>
</div>
