<% if (field == 6 && comment.title_markdown != "")||(field == 7 && comment.figure_id)||(((0..5).include? field) && comment["markdown_#{field}".to_sym] != "") %>
    <div class="panel <%= logged_in? &&
                                  @my_votes &&
                                  (@my_votes.map{ |c| c.comment_id}.include? comment.id) ? "panel-success" : "panel-default" %>">
      <div class="panel-body clearfix">
        <% if field == 6 %>
            <div class="text-left">
              <%= comment.title_markdown.html_safe %>
            </div>
        <% elsif field == 7 %>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <%= image_tag comment.picture_url, class: "img-rounded img-responsive" %>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="caption">
                  <b> Figure </b> :
                  <%= comment.caption_markdown.html_safe %>
                </div>
              </div>
            </div>
        <% else %>
            <div class="text-justify content<%= comment.id*10 + field %>">
              <%= comment["markdown_#{field}".to_sym].html_safe %>
            </div>
        <% end %>
      </div>
      <% if logged_in? %>
          <div class="panel-heading clearfix">
              <% if current_user.id != comment.user_id %>
                  <% if @my_votes && (@my_votes.map{ |c| c.comment_id}.include? comment.id) %>
                      &nbsp
                <span class="icon-frog-laurel big"
                      title="Vous avez selectionné cette analyse comme votre favorite"
                      data-placement="right"
                      data-toggle="tooltip"></span>
                  <% else %>
                      <%= link_to "<span class=\"icon-frog-laurel fatter\"></span>".html_safe,
                                  votes_path(timeline_id: params[:timeline_id],
                                             comment_id: comment.id,
                                             field: field,
                                             reference_id: params[:reference_id]),
                                  "data-toggle"    => "tooltip",
                                  "data-placement" => "right",
                                  title:           "Selectionner cette analyse comme votre favorite",
                                  method:          :post,
                                  class:           "btn btn-success",
                                  :style           => "padding: 8px; margin-left: 8px" %>
                  <% end %>
              <% end %>
            <div class="pull-right">
              <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                          new_typo_path(comment_id: comment.id, field: field),
                          remote:       true,
                          :class        => "btn btn-default",
                          "data-toggle" => "tooltip",
                          title:        "Corriger une faute de français",
                          :style        => "padding: 8px; margin-right: 8px" %>
              <% if current_user.admin %>
                  <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                              edit_comment_path(comment.id),
                              class: "btn btn-primary" %>
                  <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                              comment_path(id: comment.id),
                              method: :delete,
                              data:   {confirm: "Etes vous certain ?"},
                              class:  "btn btn-danger",
                              :style  => "margin-right: 8px" %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>