<div class="panel panel-default comment">
  <div class="panel-body clearfix">
    <% if best_comment.f_6_comment_id %>
        <h5  id="content6"> <%= best_comment.markdown(6).html_safe %> </h5>
    <% if logged_in? && best_comment.f_6_user_id != current_user.id %>
        <div class="pull-right button6 typo6 clearfix">
          <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                      new_typo_path(comment_id: best_comment.f_6_comment_id, field: 6), remote: true,
                      :class => "btn btn-info", "data-toggle" => "tooltip",
                      title: "Corriger une faute de français", :style => "padding: 6px; margin-right: 6px"%>

          <% if current_user.admin %>
              <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                          edit_comment_path(best_comment.f_6_comment_id),
                          class: "btn btn-primary"%>
              <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                          comment_path(best_comment.f_6_comment_id), method: :delete,
                          data:                          {confirm: "Etes vous certain ?"},
                          class: "btn btn-danger"%>
          <% end %>
        </div>
        <br/><br/><br/>
    <% end %>
    <% end %>
    <% if best_comment.comment_count(6) > 1 %>
        <%= link_to "Voir toutes les contributions",
                    from_reference_path(:reference_id => @reference.id, field: 6),
                    class: "btn btn-info ajax-btn button6",
                    :remote => true %>
        <div id="show6" class="btn btn-info" style="display: none">
          Voir toutes les contributions
        </div>
        <div id="field6">
        </div>
        <br/>
        <br/>
    <% end %>
    <span class="content clearfix">
    <% for fi in 0..5 %>
      <% if best_comment["f_#{fi}_comment_id".to_sym] %>
        <div class="panel panel-default">
          <div class="panel-body clearfix">
            <% if @reference.article %>
                <h6> <%= article_hash[fi] %> </h6>
            <% else %>
                <h6> <%= review_hash[fi] %> </h6>
            <% end %>
            <div id="content<%= fi %>" class="text-justify">
              <%= best_comment.markdown(fi).html_safe %>
            </div>
            <% if logged_in? && best_comment["f_#{fi}_user_id"] != current_user.id%>
                <div class="pull-right button<%=fi %> typo<%=fi %>">
                  <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                              new_typo_path(comment_id: best_comment["f_#{fi}_comment_id"], field: fi), remote: true, :class => "btn btn-info", "data-toggle" => "tooltip",
                              title: "Corriger une faute de français", :style => "padding: 6px; margin-right: 6px"%>
                </div>
                <% if current_user.admin %>
                    <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                                edit_comment_path(best_comment["f_#{fi}_comment_id"]),
                                class: "btn btn-primary"%>
                    <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                                comment_path(best_comment["f_#{fi}_comment_id"]), method: :delete,
                                data:                          {confirm: "Etes vous certain ?"},
                                class: "btn btn-danger"%>
                <% end %>
            <% end %>
            <% if best_comment.comment_count(fi) > 1 %>
                <%= link_to "Voir toutes les contributions",
                            from_reference_path(:reference_id => @reference.id, field: fi),
                            data:                          {confirm: "Etes vous certain ?"},
                            class: "btn btn-info ajax-btn button#{fi}",
                            :remote => true %>
                <div id="show<%= fi %>" class="btn btn-info" style="display: none">
                  Voir toutes les contributions
                </div>
            <% end %>
            <div id="field<%= fi %>">
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if best_comment.f_7_comment_id %>
      <div class="panel panel-default">
        <div class="panel-body clearfix">
          <div  id="content7" class="row">
            <div class="col-xs-12 col-md-6">
              <%= image_tag best_comment.picture_url, class: "img-rounded img-responsive" %>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="caption">
                  <b> <% if @reference.article %>
                      <h6> <%= article_hash[7] %> </h6>
                  <% else %>
                      <h6> <%= review_hash[7] %> </h6>
                  <% end %> </b> :
                <%= best_comment.markdown(7).html_safe %>
              </div>
            </div>
          </div>
          <% if logged_in? && best_comment.f_7_user_id != current_user.id%>
              <div class="pull-right button7 typo7">
                <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe,
                            new_typo_path(comment_id: best_comment.f_7_comment_id, field: 7), remote: true,
                            :class => "btn btn-info", "data-toggle" => "tooltip",
                            title: "Corriger une faute de français", :style => "padding: 6px; margin-right: 6px"%>
                <% if current_user.admin %>
                    <%= link_to "<span class=\"glyphicon glyphicon-edit\"></span>".html_safe,
                                edit_comment_path( best_comment.f_7_comment_id),
                                class: "btn btn-primary"%>
                    <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe,
                                comment_path(best_comment.f_7_comment_id), method: :delete,
                                class: "btn btn-danger"%>
                <% end %>
              </div>
          <% end %>
          <% if best_comment.comment_count(7) > 1 %>
              <%= link_to "Voir toutes les contributions",
                          from_reference_path(:reference_id => @reference.id, field: 7),
                          class: "btn btn-info ajax-btn button7",
                          :remote => true %>
          <span id="show7" class="btn btn-info" style="display: none">
            Voir toutes les contributions
          </span>
          <div id="field7">
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </span>

    <div class="pull-right">
      <% for user_id in best_comment.authors[0..-3] %>
          <%= link_to user_name(user_id), user_path(user_id) %>,
      <% end %>
      <% if best_comment.authors[-2] %>
          <%= link_to user_name(best_comment.authors[-2]), user_path(best_comment.authors[-2]) %> et
      <% end %>
      <%= link_to user_name(best_comment.authors.last), user_path(best_comment.authors.last) %>
    </div>
  </div>
</div>
