<div class="panel panel-default comment">
  <div class="panel-body clearfix">
    <span class="content clearfix">
    <% for fi in ([6] + (0..5).to_a.push(7)) %>
      <% if best_comment["f_#{fi}_comment_id".to_sym] %>
        <div class="panel panel-default">
          <div class="panel-body clearfix">
            <h6> <%= category_hash[@reference.category][fi] %> </h6>
            <% if  fi == 7 %>
                <div id="content7" class="row">
                  <div class="col-xs-12 col-md-6">
                    <%= image_tag best_comment.picture_url, class: "img-rounded img-responsive" %>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="caption">
                      <b> <%= t('views.best_comments.caption') %> </b> :
                      <%= best_comment.markdown(7).html_safe %>
                    </div>
                  </div>
                </div>
            <% else %>
                <div id="content<%= fi %>" class="text-justify content<%= best_comment["f_#{fi}_comment_id"]*10 + fi %>">
                  <%= best_comment.markdown(fi).html_safe %>
                </div>
            <% end %>
            <div id="field<%= fi %>">
            </div>
          </div>
          <div class="panel-heading clearfix">
            <%= render 'patches/link_comment', field: fi, comment_id: best_comment["f_#{fi}_comment_id"] %>
            <% if best_comment.comment_count(fi) > 1 %>
                <%= link_to "<span class=\"badge\"> #{best_comment.comment_count(fi)}</span> #{t('views.best_comments.display_all')}".html_safe,
                            from_reference_path(:reference_id => @reference.id,
                                                field:        fi),
                            class:  "btn btn-default ajax-btn button#{fi}",
                            :remote => true %>
                <div id="show<%= fi %>" class="btn btn-default" style="display: none; padding: 6px">
                  <span class="badge"><%= best_comment.comment_count(fi) %></span>
                  <%= t('views.best_comments.display_all') %>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    </span>

    <div class="pull-right">
      <%= render 'users/link_contributors', model: best_comment %>
    </div>
  </div>
</div>
