<div class="clearfix">
  <div class="col-xs-12 col-lg-10 col-lg-offset-1">
    <a href="<%= livre_d_or_url %>" class="cadre hvr-grow center" style="display: block;">
      <h1> Retour au livre d'or </h1>
      <object class="img-responsive"
              data="<%= path_to_image 'APBLS-Logo.svg' %>"
              style="pointer-events: none;">
      </object>
    </a>
    <br>
    <br>
  </div>
</div>
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
<div class="panel panel-default">
  <div class="panel-heading">
    <h5> Venez discuter</h5>
  </div>
  <div class="panel-body">
    <div class="font12">
      <%= t('views.users.why_slack_html') %>
    </div>
    <div class="center">
      <% if logged_in? %>
          <a href="<%= slack_users_path %>" class="cadre hvr-grow center">
            <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
            <b style="font-size: 1.4em"><%= t('views.users.join_slack') %></b>
          </a>
      <% else %>
          <a href="<%= new_user_path %>" class="cadre hvr-grow center">
            <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
            <b style="font-size: 1.4em"><%= t('views.sessions.new_user_slack') %></b>
          </a>
      <% end %>
    </div>
  </div>
</div>
</div>