<div class="col-xs-12 col-lg-10 col-lg-offset-1">
  <div class="panel panel-default">
    <div class="panel-body clearfix">
      <div class="text-justify">
        <%= suggestion.content_markdown.html_safe %>
      </div>
      <% if suggestion.timeline_id && suggestion.timeline_id > 0 %>
          <br/>
          <%= link_to "<span class=\"icon-frog\"></span> Revenir à la controverse".html_safe,
                      timeline_path(suggestion.timeline_id), class: "btn btn-primary pull-right" %>
      <% else %>
          <% if logged_in? && (suggestion.user_id == current_user.id || current_user.admin) %>
          <div class="pull-right">
            <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer".html_safe, suggestion_path(suggestion.id), method: :delete,
                        data:  {confirm: "Êtes-vous certain ?"},
                        class: "btn btn-danger" %>
            <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier".html_safe, edit_suggestion_path(suggestion.id),
                        class: "btn btn-primary" %>
          </div>
          <% end %>
          <% if logged_in? && suggestion.user_id == current_user.id %>
          <div class="sticky" style="color: #5cb85c;" data-placement="top"
               data-toggle="tooltip"
               title="<%= suggestion.plus.to_s + " contributeurs trouvent cette idée constructive" %>">
            <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion.plus %></span>
          </div>
          <% elsif show_likes %>
          <div>
            <% if @my_sug_likes && @my_sug_likes.include?(suggestion.id) %>
                <button type="button" class="btn btn-sm btn-success" data-placement="top" data-value="true"
                        data-toggle="tooltip" value="<%= suggestion.id %>" data-validate="/suggestion_votes"
                        title="Vous et <%= (suggestion.plus - 1).to_s + " contributeurs trouvent cette idée constructive" %>">
                  <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion.plus %></span>
                </button>
            <% else %>
                <button type="button" class="btn btn-sm btn-default green" data-placement="top" data-value="true"
                        data-toggle="tooltip" value="<%= suggestion.id %>" data-validate="/suggestion_votes"
                        title="<%= suggestion.plus.to_s + " contributeurs trouvent cette idée constructive" %>">
                  <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion.plus %></span>
                </button>
            <% end %>
          </div>
          <% end %>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="clearfix">
        <div id="button<%= suggestion.id %>" class="pull-right">
          <br/>
          <% if suggestion.children > 0 %>
              <%= link_to "<span class=\"glyphicon glyphicon-list\"></span> Voir les réactions (#{suggestion.children})".html_safe, fetch_children_path(:suggestion_id => suggestion.id),
                          :remote => true, id: "fetch", class: "btn btn-default" %>
          <% else %>
              <% if logged_in? %>
                  <%= link_to "<span class=\"glyphicon glyphicon-comment\"></span> Répondre".html_safe, fetch_children_path(:suggestion_id => suggestion.id),
                              :remote => true, id: "fetch", class: "btn btn-default" %>
              <% else %>
                  <div class="clearfix">
                    <%= link_to "<span class=\"glyphicon glyphicon-comment\"></span> Créer un compte pour répondre".html_safe, new_user_path,
                                class: "btn btn-primary pull-right" %>
                  </div>
              <% end %>
          <% end %>
        </div>
          <span class="timestamp">
            Publié il y a <%= time_ago_in_words(suggestion.created_at) %> par
            <%= link_to suggestion.user_name, user_path(suggestion.user_id) %>
           </span>
      </div>
      <div id="children<%= suggestion.id %>">
      </div>
    </div>
  </div>
</div>