<div class="panel panel-info">
  <div class="panel-body clearfix">
    <div class="col-xs-12 col-lg-2">
      <div class="clearfix pull-right">
        <button type="button" class="btn btn-success" data-placement="left" data-value="true"
                data-toggle="tooltip" value="<%= suggestion.id %>" data-validate="/suggestion_votes"
                title="<%= suggestion.plus.to_s + " contributeurs sont d'accords" %>">
          <span class="glyphicon glyphicon-thumbs-up"> <%= suggestion.plus %> </span>
        </button>
        <button type="button" class="btn btn-danger" data-placement="left" data-value="false"
                data-toggle="tooltip" value="<%= suggestion.id %>" data-validate="/suggestion_votes"
                title="<%= suggestion.minus.to_s + " contributeurs ne sont pas d'accords" %>">
          <span class="glyphicon glyphicon-thumbs-down"> <%= suggestion.minus %> </span>
        </button>
        <br/>
        <br/>
      </div>
    </div>
    <div class="col-xs-12 col-lg-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-justify">
            <%= suggestion.content_markdown.html_safe %>
          </div>
          <% if suggestion.timeline_id && suggestion.timeline_id > 0 %>
              <br/>
              <%= link_to "<span class=\"icon-frog\"></span> Revenir à la controverse".html_safe, timeline_path(suggestion.timeline_id), class: "btn btn-primary pull-right" %>
          <% elsif logged_in? && suggestion.user_id == current_user.id %>
              <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Supprimer".html_safe, suggestion_path(suggestion.id), method: :delete,
                          data: { confirm: "Etes vous certain ?" },
                          class: "btn btn-danger" %>
              <%= link_to "<span class=\"glyphicon glyphicon-cog\"></span> Modifier".html_safe, edit_suggestion_path(suggestion.id),
                          class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="panel-footer">
          <div class="clearfix">
            <div id="button<%= suggestion.id %>" class="pull-right">
              <br/>
              <% if suggestion.children > 0 %>
                  <%= link_to "<span class=\"glyphicon glyphicon-list\"></span> Voir les réactions (#{suggestion.children})".html_safe, fetch_children_path(:suggestion_id => suggestion.id),
                              :remote => true, id:"fetch", class: "btn btn-info" %>
              <% else %>
                  <% if logged_in? %>
                      <%= link_to "<span class=\"glyphicon glyphicon-comment\"></span> Répondre".html_safe, fetch_children_path(:suggestion_id => suggestion.id),
                                  :remote => true, id:"fetch", class: "btn btn-info" %>
                  <% else %>
                      <div class="clearfix">
                        <%= link_to "<span class=\"glyphicon glyphicon-comment\"></span> Créer un compte pour répondre".html_safe, new_user_path,
                                    class: "btn btn-primary pull-right" %>
                      </div>
                  <% end %>
              <% end %>
            </div>
          <span class="timestamp">
            Publié il y a <%= time_ago_in_words(suggestion.created_at) %> par
            <%= link_to suggestion.user_name, user_path(suggestion.user_id) %>
           </span>
          </div>
          <div id="children<%= suggestion.id %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

