<div id="my-container" class="container-fluid">
  <%= render 'livre_dor' %>
  <div class="row">
    <div class="col-xs-12 col-lg-offset-3 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3> Modifier un commentaire </h3>
        </div>
        <div class="panel-body">
          <%= form_for(@suggestion) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <div class="form-group">
                <%= f.label :comment, "Votre commentaire", class: 'control-label' %>
                <br>
                <div id="characterLeft0"></div>
                <%= f.text_area :comment, class: 'form-control textarea', id: "description0" %>
                <span class="help-block"></span>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="pull-right">
                    <%= f.button "Modifier &nbsp <span class=\"glyphicon glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                                 class: 'btn btn-success',
                                 data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.editing')} "} %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/length_counter' %>
<script type="text/javascript">
    $("textarea").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdLinkIntra']
    });
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    setupLengthCounter([[0, 4000, 140]])
</script>