<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-offset-3 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3> Modifier un commentaire </h3>
        </div>
        <div class="panel-body">
          <%= form_for(@suggestion) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <div class="form-group">
                <%= f.label :comment, "Votre commentaire", class: 'control-label' %>
                <br>
                <div id="characterLeft"></div>
                <%= f.text_area :comment, class: 'form-control textarea', id: "markdown-textarea" %>
                <span class="help-block"></span>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="pull-right">
                    <%= f.button "Modifier &nbsp <span class=\"glyphicon glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                                 class: 'btn btn-success',
                                 data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Modification en cours "} %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#markdown-textarea").markdown({autofocus:false,savable:false,hiddenButtons:['cmdLinkInt','cmdUrl','cmdLinkIntra']});
        var max = 1200;
        var len = $('#markdown-textarea').val().length;
        if (len >= max) {
            var ch = len - max;
            $('#characterLeft').css({"color": "#a94442"});
            $('#characterLeft').text(ch + ' caractères en trop !');
        } else {
            var ch = max - len;
            $('#characterLeft').css({"color": "#5cb85c"});
            $('#characterLeft').text(ch + ' caractères restants.');
        }
    });
    $('#markdown-textarea' ).keyup(function () {
        var max = 1200;
        var len = $(this).val().length;
        if (len >= max) {
            var ch = len - max;
            $('#characterLeft').css({"color": "#a94442"});
            $('#characterLeft').text(ch + ' caractères en trop !');
        } else {
            var ch = max - len;
            $('#characterLeft').css({"color": "#5cb85c"});
            $('#characterLeft').text(ch + ' caractères restants.');
        }
    });
</script>