<% provide(:title, "Suggèrer une amélioration") %>
<div id="my-container" class="container-fluid">
<div class="row">
<div class="col-xs-12">
      <h3> Discuter des controverses et des améliorations du site <br/> <br/> </h3>
    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Vous avez une idée, faites le savoir !
          </div>
          <div class="panel-body">
            <%= form_for( @suggestion) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <div class="form-group">
                  <%= f.label :comment, class: 'control-label' %><br>
                  <%= f.text_area :comment, class: 'form-control textarea' %>
                  <span class="help-block"></span>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <%= f.text_field :name, class: 'form-control selectwidthauto' %>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="pull-right">
                      <%= f.button "Publier &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                                   class: 'btn btn-success',
                                   data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp Publication en cours "}%>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div id="comments" class="col-xs-12 col-lg-7">
        <div class="row page">
                <%= render @suggestions %>
                <%= paginate @suggestions %>
        </div>
      </div>
      <div class="col-xs-12 col-lg-2">
        <%= link_to "<strong>Les controverses</strong>".html_safe, timelines_path,
                    class: "btn btn-block btn-primary", style: "font-size: 1.3em;" %>
        <%= link_to "Découvrir ControverSciences", how_to_path,
                    class: "btn btn-block btn-primary" %>
        <%= link_to "Contribuer à ControverSciences", how_to_edit_path,
                    class: "btn btn-block btn-primary" %>
        <%= link_to "Foire aux questions (FAQ)", faq_path,
                    class: "btn btn-block btn-primary" %>
        <div class="btn btn-block btn-info cursor-not-allowed">
          Venez discuter
        </div>
      </div>
    </div>
  </div>
</div>
</div>