<% provide(:title, "Le livre d'or") %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-6 col-lg-offset-1 col-lg-5">
      <div class="clearfix">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="cadre center" style="display: block;">
            <h1> Bienvenue sur le livre d'or </h1>
            <object class="img-responsive"
                    data="<%= path_to_image 'APBLS-Logo.svg' %>">
            </object>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="clearfix">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5> Venez discuter</h5>
          </div>
          <div class="panel-body">
            <div class="font12">
              <%= t('views.users.why_slack_html') %>
            </div>
            <div class="center">
              <% if logged_in? %>
                  <a href="<%= slack_users_path %>" class="cadre hvr-grow center">
                    <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
                    <b style="font-size: 1.4em"><%= t('views.users.join_slack') %></b>
                  </a>
              <% else %>
                  <a href="<%= new_user_path %>" class="cadre hvr-grow center">
                    <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
                    <b style="font-size: 1.4em"><%= t('views.sessions.new_user_slack') %></b>
                  </a>
              <% end %>
            </div>
          </div>
        </div>
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>
                <span class="glyphicon glyphicon-comment"></span> Apportez votre plume au livre d'or
              </h5>
            </div>
            <div class="panel-body">
              <%= form_for(@suggestion) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <div class="form-group">
                    <div id="characterLeft0"></div>
                    <%= f.text_area :comment, {rows: 6, id: "description0",
                                               :class => "form-control textarea"} %>
                    <span class="help-block"></span>
                  </div>
                  <div class="pull-right">
                    <%= f.button "Publier &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                                 class: 'btn btn-success',
                                 data: {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Publication en cours "} %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-6 col-lg-5">
      <div class="row">
        <%= render @suggestions, show_likes: true %>
        <%= paginate @suggestions %>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if logged_in? %>
            <br/>

            <h2 class="modal-title" id="myModalLabel">Opération impossible</h2>
        <% else %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> Veuillez vous identifier afin d'effectuer cette
              action</h2>
            <br/>
            <%= link_to "S'identifier", login_path, class: "btn btn-lg btn-primary" %>
            <div class="pull-right">
              <%= link_to "Créer un compte", signup_path, class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/length_counter' %>

<%= render 'shared/suscribe' %>

<script type="text/javascript">
    $("textarea").markdown({
        autofocus: false,
        savable: false,
        hiddenButtons: ['cmdLinkInt', 'cmdUrl', 'cmdWiki', 'cmdLinkCVS']
    });
    setupLengthCounter([[0, 4000, 40]]);
    setupSuscribe();
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>

