<% provide(:title, "Discuter d'un titre") %>
<div id="my-container" class="container-fluid">
  <%= render 'livre_dor' %>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-md-8">
        <%= render @suggestion, show_likes: true %>
    </div>
  </div>
</div>

<div class="modal fade" id="iptaken" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if logged_in? %>
            <br/>

            <h2 class="modal-title" id="myModalLabel">Opération impossible</h2>
        <% else %>
            <br/>

            <h2 class="modal-title" id="myModalLabel"> Veuillez vous identifier afin d'effectuer cette
              action</h2>
            <br/>
            <%= link_to "S'identifier", login_path, class: "btn btn-lg btn-primary" %>
            <div class="pull-right">
              <%= link_to "Créer un compte", signup_path, class: "btn btn-lg btn-primary" %>
            </div>
        <% end %>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Ok</button>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/length_counter' %>

<%= render 'shared/suscribe' %>

<script type="text/javascript">
    $(document).ready(function () {
        setupSuscribe();
        $('#fetch').trigger('click');
        $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    });
</script>