<div class="modal fade" id="newissue" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
        <h4 class="center">
          <%= t('views.footer.issue') %>
        </h4>
      </div>
      <div class="modal-body clearfix">
        <% if logged_in? %>
        <div class="panel panel-info">
          <div class="panel-heading center">
            <p>
              <%= t('views.footer.grammar_html') %>
            </p>
            <div class="btn btn-primary">
              <span class="icon icon-fork cursor-default"></span>
            </div>
          </div>
        </div>
        <% end %>
        <%= form_for(:issue, url: issues_path, remote: true,
                     html: {role: :form, 'data-model' => 'issue'}) do |f| %>
            <div class="form-group">
              <%= f.label :title, t('views.footer.issue_title'), class: 'control-label' %>
              <br>
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= f.label :body, t('views.footer.issue_body'), class: 'control-label' %>
              <br>
              <%= f.text_area :body, class: 'form-control textarea' %>
              <span class="help-block"></span>
            </div>
            <%= f.hidden_field :url, value: request.original_url %>
            <%= f.label :labels, "Labels" %> </br>
            <div class="container-fluid">
              <div class="row" data-toggle="buttons">
                <% {"amelioration" => t('views.footer.issue_amelioration'), "idee" => t('views.footer.issue_idea'),
                    "bug" => t('views.footer.issue_bug'), "design" => t('views.footer.issue_design'),
                    "incompréhensible" => t('views.footer.issue_unclear'),
                    "autre" => t('views.footer.issue_other'), }.each do |label, value| %>
                    <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                      <div class="my-btn">
                        <%= f.check_box :labels, {:multiple => true}, checked_value = label, unchecked_value = nil %>
                        <%= value %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
            </br>
            <%= f.label :importance, "Importance" %> </br>
            <div class="btn-group-justified" data-toggle="buttons">
              <% {"***** critic" => t('views.footer.issue_critic'), "**** urgent" => t('views.footer.issue_urgent'), "*** important" => t('views.footer.issue_important'),
                  "** to do" => t('views.footer.issue_to_do'), "* negligible" => t('views.footer.issue_negligible')}.each do |key, value| %>
                  <label class="btn btn-default"
                         title="<%= value %>" data-toggle="tooltip">
                    <%= f.radio_button :importance, checked_value = key,
                                       {id: key, autocomplete: "off"} %>
                    <%= value %>
                  </label>
              <% end %>
            </div>
            </br>
            <div class="form-group">
              <%= f.label :author, t('views.footer.issue_author'), class: 'control-label' %>
              <br>
              <% if logged_in? %>
                  <%= f.text_field :author, value: current_user.name, class: 'form-control' %>
              <% else %>
                  <%= f.text_field :author, class: 'form-control' %>
              <% end %>
              <span class="help-block"></span>
            </div>
            <input type="reset" style="display:none;"/>

            <div class="actions pull-right">
              <%= f.button "#{t('views.buttons.send')} &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success',
                           data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.sending')} "} %>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>
              <%= t('views.footer.question_html') %>
            </p>
          </div>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="join-slack" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content clearfix">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
      </div>
      <div class="font12 modal-body clearfix center">
        <%= t('views.users.why_slack_html') %>
        <% if logged_in? %>
            <a href="<%= slack_users_path %>" class="cadre hvr-grow center">
              <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
              <b style="font-size: 1.4em"><%= t('views.users.join_slack') %></b>
            </a>
        <% else %>
            <a href="<%= new_user_path %>" class="cadre hvr-grow center">
              <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
              <b style="font-size: 1.4em"><%= t('views.sessions.new_user_slack') %></b>
            </a>
        <% end %>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
      </div>
    </div>
  </div>
</div>

<% if cookies[:nbr_refresh].present? && cookies[:nbr_refresh] > 4 %>

  <div class="modal fade" id="manyrefresh" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <br/>
          <h4 class="center">
            Un petit geste pour la planète ?<br>
            <span class="fat icon-planet"></span>
          </h4>
        </div>
        <div class="modal-body clearfix">
          Chaque chargement de page possède un coût écologique. Ainsi, rafraîchir frénétiquement cette page n'est pas très éco-responsable. <span class="font12 icon-4"></span>
          <br><br>


          Pour vous aider à réduire votre empreinte écologique laissée sur internet, voici une liste (non-exhaustive) de bonnes pratiques :
          <br><br>
          <ul>
            <li>Installer un bloqueur de publicité (<i>i.e.</i> <a href="https://www.ublock.org/">µBlock</a>), en effet les publicités sont très gourmandes en bande passante.</li>
            <li>Se désinscrire des <i>newsletters</i> qu'on ne lit pas.</li>
            <li>Ne pas écouter de la musique sur des sites de streaming vidéo (<i>i.e.</i> Youtube).</li>
            <li>Limiter le nombre de programmes ou d'onglets de votre navigateur.</li>
          </ul>
          <br>
          Et tant d'autres petits gestes consultable sur le site de l'ADEME:
            <ul>
              <li>
                <a href="http://www.ademe.fr/particuliers-eco-citoyens/bureau/internet-e-mails-limiter-impacts" target="_blank">
                  Internet et e-mails : limiter les impacts
                </a>
              </li>
              <li>
                <a href="http://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-face-cachee-numerique.pdf" target="_blank">
                  La face cachée du numérique
                </a>
              </li>
              <li>
                <a href="http://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-ecoresponsable-au-bureau.pdf" target="_blank">
                  Eco-responsable au bureau
                </a>
              </li>
            </ul><br>
          <div class="center">
            <% (0..18).each do |i| %>
              <span class="fat icon-bug-<%= i %>"></span>
            <% end %>
            <br>
            <br>
            La seule énergie propre, c'est celle qu'on ne consomme pas !

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript">
        $(document).ready(function () {
          $('#manyrefresh').modal('show');
        });
    </script>
<% end %>

<% unless cookies[:social_buttons] %>
  <div class="modal fade" id="modal-disp" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <br/>
        </div>
        <div class="modal-body clearfix">
          <span class="font12">
            Par respect de votre privée, nous <b>désactivons par défaut</b> les boutons de partage et de <i>like</i> proposés par Facebook et Twitter. Ceux-ci permettent à ces réseaux sociaux de savoir à quelle heure et sur
            quelles pages de ControverSciences vous naviguez.
            <br><br>
          </span>
          <%= image_tag("surveillance.png", alt: "surveillance", :class => "img-responsive", style: "width:100%;") %>
          <br>
          <%= link_to "Activer les boutons de réseaux sociaux", social_buttons_path, class: "btn btn-primary pull-right" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<footer class="clearfix">
  <div id="footer-disp" class="pull-right">
    <% if cookies[:social_buttons] %>
    &nbsp
    <a href="https://twitter.com/ControverSci"
       class="twitter-follow-button"
       data-show-count="false"></a>
    &nbsp
    <div class="cs-fb-like">
      <span class="fb-like"
            data-layout="button_count"
            data-show-faces="false"
            data-share="true"
            data-colorscheme="light"
            data-href="https://www.facebook.com/ControverSciences">
        </span>
    </div>
    <% else %>
      <span class="white-href"> <br>
      <a href="#modal-disp" data-toggle="modal">
        Où sont les boutons de réseaux sociaux ? &nbsp </a></span>
    <% end %>
  </div>

  <div id="about-link" class="white-href">
    <a id="contact" href="mailto:contact@controversciences.org" class="glyphicon glyphicon-envelope"></a>
    <%= link_to "<span class=\"icon-frog normal\"></span>".html_safe + t('views.footer.about'), about_path %>
  </div>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox({
            openEffect: 'elastic',
            closeEffect: 'elastic'
        });
        autosize($('textarea'));
    });
    $('#newissue').on('shown.bs.modal', function () {
        $('.my-btn', this).responsiveEqualHeightGrid();
    });
</script>

