<footer>
  <div class="row center">
    <div class="col-xs-3 col-xs-offset-3 center">
      <%= link_to "<span class=\"icon-frog normal\"></span>".html_safe + " A propos", about_path, class: "hvr-grow" %>
    </div>
    <div class="col-xs-3 center">
      <%= link_to "<span class=\"icon-users normal\"></span>".html_safe + " Nous contacter", contact_path, class: "hvr-grow" %>
    </div>
  </div>
</footer>

<div class="modal fade" id="newissue" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Signaler un bug </h4>
      </div>
      <div class="modal-body clearfix">
        <%= form_for( :issue, url: issues_path, remote: true,
                      html: {role: :form, 'data-model' => 'issue'}) do |f| %>
            <div class="form-group">
              <%= f.label :title, "Titre", class: 'control-label' %><br>
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= f.label :body, "Description", class: 'control-label' %><br>
              <%= f.text_area :body, class: 'form-control textarea' %>
              <span class="help-block"></span>
            </div>
            <%= f.hidden_field :url, value: request.original_url %>
            <%= f.label :labels, "Labels" %> </br>
            <div  class="container-fluid">
              <div class="row"  data-toggle="buttons">
                <% {"amelioration" => "Critique sur le fond", "idee" => "J'ai une idée !",
                    "bug" => "Bug", "design" => "Design (c'est pas beau)",
                    "incompréhensible" => "C'est pas clair !",
                    "orthographe" => "Atenssion à la langue francaise !",
                    "autre" => "Autre", }.each do |label, value| %>
                    <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                      <div class="my-btn">
                        <%= f.check_box :labels, { :multiple => true}, checked_value = label, unchecked_value = nil %>
                         <%= value %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
            </br>
            <%= f.label :importance, "Importance" %> </br>
            <div class="btn-group-justified" data-toggle="buttons">
              <% {"***** critic" => "Critique", "**** urgent" => "Urgent", "*** important" => "Important",
                  "** to do" => "A faire", "* negligible" => "Un détail"}.each do |key, value| %>
                  <label class="btn btn-default"
                         title="<%= value %>" data-toggle="tooltip">
                    <%= f.radio_button :importance, checked_value = key,
                                       {id: key, autocomplete: "off"} %>
                    <%= value %>
                  </label>
              <% end %>
            </div></br>
            <div class="form-group">
              <%= f.label :author, "Auteur (facultatif)", class: 'control-label' %><br>
              <% if logged_in? %>
                  <%= f.text_field :author, value: current_user.name, class: 'form-control' %>
              <% else %>
                  <%= f.text_field :author, class: 'form-control' %>
              <% end %>
              <span class="help-block"></span>
            </div>
            <div class="actions pull-right">
              <%= f.button "Envoyer &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success',
                           data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp Envoi "}%>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('textarea').autosize();
    });
    $('#newissue').on('shown.bs.modal', function () {
        $('.my-btn', this).responsiveEqualHeightGrid();
    });
</script>