<div class="modal fade" id="newissue" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
        <h4 class="center">
          <%= t('views.footer.issue') %>
        </h4>
      </div>
      <div class="modal-body clearfix">
        <div class="panel panel-info">
          <div class="panel-heading center">
            <p>
              <%= t('views.footer.grammar_html') %>
            </p>
            <div class="btn btn-primary">
              <span class="icon icon-fork cursor-default"></span>
            </div>
          </div>
        </div>
        <%= form_for(:issue, url: issues_path, remote: true,
                     html: {role: :form, 'data-model' => 'issue'}) do |f| %>
            <div class="form-group">
              <%= f.label :title, t('views.footer.issue_title'), class: 'control-label' %>
              <br>
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <%= f.label :body, t('views.footer.issue_body'), class: 'control-label' %>
              <br>
              <%= f.text_area :body, class: 'form-control textarea' %>
              <span class="help-block"></span>
            </div>
            <%= f.hidden_field :url, value: request.original_url %>
            <%= f.label :labels, "Labels" %> </br>
            <div class="container-fluid">
              <div class="row" data-toggle="buttons">
                <% {"amelioration" => t('views.footer.issue_amelioration'), "idee" => t('views.footer.issue_idea'),
                    "bug" => t('views.footer.issue_bug'), "design" => t('views.footer.issue_design'),
                    "incompréhensible" => t('views.footer.issue_unclear'),
                    "autre" => t('views.footer.issue_other'), }.each do |label, value| %>
                    <div class="btn btn-default col-xs-12 col-sm-4 col-lg-3">
                      <div class="my-btn">
                        <%= f.check_box :labels, {:multiple => true}, checked_value = label, unchecked_value = nil %>
                        <%= value %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
            </br>
            <%= f.label :importance, "Importance" %> </br>
            <div class="btn-group-justified" data-toggle="buttons">
              <% {"***** critic" => t('views.footer.issue_critic'), "**** urgent" => t('views.footer.issue_urgent'), "*** important" => t('views.footer.issue_important'),
                  "** to do" => t('views.footer.issue_to_do'), "* negligible" => t('views.footer.issue_negligible')}.each do |key, value| %>
                  <label class="btn btn-default"
                         title="<%= value %>" data-toggle="tooltip">
                    <%= f.radio_button :importance, checked_value = key,
                                       {id: key, autocomplete: "off"} %>
                    <%= value %>
                  </label>
              <% end %>
            </div>
            </br>
            <div class="form-group">
              <%= f.label :author, t('views.footer.issue_author'), class: 'control-label' %>
              <br>
              <% if logged_in? %>
                  <%= f.text_field :author, value: current_user.name, class: 'form-control' %>
              <% else %>
                  <%= f.text_field :author, class: 'form-control' %>
              <% end %>
              <span class="help-block"></span>
            </div>
            <input type="reset" style="display:none;"/>

            <div class="actions pull-right">
              <%= f.button "#{t('views.buttons.send')} &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                           class: 'btn btn-success',
                           data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp #{t('views.buttons.sending')} "} %>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>
              <%= t('views.footer.question_html') %>
            </p>
          </div>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="join-slack" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content clearfix">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
      </div>
      <div class="font12 modal-body clearfix center">
        Le slack est le lieu où tout le monde peut venir pour proposer ses idées pour améliorer
        le site et participer à la vie virtuelle de la communauté qui anime Controversciences.
        <br><br>
        Si vous souhaitez dialoguer avec d'autres contributeurs ou les fondateurs du site,
        n'hésitez pas à nous y rejoindre !
        <br><br>
        <% if logged_in? %>
            <a href="<%= slack_users_path %>" class="cadre hvr-grow center">
              <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
              <b style="font-size: 1.4em"><%= t('views.users.join_slack') %></b>
            </a>
        <% else %>
            <a href="<%= new_user_path %>" class="cadre hvr-grow center">
              <%= image_tag("slack.png", alt: "Slack", height: "48px") %>
              <b style="font-size: 1.4em"><%= t('views.sessions.new_user_slack') %></b>
            </a>
        <% end %>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('views.footer.close') %></button>
      </div>
    </div>
  </div>
</div>

<% if @tips.present? && @tips.length > 0 %>

    <div id="tips-large" class="">
      <% @tips.each do |tip| %>
          <h1>
            <%= tip %>
          </h1>
      <% end %>
    </div>
    <div id="tips-small" class="hvr-grow">
      <%= image_tag("help.png", :height => "30px") %>
    </div>

    <script type="text/javascript">
        $('#tips-small').click(function () {
            $(this).fadeOut(800);
            $('#tips-large').show(500);
        });
        $('#tips-large').click(function () {
            $(this).hide(500);
            $('#tips-small').fadeIn(800);
        });
    </script>
<% end %>

<footer class="clearfix">
  <div id="social-footer" class="pull-right">
    &nbsp
    <a href="https://twitter.com/ControverSci"
       class="twitter-follow-button"
       data-show-count="false"></a>
    &nbsp
    <div class="cs-fb-like">
      <span class="fb-like"
            data-layout="button_count"
            data-show-faces="false"
            data-share="true"
            data-colorscheme="light"
            data-href="https://www.facebook.com/ControverSciences">
        </span>
    </div>
  </div>
  <div id="about-link">
    <a id="contact" href="mailto:contact@controversciences.org" class="glyphicon glyphicon-envelope"></a>
    <%= link_to "<span class=\"icon-frog normal\"></span>".html_safe + t('views.footer.about'), about_path %>
  </div>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox({
            openEffect: 'elastic',
            closeEffect: 'elastic'
        });
        autosize($('textarea'));
    });
    $('#newissue').on('shown.bs.modal', function () {
        $('.my-btn', this).responsiveEqualHeightGrid();
    });
</script>
