<header id="top" class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div id="social-image" class="pull-right" style="padding: 8px 8px 0 0">
    <a href="https://twitter.com/ControverSci" class="hvr-grow" target="_blank">
      <%= image_tag("link_1.png", :height => "30px") %>
    </a>
    <a href="https://www.facebook.com/ControverSciences" class="hvr-grow" target="_blank">
      <%= image_tag("link_2.png", :height => "30px") %>
    </a>
    <a href="#join-slack" class="hvr-grow" data-toggle="modal">
      <%= image_tag("slack.png", :height => "30px") %>
    </a>
  </div>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target=".bs-navbar-collapse"
              data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li><%= link_to '<span class="icon icon-frog"></span>'.html_safe, root_path, id: "logo-header" %></li>
      </ul>
    </div>
    <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <strong>Les controverses</strong> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "<b><span class=\"icon-search bigger\"></span> &nbsp Voir les controverses</b>".html_safe, root_path %> </li>
            <li class="divider"></li>
            <li><%= link_to "<b><span class=\"icon-hatch bigger\" ></span> &nbsp Comment naissent-elles ?</b>".html_safe, discover_path %> </li>
            <li><%= link_to "<b><span class=\"icon-network bigger\" ></span> &nbsp Sont-elles liées ?</b>".html_safe, timelines_graph_path %> </li>
            <li><%= link_to "<b><span class=\"icon-circo bigger\" ></span> &nbsp Sont-elles inter-disciplinaire ?</b>".html_safe, tag_pairs_graph_path(:timeline => true) %> </li>
            <% if logged_in? %>
            <li class="divider"></li>
            <li><%= link_to "<b><span class=\"icon-plus bigger\" ></span> &nbsp Créer une controverse </b>".html_safe, new_timeline_path %> </li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <strong>Controver</strong>Sciences <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "<b><span class=\"icon-rocket bigger\" ></span> &nbsp Visite guidée du site</b>".html_safe, home_path %> </li>
            <li><%= link_to "<b><span class=\"icon icon-frog bigger\" ></span> &nbsp Qui sommes nous ?</b>".html_safe, about_path %></li>
            <li class="divider"></li>
            <li><%= link_to "<b><span class=\"icon-users bigger\" ></span> &nbsp Qui sont les contributeurs ?</b>".html_safe, users_path %> </li>
            <li><%= link_to "<b><span class=\"icon-superman bigger\" ></span> &nbsp Quel contributeur êtes-vous ?</b>".html_safe, comics_path %> </li>
            <li class="divider"></li>
            <li><%= link_to "<b><span class=\"icon-graph-int bigger\" ></span> &nbsp Le site évolue-t-il ?</b>".html_safe, contributions_path %> </li>
            <li class="divider"></li>
            <li><%= link_to "<b><span class=\"glyphicon glyphicon-book font12\" ></span> &nbsp La charte du site</b>".html_safe, magna_charta_path %></li>
            <li><%= link_to "<b><span class=\"glyphicon glyphicon-question-sign font12\" ></span> &nbsp #{t('views.navigation.faq')}</b>".html_safe, faq_path %></li>
          </ul>
        </li>
        <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">

                <% if current_user.private_timeline ? current_user.timelines_count > 0 : current_user.notifications_count > 0 %>
                    <span class="badge badge-li" style="color: #4E7DC9; background-color: #FDFDFD"><%= current_user.private_timeline ? current_user.timelines_count : current_user.notifications_count %></span>
                <% else %>
                    <span class="fat icon-user"></span>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.can_switch_admin && (current_user.admin_patches > 0 || current_user.admin_dead_links > 0 || current_user.admin_pending_users > 0) %>
                    <li> &nbsp &nbsp <b>Admin Board</b></li>
                    <% if current_user.can_switch_admin && current_user.admin_patches > 0 %>
                        <li class="my-important">
                          <%= link_to "<span class=\"badge badge-li\"> #{current_user.admin_patches} </span> #{t('views.header.patches',
                                                                                                                 count: current_user.admin_patches)}".html_safe,
                                      patches_path %>

                        </li>
                    <% end %>
                    <% if current_user.can_switch_admin && current_user.admin_dead_links > 0 %>
                        <li class="my-important">
                          <%= link_to "<span class=\"badge badge-li\"> #{current_user.admin_dead_links} </span> #{t('views.header.dead_links',
                                                                                                                    count: current_user.admin_dead_links)}".html_safe,
                                      dead_links_path %>

                        </li>
                    <% end %>
                    <% if current_user.can_switch_admin && current_user.admin_pending_users > 0 %>
                        <li class="divider"></li>
                        <li class="my-important">
                          <%= link_to "<span class=\"badge badge-li\"> #{current_user.admin_pending_users} </span> #{t('views.assistant.index',
                                                                                                                       count: current_user.admin_pending_users)}".html_safe,
                                      assistant_index_path %>

                        </li>
                    <% end %>
                    <li class="divider"></li>
                <% end %>
                <% if !current_user.private_timeline && current_user.nb_notifs > 0 %>
                    <li class="my-important"> <%= link_to "<b><span class=\"badge badge-li\">
                #{current_user.nb_notifs}</span> #{t('views.header.notifs', count: current_user.nb_notifs)} </b>".html_safe,
                                                          notifications_important_path %>
                    </li>
                <% end %>
                <% if !current_user.private_timeline && current_user.notif_patches > 0  %>
                    <li class="my-important"> <%= link_to "<b><span class=\"badge badge-li\">
                #{current_user.notif_patches}</span> #{t('views.header.patches', count: current_user.notif_patches)} </b>".html_safe,
                                                          patches_path %>
                    </li>
                <% end %>
                <li><%= link_to "<b><span class='icon-user'></span> #{t('views.header.user')}</b>".html_safe,
                                user_path(current_user) %> </li>
                <li><%= link_to "<span class=\"fat icon-techno\"></span> #{t('views.users.edit')}".html_safe,
                            edit_user_path(current_user) %></li>
                <% if !current_user.private_timeline && current_user.pending_patches > 0 %>
                    <li class="divider"></li>
                    <li class="my-missing"><%= link_to "<b><span class=\"badge badge-li\">
                    #{current_user.pending_patches }</span> #{t('views.header.pending_patches', count: current_user.pending_patches)} </b>".html_safe,
                                                       user_patches_path %> </li>
                <% end %>
                <% if !current_user.private_timeline && current_user.notifications_all > 0 %>
                    <li class="divider"></li>
                    <li class="my-missing"><%= link_to "<b><span class=\"badge badge-li\">
                    #{current_user.notifications_all }</span> #{t('views.header.news', count: current_user.notifications_all)} </b>".html_safe,
                                                       notifications_index_path %> </li>
                <% end %>
                <% if current_user.private_timeline %>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "<span class=\"badge badge-li\"> #{current_user.timelines_count} </span> #{t('views.private_timelines.invited',
                                                                                                                   count: current_user.timelines_count)}".html_safe,
                                  mine_timelines_path %>
                    </li>
                <% else %>
                    <li class="divider"></li>
                    <% if current_user.invited > 0 %>
                        <li class="my-missing">
                          <%= link_to "<span class=\"badge badge-li\"> #{current_user.invited} </span> #{t('views.private_timelines.invited',
                                                                                                               count: current_user.invited)}".html_safe,
                                      invited_timelines_path(user_id: current_user.id) %>

                        </li>
                    <% end %>
                    <li><%= link_to "<b><span class='icon-summary'></span> #{t('views.header.my_items')}</b>".html_safe,
                                    my_items_items_path %> </li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "<b><span class=\"glyphicon glyphicon-off\"></span>&nbsp #{t('views.header.logout')}</b>".html_safe,
                              logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to t('views.header.login'), login_path, id: "link-navbar" %></li>
        <% end %>
        <li>
          <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe, '#newissue', 'data-toggle' => 'modal' %>
        </li>
        <% if logged_in? && current_user.can_switch_admin %>
            <% if current_user.admin %>
                <li>
                  <%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span> Be Human".html_safe,
                              switch_admin_users_path %>
                </li>
            <% else %>
                <li>
                  <%= link_to "<span class=\"glyphicon glyphicon-log-in\"></span> Be God".html_safe,
                              switch_admin_users_path %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
