<header id="top" class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target=".bs-navbar-collapse" 
 			data-toggle="collapse" type="button">
         <span class="sr-only">Toggle navigation</span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo_title.svg", alt: "logo", height: "64px"), root_path %>
    </div>
    <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
       <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe,   root_path %></li>
            <li><%= link_to "Les controverses",   timelines_path %></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                 <span> Aide </span>
                 <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                 <li><%= link_to '<span class="glyphicon glyphicon-info-sign" ></span> Qu’est-ce que ControverSciences ?'.html_safe, help_path %></li>
                 <li><%= link_to '<span class="glyphicon glyphicon-info-sign" ></span> Comment fonctionne ControverSciences ?'.html_safe, how_to_path %></li>
                 <li><%= link_to '<span class="glyphicon glyphicon-info-sign" ></span> Comment contribuer à ControverSciences ?'.html_safe, how_to_edit_path %></li>
                 <li><%= link_to '<span class="glyphicon glyphicon-question-sign" ></span> FAQ'.html_safe, faq_path %></li>
                 <li class="divider"></li>
                 <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Qui sont les contributeurs'.html_safe, users_path %> </li>
                 <li><%= link_to '<span class="glyphicon glyphicon-pencil" ></span> Proposer une amélioration'.html_safe, suggestions_path %></li>
               </ul>
             </li>
         <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
		         <span class="glyphicon glyphicon-user"></span>
                 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Mon profil'.html_safe,
                                edit_user_path(current_user) %> </li>
                <li class="divider"></li>
                <li><%= link_to "Mes contributions",
                                my_items_items_path %> </li>
                <li><%= link_to "Mes votes",
                                my_items_votes_path %> </li>
                <li class="divider"></li>
                <li><%= link_to "<span class=\"badge\">#{current_user.notifications_all_important}</span> Notifications ".html_safe,
                                notifications_important_path %> </li>
                <li><%= link_to "<span class=\"badge\">#{current_user.notifications_all }</span> Nouveautés ".html_safe,
                                notifications_index_path %> </li>
                <li class="divider"></li>
                <li><%= link_to '<span class="glyphicon glyphicon-eye-open"></span> Gérer mes abonnements'.html_safe,
                                followings_index_path %> </li>
                <li class="divider"></li>
                <li>
                  <%= link_to '<span class="glyphicon glyphicon-off"></span> Se déconnecter'.html_safe,
				logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
             <li>
               <%= link_to link_to "<span class=\"glyphicon glyphicon-envelope\" >
</span>".html_safe, '#newinvitation',
                                   'data-toggle' => 'modal' %>
             </li>
            <% else %>
            <li><%= link_to "S'identifier", login_path, id: "link-navbar" %></li>
            <% end %>
             <li>
               <%= link_to "<span class=\"glyphicon glyphicon-exclamation-sign\">
    </span> Signaler un bug".html_safe, '#newissue',
                                   'data-toggle' => 'modal' %>
             </li>
          </ul>
    </nav>
  </div>
</header>
