<header id="top" class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target=".bs-navbar-collapse" 
 			data-toggle="collapse" type="button">
         <span class="sr-only">Toggle navigation</span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo_title.svg", alt: "logo", height: "64px"), root_path %>
    </div>
    <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
       <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe,   root_path %></li>
            <li><%= link_to "<strong>Les controverses</strong>".html_safe,   timelines_path %></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                 <span class="fat icon-frog"></span>
                 <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                 <li><%= link_to '<b><span class="glyphicon glyphicon-info-sign font12" ></span> &nbsp Découvrir ControverSciences</b>'.html_safe, how_to_path %></li>
                 <li><%= link_to '<b><span class="glyphicon glyphicon-info-sign font12" ></span> &nbsp Contribuer à ControverSciences</b>'.html_safe, how_to_edit_path %></li>
                 <li><%= link_to '<b><span class="glyphicon glyphicon-question-sign font12" ></span> &nbsp FAQ</b>'.html_safe, faq_path %></li>
                 <li><%= link_to "<b><span class=\"glyphicon glyphicon-envelope font12\" ></span> &nbsp Bulletins d'information</b>".html_safe, newsletter_path %></li>
                 <li class="divider"></li>
                 <li><%= link_to '<b><span class="icon-users bigger" ></span> Qui sont les contributeurs</b>'.html_safe, users_path %> </li>
                 <li><%= link_to '<b><span class="icon-graph bigger" ></span> Évolution des contributions</b>'.html_safe, contributions_path %> </li>
                 <li><%= link_to '<b><span class="icon-graph bigger" ></span> Nouvelles contributions</b>'.html_safe, contributions_path(filter: "freq") %> </li>
                 <li class="divider"></li>
                 <li><%= link_to '<b><span class="icon-4 bigger" ></span> Enrichir</b>'.html_safe, empty_references_path %></li>
                 <li><%= link_to '<b><span class="icon-4 bigger" ></span> Analyser</b>'.html_safe, empty_comments_path %></li>
                 <li><%= link_to '<b><span class="icon-4 bigger" ></span> Synthétiser</b>'.html_safe, empty_summaries_path %></li>
               </ul>
             </li>
         <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <span class="fat icon-user"></span>
                <% if (current_user.notifications_all + current_user.nb_notifs ) > 0 %>
                <span class="badge badge-header"><%= current_user.notifications_all + current_user.nb_notifs %></span>
                <% end %>
                 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "<b><span class='icon-user'></span> Accéder à mon profil</b>".html_safe,
                                user_path(current_user) %> </li>
                <li class="divider"></li>
                <% if current_user.admin && Typo.all.count > 0 %>
                    <li style="background-color: #d9534f">
                      <%= link_to "<span class=\"badge badge-header\"> #{Typo.all.count} </span> corrections en attente".html_safe,
                                  typos_path, style: "color: white;" %>

                    </li>
                    <li class="divider"></li>
                <% end %>
                <% if Timeline.where(user_id: current_user.id, nb_references: 0..3 ).count > 0 %>
                    <li class="my-missing">
                      <%= link_to "<span class=\"badge badge-header\"> #{Timeline.where(user_id: current_user.id, nb_references: 0..3 ).count} </span>
                      Vos controverses à enrichir".html_safe,
                                  empty_references_path(filter: "mine"), style: "color: white;" %>

                    </li>
                    <li class="divider"></li>
                <% end %>
                <% if Reference.where(user_id: current_user.id, title_fr: nil).count > 0 %>
                    <li class="my-missing">
                      <%= link_to "<span class=\"badge badge-header\"> #{Reference.where(user_id: current_user.id, title_fr: nil).count} </span>
                      Vos références à analyser".html_safe,
                                  empty_comments_path(filter: "mine"), style: "color: white;" %>

                    </li>
                    <li class="divider"></li>
                <% end %>
                <% if Timeline.where(user_id: current_user.id, nb_summaries: 0 ).where.not( nb_references: 0..3 ).where.not(nb_comments: 0..3).count > 0 %>
                    <li class="my-missing">
                      <%= link_to "<span class=\"badge badge-header\"> #{Timeline.where(user_id: current_user.id, nb_summaries: 0
                      ).where.not( nb_references: 0..3 ).where.not(nb_comments: 0..3).count} </span>
                      Vos controverses à synthétiser".html_safe,
                                  empty_summaries_path(filter: "mine"), style: "color: white;" %>

                    </li>
                    <li class="divider"></li>
                <% end %>
                <li><%= link_to "<b><span class='icon-comment'></span> Mes contributions</b>".html_safe,
                                my_items_items_path %> </li>
                <li> <%= link_to "<b><span class=\"badge #{current_user.nb_notifs > 0 ? "badge-li" : nil }\">
                #{current_user.nb_notifs}</span> Notifications </b>".html_safe,
                            notifications_important_path %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"></span> Les controverses qui m'intéressent".html_safe,
                              timelines_path(:interest => "true")%>
                </li>
                <li><%= link_to "<b><span class=\"badge #{current_user.notifications_all > 0 ? "badge-li" : nil }\">
                #{current_user.notifications_all }</span> Nouveautés </b>".html_safe,
                                notifications_index_path %> </li>
                <li class="divider"></li>
                <li>
                  <%= link_to '<b><span class="glyphicon glyphicon-off"></span>&nbsp Se déconnecter</b>'.html_safe,
				logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "S'identifier", login_path, id: "link-navbar" %></li>
             <% end %>
             <li>
               <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span>".html_safe, '#newissue','data-toggle' => 'modal' %>
             </li>
             <% if logged_in? && current_user.can_switch_admin %>
                 <% if current_user.admin %>
                     <li>
                       <%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span> Be Human".html_safe,
                                   switch_admin_users_path %>
                     </li>
                 <% else %>
                     <li>
                       <%= link_to "<span class=\"glyphicon glyphicon-log-in\"></span> Be God".html_safe,
                                   switch_admin_users_path %>
                     </li>
                 <% end %>
             <% end %>
          </ul>
    </nav>
  </div>
</header>