<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar" id="sidebar">
  <div class="mini-submenu" style="display: block">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="list-group" style="display: none">
    <span href="#" class="list-group-item active">
        Edition
        <span class="pull-right" id="slide-submenu">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </span>
    </span>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus-sign" ></span> <%= link_to 'Créer une controverse',
                                                                       new_timeline_path %>
    </li>
    <% if session[:timeline_id] %>
        <li class="list-group-item">
        Ajouter une réfèrence à la controverse
          <%= link_to session[:timeline_name], timeline_path(session[:timeline_id]) %>
          <%= form_for :reference, url: references_path do |f| %>
            <%= f.text_field :title, placeholder: "Titre ou doi", class: 'form-control' %>
            <%= f.submit "Rechercher", name: "panel_button",
                           class: "btn btn-block btn-primary" %>
          <% end %>
        </li>
    <% end %>
    <% if session[:reference_id] %>
    <li class="list-group-item">
      Ecrire une analyse de
      <%= link_to session[:reference_title], reference_path(session[:reference_id]) %>
       <%= link_to "Je suis courageux", new_comment_path,
                   class: "btn btn-block btn-primary" %>
    </li>
    <li class="list-group-item">
      Il vous reste <%=12 - session[:my_votes] %> crédits non dépensé pour cette référence
      <%= link_to "Rendez moi mes crédits", vote_path( id: 'all', reference_id: session[:reference_id]), method: :delete,
                  class: "btn btn-block btn-primary" %>
    </li>
    <% end %>
    <li class="list-group-item">
    <textarea class="poststore form-control" rows="16"
              placeholder="Presse-Papier"></textarea>
    <button class="empty btn btn-block btn-default"> vider le presse papier </button>
    </li>
  </div>
</div>

<script type="text/javascript">
    $(function() {
        function supportsLocalStorage() {
            return typeof(Storage)!== 'undefined';
        }
        if (!supportsLocalStorage()) {
            $('.mini-submenu').next('.list-group').fadeIn();
            $('.mini-submenu').hide();
        } else {
            $('#slide-submenu').on('click',function() {
                $(this).closest('.list-group').fadeOut('slide',function(){
                    $('.mini-submenu').fadeIn();
                });
                localStorage.setItem('display', "false");
            });
            $('.mini-submenu').on('click',function(){
                $(this).next('.list-group').toggle('slide');
                $('.mini-submenu').hide();
                localStorage.setItem('display', "true");
            });
            if (localStorage.getItem('display') === "true") {
                $('.mini-submenu').next('.list-group').fadeIn();
                $('.mini-submenu').hide();
            }
        }
        var dashpost = document.querySelector('.poststore');
        if (dashpost != null ){
            if (!supportsLocalStorage()) {
                dashpost.value = 'Votre navigateur date de mathusalem ! Par pitié, mettez à jour votre navigateur pour des raisons de sécurités et pour profitez des fonctionnalités de ControverSciences';
            } else {
                if (localStorage.getItem('comment')) {
                    dashpost.value = localStorage.getItem('comment');
                }
                try {
                    window.onunload = function () {
                        localStorage.setItem('comment', dashpost.value);
                    }
                } catch (e) {
                    if (e == QUOTA_EXCEEDED_ERR) {
                        alert('Commentaire tros gros ! ');
                    }
                }
                document.querySelector('.empty').onclick = function() {
                    localStorage.clear();
                    dashpost.value = '';
                };
            }
        }
    });
</script>
