    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar" id="sidebar">
      <div class="mini-submenu" style="display: block">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="list-group" style="display: none">
        <span href="#" class="list-group-item active">
            Edition
            <span class="pull-right" id="slide-submenu">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </span>
        </span>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-plus-sign" ></span> <%= link_to 'Créer une controverse', new_timeline_path %>
        </li>
        <% if session[:timeline_id] %>
            <li class="list-group-item">
            <span class="glyphicon glyphicon-plus-sign" ></span> Ajouter une réfèrence à la controverse
              <%= link_to session[:timeline_name], timeline_path(session[:timeline_id]) %>
              <%= form_for :reference, url: references_path do |f| %>
                  Titre ou doi : <%= f.text_field :title, class: 'form-control' %>
                  <%= f.submit "Ajouter une référence", name: "panel_button", class: "btn btn-block btn-primary" %>
              <% end %>
            </li>
        <% end %>
        <% if session[:reference_id] %>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-plus-sign" ></span> Ajouter un commentaire à la référence
          <%= link_to session[:reference_title], reference_path(session[:reference_id]) %>
           <textarea class="poststore form-control" rows="16" placeholder="Soyez courageux, publiez votre commentaire"></textarea>
           <button class="empty btn btn-block btn-default"> vider le cache </button>
           <%= link_to "Publier mon commentaire", new_comment_path, class: "btn btn-block btn-primary" %>
        </li>
        <% end %>
      </div>
    </div>
