<!DOCTYPE html>
<html>
<head>
  <title>ControverSciences.org</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description(yield(:meta)).html_safe %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= meta_image(yield(:img)) %>">
  <link rel="alternate" type="application/rss+xml" title="ControverSciences.org RSS Feed" href="https://controversciences.org/feed?format=rss">
  <link rel="icon"
        type="image/png"
        href="<%= path_to_image "favicon.png" %>">
  <%= stylesheet_link_tag 'application', :media => "all" %>

  <% if logged_in? %>
      <%= javascript_include_tag 'application' %>
  <% else %>
      <%= javascript_include_tag 'not_logged' %>
  <% end %>
  <% if Rails.env.production? %>
      <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <% end %>

  <%= csrf_meta_tags %>
  <base href="<%= root_url %>"/>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="notifications">
</div>
<div id="error-container" class="container-fluid">
  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message,
                      class: "alert alert-#{message_type}") %>
  <% end %>
</div>

<%= yield %>
</body>
<%= render 'layouts/footer' %>
</html>