<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:timeline) %>
  <%= render 'layouts/shim' %>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
        <div class="row">
        <% if logged_in? %>
          <%= render 'layouts/panel' %>
          <% else %>
              <div class="col-sm-6 col-md-2">
              </div>
        <% end %>
                <div class="col-md-8">
              <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
              <% end %>
              <%= yield %>
                </div>
        </div>
  </div>
  <%= render 'layouts/footer' %>
  <div id="Bottom"></div>

  <% if logged_in? %>
      <script>
          $(function(){
              $('#slide-submenu').on('click',function() {
                  $(this).closest('.list-group').fadeOut('slide',function(){
                      $('.mini-submenu').fadeIn();
                  });
              });
              $('.mini-submenu').on('click',function(){
                  $(this).next('.list-group').toggle('slide');
                  $('.mini-submenu').hide();
              })
          });

          $(function() {
              var dashpost = document.querySelector('.poststore');
              var post = document.querySelector('.staticpoststore');
              var dashfield = document.querySelector('.fieldstore');
              var field = document.querySelector('.staticfieldstore');
              if (dashpost != null && dashfield != null ){
                  function supportsLocalStorage() {
                      return typeof(Storage)!== 'undefined';
                  }
                  if (!supportsLocalStorage()) {
                      dashpost.value = 'Votre navigateur date de mathusalem ! Par pitié, mettez à jour votre navigateur pour des raisons de sécurités et pour profitez des fonctionnalités de ControverSciences';
                  } else {
                      try {
                          setInterval(function() {
                              localStorage.setItem('comment', dashpost.value);
                              localStorage.setItem('field', dashfield.value);
                          }, 500);
                      } catch (e) {
                          if (e == QUOTA_EXCEEDED_ERR) {
                              alert('Commentaire tros gros ! ');
                          }
                      }
                      if (localStorage.getItem('comment')) {
                          dashpost.value = localStorage.getItem('comment');
                          dashfield.value = localStorage.getItem('field');
                      }
                      if ( post != null ) {
                          post.value = localStorage.getItem('comment');
                      }
                      if ( field != null ) {
                          field.value = localStorage.getItem('field');
                      }
                      document.querySelector('.empty').onclick = function() {
                          localStorage.clear();
                          dashpost.value = '';
                          dashfield.value = "0";
                          if ( field != null && post != null ) {
                              post.value = '';
                              field.value = "0";
                          }

                      };
                  }
              }
          });
      </script>
  <% end %>
  </body>
</html>