<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:timeline) %>
  <%= render 'layouts/shim' %>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
        <div class="row">

            <% if logged_in? %>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
              <%= render 'layouts/panel' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
             <% else %>
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">
            <% end %>
              <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message,
                                class: "alert alert-#{message_type}") %>
              <% end %>
              <%= yield %>
git
  </div>
  <%= render 'layouts/footer' %>
  <div id="Bottom"></div>

  <% if logged_in? %>
      <script>
          $(function() {
              function supportsLocalStorage() {
                  return typeof(Storage)!== 'undefined';
              }
              if (!supportsLocalStorage()) {
                  $('.mini-submenu').next('.list-group').fadeIn();
                  $('.mini-submenu').hide();
              } else {
                  $('#slide-submenu').on('click',function() {
                      $(this).closest('.list-group').fadeOut('slide',function(){
                          $('.mini-submenu').fadeIn();
                      });
                      localStorage.setItem('display', "false");
                  });
                  $('.mini-submenu').on('click',function(){
                      $(this).next('.list-group').toggle('slide');
                      $('.mini-submenu').hide();
                      localStorage.setItem('display', "true");
                  });
                  if (localStorage.getItem('display') === "true") {
                      $('.mini-submenu').next('.list-group').fadeIn();
                      $('.mini-submenu').hide();
                  }
              }
              var dashpost = document.querySelector('.poststore');
              var post = document.querySelector('.staticpoststore');
              if (dashpost != null ){
                  if (!supportsLocalStorage()) {
                      dashpost.value = 'Votre navigateur date de mathusalem ! Par pitié, mettez à jour votre navigateur pour des raisons de sécurités et pour profitez des fonctionnalités de ControverSciences';
                  } else {
                      if (localStorage.getItem('comment')) {
                          dashpost.value = localStorage.getItem('comment');
                      }
                      if ( post != null ) {
                          post.value = localStorage.getItem('comment');
                      }
                      try {
                          window.onunload = function () {
                              localStorage.setItem('comment', dashpost.value);
                          }
                      } catch (e) {
                          if (e == QUOTA_EXCEEDED_ERR) {
                              alert('Commentaire tros gros ! ');
                          }
                      }
                      document.querySelector('.empty').onclick = function() {
                          localStorage.clear();
                          dashpost.value = '';
                          if ( post != null ) {
                              post.value = '';
                          }

                      };
                  }
              }
          });
      </script>
  <% end %>
  </body>
</html>